<div id="vue-page" class="hidden" style="min-height:50vh;">
  <v-app>
    <div v-if="loader" class="text-center preloader">
      <v-progress-circular
        :size="50"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>
    <div v-else>

      <!-- Список программ (главная таблица) -->
      <template v-if="!edit">
          <h2>Список программ</h2>
          <v-data-table :headers="headers" :items="programs" :items-per-page="10" class="elevation-0" :search="search"
            :footer-props="{ itemsPerPageText: 'строк на странице' }">
            <template v-slot:top>
              <v-toolbar flat color="white">
                <v-text-field class="col-md-3" label="Поиск" hide-details v-model="search"></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" width="900" @click:outside="[event ? close() : '']" @keydown="[event.keyCode == 27 ? close() : '']">
                  <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2 px-3 py-2" @click="newProgram()" :loading="loading">Добавить</v-btn>
                  </template>
                  <v-card>
                    <v-toolbar flat dark color="primary">
                    <v-toolbar-title>Создание программы</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark @click="dialog = false">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                    </v-toolbar>
                    <v-card-text>
                      <v-container>
                        <v-row><v-col><v-text-field v-model="defaultProgram.name" label="Название программы" :rules="[rules.required]" ></v-text-field></v-col></v-row>
                        <v-row><v-col>
                          <v-autocomplete :items="lists.orgs" item-text="name" item-value="id" label="Организация разработчик" v-model="defaultProgram.dev_org"
                            :rules="[rules.required]" return-object>
                          </v-autocomplete>
                        </v-col></v-row>
                        <v-row><v-col>
                          <v-autocomplete :items="lists.collaborators" item-text="fullname" item-value="id"  label="Модератор" v-model="defaultProgram.cp_moderator"
                            :rules="[rules.required]" return-object>
                          </v-autocomplete>
                        </v-col></v-row>
                        <v-row><v-col><v-btn color="primary" dark class="mb-2 px-3 py-2" @click="newProgram(defaultProgram.name)">Создать</v-btn></v-col></v-row>
                      </v-container>
                    </v-card-text>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>
            <!-- <template v-slot:item.tags="{ item }">
              <v-chip class="ma-1" :color="'blue'" dark v-for="tag in item.tags">{{ tag.name }}</v-chip>
            </template>
            <template v-slot:item.creator="{ item }">
              <p>{{ item.creator.fullname || item.creator.login }}</p>
            </template> -->
            <template v-slot:item.action="{ item }">
              <v-icon :disabled="loading" small class="mr-2" @click="editProgram(item, 'view')">
                mdi-eye
              </v-icon>
              <v-icon :disabled="loading" small class="mr-2" @click="editProgram(item, 'edit')">
                mdi-pencil
              </v-icon>
              <!-- <v-icon small @click="deleteItem(item)">
                mdi-delete
              </v-icon> -->
            </template>
          </v-data-table>
      </template>
  
      <template v-else>
        <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
          :multi-line="true">
          {{ snack.text }}
          <v-btn color="white" text @click="snack.view = false">Закрыть</v-btn>
          <v-btn color="white" text v-if="snack.confirm && edit" @click="newEditor(); snack.view = false">{{ snack.textConfirm }}</v-btn>
        </v-snackbar>
        <h2>{{ editedItem.name }}</h2>
        <v-btn color="primary" @click="edit = false; getProgram()" class="px-3 py-2" :loading="loading">Вернуться</v-btn>
        <v-btn color="primary" @click="saveEditor(); sendProgram()" class="ml-2 px-3 py-2" :loading="loading">Сохранить</v-btn>

        <v-card class="my-5">
          <v-toolbar color="#007fbd" dark flat class="pt-2">

            <v-toolbar-title 
              v-if="Mode=='view'"
              v-model="editedItem.name"
            >{{ editedItem.name }}</v-toolbar-title>
            <v-toolbar-title style="overflow: visible; width: 100%;" v-else>
              <v-text-field 
                v-model="editedItem.name"
                label="Название"
                dense
                light
              >{{ editedItem.name }}</v-text-field>
            </v-toolbar-title>
      
            <v-spacer></v-spacer>
            <v-menu bottom left>
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  v-on="on"
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item primary>
                  <v-list-item-title>
                    <v-btn medium @click="Mode='view'; $forceUpdate(); offEditor(); console.log(editedItem)" v-if="Mode=='edit'">Режим просмотра</v-btn>
                    <v-btn medium @click="Mode='edit'; $forceUpdate(); newEditor();" v-else>Режим редактирования</v-btn>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
      
            <template v-slot:extension>
              <v-tabs class="headTabs" v-model="tab" centered show-arrows>
                <v-tab v-for="item in items" @click="saveEditor()">
                  {{ item }}
                </v-tab>
              </v-tabs>
            </template>

          </v-toolbar>
                  <!-- ------------ TABS - Вкладки -------------- -->
          <v-tabs-items v-model="tab">
            <v-tab-item><!-- 1.Общая характеристика -->
              <v-card flat>
                <v-card-text>
              <v-card flat>
              <v-tabs vertical class="secondTabs">
                  <!-- ------------ Вертикальное меню - заголовки -------------- -->
                  <v-tab>Сведения о<br>программе</v-tab>
                  <v-tab>Нормативная<br>база</v-tab>
                  <v-tab>Результаты<br>освоения</v-tab>
                  <v-tab>Составители</v-tab>
                  <v-tab>Дополнительно</v-tab>
                  <!-- ------------ Вертикальное меню -------------- -->
                  <!-- Вертикальное меню - Сведения о программе -->
                  <v-tab-item>
                    <v-form v-model='valid'>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-select v-if="Mode=='edit'" :items="lists.cp_extra_classification_cl" item-text="name" label="Вид образовательной программы" v-model="editedItem.cp_extra_classification_cl"
                            :rules="[rules.required]" return-object>
                          </v-select>
                          <p v-else>Вид образовательной программы: {{ (editedItem.cp_extra_classification_cl!=null)?editedItem.cp_extra_classification_cl.name:'' }}</p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-text-field v-if="Mode=='edit'" id="cost" name="cost" type="number" v-model="editedItem.cost" label="Стоимость" disabled></v-text-field>
                          <p v-else>Стоимость: {{ editedItem.cost }}</p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-select v-if="Mode=='edit'" :items="lists.listeners_category" item-text="name" label="Категория слушателей" v-model="editedItem.listeners_category"
                            :rules="[rules.required]" return-object>
                          </v-select>
                          <p v-else>Категория слушателей: {{ (editedItem.listeners_category!=null)?editedItem.listeners_category.name:'' }}</p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-select v-if="Mode=='edit'" :items="lists.issued_documents" item-text="name" label="Выдаваемый документ" v-model="editedItem.issued_document"
                            :rules="[rules.required]" return-object>
                          </v-select>
                        <p v-else>Выдаваемый документ: {{ (editedItem.issued_document!=null)?editedItem.issued_document.name.trim():'' }}</p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-autocomplete v-if="Mode=='edit'" :items="lists.competencies" item-text="name" item-value="id" label="Связанные компетенции" v-model="editedItem.competence"
                          :rules="[rules.required]" multiple return-object>
                          </v-autocomplete>
                          <p v-else>Связанные компетенции: 
                            <span v-for="(comp,index) in editedItem.competence" >{{getItem(comp,lists.competencies).name.trim()}}
                            <span v-if="index !== editedItem.competence.length-1">, </span></span>
                          </p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-autocomplete v-if="Mode=='edit'" :items="lists.professions" item-text="name" item-value="id" label="Связанные профессии" v-model="editedItem.profession"
                            :rules="[rules.required]" multiple return-object>
                          </v-autocomplete>
                          <p v-else>Связанные профессии: 
                            <span v-for="(prof,index) in editedItem.profession" >{{getItem(prof,lists.professions).name.trim()}}
                            <span v-if="index !== editedItem.profession.length-1">, </span></span>
                          </p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-text-field v-if="Mode=='edit'" id="duration" name="duration" type="number" v-model="editedItem.duration" label="Продолжительность программы" disabled>
                          </v-text-field>
                          <p v-else>Продолжительность программы: {{ editedItem.duration }}</p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12">
                          <v-text>Описание программы</v-text>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" v-if="Mode=='edit'">
                          <ckeditor ref="text" id="text" name="text_area" :editor="editor" v-model="editedItem.desc"
                            @ready="onEditorReady($event, '')" :config="editorConfig"></ckeditor>
                        </v-col>
                        <v-col cols="12" v-else>
                          <div class="border" v-html="editedItem.desc"></div>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-file-input v-if="Mode=='edit'" name="images" v-model="editedItem.image" 
                            @click.prevent="dialogUploadImage=true;fileFilter=true;"
                            :show-size="true" hint="Файл не более 1MB" persistent-hint
                            :rules="[rules.maxSize1]" label="Изображение (jpeg, jpg, png)"
                            :accept="accept.image" prepend-icon="mdi-image"></v-file-input>
                          <p v-else-if="editedItem.image!=null">{{ editedItem.image.name }}</p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-autocomplete v-if="Mode=='edit'" :items="lists.orgs" item-text="name" item-value="id" label="Обучающая организация" v-model="editedItem.educ_org"
                            :rules="[rules.required]" return-object>
                          </v-autocomplete>
                          <p v-else>Обучающая организация: {{ editedItem.educ_org.name }}</p>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="10">
                          <v-select v-if="Mode=='edit'" :items="lists.knowledge_level_cl" item-text="name" label="Требуемый уровень образования" v-model="editedItem.knowledge_level_cl"
                            :rules="[rules.required]" return-object>
                          </v-select>
                          <p v-else>Требуемый уровень образования: {{ (editedItem.knowledge_level_cl!=null)?editedItem.knowledge_level_cl.name:'' }}</p>
                        </v-col>
                      </v-row>
                    </v-container>
                    </v-form>
                  </v-tab-item>
                  <!-- Вертикальное меню - Нормативная база -->
                  <v-tab-item>
                    <v-form v-model='valid' class="px-md-3 input-padding-0" style="max-width: 600px;">
                    <v-container>
                    <adding-text-fields :Mode="Mode" name="reg" :arr="editedItem.regulations" :paste="templateItem"></adding-text-fields>
                    </v-container>
                    </v-form>
                  </v-tab-item>
                  <!-- Вертикальное меню - Результаты освоения -->
                  <v-tab-item>
                    <v-form v-model='valid' class="px-md-3 input-padding-0">
                    <v-container>
                      <v-row>
                          <span>Результатом освоения программы профессионального обучения является овладения обучающимися видом профессиональной деятельности:</span>
                      </v-row>
                      <v-row>
                        <v-select v-if="Mode=='edit'" :items="lists.professions" item-text="name" label="Вид профессиональной деятельности" v-model="editedItem.results.profession">
                        </v-select>
                        <p v-else>Вид профессиональной деятельности: {{ editedItem.professions }}</p>
                      </v-row>
                      <v-row>
                          <span>С целью овладения указанным видом профессиональной деятельности и соответствующими профессиональными компетенциями обучающийся в ходе освоения программы профессионального обучения должен</span>
                      </v-row>
                      <v-row class="mt-2">
                          <span class="font-weight-bold">знать:</span>
                      </v-row>
                      <adding-text-fields :Mode="Mode" name="knowledges" :arr="editedItem.results.knowledges" :paste="templateItem"></adding-text-fields>
                      <v-row class="mt-2">
                          <span class="font-weight-bold">уметь:</span>
                      </v-row>
                      <adding-text-fields :Mode="Mode" name="skills" :arr="editedItem.results.skills" :paste="templateItem"></adding-text-fields>
                      <v-row class="mt-2">
                          <span class="font-weight-bold">владеть:</span>
                      </v-row>
                      <adding-text-fields :Mode="Mode" name="capability" :arr="editedItem.results.capability" :paste="templateItem"></adding-text-fields>
                    </v-container>
                    </v-form>
                  </v-tab-item>
                  <!-- Вертикальное меню - Составители -->
                  <v-tab-item>
                    <v-form v-model='valid' v-if="Mode==='edit'" class="border">
                    <v-container v-for="(person, index) in editedItem.persons">
                      <v-row>
                        <v-spacer></v-spacer>
                        <v-btn icon class="mx-3">
                          <v-icon medium @click="editedItem.persons.splice(index,1);">mdi-delete-forever</v-icon>
                        </v-btn>
                      </v-row>
                      <v-row>
                          <v-col class="d-flex flex-column" cols="12">
                            <v-text-field v-bind:id="'personName'+index" name="personName" type="text" label="ФИО" v-model="person.name"></v-text-field>
                            <v-autocomplete v-bind:id="'personOrg'+index" name="personOrg" :items="lists.orgs" item-text="name" item-value="id" label="Организация" v-model="person.org"></v-autocomplete>
                            <v-text-field v-bind:id="'personPosition'+index" name="personPosition" label="Должность" v-model="person.position">{{person.position}}</v-text-field>
                        </v-col>
                        <v-col cols="2" v-if="false">
                            <v-file-input id="imgs" name="images" v-model="person.image" :show-size="true" hint="Файл не более 1MB" persistent-hint
                                :rules="[rules.maxSize1]" label="Изображение (jpeg, jpg, png)"
                                accept="{{accept.image}}" prepend-icon="mdi-image"></v-file-input>
                        </v-col>
                    </v-row>
                    <v-row class="d-flex flex-column border mt-3">
                        <v-col class="pb-0">
                            <v-checkbox v-model="person.worldskills.accept" label="Право участия в оценке демонстрационного экзамена по стандартам WorldSkills" class="my-0"></v-checkbox>
                        </v-col>
                        <v-col class="d-flex flex-column pt-0" v-if="person.worldskills.accept">
                            <v-text-field v-bind:id="'wsNumber'+index" v-bind:name="'wsNumber'" type="text" label="Номер" v-model="person.worldskills.number"></v-text-field>
                            <v-text-field v-bind:id="'wsDate'+index" v-bind:name="'wsDate'" type="text" label="Дата выдачи" v-model="person.worldskills.date"></v-text-field>
                            <v-autocomplete v-bind:id="'wsCompetence'+index" v-bind:name="'wsCompetence'" :items="lists.competencies" item-text="name" item-value="id" label="Компетенция" v-model="person.worldskills.competence"></v-autocomplete>
                        </v-col>
                      </v-row>
                    </v-container>
                    <v-container>
                      <v-row>
                          <v-col class="pa-0 d-flex justify-start align-center">
                              <v-btn icon color="dark-grey" @click="addItem(templatePerson, editedItem.persons)">
                                  <v-icon medium>mdi-account-plus</v-icon>
                              </v-btn>
                              <span class="pl-2" v-if="!editedItem.persons.length">Нажмите, чтобы добавить элемент</span>
                          </v-col>
                      </v-row>
                    </v-container>
                    </v-form>
                    <div v-else-if="editedItem.persons.length==0">Здесь пока ничего нет</div>
                    <div v-else>
                      <v-container v-for="(person, index) in editedItem.persons">
                        <v-row>
                            <v-col class="d-flex flex-column" cols="12">
                                <p>ФИО: {{person.name}}</p>
                                <p>Организация: {{person.org}}</p>
                                <p>Должность: {{person.position}}</p>
                            </v-col>
                        </v-row>
                        <v-row class="d-flex flex-column border mt-3">
                            <v-col class="pb-0">
                                <v-checkbox v-model="person.worldskills.accept" label="Право участия в оценке демонстрационного экзамена по стандартам WorldSkills" class="my-0"></v-checkbox>
                                
                            </v-col>
                            <v-col class="d-flex flex-column pt-0" v-if="person.worldskills.accept">
                                <p>Номер: {{person.worldskills.number}}</p>
                                <p>Дата выдачи: {{person.worldskills.date}}</p>
                                <p>Компетенция: {{person.worldskills.competence}}</p>
                            </v-col>
                        </v-row>
                      </v-container>
                    </div>
                  </v-tab-item>
                  <!-- Вертикальное меню - Дополнительно -->
                  <v-tab-item>
                    <v-form v-model='valid'>
                      <v-container>Здесь пока что ничего нет</v-container>
                    </v-form>
                  </v-tab-item>
              </v-tabs>
              </v-card>
                </v-card-text>
              </v-card>
            </v-tab-item>
      
            <v-tab-item><!-- 2.Учебная программа -->
              <v-card flat>
                <v-card-text>
                  <v-container style="max-width: 100%;" class="px-0">
                    <!-- <template v-for="(module, i) in editedItem.program" :key="'module'+i">
                      <v-row justify="space-between" class="flex-nowrap flex-sm-wrap" v-if="editedItem.program.length && (Mode==='edit'||!module.hidden)">
                      <v-col cols="12" md="12" class="background-image-icon pa-0"> -->
                      <!-- <span class="background" v-if="!!module.hidden"><v-icon size="3vw">mdi-eye-off</v-icon></span> -->
                      <v-expansion-panels>  <!-- :class="{'invisible': !!module.hidden}" style="z-index: unset;" -->
                        <v-expansion-panel v-for="(module, i) in editedItem.program" :key="'module'+i">
                          <v-expansion-panel-header class="pa-0" @click="templateItem.name = ''; templateItem.form_education = lists.form_education[0]">
                            <v-card width="60" height="60" max-width="60" class="mr-4">
                                <v-card-text class="text-center">
                                    <v-icon>mdi-file-tree</v-icon>
                                </v-card-text>
                            </v-card>
                            <v-text-field v-if="Mode==='edit'" id="moduleName" name="moduleName" type="text" v-model="module.name" label="Название модуля" @click.stop=""></v-text-field>
                            <div v-else class="headline">Название модуля: {{module.name}}</div>
                            <v-spacer></v-spacer>
                            <v-menu bottom left> <!-- Actions (Copy,hide,del,settings) -->
                              <template v-slot:activator="{ on }">
                                <v-btn
                                  v-if="Mode==='edit'"
                                  icon
                                  style="flex: 0 1 auto;"
                                  v-on="on"
                                  @click.stop=""
                              >
                                <v-icon style="z-index: 5;">mdi-dots-vertical</v-icon>
                              </v-btn>
                            </template>

                            <v-list>
                              <v-list-item icon color="dark-grey">
                                <v-list-item-title><v-icon medium>mdi-settings</v-icon></v-list-item-title>
                              </v-list-item>
                              <v-list-item icon color="dark-grey">
                                <v-list-item-title><v-icon medium @click="copyElem(i,editedItem.program)">mdi-content-copy</v-icon></v-list-item-title>
                              </v-list-item>
                              <!-- <v-list-item icon color="dark-grey">
                                <v-list-item-title>
                                  <v-icon medium @click="module.hidden=!module.hidden;" v-if="module.hidden">mdi-eye</v-icon>
                                  <v-icon medium @click="module.hidden=!module.hidden;" v-else>mdi-eye-off</v-icon>
                                </v-list-item-title>
                              </v-list-item> -->
                              <v-list-item v-if="false" icon color="dark-grey">
                                <v-list-item-title>
                                  <v-icon disabled medium @click="removeModuleInProgram(module.id);" v-if="module.id.includes('_')">mdi-delete-forever</v-icon>
                                </v-list-item-title>
                              </v-list-item>
                            </v-list>
                          </v-menu>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                          <v-card>
                            <v-card-text class="pb-0">
                              <v-container v-if="module" class="pa-0">
                                <template v-for="(elem, k) in module.items" :key="'elem'+k">
                                <v-row>
                                    <v-col cols="1" style="min-width:90px;">
                                        <v-img v-if="elem.image != null"></v-img>
                                        <v-card v-else width="60" height="60" class="mx-auto">
                                            <v-card-text class="text-center">
                                                <v-icon>mdi-sign-text</v-icon>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                    <v-col v-if="Mode==='edit'" cols="7" class="d-flex flex-nowrap px-0">
                                      <v-text-field id="elemName{{k}}" name="elemeName{{k}}" type="text" v-model="elem.name" label="Название занятия"></v-text-field>
                                      <v-btn v-if="false" disabled icon color="dark-grey" @click="module.items = removeItem(k, module.items)" v-if="elem.id.includes('_')" class="ml-auto my-0">
                                          <v-icon medium>mdi-delete-forever</v-icon>
                                      </v-btn>
                                  </v-col>
                                  <v-col v-else cols="7" class="px-0">
                                      <div>Название занятия: {{ elem.name }}</div>
                                    </v-col>
                                    <v-col cols="3">
                                      <!-- окно редактирования занятия -->
                                      <template>
                                        <v-btn v-if="Mode==='edit'" large class="px-3 ml-5" color="primary" dark @click="showEditLessonDialog(i,k)">Редактировать</v-btn>
                                        <v-btn v-else large class="px-3 ml-5" color="primary" dark @click="showEditLessonDialog(i,k);offEditorElem();">Просмотр</v-btn>
                                      </template>
                                    </v-col>
                                </v-row>
                              </template>
                                <v-row  v-if="Mode==='edit'">
                                  <v-col cols="1" style="min-width:90px;">
                                    <v-card width="60" height="60" class="mx-auto">
                                      <v-card-text class="text-center">
                                        <v-icon>mdi-sign-text</v-icon>
                                      </v-card-text>
                                    </v-card>
                                  </v-col>
                                  <!-- Название занятия -->
                                  <v-col cols="7">
                                    <v-text-field id="elemName" name="elemName" type="text" v-model="templateItem.name" label="Название занятия"></v-text-field>
                                    <v-btn large class="px-3 ml-5" color="primary" @click="addItemInModule(module, form_education)" :disabled="templateItem.name.length < 5 || !form_education">Добавить занятие</v-btn>
                                  </v-col>
                                  <!-- Вид занятия -->
                                  <v-col cols="3">
                                    <v-form ref="form-0">
                                      <v-select v-if="Mode=='edit'" :items="lists.form_education"
                                      item-text="name" item-value="id" label="Вид занятия" 
                                      v-model="form_education"
                                      :rules="[rules.required]" return-object >
                                      </v-select>
                                    </v-form>
                                  </v-col>

                                </v-row>
                              </v-container>
                            </v-card-text>
                          </v-card>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                    <!-- </v-col>
                    </v-row>
                    </template> -->
                  </v-container>
                  <v-container v-if="Mode==='edit'" style="max-width: 100%;">
                    <v-row>
                      <v-col cols="12" md="10">
                        <v-text-field type="text" v-model="templateModule.name" label="Название модуля"></v-text-field>
                        <v-btn large class="px-3 ml-5" color="primary" @click="addModuleInProgram()" :disabled="templateModule.name.length < 5">Добавить модуль</v-btn>
                      </v-col>
                    </v-row>
                  </v-container>
                  <!-- <v-btn v-if="Mode==='edit'" large class="px-3" color="primary" disabled>Добавить существующий модуль</v-btn> -->
                </v-card-text>
              </v-card>
            </v-tab-item>
      
            <v-tab-item><!-- 3.Ресурсы (обеспечение) -->
              <v-card flat>
                <v-card-text>
                  <v-tabs centered>
                    <v-tab>Материально-технические условия</v-tab>
                    <v-tab>Учебно-методическое обеспечение</v-tab>
                  <v-tab-item>
                    <v-form v-model='valid'>
                      <v-container>
                        <adding-text-fields :Mode="Mode" name="technical" :arr="editedItem.resources.technical" :paste="templateItem"></adding-text-fields>
                      </v-container>
                    </v-form>
                  </v-tab-item>
                  <v-tab-item>
                    <v-form v-model='valid'>
                      <v-container>
                        <adding-text-fields :Mode="Mode" name="education" :arr="editedItem.resources.education" :paste="templateItem"></adding-text-fields>
                      </v-container>
                    </v-form>
                  </v-tab-item>
                  </v-tabs>
                </v-card-text>
              </v-card>
            </v-tab-item><!-- Ресурсы (обеспечение) КОНЕЦ-->
      
            <v-tab-item><!-- 4.Статус -->
              <v-card flat>
                <v-card-text>
                  <v-container>
                    <v-row><v-col class="d-flex align-center">Программа для тестирования:</v-col><v-col><v-checkbox v-model="editedItem.test_program"></v-checkbox></v-col></v-row>
                    <v-row><v-col>Текущий статус программы:</v-col><v-col>{{editedItem.cp_status}}</v-col></v-row>
                    <v-row><v-col class="d-flex align-center">Скрыть программу на портале:</v-col><v-col><v-checkbox v-model="editedItem.hidden"></v-checkbox></v-col></v-row>
                    <v-row><v-col>Панель управления статусами:</v-col></v-row>
                    <v-row>
                      <v-col>
                        <v-dialog v-model="status_dialog.view" width="500">
                          <template v-slot:activator="{ on }">
                            <v-row>
                              <v-btn large class="px-3 mx-1" color="primary" v-on="on" @click="status_dialog.status = 'Проект'" :disabled="editedItem.cp_status == 'Проект' || editedItem.cp_status == 'Принята'">Проект</v-btn>
                              <v-btn large class="px-3 mx-1" color="primary" v-on="on" @click="status_dialog.status = 'Модерация'" :disabled="editedItem.cp_status == 'Модерация' || editedItem.cp_status == 'Принята'">Модерация</v-btn>
                              <v-btn large class="px-3 mx-1" color="primary" v-on="on" @click="status_dialog.status = 'Принята'" :disabled="editedItem.cp_status == 'Принята' || editedItem.cp_status == 'Отклонена'">Принята</v-btn>
                              <v-btn large class="px-3 mx-1" color="primary" v-on="on" @click="status_dialog.status = 'Отклонена'" :disabled="editedItem.cp_status == 'Отклонена'">Отклонена</v-btn>
                            </v-row>
                          </template>
                          <v-card class="px-2">
                            <v-card-title class="headline">Изменить статус на «{{status_dialog.status}}»?</v-card-title>
                            <v-text-field id="elemName" name="elemName" type="text" v-model="status_dialog.comment" label="Комментарий"></v-text-field>
                            <v-card-actions>
                              <v-btn large class="px-3 ml-auto" color="primary" @click="setStatus()">Изменить статус</v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                      </v-col>
                    </v-row>
                    <v-row><v-col>История изменений:</v-col></v-row>
                    <v-row><v-col>
                      <div v-if="editedItem.status_log">
                        <v-data-table
                          :headers="statusHeaders"
                          :items="logArr"
                          :items-per-page="5"
                          class="elevation-1"
                        ></v-data-table>
                      </div>
                      <div v-else>{{"Изменений пока не производилось"}}</div>
                    </v-col></v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>

<!-- Edit Lesson Dialog - Диалог редактирования занятия -->
<v-dialog 
  v-if="editedItem.program.length"
  v-model="dialogItem" 
  width="100%"
  max-height="100%"
  persistent
  scrollable
>
  <v-card v-if="editedItem.program[curEl[0]].items.length">
    <v-toolbar dark color="#007fbd" max-height="64">
      <v-toolbar-title v-if="editedItem.program[curEl[0]].items[curEl[1]]">{{ editedItem.program[curEl[0]].name }} / {{  editedItem.program[curEl[0]].items[curEl[1]].name }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon dark @click="dialogItem = false; elemEditorsSave(); saveEditor()">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text style = "height: 90%;">

      <!-- Информация о занятии -->
      <v-subheader>Информация о занятии</v-subheader>
      
      <div outlined class="mx-auto col-md-10 col-offset-1">
        <v-form ref="form-1">
          <div><!-- ITEM.form_education -->
            <v-select v-if="Mode=='edit'" :items="lists.form_education" item-text="name" item-value="id" label="Вид занятия" v-model="editedItem.program[curEl[0]].items[curEl[1]].form_education"
            :rules="[rules.required]" return-object :disabled="editedItem.program[curEl[0]].items[curEl[1]].form_education != null" @change="changeCourseType()">
            </v-select>
            <p v-else>Вид занятия:
              <span>
                {{ editedItem.program[curEl[0]].items[curEl[1]].form_education.name }}
              </span>
            </p>
          </div>
          
          <div><!-- ITEM.TYPE -->
            <v-select v-if="Mode=='edit'" :items="lists.course_type" item-text="name" item-value="id" label="Тип занятия" v-model="editedItem.program[curEl[0]].items[curEl[1]].type"
            :rules="[rules.required]" return-object>
            </v-select>
            <p v-else>Тип занятия:
              <span v-if="editedItem.program[curEl[0]]">
                {{ editedItem.program[curEl[0]].items[curEl[1]].type.name }}
              </span>
            </p>
          </div>
          
          <div><!-- ITEM.form_evaluation -->
            <v-select v-if="Mode=='edit'" :items="lists.form_evaluation" item-text="name" item-value="id" label="Вид оценки" v-model="editedItem.program[curEl[0]].items[curEl[1]].form_evaluation"
            :rules="[rules.required]" return-object @change="changeCourseType()">
            </v-select>
            <p v-else>Вид оценки:
              <span v-if="editedItem.program[curEl[0]]">
                {{ editedItem.program[curEl[0]].items[curEl[1]].form_evaluation.name }}
              </span>
            </p>
          </div>
          
          <div><!-- ITEM.type_evaluation -->
            <v-select v-if="Mode=='edit'" :items="lists.type_evaluation" item-text="name" item-value="id" label="Тип оценки" v-model="editedItem.program[curEl[0]].items[curEl[1]].type_evaluation"
            :rules="[rules.required]" return-object>
            </v-select>
            <p v-else>Тип оценки:
              <span v-if="editedItem.program[curEl[0]]">
                {{ editedItem.program[curEl[0]].items[curEl[1]].type_evaluation.name }}
              </span>
            </p>
          </div>
        </v-form>
        
        <div v-if="Mode==='edit'"><!-- ITEM.DESC -->
          <ckeditor
            :id="'item-editor-'+curEl[0]+curEl[1]" 
            name="text_area"
            :disabled="Mode==='view'"
            :editor="editor"
            @ready="onEditorItemReady($event, '')"
            :config="editorItemConfig"
            v-model="editedItem.program[curEl[0]].items[curEl[1]].desc"
          >
          </ckeditor>
        </div>
        <div v-else>
          <div class="border" v-html="editedItem.program[curEl[0]].items[curEl[1]].desc"></div>
        </div>
      </div>
      
      <!-- ELEMENTS -->
      <v-divider></v-divider>
      <v-subheader>Элементы</v-subheader>
      
      <!-- кнопка добавления нового элемента -->
      <div v-if="Mode==='edit'" class="text-center" justify="center"> 
        <v-icon x-large @click="dialogElem = true; curPos(curEl[0],curEl[1],0); insPlace = 0">
          mdi-plus-circle
        </v-icon>
      </div>
      <v-list three-line subheader class="my-0" v-if="editedItem.program.length && editedItem.program[curEl[0]].items.length">
        
        <!-- Элементы (материалы) разных типов  -->
        <div
          v-for="(element, l) in editedItem.program[curEl[0]].items[curEl[1]].elements" 
          @click="curPos(curEl[0],curEl[1],l);"
          :key="'element'+l"
          :loading="loading"
        >
          <v-row class="elem-dialog-row" :class="(Mode==='view')?'pa-2':''">
            <v-hover>
              <template v-slot="{ hover }">
                <v-card
                  v-if="Mode==='edit'||element.is_visible"
                  class="mx-auto col-md-10 col-offset-1"
                  outlined
                >
                  <v-card-title  v-if="Mode==='edit'" class='pa-0'>
                    <v-spacer></v-spacer>
                    <v-icon 
                      @click="curPos(curEl[0],curEl[1],l);editedItem.program[curEl[0]].items[curEl[1]].elements=swap(l,-1,editedItem.program[curEl[0]].items[curEl[1]].elements)"
                      v-if="l!==0"
                    >mdi-arrow-up</v-icon>
                    <v-icon 
                      @click="curPos(curEl[0],curEl[1],l);editedItem.program[curEl[0]].items[curEl[1]].elements=swap(l,1,editedItem.program[curEl[0]].items[curEl[1]].elements)"
                      v-if="l!==(editedItem.program[curEl[0]].items[curEl[1]].elements.length-1)"
                    >mdi-arrow-down</v-icon>
                    <v-menu bottom left> <!-- Actions (Copy,hide,del,settings) -->
                      <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                          <v-icon  style="z-index: 10;" @click = "curPos(curEl[0],curEl[1],l);elemEditorsSave();">mdi-dots-vertical</v-icon>
                        </v-btn>
                      </template>
                      <v-list>
                        <v-list-item icon color="dark-grey">
                          <v-list-item-title><v-icon medium @click="console.log(element);">mdi-settings</v-icon></v-list-item-title>
                        </v-list-item>
                        <v-list-item icon color="dark-grey">
                          <v-list-item-title><v-icon medium @click="copyElem(l,editedItem.program[curEl[0]].items[curEl[1]].elements)">mdi-content-copy</v-icon></v-list-item-title>
                        </v-list-item>
                        <v-list-item icon color="dark-grey">
                          <v-list-item-title>
                            <v-icon medium @click="element.is_visible=!element.is_visible;" v-if="!element.is_visible">mdi-eye</v-icon>
                            <v-icon medium @click="element.is_visible=!element.is_visible;" v-else>mdi-eye-off</v-icon>
                          </v-list-item-title>
                        </v-list-item>
                        <v-list-item icon color="dark-grey">
                          <v-list-item-title>
                            <v-icon medium @click="elemEditorsSave(); removeElem();">mdi-delete-forever</v-icon>
                          </v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </v-card-title>

                  <div class="d-flex justify-space-around">
                    <v-list-item three-line>
                      <v-list-item-content>
                        <!-- ------------------ elem-name ------------------------- -->
                        <div>
                          <v-text-field 
                            v-if="Mode==='edit'"
                            :id="'elem'+curEl[0]+curEl[1]+l" 
                            type="text" 
                            v-model="element.name" 
                            :rules="[rules.longestWord,rules.max250]"
                            label="Название" 
                            class="pa-0 pt-2 my-0"
                          ></v-text-field>
                          <span v-else class="headline">Название: {{element.name}}</span>
                          <div class="v-counter theme--light mt-3" >{{typeProp(element.type).typeName}}
                            <v-icon size="12">{{ typeProp(element.type).icon }}</v-icon>
                          </div>
                        </div>
                        <!-- ------------------ elem-score ------------------------- -->
                        <div class="mt-3">
                          <v-select
                            :items="elemScore"
                            label="Тип оценки"
                            v-model="element.max_score"
                            item-text="name"
                            item-value="type"
                            :disabled="typeProp(element.type).flags[6]"
                            dense
                          ></v-select>
                        </div>
                        <!-- ------------------ elem-file ------------------------- -->
                        <div v-if="typeProp(element.type).flags[0]||element.type==='learning_task'" class="my-3">
                          <v-file-input
                            v-if="Mode==='edit'"
                            show-size
                            chips
                            counter
                            :disabled="Mode==='view'||element.object.id!=null"
                            v-model="element.object.files[0]"
                            @click.prevent="curPos(curEl[0],curEl[1],l);dialogUpload=true"
                          ></v-file-input> 
                        </div>
                        <!-- ------------------ elem-description------------------------- -->
                        <div v-if="Mode==='edit'">
                          <ckeditor 
                            :id="'text'+curEl[0]+curEl[1]+l" 
                            name="text_area" 
                            :disabled="Mode==='view'"
                            :editor="editor"
                            @ready="onEditorsReady($event, '')" 
                            :config="editorsConfig"
                            v-model="element.desc"
                          >
                          </ckeditor>
                        </div>
                        <div v-else>
                          <div class="border" v-html="element.desc"></div>
                        </div>
                        <!-- ------------------ elem-link------------------------- -->
                        <div v-if="typeProp(element.type).flags[1]===1">
                          <v-text-field 
                            label="Введите адрес ссылки" 
                            :rules="[rules.link]" 
                            hide-details="auto"
                            v-model="element.link"
                            v-if="Mode==='edit'"
                            prefix="//"
                          ></v-text-field>
                          <div v-else>адрес ссылки: <a target="_blank" :href="'//'+element.link">{{element.link}}</a></div>
                        </div>
                        <!-- ------------------ elem-Poll------------------------- -->
                        <v-container v-if="typeProp(element.type).flags[4]===1" @click="curPos(curEl[0],curEl[1],l);">
                          <row center>
                            <span v-if="element.object.name" class="headline">Опрос: {{element.object.name}}</span>
                          </row>
                          <v-row d-flex v-if="Mode==='edit'">
                            <v-spacer></v-spacer>
                            <template v-if="element.object.id==null">
                              <v-btn  large color="primary" class="pa-3" @click="dialogPoll=!dialogPoll">Создать</v-btn>
                              <v-spacer></v-spacer>
                              <v-btn  large color="primary" class="pa-3" @click="dialogPollTable=!dialogPollTable;">Выбрать</v-btn>
                            </template>
                            <template v-else>
                              <v-btn  large color="primary" class="pa-3" @click="console.log('geb',getItem(element.object.id,polls)); editPoll(getItem(element.object.id,polls));">Редактировать</v-btn>
                              <v-spacer></v-spacer>
                              <v-btn  large color="primary" class="pa-3" @click="delIDFromElem(element);">Удалить</v-btn>
                            </template>
                            <v-spacer></v-spacer>
                          </v-row>
                        </v-container>

                        <!-- ------------------------- Action buttons ------------------------- -->
                        <v-container v-if="typeProp(element.type).flags[5]"  @click="curPos(curEl[0],curEl[1],l);">
                          <v-row d-flex v-if="Mode==='edit'">
                            <v-spacer></v-spacer>
                            <template v-if="element.object.id == null">
                              <v-btn v-if="typeProp(element.type).flags[2]" 
                                color="primary" class="pa-2" 
                                @click="newElement(element, element.type);" 
                                :disabled="element.name.trim() == '' || !element.object.files.length && element.desc.trim() == ''"
                              >Создать</v-btn>
                              <v-tooltip v-else bottom>
                                <template v-slot:activator="{ on }">
                                  <div v-on="on"><v-btn disabled color="primary" class="pa-2" @click="">Создать</v-btn></div>
                                </template>
                                <span>Пока недоступно</span>
                              </v-tooltip>
                              <v-spacer></v-spacer>
                              <v-btn color="primary" class="pa-2" @click="dialogOfList=true;">Выбрать</v-btn>
                            </template>
                            <template v-else>
                              <v-btn color="primary" class="pa-2" @click="delIDFromElem(element);">Удалить</v-btn>
                            </template>
                            <v-spacer></v-spacer>
                          </v-row>
                        </v-container>
                        
                        <!-- ---------------------- OBJECT ------------------------- -->
                        <!-- ------------------------------------------------------- -->
                        <template v-if="false">
                          <!-- <template v-if="!!element.objectBlock||element.object.id!=null"> -->
                          <v-divider></v-divider>
                          <v-subheader>Объект</v-subheader>
                          <!-- ------------------- obj-name------------------------- -->
                          <div>
                            <v-text-field 
                              v-if="Mode==='edit'"
                              type="text" 
                              v-model="element.object.name" 
                              :disabled="Mode==='view'||element.object.id!=null"
                              :rules="[rules.longestWord,rules.max250]"
                              label="Название" 
                              class="pa-0 pt-2 my-0"
                            ></v-text-field>
                            <span v-else class="headline">Название: {{element.name}}</span>
                          </div>
                          
                          <!-- ------------------ object-file------------------------- -->
                          <div v-if="!!element.objectBlock&&element.type==='learning_task'" class="my-3">
                            <v-file-input
                              v-if="Mode==='edit'&&element.object.id==null"
                              show-size
                              chips
                              counter
                              :disabled="Mode==='view'||element.object.id!=null"
                              v-model="element.object.files"
                              @click.prevent="curPos(curEl[0],curEl[1],l);dialogUpload=true"
                            ></v-file-input> 
                            <span 
                              v-if="element.object.files.length>0&&element.type==='learning_task'&&element.object.id!=null" 
                              class="headline mt-5 mb-3">Файлы элемента</span>
                            <v-simple-table 
                              v-if="element.object.files.length>0&&element.type==='learning_task'&&element.object.id!=null" 
                              fixed-header 
                              max-height="300px"
                            >
                              <template v-slot:default>
                                <thead>
                                  <tr>
                                    <th class="text-left">Название</th>
                                    <th class="text-left">Размер файла</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="(file,index) in element.object.files"
                                    v-if="file.name"
                                    :key="file.name"
                                    @click="console.log('file.url: ', file.url);"
                                  >
                                    <td><a :href="file.url" target="_blank" rel="noopener noreferrer" download>{{ file.name }}</a></td>
                                    <td>{{ (file)?Math.floor(file.size/1000):0 }} KB</td>
                                  </tr>
                                </tbody>
                              </template>
                            </v-simple-table>
                          </div>
                          <!-- ---------------- obj-CKEDITOR------------------------- -->
                          <div v-if="typeProp(element.type).flags[2]===1&&Mode==='edit'">
                            <ckeditor 
                              :id="'object-text'+curEl[0]+curEl[1]+l" 
                              name="text_area" 
                              :disabled="Mode==='view'||element.object.id!=null"
                              :editor="editor"
                              @ready="onEditorsReady($event, '')" 
                              :config="editorsConfig"
                              v-model="element.object.desc"
                            >
                            </ckeditor>
                          </div>
                          <div v-else>
                            <div class="border" v-html="element.object.desc"></div>
                          </div>
                          <!-- ---------------- Confirm ---------------- -->
                          <div v-if="element.object.name != null && element.object.id == null">
                            <v-spacer></v-spacer>
                            <v-btn
                            color="primary" class="pa-2" 
                            @click="newElement(element, element.type);" 
                            :disabled="element.object.name == '' && element.object.desc == ''"
                          >Принять</v-btn>
                          </div>
                        </template>
                      </v-list-item-content>
                    </v-list-item>
                  </div>
                  <v-overlay
                    v-if="!element.is_visible"
                    absolute
                    color="#333"
                  >
                    <v-icon size="75">mdi-eye-off</v-icon>
                  </v-overlay>
                </v-card>
              </template>
            </v-hover>
          </v-row>
          <div v-if="Mode==='edit'" class="text-center" justify="center">
            <v-icon 
              x-large 
              @click="dialogElem = !dialogElem; curPos(curEl[0],curEl[1],l); insPlace = l+1"
            >
              mdi-plus-circle
            </v-icon>
          </div>
        </div>
        <div v-if="Mode==='edit'" class="text-center" justify="center">
          <!-- Добаление элементов - вывод списка типов элементов (лонгрид,видео,...) -->
          <v-dialog
            v-model="dialogElem"
            width="1000"
            justify="center"
          >
            <v-card>
              <v-card-title class="headline">Выберите элемент</v-card-title>
              <div class="d-flex flex-wrap justify-space-around pa-2" v-if="editedItem.program[curEl[0]].items[curEl[1]].form_education">
                <div 
                  v-for="(element, m) in 
                    (editedItem.program[curEl[0]].items[curEl[1]].form_education.name==='Очное')?
                    elementTypes.filter(el=>el.type=='resource'):elementTypes" 
                  :key="'element'+m" height="220"
                >
                  <v-hover>
                    <template v-slot="{ hover }">
                      <v-card
                        :elevation="hover ? 4 : 0"
                        width="150"
                        @click="debounce(addElemToItem(m),500);"
                      >
                        <v-avatar
                          class="justify-center grey lighten-4"
                          size="150"
                          tile
                        >
                          <v-icon size="75">{{ elementTypes[m].icon }}</v-icon>
                        </v-avatar>
                        <v-card-text style="text-align: center;">{{ elementTypes[m].typeName }}</v-card-text>
                        <v-fade-transition>
                          <v-overlay
                            v-if="hover"
                            absolute
                            color="#333"
                          >
                            <v-icon size="75">mdi-plus-circle</v-icon>
                          </v-overlay>
                        </v-fade-transition>
                      </v-card>
                    </template>
                  </v-hover>
                </div>
              </div>
            </v-card>
          </v-dialog>
        </div>
      </v-list>
    </v-card-text>
  </v-card>
</v-dialog>

<!-- Список - lists (домашние задания, лонгриды, тесты) -->
<v-dialog 
  v-if="editedItem.program.length"
  v-model="dialogOfList"
  max-width="600"   
  class="ma-auto"   
>
<v-card 
  v-if="editedItem.program[0].items.length"
>
  <v-toolbar
    color="primary"
    dark
  >    
    <v-toolbar-title>Список</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon @click="dialogOfList=false">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-toolbar>
  <template>
    <v-simple-table fixed-header height="300px">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Название</th>
            <th class="text-right">Удалить</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            v-for="(arrelem,l) in lists[editedItem.program[curEl[0]].items[curEl[1]].elements[curEl[2]].type+'s']"
            :key="arrelem.name"                  
            @click="linkElem(arrelem);dialogOfList=false;"
            style="cursor: pointer;"
          >
            <td>{{ arrelem.name }}</td>
            <td v-if="Mode==='edit'" class="text-right">
              <v-btn icon @click.stop="">
                <v-icon color="grey lighten-1">mdi-delete-forever</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </template>
</v-card>
</v-dialog>  
<!-- Список файлов  -->
      <v-dialog 
        v-model="dialogFile"
        max-width="600"
        class="ma-auto"
        v-if="editedItem.program.length && editedItem.program[0].items.length||fileFilter"
      >
        <v-card>
          <v-toolbar
            color="primary"
            dark
          >    
            <v-toolbar-title>Список файлов</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="dialogFile=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
          <template>
            <v-simple-table fixed-header height="300px">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Название</th>
                    <th class="text-left">Размер файла</th>
                  </tr>
                </thead>
                <tbody>
                  <tr 
                    v-for="(file,l) in (fileFilter)?lists.resources.filter(el=>['.png','.jpeg','.jpg'].indexOf(el.type)!=-1):lists.resources" 
                    v-if="file.name"
                    :key="file.name"
                    style="cursor: pointer" 
                    @click="addFileFromList(file);"
                    v-model="lists.resources"
                  >
                    <td>{{ file.name }}</td>
                    <td>{{ (file)?Math.floor(file.size/1000):0 }} KB</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </template>
        </v-card>
      </v-dialog>
      <!-- Диалог добавления файлов -->
      <v-dialog 
        v-if="editedItem.program.length&&editedItem.program[0].items.length"
        v-model="dialogUpload"
        max-width="600"
        class="ma-auto"
        persistent
      >
        <v-card>
          <v-toolbar
            color="primary"
            dark
          >
          <v-toolbar-title>Прикрепить файлы</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="tempFiles.splice(0,tempFiles.length);dialogUpload=!dialogUpload">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
      
          <v-list  v-show="tempFiles.length===0">
            <v-card elevation class="mx-auto elevation-0" tile >
              <div class="pa-0 d-flex justify-space-around align-center">
                <v-card class="d-flex flex-column mx-auto col-md-4 col-offset-1" 
                  @click="document.getElementById('tempfileInput').click();"
                >
                  <v-icon size="100">mdi-cloud-upload</v-icon>
                  <span class="text-center headline">Новый</span>
                  <v-file-input
                    v-if="Mode==='edit'&&editedItem.program[curEl[0]].items[curEl[1]].elements[curEl[2]]!=null"
                    v-show="false"
                    id = "tempfileInput"
                    :accept="typeProp(editedItem.program[curEl[0]].items[curEl[1]].elements[curEl[2]].type).accept"
                    :rules="[rules.maxSize2]"
                    v-model="tempFiles[0]"
                    @change="($event)?addTempfile(editedItem.program[curEl[0]].items[curEl[1]].elements[curEl[2]],$event):''"
                  ></v-file-input> 
                </v-card>
                <v-card class="d-flex flex-column mx-auto col-md-4" @click="dialogFile=true;">
                  <v-icon size="100">mdi-playlist-plus</v-icon>
                  <span class="text-center headline">Список</span>
                </v-card>
              </div>
            </v-card>
          </v-list>
          <div>
            <v-subheader v-if="tempFiles.length>0" >Файлы элемента</v-subheader>            
            <v-simple-table v-show="tempFiles.length>0" fixed-header max-height="300px">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Название</th>
                    <th class="text-left">Размер файла</th>
                    <th class="text-left" v-if="Mode==='edit'">Удалить</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(file,f) in tempFiles"
                    v-if="file.name"
                    :key="file.name"
                    @click=""
                  >
                    <td>{{ file.name }}</td>
                    <td>{{ (file)?Math.floor(file.size/1000):0 }} KB</td>
                    <td v-if="Mode==='edit'">
                      <v-btn icon @click="removeItem(f,tempFiles);">
                        <v-icon color="grey lighten-1">mdi-delete-forever</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <v-card-actions>
              <v-btn color="primary" class="pa-2" @click="tempFiles=[];dialogUpload=false;">Отмена</v-btn>
              <v-spacer></v-spacer>
              <v-btn v-if="tempFiles.length>0" color="primary" class="pa-2" @click="newFile(); dialogUpload=false">Выбор</v-btn>
            </v-card-actions>
          </div>
        </v-card>
      </v-dialog>

      <!-- Диалог добавления изображений -->
      <v-dialog 
        v-model="dialogUploadImage"
        max-width="600"
        class="ma-auto"
        persistent
      >
        <v-card>
          <v-toolbar
            color="primary"
            dark
          >
          <v-toolbar-title>Прикрепить изображение</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="tempFiles=[]; dialogUploadImage=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
      
          <v-list  v-show="!tempFiles.length">
            <v-card elevation class="mx-auto elevation-0" tile >
              <div class="pa-0 d-flex justify-space-around align-center">
                <v-card class="d-flex flex-column mx-auto col-md-4 col-offset-1" 
                  @click="document.getElementById('progImg').click();"
                >
                  <v-icon size="100">mdi-cloud-upload</v-icon>
                  <span class="text-center headline">Новое</span>
                  <v-file-input 
                    @change="($event)?addTempfile(editedItem.image,$event):'';"
                    id="progImg" name="images" v-model="tempFiles[0]" 
                    v-show="false"
                    :rules="[rules.maxSize1]"
                    :accept="accept.image" prepend-icon="mdi-image"></v-file-input>
                </v-card>
                <v-card class="d-flex flex-column mx-auto col-md-4" @click="dialogFile=true;">
                  <v-icon size="100">mdi-playlist-plus</v-icon>
                  <span class="text-center headline">Список</span>
                </v-card>
              </div>
            </v-card>
          </v-list>
          <div>
            <v-subheader v-if="tempFiles.length>0" >Файлы элемента</v-subheader>            
            <v-simple-table v-show="tempFiles.length>0" fixed-header max-height="300px">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Название</th>
                    <th class="text-left">Размер файла</th>
                    <th class="text-left" v-if="Mode==='edit'">Удалить</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(file,f) in tempFiles"
                    v-if="file.name"
                    :key="file.name"
                    @click=""
                  >
                    <td>{{ file.name }}</td>
                    <td>{{ (file)?Math.floor(file.size/1000):0 }} KB</td>
                    <td v-if="Mode==='edit'">
                      <v-btn icon @click="removeItem(f,tempFiles);">
                        <v-icon color="grey lighten-1">mdi-delete-forever</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <v-card-actions>
              <v-btn color="primary" class="pa-2" @click="tempFiles=[];dialogUpload=false;">Отмена</v-btn>
              <v-spacer></v-spacer>
              <v-btn v-if="tempFiles.length>0" color="primary" class="pa-2" @click="newFile(); dialogUploadImage=false">Выбор</v-btn>
            </v-card-actions>
          </div>
        </v-card>
      </v-dialog>
    </template>
  </div>

<!-- DIALOG POLL -->
  <v-dialog 
    v-model="dialogPollTable"
    class="ma-auto"
  >
    <template>
      <!-- **************************POLLS************************** -->
      <v-data-table :headers="headersPoll" :items="polls" :items-per-page="5" :search="searchInput" class="elevation-0">
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-text-field class="col-md-3 pl-0" label="Поиск" hide-details v-model="searchInput"></v-text-field>
            <v-spacer></v-spacer>
            <v-btn color="primary" dark class="mb-2" @click="showMyForm" v-if="canEdit">Добавить</v-btn>

            <v-dialog v-model="dialog2" width="900"><!-- EDIT POLL -->
              <v-form ref="questionForm" v-model="validQuestionForm">
                <v-card>
                  <v-card-text class="pb-0">
                    <v-row>
                      <v-col cols="12" sm="6" md="4">

                        <!-- **********************************  Select типа вопроса  ********************************** -->

                        <v-select @input="showThisTypeOfNewQuestions" v-model="question.type" :items="typeOfQuestions"
                          placeholder="Тип вопроса" messages="Выберите, какой тип вопроса вы хотели бы добавить"
                          class="testTest" :rules="[rules.required]">
                        </v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="8">
                        <v-text-field v-show="showTitleOfQuestion" id="question-title" name="question-title"
                          v-model="question.title" label="Вопрос" hint="Введите вопрос" :rules="[rules.required]">
                        </v-text-field>
                      </v-col>
                    </v-row>

                    <!-- **********************************  Тип: Единственный выбор или Множественный выбор или Выпадающий лист  ********************************** -->

                    <v-row v-if="showSelectTypeOfQuestions">
                      <v-col>
                        <v-btn color="primary" dark @click.stop="addQuestionEntry">Добавить</v-btn>
                      </v-col>
                    </v-row>
                    <v-row v-if="showSelectTypeOfQuestions" class="d-flex flex-nowrap align-baseline justify-start"
                      v-for="(n,index) in question.entries" :key="index">
                      <v-col class="cols-10">
                        <v-text-field v-model="n.value" label="Ответ" :hint="'Вариант ' + (index + 1)"
                          :rules="[rules.required]"></v-text-field>
                      </v-col>
                      <v-col class="cols-2">
                        <v-icon small @click.stop="deleteQuestionEntry(index)">mdi-delete</v-icon>
                      </v-col>

                    </v-row>

                  </v-card-text>

                  <!-- *********************************************************************************************** -->

                  <v-card-actions class="d-flex flex-wrap align-baseline justify-space-between">
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark @click.stop="closeQuestionDialog">Отменить</v-btn>
                    <v-btn v-if="showUpdateButton" color="primary" @click.stop="saveMyEditedQuestion">Обновить вопрос
                    </v-btn>
                    <v-btn v-if="!showUpdateButton" color="primary" :disabled="!validQuestionForm"
                      @click.stop="addNewQuestion">Сохранить Вопрос</v-btn>
                    <!-- <v-btn color="primary" @click.stop="dialog2 = true">Диалог 2</v-btn> -->
                  </v-card-actions>

                  <!-- **********************************  Таблица для вывода всех вопросов к опросу  ********************************** -->

                </v-card>
              </v-form>
            </v-dialog>
          </v-toolbar>
        </template>

        <!-- ********************************** Кнопки редактирования и удаление опросов  ********************************** -->
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" small @click="showFullInfo(item)">
            mdi-chart-bar
          </v-icon>
          <v-icon small class="mr-2" @click="editPoll(item)" v-if="canEdit">
            mdi-pencil
          </v-icon>
          <v-icon small class="mr-2" @click="deletePoll(item)" v-if="canEdit">
            mdi-delete
          </v-icon>
          <!-- <v-icon small class="mr-2" small @click="download(item)">
            mdi-file-download
          </v-icon> -->
          <v-icon small class="mr-2" small @click="savePollToElem(item)">
            mdi-plus-circle
          </v-icon>
        </template>
      </v-data-table>

      <v-dialog v-model="dialogShowStatistic" width="450">
        <v-card>
          <v-card-title style="background-color: #007fbd; color: #ffffff;">
            Опрос "{{nameOfPollForStatistic}}"
          </v-card-title>
          <v-col>
            <v-card-text v-for="(element, i) in arrayForStatistic" :key="i">
              <h3 style="text-align: center;">Вопрос № {{i + 1}}</h3>
              <p>{{element.question}}</p>
              <p>Тип вопроса: {{element.type}}</p>



              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">Вариант ответа</th>
                      <th class="text-left">Выбрали этот ответ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, i) in element.answers" :key="i">
                      <td>{{ item.answer }}</td>
                      <td>{{ item.counter }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card-text>
          </v-col>
          <v-card-actions>
            <v-btn color="primary" dark class="mb-2" @click.stop="dialogShowStatistic = false">Закрыть</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
  </v-dialog>

<!-- ADD POLL -->
  <v-dialog v-model="dialogPoll" width="900">

    <!-- **********************************  Вкладки модального окна  ********************************** -->
    <v-form ref="form" v-model='validPollForm' id="form" method="post" enctype="multipart/form-data">
      <v-tabs v-model="activeTab" grow="true" dark style="background-color: #007FBD;">

        <v-tab>
          Шаг 1 (Описание)
        </v-tab>
        <v-tab>
          Шаг 2 (Вопросы)
        </v-tab>

        <!-- **********************************  Содержимое 1 вкладки  ********************************** -->

        <v-tab-item>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-container>

                <!-- **********************************  Input названия опроса  ********************************** -->

                <v-row>
                  <v-col class="w-auto" cols="12" sm="6" md="6">
                    <v-text-field id="name-of-poll" name="name-of-poll" v-model="poll.name"
                      label="Введите название опроса" :rules="[rules.required]"></v-text-field>
                  </v-col>

                  <!-- **********************************  Select ролей (пользователи, которым доступен опрос)  ********************************** -->

                  <v-col cols="12" sm="6" md="6">
                    <v-select @change="changeUsers($event)" v-model="poll.usersOfPoll" :items="usersCategory"
                      placeholder="Пользователи" messages="Выберите, кому будет доступен опрос"
                      :rules="[rules.required]">
                    </v-select>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-select @change="" v-model="poll.multiPages" :items="multiPagesOptions"
                      placeholder="Мультистраничность" messages="Выберите отображение вопросов в опросе">
                    </v-select>
                  </v-col>
                </v-row>
              </v-container>

            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" dark @click.stop="close">Отменить</v-btn>
              <v-btn color="primary" dark @click="showNextTab">Далее</v-btn>
            </v-card-actions>
          </v-card>
        </v-tab-item>

        <!-- **********************************  Содержимое 2 вкладки  ********************************** -->

        <v-tab-item>
          <v-card>
            <v-card-text class="pb-0">
              <v-row v-if="arrayOfValuesForTable.length !== 0" class="d-flex justify-end">
                <v-col class="d-flex flex-wrap align-baseline justify-end pt-0 pb-0" cols="12" sm="6" md="4">

                  <p class="mb-0">
                    Редактировать вопрос -
                    <v-icon small>mdi-pencil</v-icon>
                  </p>

                  <p class="mb-0">
                    Удалить вопрос -
                    <v-icon small>mdi-delete</v-icon>
                  </p>

                  <p class="mb-0">
                    Изменить порядок (выше) -
                    <v-icon small>mdi-arrow-up</v-icon>
                  </p>

                  <p class="mb-0">
                    Изменить порядок (ниже) -
                    <v-icon small>mdi-arrow-down</v-icon>
                  </p>
                </v-col>
              </v-row>
            </v-card-text>

            <v-card-actions class="d-flex flex-wrap align-baseline justify-space-between">
              <v-btn color="primary" @click.stop="dialog2 = true;console.log('dialog2', dialog2);">Добавить вопрос</v-btn>
              <v-btn class="ml-auto" color="primary" dark @click.stop="close">Отменить</v-btn>
              <v-btn class="align-self-end" color="primary" :disabled="!validPollForm" @click.stop="saveMyPoll">
                Сохранить Опрос</v-btn>
            </v-card-actions>

            <!-- **********************************  Таблица для вывода всех вопросов к опросу  ********************************** -->

            <v-simple-table :height="290">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Номер вопроса</th>
                    <th class="text-left">Тип вопроса</th>
                    <th class="text-left">Текст вопроса</th>
                    <th class="text-left">Количество вариантов ответов</th>
                    <th class="text-left">Действия</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(elem, index) in arrayOfValuesForTable" :key="elem.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ elem.type }}</td>
                    <td>{{ elem.title }}</td>
                    <td>{{ elem.entries.length }}</td>
                    <td>
                      <v-icon small class="mr-2" @click="editQuestion(elem)">mdi-pencil</v-icon>
                      <v-icon small @click="deleteQuestion(elem)">mdi-delete</v-icon>
                      <br>
                      <v-icon v-if="index !== 0" small @click="upThisQuestion(elem)" class="mr-2">mdi-arrow-up
                      </v-icon>
                      <v-icon v-if="index !== arrayOfValuesForTable.length - 1" small
                        @click="downThisQuestion(elem)">mdi-arrow-down</v-icon>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
        </v-tab-item>
      </v-tabs>
    </v-form>
  </v-dialog>

  </v-app>
</div>

<script>
Vue.component('adding-text-fields', {
props: {
  Mode: String,
  title: String,
  name: String,
  arr: Array,
  paste: Object,
},
template:   `<div v-if="Mode==='edit'">
                <v-row class="mt-2">
                  <span class="font-weight-bold" v-if="title">{{title}}:</span>
                </v-row>
                <v-row class="px-2 mb-1" v-for="(item, index) in arr">
                  <v-col cols="11" class="pa-0">
                    <v-text-field v-bind:id="name+'Name'+index" v-bind:name="name+'Name'" type="text" v-model="item.name" label="" class="pa-0 pt-2 my-0"></v-text-field>
                  </v-col>
                  <v-col cols="1" class="pa-0">
                    <v-btn icon color="dark-grey" @click="removeItem(index, arr)" class="ml-auto my-0">
                      <v-icon medium>mdi-delete-forever</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="pa-0 d-flex justify-start align-center">
                    <v-btn icon color="dark-grey" @click="addItem(paste, arr)">
                      <v-icon medium>mdi-file-plus</v-icon>
                    </v-btn>
                    <span class="pl-2" v-if="!arr.length">Нажмите, чтобы добавить элемент</span>
                  </v-col>
                </v-row>
              </div>
              <div v-else>
                <v-row class="mt-2">
                  <span class="font-weight-bold" v-if="title">{{title}}:</span>
                </v-row>
                <v-row class="px-2 mb-1" v-for="(item, index) in arr">
                  <span :id="name+'Name'+index" :name="name+'Name'" label="" class="pa-0 pt-2 my-0">{{ item.name }}</span>
                </v-row>
                <span v-if="arr.length==0">Здесь пока ничего нет</span>
              </div>`,
methods: {
  removeItem(index, arr) {
    console.log('arr: ', arr);
    arr.splice(index,1);
  },

  addItem(template, arr) {
    template.name = '#Тестовая программа# - ' + template.name
    let item = JSON.parse(JSON.stringify(template));
    item.id = "_" + Date.now().toString().slice(-9);
    arr.push(item);               
    template.name = "";
  },
},
})
</script>     
<script></script>
<script src="./Конструктор.js"></script>
      <style>
        .preloader {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 100%;
          height: 100%;
          min-height: 50vh;
          background-color: rgba(255,255,255,.4);
        }
        .copp__header-title {
          color: #2d2d2d;
          font-weight: bold;
          margin: 0 0 60px 0;
          font-size: 85px;
          line-height: 95px;
        }
        body header {
          position: static;
        }
        .v-data-table-header th {
          position: relative
        }
        .v-data-table-header__icon {
          position: absolute;
          top: calc(50% - 10px);
          right: -5px;
        }
        .theme--dark.v-tabs>.v-tabs-bar {
          background-color: inherit;
        }
        .headTabs > .v-tabs-bar .v-tab {
          font-size: 16px;
          font-weight: bold;
        }
        #vue-page input {
          border: none !important;
          box-shadow: none !important;
          padding-left: 5px;
          font-size: 18px;
        }
        button.v-btn--icon:hover {
          border-color: inherit;
          background-color: inherit;
        }
        button.btn-remove:hover .v-icon {
          color: red;
        }
        .v-expansion-panel button:hover {
          border-color: inherit;
          background-color: inherit;
          color: #2d2d2d;
        }
        .v-expansion-panel:before {
          box-shadow: none;
        }
        #vue-page .v-expansion-panel:after {
          border: none;
        }
        #vue-page .v-toolbar {
          background-color: var(--first-color);
          border-color: var(--first-color);
        }
        .theme--light.v-label {
          z-index: 1;
        }
        #vue-page .v-text-field__details {
          top: 40px;
        }
        #vue-page .v-label {
          top: 4px;
          font-size: 18px;
        }
        .input-padding-0 input {
          padding: 0 !important;
        }
        .background-image-icon {
          position: relative;
        }
        .background-image-icon .background {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 2;
          background-color: rgba(100, 100, 100, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
          top: 0;
          pointer-events: none;
        }
        .elem-dialog-row{
          width: 95%;
          margin: auto;
        }

        .page-content{
          padding-top: 126px;
        }
        /* POLLS */
  
  .hidden {
    display: none;
  }

  .v-application--wrap {
    min-height: 100%
  }

  h2 {
    color: #1c6186;
    font-weight: bold;
    font-size: 34px;
  }

  .v-dialog>.v-card>.v-card__title {
    word-break: break-word;
  }

/* ДОЛЖНО БЫТЬ В БУТСТРАПЕ */
.border {
border: 1px solid #dee2e6 !important;
}

.border-top {
border-top: 1px solid #dee2e6 !important;
}

.border-right {
border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
border-left: 1px solid #dee2e6 !important;
}

.border-0 {
border: 0 !important;
}

.border-top-0 {
border-top: 0 !important;
}

.border-right-0 {
border-right: 0 !important;
}

.border-bottom-0 {
border-bottom: 0 !important;
}

.border-left-0 {
border-left: 0 !important;
}

.border-primary {
border-color: #007bff !important;
}

.border-secondary {
border-color: #6c757d !important;
}

.border-success {
border-color: #28a745 !important;
}

.border-info {
border-color: #17a2b8 !important;
}

.border-warning {
border-color: #ffc107 !important;
}

.border-danger {
border-color: #dc3545 !important;
}

.border-light {
border-color: #f8f9fa !important;
}

.border-dark {
border-color: #343a40 !important;
}

.border-white {
border-color: #fff !important;
}

.rounded-sm {
border-radius: 0.2rem !important;
}

.rounded {
border-radius: 0.25rem !important;
}

.rounded-top {
border-top-left-radius: 0.25rem !important;
border-top-right-radius: 0.25rem !important;
}

.rounded-right {
border-top-right-radius: 0.25rem !important;
border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
border-bottom-right-radius: 0.25rem !important;
border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
border-top-left-radius: 0.25rem !important;
border-bottom-left-radius: 0.25rem !important;
}

.rounded-lg {
border-radius: 0.3rem !important;
}

.rounded-circle {
border-radius: 50% !important;
}

.rounded-pill {
border-radius: 50rem !important;
}

.rounded-0 {
border-radius: 0 !important;
}
      </style>