
<%
portal = '69'; // 16 - тулун, 34 - волгоград, 69 - тверь

info = {
	'16': {},
	'34': {
		phone: '+7(8442)73-50-85',
		email: 'info@copp.ru',
		address: 'г. Волгоград, пр. Металлургов, д.17',
		schedule: ''
	},
	'69': {
		phone: '+7(4822)33-04-0',
		email: 'recenter@tpk-tver.ru',
		address: 'г. Тверь, ул. Индустриальная, 9, кабинет 3',
		schedule: ''
	}
};

colors = {
	'16': [], 
	'34': ['#f6f6f5', '#cbebfa', '#007fbd', '#00334e'], 
	'69': ['#c7b198', '#dfd3c3', '#596e79', '#2d2d2']
	};
%>

<style>

	:root {
		--first-color: <%=colors[portal][0]%>;
		--second-color: <%=colors[portal][1]%>;
		--third-color: <%=colors[portal][2]%>;
		--fourth-color: <%=colors[portal][3]%>;
	}
	/* var(--second-color), var(--third-color), var(--fourth-color),#2d2d2d */

.footer {
	background: var(--third-color);
}
.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#footer-left,
#footer-center {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 20px;
	color: white;
}
#footer-left {
	padding-bottom: 0;
}
.footer .logo-footer {
	max-width: 260px;
	max-height: 120px;
}
@media (max-width: 900px) {
  .logo-footer:not(.mobile) {
	display: none;
  }
  .footer .menu {
	display: none;
  }
  .footer-logo-container.mobile {
	width: auto;
  }
  .logo-footer.mobile {
	display: block !important;
  }
  #footer-left,
  #footer-center {
	display: flex;
	padding-left: 10px !important;
	padding-right: 10px !important;
  }
}
@media (min-width: 900px) {
  .logo-footer.mobile {
	display: none;
  }
  .logo-footer:not(.mobile) {
	display: block;
  }
}
.flex-container {
	display: flex;
}
.footer .menu {
	/* width: 100%; */
    max-width: 300px;
    min-width: 280px;

	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 20px 0;
}
.footer .menu-item {
	cursor: pointer;
	padding: 5px;
	margin: 10px 5px;
}
.footer .menu-item span {
	border-bottom: 1px solid white;
	color: white;
	font-weight: 500;
	font-size: 15px;
}
.footer .menu-item:hover span {
	border-bottom: 2px solid white;
}
.footer .contacts {
	width: 100%;
	color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
}
.footer .contacts p,
.footer .contacts a {
	color: white;
	margin-bottom: 5px;
}
.footer .contacts .tel {
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 10px;
}
.footer .contacts .address {
	text-align: right;
}
.footer .contacts .email {
	border-bottom: 1px solid white;
}
@media (min-width: 900px) {
  .footer-left {
	display: flex;
	justify-content: space-between;
	max-height: 150px;
  }
  .footer .menu {
	/* flex-flow: column wrap; */
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 20px 0 15%;
  }
  .footer .menu-item {
	margin: 0;
	padding: 1px;
	min-width: 120px;
	height: 45px;
  }
}

@media (max-width: 990px) {
    .footer .menu {
        margin: 0 20px 0 10%
    }
}
</style>


<div class="footer-logo-container"><a href="/view_doc.html?mode=home"><img class="logo-footer mobile" src="/images/epk/logo-sm-w.png"><img class="logo-footer" src="/images/epk/logo-footer.png"></a></div>
<div class="menu flex-container">
    <a href="/view_doc.html?mode=progs_list" class="menu-item"><span>Программы<br>обучения</span></a>
    <a href="/view_doc.html?mode=events_list" class="menu-item"><span>Календарь</span><br><span>событий</span></a>
    <a href="/view_doc.html?mode=resources_list" class="menu-item"><span>Информационные</span><br><span>ресурсы</span></a>
    <a href="/view_doc.html?mode=profs_list" class="menu-item"><span>Профессии</span><br><span>и&nbsp;компетенции</span></a>
    <a href="/view_doc.html?mode=vacancies_list" class="menu-item"><span>Вакансии</span></a>
    <a href="/view_doc.html?mode=polls_list" class="menu-item"><span>Опросы</span></a>
</div>
<div class="contacts">
	<a class="tel" href="tel:=<%=info[portal].phone%>"><%=info[portal].phone%></a>
	<p class="address"><%=info[portal].address%></p>
	<a class="email" href="mailto:<%=info[portal].email%>"><%=info[portal].email%></a>
	<div class="social-icons">
	    <a href="#vk"></a>
	</div>
</div>