<%
var sUser = curUserID != null;
%>


<div id="vue-page" v-cloak>
    <div class="copp__vacancies-header">
      <nav class="copp__vacancies-nav">
        <v-breadcrumbs :items="links" divider="/">
          <template v-slot:item="{item}">
            <v-breadcrumbs-item :href="item.href || '#'" @click="{!item.href ? setPage(0, $event) : ''}" :disabled="item.disabled">
            {{ item.text }}
            </v-breadcrumbs-item>
          </template>
        </v-breadcrumbs>
      </nav>
      <h1 class="copp__header-title">Вакансии</h1>
      <div class="flex-item search" v-if="!showMore">
        <div class="flex-container">
          <v-row>
		<v-col>
		  <v-select class="copp__multiselect" :items="categories" v-model="selectedCategories" attach multiple solo label="Категории">
          <template v-slot:selection="{ item, index }">
              <span v-if="index === 0 && selectedCategories.length === 1">{{ item }}</span>
            <span v-if="index === 1" class="grey--text caption">Выбрано {{ selectedCategories.length }}</span>
          </template>
      </v-select>
		</v-col>
		<v-col>
		  <div class="copp__search-wrapper ">
		    <svg viewBox="0 0 35 44" width="25px" height="40px" class="magnifier"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#magnifier"></use></svg>
		    <input v-model="inputSearchText" class="copp__search-input" type="search" placeholder="Поиск вакансий">
		  </div>
		</v-col>
          </v-row>
        </div>
        <p class="background-for-header--top">Найдено вакансий: {{ filteredList.length }}</p>
      </div>
    </div>
    <div id="objs_list">
      <v-container class="flex-container" v-if="!showMore">
        <v-card class="copp__content-card" v-for="obj in arrayOfShowedProgram" :key="obj.id">
          <p>{{ obj.competences.length > 3 ? obj.competences.slice(0,3).join(", ")+',...' : obj.competences.join(", ") }}</p>
          <div class="card_flex-container">
            <v-img class="copp__img-card" v-if="obj.img.length" height="150" :src="obj.img"></v-img>
            <v-card-text>
              <v-card-title>{{ obj.name }}</v-card-title>
              <p v-if="obj.small_desc">{{ obj.small_desc }}</p>
            </v-card-text>
          </div>
          <div class="card_flex-container">
            <div class="copp_card-item">
              <svg viewBox="0 0 35 44" width="25px" height="40px" class="comment"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#comment"></use></svg>
		<p>{{ obj.competences.join(", ").length > 42 ?  obj.competences.join(", ").slice(0,42)+'...' : (obj.competences.length > 3 ? obj.competences.slice(0,3).join(", ")+',...' : obj.competences.join(", ")) }}</p>
            </div>
            <div class="copp_card-item">
              <svg viewBox="0 0 35 44" width="25px" height="40px" class="apartments"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#apartments"></use></svg>
              <p>{{ obj.organization }}</p>
            </div>
          </div>
          <v-card-actions>
            <div class="copp__btn" @click="setPage(1); withoutHash(obj.id)">Подробнее</div>
          </v-card-actions>
        </v-card>
        <v-pagination v-if="filteredList.length > 12" class="copp__pagination background-for-header--bottom" v-model="page" :length="lengthPagination" :total-visible="5" :disabled="false"></v-pagination>
      <!--  <a  v-if="isLoggedIn" href="/view_doc.html?mode=request_create&request_type_id=6756526957381878262"><span class="copp__btn">Подать заявку</span></a> -->
      </v-container>
      <v-container class="details-container" v-if="showMore" id="currentObj.id">
        <div class="copp_details-content">
          <h2 class="copp_details-title">{{ currentObj.name }}</h2>
          <div class="copp_details-item-container">
            <div class="copp_details-item">
              <svg viewBox="0 0 35 44" width="25px" height="40px" class="comment"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#comment"></use></svg>
              <p>{{ currentObj.competences.join(", ") }}</p>
            </div>
            <div class="copp_details-item">
              <svg viewBox="0 0 35 44" width="25px" height="40px" class="apartments"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#apartments"></use></svg>
              <p>{{ currentObj.organization }}</p>
            </div>
          </div>
          <v-img class="copp__img-details" v-if="currentObj.img.length" :src="currentObj.img"></v-img>
          <p v-if="currentObj.small_desc">{{ currentObj.small_desc }}</p>
          <div class="copp_details-description" v-if="currentObj.description" v-html="currentObj.description"></div>
        </div>
      </v-container>
    </div>
  </div>
  
  <script>
  var vacancies = new Vue({
    el: '#vue-page',
    vuetify: new Vuetify({
      lang: {
        locales: {
          ru: ruLocale
        },
        current: 'ru'
      }
    }),
    data: {
      isLoggedIn: <%=sUser%>,
      page: 1,
      links: [
        {text: 'Главная',
        href: '/view_doc.html?mode=home',
        disabled: false},
        {text: 'Вакансии',
        href: '',
        disabled: false}
      ],
      objects: [],
      arrayOfShowedProgram: [], // Массив карточек для отрисовки по 4 штуки на странице
      lengthPagination: 0, // Вычисляемая длина пагинации (в зависимости от длины массива arrayOfProgramm)
      categories: [],
      selectedCategories: [],
      showMore: false,
      currentObj: {},
      inputSearchText: "",
      newHash: ""
    },
    methods: {
  
      setPage(page, evt) {
        if (evt) { evt.preventDefault(); this.removeLink(); }

        if (page > 0) {
				this.showMore = true
			} else {
				this.showMore = false
				history.back()
				setTimeout(() => {
					window.scrollTo(0,0)
				}, 0)
				
			}
        // this.showMore = page > 0 ? true : false;
            },
  
        removeLink() {
          if (this.links.length > 2) {
            this.links.pop()
          }
        },
  
  
      getCategoriesSelectorList(result) {
        result.forEach((elem)=>{this.categories=this.categories.concat(elem.competences)});
        this.categories.sort(function(a, b) {
          var nameA = a.toUpperCase(); // ignore upper and lowercase
          var nameB = b.toUpperCase(); // ignore upper and lowercase
          if (nameA < nameB) {
            return -1;
          }
          if (nameA > nameB) {
            return 1;
          }
  
          // names must be equal
          return 0;
        });
      },
  
      getObjects() {
        const serverUrl = 'custom_web_template.html?object_id=6756890869092806713';
  
        return fetch(serverUrl)
        .then(response => {
          if (response.status !== 200) return;
          return response.json();
        })
        .then(res => {
          this.objects = res;
          this.getCategoriesSelectorList(this.objects);
          this.showMeThisFourCards(0);
          this.lengthPagination = this.getPaginationMaxNumber();
          console.warn('Res:', res);
          let sp = new URLSearchParams(window.location.href);
            let id = sp.get("object");
            if (id) { if (this.objects.filter(item => item.id == id).length != 0) { this.withoutHash(id) } }
          // this.onHashChange();
        })
        .catch(err => {
          console.warn('Err:', err);
        });
      },
      showMeThisFourCards (index) { // Показ карточек по 4 штуки (принимает стартовый индекс массива)
        let counter = index + 12;
        const lengthOfGetArray = this.filteredList.length;
        this.arrayOfShowedProgram = [];
        for (let i = index; i < counter; i++) {
          if (lengthOfGetArray > i ) {
            this.arrayOfShowedProgram.push(JSON.parse(JSON.stringify(this.filteredList[i])));
          } else { return }
        }
      },
      getPaginationMaxNumber () { // Вычисляем пагинацию - если длина массива делится без остатка - длина пагинации = частному. Иначе длина пагинации = частное + 1
        if (this.filteredList.length % 12 === 0) {
          return parseInt(this.filteredList.length / 12)
        } else {
          return parseInt(this.filteredList.length / 12) + 1
        }
      },
  
      test() {
        this.$vuetify.goTo(0)
      },
      
      withoutHash (id) {
        this.test()
        this.currentObj = this.objects.find(item => item.id === id); 

        this.links[1].disabled = false;
        this.links.push({
            text: this.currentObj.name,
            href: window.location.href,
            disabled: true
          })
          let currentUrl = new URLSearchParams(window.location.href)
            if (currentUrl.get('object') === null) {
                history.pushState(null, null, `${window.location.href}&object=${this.currentObj.id}`);
            } 
            // window.scrollTo(0,0)
            this.showMore = true;
      },
  
      onHashChange () {
        if (window.location.hash == "" && this.links.length == 3) {
          this.links.pop();
          this.newHash = "";
          this.showMore = false;
        }
        if (window.location.hash != "" && this.links.length == 2) {
          //console.log(window.location.hash, this.links);
          this.currentObj = this.objects.find(item => item.id == String(window.location.hash.replace(/[^\d.]/g, '')));
          if(!this.currentObj) { window.location.hash = ""; return;};
          this.showMore = true;
          this.newHash = "id=" + this.currentObj.id;
          window.location.hash = this.newHash;
          this.links[1].disabled = false;
          this.links.push({
            text: this.currentObj.name,
            href: window.location.href,
            disabled: true
          })
        }
        if (window.location.hash == "" && this.links.length == 2) {
          this.links[1].disabled = true;
        }
      }
    },
    mounted() {
      this.getObjects();
      // window.addEventListener('hashchange', this.onHashChange, false);
  
      window.addEventListener('popstate', () => {
			let currentUrl = new URLSearchParams(window.location.href)
			if (currentUrl.get('object') !== null) {
				let id = currentUrl.get("object");
				console.log(id)
				if (this.objects.filter(item => item.id === id).length != 0) { this.withoutHash(id) }

			} else {
					this.showMore = false
					this.removeLink()
				}
		})

    },
    watch: {
      page (val) {
        if (val === 1) {
          this.showMeThisFourCards(0)
        } else {
          this.showMeThisFourCards((val - 1) * 12)
        }
      },
      inputSearchText () {
        this.showMeThisFourCards(0);
        this.lengthPagination = this.getPaginationMaxNumber();
      },
      selectedCategories () {
        this.showMeThisFourCards(0);
        this.lengthPagination = this.getPaginationMaxNumber();
      }
    },
    computed: {
  
      filteredList () {
  
        function isIntersecting(array1, array2) {
          if (!array2.length) return true;
          for (arr1obj of array1) {
              if (array2.includes(arr1obj)) return true;
          }
          return false;
        }
  
        let listOfFindElements = this.objects.filter(obj => {
          if (obj.name.toLowerCase().indexOf(this.inputSearchText.toLowerCase()) !== -1 && isIntersecting(obj.competences, this.selectedCategories)) {
            console.log(isIntersecting(obj.competences, this.selectedCategories));
            return true
          }
        })
  
        return listOfFindElements;
      }
    }
  })
  
  
  </script>
  <style scoped>
       /* Стили для "режим для слабовидящих" */
  .font-150 * {
    font-size: 22px;
    line-height: 26px;
  }
  .font-200 * {
    font-size: 30px;
    line-height: 34px;
  }
  .font-150 .card__info,
  .font-200 .card__info {
    width: 72%;
    max-height: 65px;
    line-height: 22px;
  }

  .font-200 .copp__btn {
    width: 175px;
  }

  .font-150 .card__header {
    font-size: 32px;
    max-height: 78px;
  }

  .font-200 .card__header {
    width: 72%;
    font-size: 38px;
  }

  .font-150 .v-card__title {
    font-size: 30px;
    line-height: 36px;
  }

  .font-200 .v-card__title {
    font-size: 30px;
    line-height: 36px;
  }

  .font-150 .copp__pagination.theme--light.v-pagination .v-pagination__item {
    padding: 17px 25px 40px 25px;
  }


  .font-200 .copp__pagination.theme--light.v-pagination .v-pagination__item {
    padding: 17px 25px 50px 25px;
  }

  .font-150 .footer .menu-item span,
  .font-150 .footer .contacts .tel {
    font-size: 22px;
    line-height: 26px;
  }

  .font-200 .footer .menu-item span,
  .font-200 .footer .contacts .tel {
    font-size: 30px;
    line-height: 34px;
  }

  .font-200 #footer-content .footer-left {
    margin-bottom: 30px;
  }

  .font-200 .copp__card-description div {
      max-height: 96px;
      overflow: hidden;
  }

   .font-150 .copp_card-item {
      width: 245px;
  }

  .font-200 .copp_card-item {
      width: 316px;
  }

  .filter-black .preloader__wrapper {
    background-color: #000000;
  }

  .filter-black *,
  .filter-black p,
  .filter-black span,
  .filter-black h1,
  .filter-black h2,
  .filter-black h3,
  .filter-black .v-breadcrumbs li:last-child a,
  .filter-black .v-breadcrumbs.theme--light a,
  .filter-black .card__date span,
  .filter-black .details__card .details__card-title,
  .filter-black .copp__vacancies-nav .v-breadcrumbs__divider,
	.filter-black .v-card__title,
	.filter-black .copp_card-item p,
	.filter-black .copp_details-item p,
    .filter-black .v-card__text p {
    color: #ffffff;
  }

  .filter-black .v-system-bar p, 
  .filter-black .v-system-bar label,
  .filter-black .v-list-item__title,
  .filter-black .copp__search-wrapper *,
  .filter-black .btn.details,
  .filter-black .v-chip__content,
  .filter-black .v-select__selections span  {
    color: #000000;
  }

  .filter-black .background-for-header--top::after,
  .filter-black .page,
  .filter-black .background-for-header--bottom::before,
  .filter-black .footer,
  .filter-black .minLogo::after,
  .filter-black .minLogo::before,
  .filter-black .details-content,
  .filter-black #objs_list   {
    background-color: #000000;
  }

  .filter-black .copp__pagination.theme--light.v-pagination .v-pagination__item,
  .filter-black .details-content__info li::before {
    background-color: #ffffff;
  }

  .filter-black .header .logo {
    filter: grayscale(1) brightness(3);
  }

  .filter-black .btn,
  .filter-black .copp__btn,
  .filter-black .copp__btn.inner-btn,
  .filter-black .btn.details {
    background-color: #ffffff;
    color: #000000;
  }

  .filter-black .btn svg {
      fill: #000000;
  }

  .filter-black .btn:hover,
  .filter-black .copp__btn:hover,
  .filter-black .copp__btn.inner-btn:hover,
  .filter-black .btn.details:hover  {
    background-color: #000000;
    outline: 4px solid #ffffff;
    color: #ffffff !important;
  }

  .filter-black .btn:hover svg,
  .filter-black .card__list svg,
  .filter-black .details-content__item svg,
  .filter-black .copp__card-item svg,
	.filter-black .copp_card-item svg,
	.filter-black .copp_details-item-container .copp_details-item svg{
      fill: #ffffff;
  }

  .filter-black .datePickers * {
    color: #000000;
  }

  .filter-black .copp__content-card:after {
    background-color: #ffffff;
    border-top: 92px solid #ffffff;
  }

  .filter-black .copp__multiselect .mdi-menu-down::before {
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
  }


  .filter-black #wt-container .v-pagination__item.v-pagination__item--active.primary {
    background-color: #000000 !important;
    border: 3px solid #ffffff !important;
  }

  .filter-black .card__info::after {
    background-color: transparent;
  }

  .filter-black .copp__content-card.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border: 8px solid #ffffff;
    background: #000000;
  }
  
  .filter-black .mdi-checkbox-blank-outline::before,
  .filter-black .mdi-checkbox-marked::before {
    color: #000000;
  }

  .filter-black .user-name {
    color: #000000;
  }

  .filter-black .resources-full {
    border: 5px solid #ffffff;
    background-color: #000000;
  }


  .filter-white .preloader__wrapper {
    background-color: #ffffff;
  }

  .filter-white *,
  .filter-white p,
  .filter-white span,
  .filter-white h2,
  .filter-white h3,
  .filter-white .v-breadcrumbs li:last-child a,
  .filter-white .v-breadcrumbs.theme--light a,
  .filter-white .copp__search-wrapper input[type="search"] {
    color: #000000;
  }


  .filter-white .v-list-item__title,
  .filter-white .copp__search-wrapper *,
  .filter-white .search > p {
    color: #ffffff;
  }

  .filter-white .background-for-header--top::after,
  .filter-white .page,
  .filter-white .background-for-header--bottom::before,
  /* .filter-white .footer, */
  .filter-white .minLogo::after,
  .filter-white .minLogo::before,
  .filter-white .details-content   {
    background-color: #ffffff;
  }

  .filter-white .copp__pagination.theme--light.v-pagination .v-pagination__item,
  .filter-white .details-content__info li::before,
  .filter-white .footer {
    background-color: #000000;
  }

  .filter-white .header .logo {
    filter: grayscale(1) brightness(0);
  }

  .filter-white .btn,
  .filter-white .copp__btn,
  .filter-white .copp__btn.inner-btn,
  .filter-white .btn.details {
    background-color: #000000 !important;
    color: #ffffff !important;
  }

  .filter-white .btn svg {
      fill: #ffffff;
  }

  .filter-white .btn:hover,
  .filter-white .copp__btn:hover,
  .filter-white .copp__btn.inner-btn:hover,
  .filter-white .btn.details:hover  {
    background-color: #ffffff !important;
    outline: 4px solid #000000 !important;
    color: #000000 !important;
  }

  .filter-white .btn:hover svg,
  .filter-white .card__list svg,
  .filter-white .details-content__item svg,
  .filter-white .copp__card-item svg,
	.filter-white .copp_card-item svg,
	.filter-white .copp_details-item-container .copp_details-item svg{
    fill: #000000;
  }

  .filter-white .copp__content-card:after {
    background-color: #000000;
    border-top: 92px solid #000000;
  }


  .filter-white .copp__multiselect .mdi-menu-down::before {
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
  }


  .filter-white #wt-container .v-pagination__item.v-pagination__item--active.primary {
    background-color: #ffffff !important;
    border: 3px solid #000000 !important;
    color: black;
  }

  .filter-white .theme--light.v-pagination .v-pagination__item{
    color: #ffffff;
  }

  .filter-white .card__info::after {
    background-color: transparent;
  }

  .filter-white .copp__content-card.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border: 8px solid #000000;
    background: #ffffff;
  }

  .filter-white .v-list-item__content *{
    color: #000000;
  }

  .filter-white .search {
    background-color: #000000;
  }

  .filter-white .mdi-checkbox-blank-outline::before,
  .filter-white .mdi-checkbox-marked::before {
    color: #000000;
  }


  .filter-white .resources-full {
    border: 5px solid #000000;
  }

  .filter-white  .copp__search-wrapper svg {
    fill: #ffffff;
  }

	.filter-white .search {
		padding-left: 5px;
		padding-right: 5px; 
	}


/* ==================================================================================================================== */
    #objs_list {
      background-color: #ffffff;
    }
    .page-content {
      padding: 0 0 8px 0;
    }
    .flex-container {
      display: flex;
      flex-wrap: wrap;
    }

    .search .flex-container {
      margin: 0 0 40px 0;
    }
  
    .container.flex-container {
      justify-content: center;
    }
    .copp__vacancies-header {
      padding: 15px;
      margin-top: 85px;
    }
    .copp__vacancies-nav ul{
      list-style: none;
      padding-left: 0;
    }
    .copp__vacancies-nav li{
      display: inline;
    }
    .copp__vacancies-nav li a:not(.v-breadcrumbs__item--disabled){
      font-weight: bold;
      color: #2d2d2d;
      text-decoration: underline;
    }
    .copp__header-title {
      color: #2d2d2d;
      font-weight: bold;
      font-size: 85px;
      line-height: 95px;
    }
    .copp__search-wrapper {
      background: inherit;
    }
    .copp__content-card {
      margin: 20px;
      width: 500px;
      padding: 15px;
    }
    .copp__img-card {
      object-fit: cover;
      width: 150px;
      height: 150px;
      margin-right: 16px;
    }
    .card_flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .card_flex-container:first-of-type {
      height: 180px;
    }
    .v-card__title {
      color: #2d2d2d;
      padding: 0 0 10px;
      font-size: 30px;
      line-height: 36px;
      word-break: break-word;
      text-decoration: underline;
      text-decoration-color: #909090;
      max-height: 72px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .v-card__text{
      padding-left: 0;
    }
    .v-card__text p, .copp_card-item p {
      color: #2d2d2d;
      opacity: 0.8;
    }
    .v-card__text p {
      max-height: 115px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .copp_card-item {
      width: 200px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .copp_card-item svg, .copp_details-item svg{
      fill: var(--fourth-color);
      width: 40px;
      height: 40px;
      margin-right: 5px; 
      display: block;
      flex-shrink: 0;
    }
    .details-container {
      justify-content: flex-start;
    }
    .copp_details-content {
      display: flex;
      flex-direction: column;
      max-width: 900px;
      padding-left: 10px;
    }
    .copp_details-title {
      color: #2d2d2d;
      font-size: 30px;
      line-height: 36px;
      text-decoration: underline;
      text-decoration-color: #909090;
    }
    .copp__img-details {
      max-height: 300px;
      max-width: 300px;
      margin: 15px 0;
    }
    .copp_details-item-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .copp_details-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .copp_details-description, .copp_details-item p {
      color: #2d2d2d;
      opacity: 0.8;
    }
    .copp_details-description {
      margin: 15px 0;
    }
  
    .background-for-header--top::after {
      bottom: -13px;
    }
    @media screen and (max-width: 768px) {
	.copp__content-card {
	    width: 350px;
	}
	.card_flex-container {
	    flex-wrap: wrap;
	}
	.card_flex-container:first-of-type {
	    height: unset;
	    flex-wrap: wrap;
	}
    }
      
  
  </style>
