<div id="digitalLearningMaterials-list" class="hidden">
	<div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
	  <p>Загрузка</p>
	</div>
  
	<h2>Цифровые учебные материалы</h2>
	<div class="digitalLearningMaterials_page" v-if="digitalLearningMaterials.length">
	  <v-app>
		<v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
		  :multi-line="true">
		  {{ snack.text }}
		  <v-btn color="white" text @click="snack.view = false">
			Закрыть
		  </v-btn>
		</v-snackbar>
		<v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0 ">
		  <template v-slot:top>
			<v-toolbar flat color="white">
			  <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
			  <v-spacer></v-spacer>
			  <v-dialog v-model="dialog" width="900">
				<template v-slot:activator="scope">
				  <!-- <v-btn color="primary" dark class="mb-2" v-on="on">Добавить</v-btn> -->
				  <v-menu top offset-y>
					<template v-slot:activator="menu">
					  <v-btn color="primary" dark v-on="menu.on">
						Добавить
					  </v-btn>
					</template>
  
					<v-list>
					  <v-list-item v-for="(item, index) in typeList" :key="index" v-on="scope.on"
						@click="editedItem.type = item.type">
						<v-list-item-title>{{ item.name }}</v-list-item-title>
					  </v-list-item>
					</v-list>
				  </v-menu>
				</template>
				<v-card>
				  <v-card-title>
					<span v-if="editedItem.type" class="headline">{{ editedItem.type }}</span>
				  </v-card-title>
				  <v-card-text>
  
  
  
  
  
					<v-form v-model='valid' id="form" method="post" enctype="multipart/form-data">
					  <v-container>
						<v-text-field name="id" v-model="editedItem.id" class="d-none"></v-text-field>
						<v-row>
						  <v-col class="w-auto" cols="12">
							<v-text-field id="title" name="name" v-model="editedItem.name" label="Название"
							  :rules="[rules.required, rules.max250]">
							</v-text-field>
						  </v-col>
						</v-row>
						<!-- <v-row>
							<v-col>
							  <v-file-input id="img" name="image" v-model="editedItem.image" label="Превью (jpeg, jpg, png)" :rules="[rules.maxSize1]" hint="Файл не более 1MB" persistent-hint
								prepend-icon="mdi-camera" accept="{{accept.image}}"></v-file-input>
							</v-col>
						  </v-row> -->
						<v-row>
						  <v-col cols="12">
							<v-textarea id="text" name="text_area" :rows="20" :no-resize="true"
							  v-model="editedItem.text_area" label="Текст" v-if="editedItem.type == 'homework' ||
								editedItem.type == 'longread' ||
								editedItem.type == 'file' ||
								editedItem.type == 'distanceCourse' ||
								editedItem.type == 'textFile' ||
								editedItem.type == 'presentation'"></v-textarea>
  
							<!-- <div id="testText" v-model="editedItem.text_area"></div> -->
							<!-- <ckeditor id="text" name="text_area" :editor="editor" v-model="editedItem.text_area"
							@ready="onEditorReady($event, editedItem.text_area)" :config="editorConfig" v-if="editedItem.type == 'homework' ||
							editedItem.type == 'longread' ||
							editedItem.type == 'file' ||
							editedItem.type == 'distanceCourse' ||
							editedItem.type == 'textFile' ||
							editedItem.type == 'presentation'"></ckeditor> -->
						  </v-col>
						  </v-col>
						</v-row>
						<v-row v-if="editedItem.type == 'link'">
						  <v-col>
							<v-text-field  name="link" v-model="editedItem.link" label="Ссылка"
							   :rules="[rules.required, rules.max250]">
							</v-text-field>
						  </v-col>
						</v-row>
						<!-- <v-row>
							<v-col cols="12">
							  <v-select name="tags" v-model="editedItem.tags" :items="lists.tags" item-value="id"
								item-text="name" label="Теги" hint="Выберите теги" multiple chips light persistent-hint>
							  </v-select>
							</v-col>
						  </v-row> -->
						<!-- <v-row>
							<v-col cols="12">
							  <v-file-input id="imgs" name="images" v-model="editedItem.images" :show-size="true" hint="Файлы в сумме не более 10MB" persistent-hint
								:rules="[rules.counter, rules.maxSize10]" chips label="Изображения (jpeg, jpg, png)"
								accept="{{accept.image}}" multiple prepend-icon="mdi-image-multiple"></v-file-input>
							</v-col>
						  </v-row> -->
						<v-row>
						  <v-col cols="12" v-if="editedItem.type == 'file' ||
												   editedItem.type == 'distanceCourse' ||
												   editedItem.type == 'textFile' ||
												   editedItem.type == 'presentation' ||
												   editedItem.type == 'video'">
							<v-file-input id="fls" name="files" v-model="editedItem.files" :show-size="true"
							  :rules="[rules.counter, rules.maxSize10]" label="Файлы" accept="{{accept.file}}" >
							</v-file-input>
						  </v-col>
						</v-row>
					  </v-container>
					</v-form>
  
  
  
  
  
  
  
				  </v-card-text>
  
				  <v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark @click.stop="dialog = false">Отменить</v-btn>
					<v-btn color="primary" dark :class="{'disabled' : !valid}" @click.stop="save">Сохранить</v-btn>
				  </v-card-actions>
				</v-card>
			  </v-dialog>
			</v-toolbar>
		  </template>
		  <template v-slot:item.action="{ item }">
			<v-icon small class="mr-2" @click="editItem(item)">
			  mdi-pencil
			</v-icon>
			<v-icon small @click="deleteItem(item)">
			  mdi-delete
			</v-icon>
		  </template>
		</v-data-table>
	  </v-app>
	</div>
  </div>
  
  
  <script>
	Vue.use(CKEditor)
	var digitalLearningMaterials = new Vue({
	  el: '#digitalLearningMaterials-list',
	  vuetify: new Vuetify({
		lang: {
		  locales: {
			ru: ruLocale
		  },
		  current: 'ru'
		}
	  }),
	  data: {
		snack: {
		  view: false,
		  text: '',
		  color: '',
		  timeout: 6000,
		},
		valid: false,
		hasImage: false,
		loading: 1,
		digitalLearningMaterials: [],
		dialog: false,
		editor: ClassicEditor,
		typeList: [
		  {
			name: 'Вложенный файл',
			type: 'file'
		  },
		  {
			name: 'Дистанционный курс',
			type: 'distanceCourse'
		  },
		  {
			name: 'Текстовый файл',
			type: 'textFile'
		  },
		  {
			name: 'Внешняя ссылка',
			type: 'link'
		  },
		  {
			name: 'Презентация',
			type: 'presentation'
		  },
		  {
			name: 'Лонгрид',
			type: 'longread'
		  },
		  {
			name: 'Домашнее задание',
			type: 'homework'
		  },
		  // {
		  //   name: 'Опрос',
		  //   type: 'poll'
		  // },
		  // {
		  //   name: 'Тест',
		  //   type: 'test'
		  // },
		  {
			name: 'Видео',
			type: 'video'
		  },
		  // {
		  //   name: 'Электронные учебно-методические комплексы',
		  //   type: 'trainingComplex'
		  // },
		  // {
		  //   name: 'Оценочные средства',
		  //   type: 'evaluationTools'
		  // },
		  // {
		  //   name: 'Виртуальные тренажеры',
		  //   type: 'virtualSimulators'
		  // },    
		],
		editorConfig: {
		  toolbar: ['bold', 'italic', '|', 'link'],
		  onReady: this.onEditorReady
		},
		editedIndex: -1,
		accept: {
		  image: ".jpg,.png,.jpeg",
		  file: ".doc,.docx,.pdf,.ppt,.pptx,.xls,.xlsx,.zip"
		},
		headers: [
		  {
			text: 'Название ресурса', value: 'name'
		  },
		  // {
		  //   text: 'Дата создания', value: 'create_date'
		  // },
		  // {
		  //   text: 'Имя создателя', value: 'user_creator'
		  // },
		  // {
		  //   text: 'Дата изменения', value: 'modification_date'
		  // },
		  // {
		  //   text: 'Имя изменившего', value: 'user_modifier'
		  // },
		  {
			text: 'Действия', value: 'action', sortable: false
		  },
		],
		searchInput: '',
		editedItem: {
		  id: '',
		  type: '',
		  name: '',
		  link: '',
		  image: [],
		  text_area: '',
		  files: [],
  
		},
		defaultItem: {
		  id: '',
		  type: '',
		  name: '',
		  link: '',
		  image: [],
		  text_area: '',
		  files: [],
  
		},
		rules: {
		  required: value => !!value || 'Необходимо заполнить',
		  max250: value => value.length <= 250 || 'Не более 250 файлов',
		  email: value => {
			const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
			return pattern.test(value) || 'Введите корректный e-mail'
		  },
	  maxSize1: value => !value.size || value.size < 1000000 || 'Файлы не более 1 MB!',
	  maxSize10: value => {
		if (value.length === 0) return true;
		let size = value.reduce((acc, item) => {
		  return acc + item.size
		}, 0)
		if (size < 10000000) return true;
		return 'Файлы в сумме не более 10 MB!'
	  }
		}
	  },
  
	  methods: {
		onEditorReady(editor, data) {
		  //console.warn('ready');
		  this.editor = editor;
		  editor.setData(data);
		  editor.model.document.on('change:data', () => data = editor.getData())
		  setTimeout(() => { $('.ck-editor').css('width', '100%'); }, 100);
		},
		close() {
		  // if (document.querySelector( '.ck-editor__editable' ).ckeditorInstance) document.querySelector( '.ck-editor__editable' ).ckeditorInstance.destroy();
		  setTimeout(() => {
			this.editedItem = Object.assign({}, this.defaultItem)
			this.editedIndex = -1
		  }, 300)
		},
  
		postImage(id, form) {
  
		  form.append('obj_id', id);
  
		  $.ajax({
			method: "POST",
			data: form,
			contentType: false,
			processData: false,
			url: "custom_web_template.html?object_id=6756526957381878164",
			success: (response) => {
			  console.warn(JSON.parse(response))
			  response = JSON.parse(response);
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + response.error);
			  } else {
				this.setSnackMessage("green", "Ресурс добавлен/изменен.");
			  }
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + err); },
		  })
  
		},
  
		save() {
		  // document.querySelector('#text').value = document.querySelector('.ck-editor__editable').ckeditorInstance.getData()
		  let fd = new FormData;
		  let form = document.querySelector("#form");
		  let formdata = new FormData(form);
		  // formdata.delete("files");
		  // document.querySelectorAll("input").forEach(item => $(item.files).each((index, file) => formdata.append(item.name + index, file)));
  
		  // formdata.append('id', this.editedItem.id)
		  console.warn('Отправка ----', this.editedItem)
		  for (var pair of formdata.entries()) {
			console.log(pair[0] + ', ' + pair[1]);
		  }
		  // fd.append("img", formdata.get("image"));
		  $.ajax({
			method: "POST",
			data: formdata,
			contentType: false,
			processData: false,
			url: "custom_web_template.html?object_id=6756526957381878164",
			success: (response) => {
			  response = JSON.parse(response);
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + response.error);
			  } else {
				this.setSnackMessage("green", "Ресурс добавлен/изменен.");
			  }
			  this.getdigitalLearningMaterials()
			  if (fd.get("img").size > 0) this.postImage(response.id, fd);
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + err); },
  
		  })
  
		  this.dialog = false
		},
		setSnackMessage: function (color, text) {
		  console.log(this.snack)
		  this.snack.color = color;
		  this.snack.text = text;
		  this.snack.view = true;
		},
		getdigitalLearningMaterials() {
		  this.loading = 1;
		  $.ajax({
			url: "custom_web_template.html?object_id=6756526957381878164",
			success: (response) => {
			  console.warn(JSON.parse(response));
			  try {
				this.digitalLearningMaterials = JSON.parse(response).data;
				this.loading = 0;
			  } catch (err) { this.setSnackMessage("red", "Ошибка при загрузке списка ресурсов: " + err); this.loading = 0 }
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке списка ресурсов: " + err); this.loading = 0 }
		  });
		},
		editItem(item) {
		  this.editedIndex = this.digitalLearningMaterials.indexOf(item);
		  $.ajax({
			method: "GET",
			url: `custom_web_template.html?object_id=6756526957381878164&id=${item.id}`,
			success: (response) => {
			  response = JSON.parse(response);
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при открытии ресурса: " + response.error);
			  }
			  this.dialog = true;
			  if (!this.editor && text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.onEditorReady(editor, this.editedItem.text_area); });
			  this.editedItem = Object.assign(this.editedItem, response.infoDocInfo)
			  this.dialog = true
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при открытии ресурса: " + err); }
		  })
  
		},
		deleteItem(item) {
		  // const index = this.collaborators.indexOf(item)
		  if (confirm('Удалить организацию?')) {
			$.ajax({
			  method: "POST",
			  data: JSON.stringify(item),
			  url: "custom_web_template.html?object_id=6756526957381878164&delete",
			  success: (response) => {
				response = JSON.parse(response);
				if (response.error) {
				  this.setSnackMessage("red", "Ошибка при удалении ресурса: " + response.error);
				} else {
				  this.setSnackMessage("green", "Справочный ресурс удален");
				}
				this.getdigitalLearningMaterials()
			  },
			  error: (err) => { console.log('error', err) }
  
			})
		  }
		},
		offEditor() {
		  if (this.editor) this.editor.destroy();
		  this.editor = false;
		},
  
		onEditorReady(editor) {
		  this.editor = editor;
		  editor.setData(data);
		  setTimeout(() => { $('.ck-editor').css('width', '100%'); }, 100);
		},
  
		onEditorFocus(event) {
		  console.warn(event)
		},
  
		onEditorRules(event) {
		  console.warn(event)
  
		},
	  },
  
	  mounted() {
		this.getdigitalLearningMaterials();
		$("#digitalLearningMaterials-list").removeClass("hidden");
	  },
	  computed: {
		filteredList: function () {
		  return this.digitalLearningMaterials.filter(doc => {
			for (var key in doc) {
			  if (doc[key].toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1) {
				return true
			  };
			}
		  })
		}
	  },
	  watch: {
		dialog(val) {
		  if (val === false) {
			this.close()
			// this.offEditor()
		  }
		  if (val === true) {
			// let text = document.querySelector("#text");
			// if (text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.onEditorReady(editor, this.editedItem.text_area); });
			// let text = document.querySelector("#text");
			// if (!this.editor && text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.editor = editor; editor.setData(this.editedItem.text_area) });
		  }
		}
	  }
  
	});
  
  </script>
  
  
  
  <style>
	.digitalLearningMaterials_page input {
	  border: none !important;
	  box-shadow: none !important;
	}
  
	.digitalLearningMaterials_page textarea {
	  border: none !important;
	  box-shadow: none !important;
	}
  
	.hidden {
	  display: none;
	}
  
	.disabled {
	  pointer-events: none;
	  opacity: .6;
	}
  
	.v-application--wrap header {
	  position: static
	}
  
	.v-application--wrap {
	  min-height: 100%
	}
  
	#loading:not(.hidden) {
	  width: 100%;
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1;
	  background-color: rgba(255, 255, 255, .7);
	  font-size: 2em;
	}
  
	#loading.animation p {
	  position: relative;
	}
  
	#loading.animation p:before {
	  position: absolute;
	  content: "";
	  left: calc(100% + 5px);
	  top: 0;
	  width: 40px;
	  height: 100%;
	  display: flex;
	  align-items: center;
	  animation: preloading 2s linear infinite;
	}
  
	@keyframes preloading {
	  0% {
		content: ".";
	  }
  
	  50% {
		content: "..";
	  }
  
	  100% {
		content: "...";
	  }
	}
  
	h2 {
	  color: #1c6186;
	  font-weight: bold;
	  font-size: 34px;
	}
  
  
	#request-page {
	  padding-bottom: 20px;
	}
  </style>