<link href="/styles/materialdesignicons.min.css" rel="stylesheet">
<link href="/styles/vuetify.min.css" rel="stylesheet">

<%
portal = '69'; // 16 - тулун, 34 - волгоград, 69 - тверь

colors = {
	'16': [], 
	'34': ['#f6f6f5', '#cbebfa', '#007fbd', '#00334e'], 
	'69': ['#c7b198', '#dfd3c3', '#596e79', '#2d2d2d']
	};

%>

<style>
	:root {
		--first-color: <%=colors[portal][0]%>;
		--second-color: <%=colors[portal][1]%>;
		--third-color: <%=colors[portal][2]%>;
		--fourth-color: <%=colors[portal][3]%>;
	}

	@font-face {
	font-family: 'ProximaNova';
	src:url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
	@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
	@font-face {
	font-family: 'ProximaNovaXBold';
	src: url('../fonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
	body * {
	    font-family: 'ProximaNova';
	    font-size: 16px;
	}
	b, strong, .bold, .text-bold {
	    font-family: 'ProximaNovaBold';
	}
	.bolder, .text-bolder {
	    font-family: 'ProximaNovaXBold';
	}
	.fa, .fas, .far {
	    font-family: 'Font Awesome 5 Free';
	}

/* cloak */

  [v-cloak] {
    display: none;
  }

/*  */

  .hidden {
	display: none;
  }

  .XAML-template-doc,
  .cssXPSPXMLScreen {
	padding: 20px 5px;
	background-color: rgba(255,255,255,.9);
  }

  #wt-container > .navigation {
	display: none;
  }

  h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'ProximaNovaXBold';
  }
  @media (max-width: 768px) {
  #content h1 {
	font-size: 300%;
  }
  #content h2 {
	font-size: 275%;
  }
  #content h3 {
	font-size: 250%;
  }
  #content h4 {
	font-size: 225%;
  }
  #content h5 {
	font-size: 200%;
  }
  #content h6 {
	font-size: 175%;
  }
  #content h7 {
	font-size: 150%;
  }
  }

  .theme--light.v-application {
	background: none;
  }

  .page {
	min-height: 100vh;
	padding: .01em;
  }

  .page-content {
	padding-top: 100px;
  }

  @media (max-width: 768px) {
  .page-content {
	padding-top: 30px;
  }
  }

  #wt-zone-footer {
	display: none;
  }


  /* СТРАНИЦА my_cabinet - Дашборд */



  .mode-my_cabinet * {
	font-weight: 700;
  }
  .mode-my_cabinet .page {
	background: none;
	background-color: #fff;
  }
  .mode-my_cabinet .navigation {
	background: url("../images/epk/clip_<%=portal%>.png") -200px 0px / 1400px repeat-y;
	background-color: var(--second-color);
  }
  .mode-my_cabinet .navigation .v-list-group__items {
	width: 100%;
  }
  .mode-my_cabinet .navigation .v-list-group--sub-group > div {
	padding-left: 16px;
  }
  .mode-my_cabinet .navigation .v-list-group .v-list-group__items {
	padding-left: 10px;
  }


  /* СТРАНИЦЫ ..._list - Информация для неавторизованных */

.mode-my_cabinet .v-breadcrumbs li:first-child,
.mode-my_cabinet .v-breadcrumbs li.v-breadcrumbs__divider:nth-child(2) {
  display: none;
}
.catalog__result-text {
  position: relative;
}
.catalog__result-text:before {
  content: '';
  z-index: -1;
  width: 100vw;
  height: calc(100vh + 20px);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/epk/clip_<%=portal%>.png) 50vw 100% / 1400px no-repeat;
  background-color: var(--second-color);
}


  /* СТРАНИЦА - помощи в дашборде */

/* help */
  .copp__help .title_help .fa {
	font-size: 35px;
	margin-right: 10px;
	color: var(--third-color);
  }
  .copp__help .title_help {
	color: var(--third-color);
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	background: var(--second-color);
	padding: 0 10px;
	font-weight: 400;
  }
  .copp__help .title_help > div {
	align-items: center;
  }
  .copp__help .title_help p {
	padding-right: 10px;
	margin: 10px 0;
	font-size: 1.3em;
  }
  .copp__help .help-txt {
	padding: 10px;
	font-size: 16px;
  }

  .copp__help .help-txt a, .copp__help .help-txt a:visited{
	color: var(--third-color);
	text-decoration: none;
  }
  .copp__help .drop_text_help p {
	margin-top: 0;
  }
  .copp__help .drop_text_help p,
  .copp__help .drop_text_help li {
	font-weight: 100;
	font-size: 18px;
  }
  .copp__help .drop_text_help {
	display: none;
	margin: 0 45px 20px 45px;
  }


  /* Мультиселект */

  /*  
      <v-select
        class="copp__multiselect"
        :items="elements"
        attach
        multiple
        solo
        label="Текст для Select'a"
      ></v-select>
  */

  .copp__multiselect input[type="text"] {
    background: none;
    border: none;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    color: rgba(0,0,0,.54);
  }
  .copp__multiselect .v-input {
    border-radius: 0;
    height: 40px;
  }
  .copp__multiselect .v-text-field.v-text-field--solo .v-input__control {
    min-height: 40px;
  }
  .copp__multiselect .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: none !important;
  }
  .copp__multiselect .v-text-field__details {
    display: none;
  }
  .copp__multiselect .v-icon, 
  .copp__multiselect .v-list-item--active .v-icon {
    color: var(--third-color);
  }
  .copp__multiselect .v-list {
    padding: 0;
  }
  .copp__multiselect .v-menu__content,
  .copp__multiselect .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 0;
  }
  .copp__multiselect .v-list-item--link:before {
    background: white;
  }
  .copp__multiselect .v-list-item--active:before,
  .copp__multiselect .v-list-item:hover:before, 
  .copp__multiselect .v-list-item:focus:before {
    background: var(--second-color);
    opacity: .5;
  }
  .copp__multiselect .v-list-item .v-list-item__title { z-index: 5; }
  .copp__multiselect .mdi-menu-down::before {
    content: '';
    width: 15px;
    height: 15px;
    border-top: 4px solid var(--third-color);
    border-left: 4px solid var(--third-color);
    transform: rotate(-135deg) translate(15%, 10%);
  }
  .copp__multiselect .v-list-item__content {
    padding: 12px 10px 12px 10px;
  }
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: none;
    border-radius: 0;
    height: 75px;
    padding: 15px;
  }


    /* Строка поиска с значком "Лупа" */

  /*  

    <div class="copp__search-wrapper">
      <svg viewBox="0 0 35 44" width="25px" height="40px" class="magnifier"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#magnifier"></use></svg>
      <input class="copp__search-input" type="search" placeholder="Текст">
    </div>

  */

  .copp__search-wrapper {
    position: relative;
    display: flex;
    background: white;
  }
  .copp__search-wrapper input[type="search"] {
    background: white;
    padding: 15px 50px 15px 15px ;
    width: 100%;
    height: 75px;
     border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
  }
  .copp__search-wrapper{ position: relative; }
  .copp__search-wrapper .magnifier { 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
    pointer-events: none;
  }


  /* Пагинация */

  /*  

      <v-pagination 
      class="copp__pagination"
      v-model="page"
      class="my-4"
      :length="4"
    ></v-pagination>

  */

  .v-pagination {
    justify-content: flex-start;
  }
  .copp__pagination.theme--light.v-pagination .v-pagination__navigation {
    padding: 10px;
    width: auto;
    height: auto;
  }
  .copp__pagination.theme--light.v-pagination .v-pagination__item {
    background-color: var(--second-color);
    border-radius: 0;
    padding: 17px 25px 35px 25px;
  }
  .copp__pagination.theme--light.v-pagination .v-pagination__item--active {
    background-color: var(--third-color);
  }


  /* Карточка (с загнутым уголком) */

  /*

    <v-card class="copp__content-card"></v-card> 

  */

  .copp__content-card {
    width: 350px;
    border-radius: 0 !important;
    position: relative;
    clip-path: polygon(100% 0, 100% calc(100% - 92px), calc(100% - 92px) 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 92px), calc(100% - 92px) 100%, 0 100%, 0 0);
    margin: 0;
    padding: 30px;
  }
  .copp__content-card:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: var(--third-color);
    right: 0;
    bottom: 0;
    border-top: 92px solid var(--third-color);
    border-right: 92px solid transparent;
  }
  .copp__content-card:before {
    content: '';
    background: url(../images/epk/020-arrow_<%=portal%>.svg) no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .copp__content-card.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border: 8px solid var(--third-color);
  }

  @media (max-width: 768px) {
    .copp__content-card {
      clip-path: polygon(100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 0);
      -webkit-clip-path: polygon(100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 0);
    }

    .copp__content-card:after {
      border-top: 50px solid var(--third-color);
      border-right: 50px solid transparent;
    }
  }


  /* Дата и время */

  .copp__card-date > p {
    color: var(--third-color);
  }


  /* Иконки */

  .copp__card-item svg {
    fill: var(--third-color);
  }







  /* Кнопка (серая)  */

  /*

    <div class="copp__btn">Подробнее</div>

  */

  .btn,
  .btn.details {
    background-color: var(--third-color);
  }
  .btn:hover,
  .btn.details:hover {
    outline: 4px solid var(--third-color);
    color: var(--third-color);
  }
  .copp__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 0 15px;
    border-radius: 0;
    background-color: var(--third-color);
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: all .1s linear;
  }
  .copp__btn:hover {
    outline: 4px solid var(--third-color);
    outline-offset: -4px;
    background: white;
    color: var(--third-color);
  }
   .copp__btn:visited {
     color: #ffffff;
   }


     /* Прелоадер  */

  /*

    <div v-if="preloader" class="preloader__wrapper">
      <v-progress-circular
      :indeterminate="true"
      :rotate="0"
      :size="100"
      :width="10"
      color="var(--third-color)"
      ></v-progress-circular>
    </div>

  */

  .preloader__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--second-color);
  }
   .preloader__wrapper .v-progress-circular {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
   }



     /* Кнопки (vuetify)  */

  #wt-container .v-application .primary {
    background-color: var(--third-color) !important;
    border-color: var(--third-color) !important;
  }
  /*input[type=button]:hover, input[type=submit]:hover, button:hover, a.button:hover {
	
  }*/

	.background-for-header--top {
		position: relative;
	}

	.background-for-header--top::after {
    content: '';
    z-index: -1;
    width: 100vw;
    height: calc(100vh + 20px);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/epk/clip_<%=portal%>.png) 50vw 100% / 1400px no-repeat;
    background-color: var(--second-color);
	}

  .background-for-header--bottom {
	position: relative;
  }

  .background-for-header--bottom::before {
	content: '';
	z-index: -2;
	width: 100vw;
	height: 5000px;
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
  }


  /* Аватарки, текст на карточке  */

 
  .v-card col p {
	color: var(--third-color);
  }


  /* текст на инпутах  */
  #app .primary--text {
	color: var(--third-color) !important;
	caret-color: var(--third-color) !important;
  }

.btn-excell:hover .v-icon {
	color: green !important;
}
.btn-word:hover .v-icon {
	color: #1976d2 !important;
}
@media (max-width: 768px) {
.btn-word {
	height: auto;
}
}



/* --------------------- Личный кабинет ----------------- */

#vue-page-cabinet .page-content {
  padding: 0 0 8px 0;
}
#vue-page-cabinet .flex-container {
  display: flex;
  flex-wrap: wrap;
}
#vue-page-cabinet .flex-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#vue-page-cabinet #app {
  background: unset;
  color: inherit;
}
#vue-page-cabinet input[type=text],
#vue-page-cabinet input[type=password] {
  border: none;
  border-radius: unset;
  box-shadow: unset;
  background: var(--second-color);
}
#vue-page-cabinet input[type=text]:focus,
#vue-page-cabinet input[type=email]:focus,
#vue-page-cabinet input[type=password]:focus {
  border: 4px solid #2d2d2d;
  border-radius: unset;
}
#vue-page-cabinet .copp__multiselect input[type=text]:focus {
  border: none;
}
.v-text-field>.v-input__control>.v-input__slot:after {
  border: none;
}
#vue-page-cabinet .copp__page-header {
  padding: 15px 0;
  /*margin-top: 60px;*/
}
#vue-page-cabinet .copp__page-header .flex-item div:not(.copp__btn) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  padding: 0 15px;
  border-radius: 0;
  cursor: pointer;
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 500;
  transition: all .1s linear;
}
#vue-page-cabinet .copp__header-title {
  color: #2d2d2d;
  font-weight: bold;
  margin: 30px 0 40px;
  font-size: 30px;
  line-height: 36px;
}
#vue-page-cabinet .copp__search-wrapper input {
  background: var(--second-color) !important;
  padding: 15px 50px 15px 15px;
  width: 100%;
  height: 75px;
}
#vue-page-cabinet textarea {
  box-shadow: unset;
  border-radius: unset;
}
#vue-page-cabinet textarea:focus {
  border: none;
}
#vue-page-cabinet .v-text-field--outlined,
#vue-page-cabinet .v-text-field--solo {
  border-radius: unset;
}
#vue-page-cabinet .theme--light.v-text-field--outlined fieldset {
  border: 4px solid var(--second-color);
}
#vue-page-cabinet .copp__multiselect .v-list-item__content {
  color: #2d2d2d;
}
#vue-page-cabinet .card_flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*margin-top: 5px;*/
}
#vue-page-cabinet .v-card__text,
#vue-page-cabinet .v-card__title {
  word-break: break-word;
  padding: 0px;
}
#vue-page-cabinet .v-card__title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}
#vue-page-cabinet .copp__content-card {
  width: 280px;
  padding: 15px;
  margin-bottom: 10px;
  clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
}
#vue-page-cabinet .copp__multiselect .v-input__slot {
  background: var(--second-color) !important;
  border-radius: unset;
  margin: 0;
}
#vue-page-cabinet .theme--light.v-label {
  color: #2d2d2d;
}
#vue-page-cabinet .main-container {
  display: flex;
  max-width: 600px !important;
  flex-direction: column;
}
#vue-page-cabinet .card-content {
  padding: 0 20px;
}
#vue-page-cabinet .copp__img-container {
  width: 300px;
}

#vue-page-cabinet .copp__img-card.no-image > .v-image__image {
  /*width: 250px;
  height: 250px;*/
  background-image: url('../images/epk/nophoto-<%=portal%>.png');
  background-size: cover;
  filter: unset;

}

#vue-page-cabinet .flex-item svg {
  fill: #2d2d2d;
  width: 25px;
  height: 40px;
  margin: 0 5px 0 0;
  display: block;
  flex-shrink: 0;
}
#vue-page-cabinet .flex-item .copp__btn:not(:hover) svg {
  fill: #ffffff;
}
#vue-page-cabinet .v-card__text p span {
  margin-left: 50px;
}
#vue-page-cabinet .copp__multiselect-classifier {
  align-items: flex-end;
}
#vue-page-cabinet .copp__multiselect-classifier .v-text-field {
  margin: 0;
  padding: 0;
}
#vue-page-cabinet .copp__multiselect-classifier .v-select > .v-input__control > .v-input__slot {
  min-height: 75px;
  padding: 15px;
}
#vue-page-cabinet .copp__multiselect-classifier .v-text-field > .v-input__control > .v-input__slot:before {
  border: none;
}
#vue-page-cabinet .copp__multiselect-classifier .copp__btn {
  margin-bottom: 8px;
}
#vue-page-cabinet .copp__content-card:after {
  border-top: 60px solid var(--third-color);
  border-right: 60px solid transparent;
}
#vue-page-cabinet .v-input--switch__track.accent--text, #vue-page-cabinet .v-input--switch__thumb.accent--text {
  color: var(--second-color) !important;
  caret-color: var(--second-color) !important;
}
  #vue-page-cabinet .copp_img-and-nav {
    display: flex;
    padding-top: 30px;
    flex-wrap: wrap;
  }
  #vue-page-cabinet .flex-button {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    justify-content: center;
    padding: 0 15px;
    cursor: pointer;
    font-size: 17px;
  }
  #vue-page-cabinet .main-container .row > div {
    padding: 0 10px 10px 0;
  }
  #vue-page-cabinet .row {
    margin: 0;
  }
@media screen and (min-width: 1200px) {
    #vue-page-cabinet .copp_cabinet-content{
        width: 900px;
	margin: 0 auto;
    }
  #vue-page-cabinet .copp_img-and-nav {
    height: 80px;
    width: 890px;
    margin: 0 auto;
  }
  #vue-page-cabinet .main-content {
    max-width: 575px;
    margin: 0 25px 0 auto;
  }

}
@media screen and (min-width: 601px) and (max-width: 1199px) {
  #vue-page-cabinet .copp__header-title {
    text-align: right;
  }
  #vue-page-cabinet .copp__header-title:nth-child(1) {
    margin-top: 0;
  }
  #vue-page-cabinet .main-content {
    margin: -60px 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  #vue-page-cabinet .flex-item, .flex-button {
    width: 100% !important;
  }
  #vue-page-cabinet .flex-button:not(.copp__btn) {
    justify-content: left;
  }
}

@media screen and (max-width: 1199px) {
  #vue-page-cabinet .flex-item {
    width: 242px;
    height: 170px;
  }
  #vue-page-cabinet .copp_img-and-nav {
    margin: 0 auto;
    max-width: 600px;
  }

}
@media screen and (min-width: 1200px) {

  #vue-page-cabinet .v-application ul {
    margin-bottom: 30px;
  }
}






</style>