<div id="orgs-list" class="hidden">
	<div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
	  <p>Загрузка</p>
	</div>
  
	<h2>Список организаций</h2>
	<div v-cloak class="orgs_page">
	  <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
		:multi-line="true">
		{{ snack.text }}
		<v-btn color="white" text @click="snack.view = false">
		  Закрыть
		</v-btn>
	  </v-snackbar>
	  <v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0"
		:footer-props="{ itemsPerPageText: 'строк на странице' }">
		<template v-slot:top>
		  <v-toolbar flat color="white">
			<v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
			<v-spacer></v-spacer>
			<v-dialog v-model="dialog" width="900" @click:outside="[event ? close() : '']"
			  @keydown="[event.keyCode == 27 ? close() : '']">
			  <template v-slot:activator="{ on }">
				<v-btn color="primary" dark class="mb-2" @click="addNew()">Добавить</v-btn>
			  </template>
			  <v-card>
				<v-card-title>
				  <span class="headline">{{ formTitle }}</span>
				</v-card-title>
				<v-card-text>
				  <v-form v-model='valid'>
					<v-container>
					  <h4>Данные организации</h4>
					  <v-divider></v-divider>
					  <v-row>
						<v-col>
						  <v-file-input name="image" prepend-icon="mdi-camera" v-model="editedItem.image"
							:rules="[rules.maxSize1]" accept="{{accept.image}}" label="Изображения (jpeg, jpg, png)" hint="Файл не более 1MB" persistent-hint
							id="uploadimage">
						  </v-file-input>
						</v-col>
					  </v-row>
  
					  <v-row>
						<v-col cols="12" sm="6" md="4">
						  <v-text-field v-model="editedItem.code" label="ИНН"
							:rules="[rules.required, rules.numbers, rules.max20, rules.max100]">
						  </v-text-field>
						</v-col>
						<v-col cols="12" sm="6" md="4">
						  <v-text-field v-model="editedItem.name" :rules="[rules.required, rules.max100]"
							label="Полное название">
						  </v-text-field>
						</v-col>
						<v-col cols="12" md="4">
						  <v-text-field v-model="editedItem.disp_name" label="Сокращенное название"
							:rules="[rules.max100]">
						  </v-text-field>
						</v-col>
					  </v-row>
					  <v-row>
						<v-col cols="12" sm="6" md="4">
						  <v-text-field id="suggest1" v-model="editedItem.postal_address" label="Фактический адрес"
							:rules="[rules.max100]">
						  </v-text-field>
						</v-col>
						<v-col cols="12" sm="6" md="4">
						  <v-text-field id="suggest2" v-model="editedItem.legal_address" label="Юридический адрес"
							:rules="[rules.max100]">
						  </v-text-field>
						</v-col>
						<v-col cols="12" md="4">
						  <v-text-field v-model="editedItem.web" label="Сайт организации" :rules="[rules.max100]">
						  </v-text-field>
						</v-col>
					  </v-row>
					  <v-row>
						<v-col cols="12" md="6" v-if="editedIndex == -1">
						  <v-select :items="obraz" label="Тип образовательной организации" v-model="editedItem.is_educ"
							:rules="[rules.required, rules.max100]">
						  </v-select>
						</v-col>
						<v-col>
						  <v-autocomplete label="ОКВЭД" multiple :rules="[rules.max100]" v-model="editedItem.OKVED">
						  </v-autocomplete>
						</v-col>
					  </v-row>
					  <v-autocomplete :items="colls_options" label="Представитель организации" item-text="fullname"
						:rules="[rules.required, rules.max100]" item-value="id" v-model="editedItem.responsable.id"
						v-if="!newResponsable">
					  </v-autocomplete>
					  <v-checkbox v-model="newResponsable" label="Создать нового представителя"
						@change="editedItem.responsable.id = ''"></v-checkbox>
					  <v-container v-if="newResponsable">
						<h4>Данные ответственного</h4>
						<v-divider></v-divider>
						<v-row>
						  <v-col cols="12" sm="6">
							<v-text-field v-model="editedItem.responsable.login" :rules="[rules.required, rules.max100]"
							  label="Логин">
							</v-text-field>
						  </v-col>
						  <v-col cols="12" sm="6">
							<v-text-field v-model="editedItem.responsable.password"
							  :rules="[rules.required, rules.min8, rules.max100]" label="Пароль">
							</v-text-field>
						  </v-col>
						</v-row>
						<v-row>
						  <v-col cols="12" sm="6" md="4">
							<v-text-field v-model="editedItem.responsable.firstname"
							  :rules="[rules.required, rules.max100]" label="Имя"></v-text-field>
						  </v-col>
						  <v-col cols="12" sm="6" md="4">
							<v-text-field v-model="editedItem.responsable.lastname"
							  :rules="[rules.required, rules.max100]" label="Фамилия"></v-text-field>
						  </v-col>
						  <v-col cols="12" md="4">
							<v-text-field v-model="editedItem.responsable.middlename" label="Отчество"
							  :rules="[rules.max100]"></v-text-field>
						  </v-col>
						</v-row>
						<v-row>
						  <v-col cols="12" sm="6" md="4">
							<v-autocomplete v-model="editedItem.responsable.position.name" label="Основная должность"
							  :rules="[rules.max100]"></v-autocomplete>
						  </v-col>
						  <v-col cols="12" sm="6" md="4">
							<v-text-field v-model="editedItem.responsable.email" label="E-mail" :rules="[rules.max100]">
							</v-text-field>
						  </v-col>
						  <v-col cols="12" md="4">
							<v-text-field v-model="editedItem.responsable.phone" label="Телефон" :rules="[rules.max100]">
							</v-text-field>
						  </v-col>
						</v-row>
					  </v-container>
					  <v-row>
						<v-col cols="12">
						  <ckeditor id="text" name="desc" :editor="editor" v-model="editedItem.desc"
							@ready="onEditorReady($event, editedItem.desc)" :config="editorConfig"></ckeditor>
						</v-col>
					  </v-row>
					</v-container>
				  </v-form>
  
				</v-card-text>
  
				<v-card-actions>
				  <v-spacer></v-spacer>
				  <v-btn color="primary" dark @click.stop="dialog = false">Отменить</v-btn>
				  <v-btn color="primary" dark :class="{'disabled' : !valid}" @click.stop="save">Сохранить</v-btn>
				</v-card-actions>
			  </v-card>
			</v-dialog>
		  </v-toolbar>
		</template>
		<template v-slot:item.action="{ item }">
		  <v-icon small class="mr-2" @click="editItem(item)">
			mdi-pencil
		  </v-icon>
		  <v-icon small @click="deleteItem(item)">
			mdi-delete
		  </v-icon>
		</template>
	  </v-data-table>
  
	  <v-row v-if="orgs.length">
		<v-col cols="12" md="3" class="ml-auto" style="max-width: 150px;">
		  <button class="btn btn-excell copp__btn" @click="tableCreate(headers, orgs, 'Организации')">
			<v-icon left color="white">mdi-file-excel</v-icon> Скачать
		  </button>
		</v-col>
	  </v-row>
  
  
	</div>
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/eligrey/Blob.js/Blob.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>
  
  <script src="https://api-maps.yandex.ru/2.1/?apikey=1dc00fc8-9738-4f14-8539-212697fb1c62&lang=ru_RU"
	type="text/javascript"></script>
  <script>
	Vue.use(VueMask.VueMaskPlugin);
	Vue.use(CKEditor)
	var orgs = new Vue({
	  el: '#orgs-list',
	  vuetify: new Vuetify({
		lang: {
		  locales: {
			ru: ruLocale
		  },
		  current: 'ru'
		}
	  }),
	  data: {
		// city: 'Тверь',
		snack: {
		  view: false,
		  text: '',
		  color: '',
		  timeout: 6000,
		},
		valid: false,
		hasImage: false,
		loading: 1,
		orgs: [],
		colls_options: [],
		dialog: false,
		obraz: [
		  {
			text: 'Образовательное',
			value: 'true'
		  },
		  {
			text: 'Не образовательное',
			value: 'false'
		  }
		],
		editedIndex: -1,
		newResponsable: false,
		accept: {
		  image: ".jpg,.png,.jpeg",
		  file: ".doc,.docx,.pdf,.ppt,.pptx,.xls,.xlsx,.zip"
		},
		headers: [{
		  text: 'Название организации', value: 'name'
		}, {
		  text: 'ИНН организации', value: 'code'
		},
		{ text: 'Действия', value: 'action', sortable: false },
		],
		editor: ClassicEditor,
		editorConfig: {
		  language: "ru",
		  removePlugins: ['ImageUpload'],
		  onReady: this.onEditorReady
		},
		searchInput: '',
		editedItem: {
		  id: '',
		  is_educ: '',
		  code: '',
		  name: '',
		  disp_name: '',
		  postal_address: '',
		  legal_address: '',
		  web: '',
		  image: [],
		  OKVED: '',
		  desc: "",
		  responsable: {
			login: '',
			password: '',
			id: '',
			firstname: '',
			lastname: '',
			middlename: '',
			position: {
			  name: '',
			  id: null
			},
			email: '',
			phone: '',
		  }
		},
		defaultItem: {
		  id: '',
		  is_educ: '',
		  code: '',
		  name: '',
		  disp_name: '',
		  postal_address: '',
		  legal_address: '',
		  web: '',
		  image: [],
		  OKVED: '',
		  desc: "",
		  responsable: {
			login: '',
			password: '',
			id: '',
			firstname: '',
			lastname: '',
			middlename: '',
			position: {
			  name: '',
			  id: null
			},
			email: '',
			phone: '',
		  }
		},
		rules: {
		  required: value => !!value || 'Необходимо заполнить',
		  min8: value => value.length >= 8 || 'Не менее 8 знаков',
		  email: value => {
			const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
			return pattern.test(value) || 'Введите корректный e-mail'
		  },
		  numbers: value => {
			const pattern = /^[0-9]*$/
			return pattern.test(value) || 'Допустимы только цифры'
		  },
		  max20: value => value.length <= 20 || 'Не более 20 знаков',
		  max100: value => value.length <= 100 || 'Не более 100 знаков',
		  maxSize1: value => !value.size || value.size < 1000000 || 'Файлы не более 1 MB!',
		}
	  },
  
	  methods: {
		close() {
		  this.offEditor();
		  setTimeout(() => {
			this.editedItem = Object.assign({}, this.defaultItem)
			this.editedIndex = -1
		  }, 300)
		},
  
		save() {
		  console.warn('Отправка ----', this.editedItem)
		  this.editedItem.desc = document.querySelector('.ck-editor__editable').ckeditorInstance.getData();
		  $.ajax({
			method: "POST",
			data: JSON.stringify(this.editedItem),
			contentType: false,
			processData: false,
			url: "custom_web_template.html?object_id=6748398834638268536",
			success: (response) => {
			  response = JSON.parse(response);
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при создании/изменении организации: " + response.error);
			  } else {
				this.setSnackMessage("green", "Организация создана/изменена.");
			  }
			  console.log('prisvaevaem id', response)
			  this.editedItem.id = response.id
			  this.getOrgs()
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при создании/изменении организации: " + err) },
			complete: () => {
			  let fd = new FormData;
			  fd.append('obj_id', this.editedItem.id)
			  this.dialog = false;
			  if ($("#uploadimage").length && $("#uploadimage").prop('files')[0]) {
				let $input = $("#uploadimage");
				fd.append('img', $input.prop('files')[0]);
				$.ajax({
				  method: "POST",
				  data: fd,
				  contentType: false,
				  processData: false,
				  url: "custom_web_template.html?object_id=6753213891858355811",
				  success: (response) => {
					response = JSON.parse(response);
					if (response.error) {
					  this.setSnackMessage("red", "Ошибка при загрузке изображения: " + response.error);
					}
				  },
				  error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке изображения: " + err); }
				})
			  }
			}
  
		  })
  
		  this.close()
		},
		offEditor() {
		  if (this.editor) this.editor.destroy();
		  this.editor = false;
		},
  
		onEditorReady(editor, data) {
		  //console.warn('ready');
		  this.editor = editor;
		  editor.setData(data);
		  setTimeout(() => { $('.ck-editor').css('width', '100%'); }, 100);
		},
		getOrgs() {
		  this.loading = 1;
		  $.ajax({
			url: "custom_web_template.html?object_id=6748398834638268536",
			success: (response) => {
			  response = JSON.parse(response);
			  console.warn('organizations response -----> ', response);
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при загрузке списка организаций: " + response.error);
			  }
			  try {
				this.orgs = response.orgs;
				this.colls_options = response.colls_options;
				this.loading = 0;
			  } catch (err) { this.setSnackMessage("red", "Ошибка при загрузке списка организаций: " + err); this.loading = 0 }
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке списка организаций: " + err); this.loading = 0 }
		  });
		},
		addNew() {
		  this.editedItem = Object.assign(this.editedItem, this.defaultItem);
		  this.dialog = true;
		  let text = document.querySelector("#text");
		  if (text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.onEditorReady(editor, this.editedItem.desc); });
		},
		editItem(item) {
		  this.newResponsable = false;
		  this.editedIndex = this.orgs.indexOf(item);
		  $.ajax({
			method: "GET",
			url: `custom_web_template.html?object_id=6748398834638268536&id=${item.id}`,
			success: (response) => {
			  response = JSON.parse(response);
			  console.warn('edit', response)
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при открытии организации: " + response.error);
			  }
			  this.editedItem = Object.assign(this.editedItem, response.orgInfo)
			  this.dialog = true;
			  let text = document.querySelector("#text");
			  if (text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.onEditorReady(editor, this.editedItem.desc); });
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при открытии организации: " + err); }
		  })
  
		},
		deleteItem(item) {
		  // const index = this.collaborators.indexOf(item)
		  if (confirm('Удалить организацию?')) {
			$.ajax({
			  method: "POST",
			  data: JSON.stringify(item),
			  url: "custom_web_template.html?object_id=6748398834638268536&delete",
			  success: (response) => {
				response = JSON.parse(response);
				if (response.error) {
				  this.setSnackMessage("red", "Ошибка при удалении организации: " + response.error);
				} else {
				  this.setSnackMessage("green", "Организация удалена.");
				}
				this.editedItem.id = response.id
				this.getOrgs()
			  },
			  error: (err) => { this.setSnackMessage("red", "Ошибка при удалении организации: " + err); }
  
			})
		  }
		},
		setImage: function (output) {
		  this.hasImage = true
		  console.log(output)
		},
		setSnackMessage: function (color, text) {
		  this.snack.color = color;
		  this.snack.text = text;
		  this.snack.view = true;
		},
		init: function () {
		  let _this = this
		  var suggestView1 = new ymaps.SuggestView('suggest1');
		  var suggestView2 = new ymaps.SuggestView('suggest2');
		  // {
		  //   provider: {
		  //     suggest: (function (request, options) {
		  //       return ymaps.suggest(_this.city + ", " + request);
		  //     })
		  //   }
		  // }
		  suggestView1.events.add(["select"], function (event) {
			_this.editedItem.postal_address = event.get('item').value
		  })
		  suggestView2.events.add(["select"], function (event) {
			_this.editedItem.legal_address = event.get('item').value
		  })
		},
		tableToExcel(table, name) {
  
  
		  const blob = new Blob(['<html><head><meta charset="UTF-8"></head><body>' + table.outerHTML + '</body></html>'], { type: 'application/vnd.ms-excel' });
		  const fileStream = streamSaver.createWriteStream(name + '(' + new Date().toLocaleDateString().replace(/[.]/g, "_") + ').xls', {
			size: blob.size
		  });
		  const readableStream = blob.stream();
		  if (window.WritableStream && readableStream.pipeTo) {
			return readableStream.pipeTo(fileStream)
			  .then(() => console.log('done writing'))
		  }
		  window.writer = fileStream.getWriter();
		  const reader = readableStream.getReader();
		  const pump = () => reader.read()
			.then(res => res.done
			  ? writer.close()
			  : writer.write(res.value).then(pump));
  
		  pump();
  
		},
		tableCreate(header, body) {
		  function getInfo(id) {
			return new Promise((resolve) => {
			  $.ajax({
				method: "GET",
				url: `custom_web_template.html?object_id=6748398834638268536&id=${item.id}`,
				success: (response) => {
				  response = JSON.parse(response);
				  resolve(response.orgInfo)
				},
				error: (err) => { console.warn('error', err) }
  
			  })
			})
		  }
		  let promises = [];
		  for (item of body) {
			promises.push(getInfo(item.id))
		  }
		  Promise.all(promises).then((results) => {
			console.warn('results',results)
			var tbl = document.createElement('table');
			var hdr = tbl.createTHead();
			var trH = hdr.insertRow();
			var bd = tbl.createTBody();
  
			let header = [
			  { text: 'Название', value: 'disp_name' },
			  { text: 'ИНН', value: 'code' },
			  { text: 'Адрес', value: 'postal_address' },
			  { text: 'Имя ответсвенного', value: 'responsable.name' },
			  { text: 'Телефон ответственного', value: 'responsable.phone' },
			  { text: 'E-mail ответственного', value: 'responsable.email' },
			]
			tbl.style.width = '100px';
			tbl.style.border = '0.5pt solid black';
			for (head of header) {
			  var th = trH.insertCell();
			  th.appendChild(document.createTextNode(head.text))
			  th.style.border = '0.5pt solid black';
			}
			for (var i = 0; i < results.length; i++) {
			  var tr = bd.insertRow();
			  for (head of header) {
				let val = head.value;
				let td = tr.insertCell();
  
				if (val === 'responsable.name') {
				  if (results[i].responsable) {
					td.appendChild(document.createTextNode(results[i].responsable.lastname + results[i].responsable.firstname + results[i].responsable.middlename));
					td.style.border = '0.5pt solid black';
				  } else {
					td.appendChild(document.createTextNode(''));
					td.style.border = '0.5pt solid black';
				  }
				  continue;
				}
  
				if (val === 'responsable.phone') {
				  if (results[i].responsable) {
					td.appendChild(document.createTextNode(results[i].responsable.phone));
					td.style.border = '0.5pt solid black';
				  } else {
					td.appendChild(document.createTextNode(''));
					td.style.border = '0.5pt solid black';
				  }
				  continue;
				}
  
				if (val === 'responsable.email') {
				  if (results[i].responsable) {
					td.appendChild(document.createTextNode(results[i].responsable.email));
					td.style.border = '0.5pt solid black';
				  } else {
					td.appendChild(document.createTextNode(''));
					td.style.border = '0.5pt solid black';
				  }
				  continue;
				}
  
				td.appendChild(document.createTextNode(results[i][val]));
				td.style.border = '0.5pt solid black';
			  }
			}
			this.tableToExcel(tbl, 'Организации')
		  })
		}
	  },
  
	  mounted() {
		this.getOrgs();
		$("#orgs-list").removeClass("hidden");
	  },
	  computed: {
		formTitle() {
		  return this.editedIndex === -1 ? 'Новая организация' : 'Редактирование'
		},
		filteredList: function () {
		  return this.orgs.filter(org => {
			for (var key in org) {
			  if (org[key].toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1) {
				return true
			  };
			}
		  })
		}
	  },
	  watch: {
		dialog(value) {
		  if (value) {
			window.ymaps.ready(this.init)
		  }
		  if (!value) {
			this.close()
		  }
		}
	  }
  
	});
  
  </script>
  
  <style>
	.orgs_page input {
	  border: none !important;
	  box-shadow: none !important;
	  background: transparent !important;
	}
  
	.hidden {
	  display: none;
	}
  
	.disabled {
	  pointer-events: none;
	  opacity: .6;
	}
  
	.v-application--wrap header {
	  position: static
	}
  
	.v-application--wrap {
	  min-height: 100%
	}
  
	#loading:not(.hidden) {
	  width: 100%;
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1;
	  background-color: rgba(255, 255, 255, .7);
	  font-size: 2em;
	}
  
	#loading.animation p {
	  position: relative;
	}
  
	#loading.animation p:before {
	  position: absolute;
	  content: "";
	  left: calc(100% + 5px);
	  top: 0;
	  width: 40px;
	  height: 100%;
	  display: flex;
	  align-items: center;
	  animation: preloading 2s linear infinite;
	}
  
	@keyframes preloading {
	  0% {
		content: ".";
	  }
  
	  50% {
		content: "..";
	  }
  
	  100% {
		content: "...";
	  }
	}
  
	h2 {
	  color: #1c6186;
	  font-weight: bold;
	  font-size: 34px;
	}
  
  
	#request-page {
	  padding-bottom: 20px;
	}
  </style>