<div id="events-list" class="hidden">
    <div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
        <p>Загрузка</p>
    </div>
    <h2>Календарь событий</h2>
    <div v-cloak class="events_page" v-if="events.length">
  
        <v-app>
            <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true" :multi-line="true">
                <v-col>{{ snack.text }}</v-col>
                <v-btn color="white" text @click="snack.view = false">
                    Закрыть
                </v-btn>
            </v-snackbar>
  
            <v-sheet height="64">
                <v-toolbar flat color="white">
                    <v-menu>
                        <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class=" mr-2" v-on="on">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>
            </template>
                        <v-list>
                            <v-list-item @click="type = 'day'">
                                <v-list-item-title>День</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="type = 'month'">
                                <v-list-item-title>Месяц</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                    <v-btn color="primary" dark class="mr-4" @click="setToday">
                        Сегодня
                    </v-btn>
                    <v-btn fab text small @click="prev">
                        <v-icon small>mdi-chevron-left</v-icon>
                    </v-btn>
  
                    <v-toolbar-title>{{ title }}</v-toolbar-title>
                    <v-btn fab text small @click="next">
                        <v-icon small>mdi-chevron-right</v-icon>
                    </v-btn>
                    <!-- <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field> -->
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" width="900" @click:outside="[event ? close() : '']" @keydown="[event.keyCode == 27 ? close() : '']">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" @click="addNew()">Добавить</v-btn>
                        </template>
                        <v-tabs>
                            <v-tab>Описание</v-tab>
                            <v-tab>Участники</v-tab>

                        <v-tab-item>

                        <v-card :loading="loading">
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                                <!-- <v-icon class="ml-auto">mdi-monitor</v-icon> TODO: Превью новости -->
                            </v-card-title>
                            <v-card-text>
                                <v-form v-model='valid' id="form" method="post" enctype="multipart/form-data">
                                    <v-container>
                                        <v-row>
                                            <v-col class="w-auto" cols="12" sm="12" md="7">
                                                <v-text-field id="title" name="name" v-model="item_edit.name" label="Название" :rules="[rules.required, rules.max250]">
                                                </v-text-field>
                                            </v-col>
  
                                            <v-col>
                                                <v-select name="type" v-model="item_edit.type" item-text="name" :items="event_types" label="Тип" return-object></v-select>
                                            </v-col>
  
                                        </v-row>
  
  
                                        <v-row>
  
                                            <v-col class="ml-auto" cols="12" sm="6" md="3">
                                                <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="item_edit.start_date" transition="scale-transition" offset-y max-width="290px" min-width="290px">
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field id="public_date" name="start_date" v-model="item_edit.start_date"
                                                        prepend-icon="mdi-calendar" label="Дата начала" v-on="on" hint="ДД.ММ.ГГГГ"
                                                        :rules="[rules.date]">
                                                        </v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="dateIso" type="date" first-day-of-week="1" no-title scrollable>
                                                        <v-spacer></v-spacer>
                                                        <v-btn text color="primary" @click="menu = false">Отменить</v-btn>
                                                        <v-btn text color="primary" @click="item_edit.start_date = formatDate(dateIso); $refs.menu.save(item_edit.start_date)">
                                                            OK</v-btn>
                                                    </v-date-picker>
                                                </v-menu>
                                            </v-col>
  
  
                                            <v-col cols="12" sm="6" md="3">
                                                <v-text-field id="public_time" name="start_time" v-model="item_edit.start_time" label="Время начала" type="time" prepend-icon="mdi-clock">
                                                </v-text-field>
                                            </v-col>
  
  
  
                                            <v-col class="ml-auto" cols="12" sm="6" md="3">
                                                <v-menu ref="finish_menu" v-model="finish_menu" :close-on-content-click="false" :return-value.sync="item_edit.finish_date" transition="scale-transition" offset-y max-width="290px" min-width="290px">
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field id="public_date" name="finish_date" v-model="item_edit.finish_date"
                                                        prepend-icon="mdi-calendar" label="Дата конца" v-on="on" hint="ДД.ММ.ГГГГ"
                                                        :rules="[rules.date]">
                                                        </v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="dateIso" type="date" first-day-of-week="1" no-title scrollable>
                                                        <v-spacer></v-spacer>
                                                        <v-btn text color="primary" @click="finish_menu = false">Отменить</v-btn>
                                                        <v-btn text color="primary" @click="item_edit.finish_date = formatDate(dateIso); $refs.finish_menu.save(item_edit.finish_date)">
                                                            OK</v-btn>
                                                    </v-date-picker>
                                                </v-menu>
                                            </v-col>
  
  
                                            <v-col cols="12" sm="6" md="3">
                                                <v-text-field name="finish_time" v-model="item_edit.finish_time" label="Время конца" type="time" prepend-icon="mdi-clock">
                                                </v-text-field>
                                            </v-col>
  
  
  
                                        </v-row>

                                        <v-row>
                                            <v-col>
                                                <v-checkbox id="is_open" name="is_open" v-model="item_edit.is_open" label="Возможна запись на мероприятие"></v-checkbox>
                                            </v-col>
                                        </v-row>

                                        <v-row>
                                            <v-col cols="12">
                                                <v-select id="org" name="org" v-model="item_edit.org" :items="orgs" item-value="id" item-text="name" label="Организация" hint="Выберите организацию" light persistent-hint return-object>
                                                </v-select>
                                            </v-col>
                                        </v-row>  
  
                                        <v-row>
                                            <v-col>
                                                <v-file-input id="img" name="image" v-model="item_edit.image" label="Превью (jpeg, jpg, png)" prepend-icon="mdi-camera" accept="{{accept.image}}" :rules="[rules.maxSize1]" hint="Файл не более 1MB" persistent-hint></v-file-input>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col>
                                                <v-text-field id="comment" name="comment" v-model="item_edit.comment" label="Текст превью">
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12">
                                                <ckeditor id="text" name="desc" :editor="editor" v-model="item_edit.desc" @ready="onEditorReady($event, item_edit.desc)" :config="editorConfig"></ckeditor>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-select id="tags" name="tags" v-model="item_edit.tags" :items="tags" item-value="id" item-text="name" label="Теги" hint="Выберите теги" multiple chips light persistent-hint return-object>
                                                </v-select>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-file-input id="imgs" name="images" v-model="item_edit.images" :show-size="true" :rules="[rules.counter, rules.maxSize10]" chips label="Изображения (jpeg, jpg, png)" hint="Файлы в сумме не более 10MB" persistent-hint :accept="accept.image" multiple
                                                    prepend-icon="mdi-image-multiple"></v-file-input>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-file-input id="fls" name="files" v-model="item_edit.files" :show-size="true" :rules="[rules.counter, rules.maxSize10]" hint="Файлы в сумме не более 10MB" persistent-hint chips label="Файлы" :accept="accept.file" multiple>
                                                </v-file-input>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-form>
  
                            </v-card-text>
  
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" dark @click.stop="close()">Отменить</v-btn>
                                <v-btn color="primary" dark :class="{'disabled' : !valid}" @click.stop="save">Сохранить</v-btn>
                            </v-card-actions>
                        </v-card>
                        </v-tab-item>

                        <v-tab-item>
                            
                            <v-card>
                                <v-card-title
                                  class="headline  lighten-2"
                                  primary-title
                                >
                                  Список участников
                                </v-card-title>   
      
                                <v-card-text>
                                    <v-row>
                                        <v-col cols="6">
                                            <v-text-field label="Поиск" hide-details v-model="searchInput"></v-text-field>
                                        </v-col>
                                    </v-row>

                                    <v-data-table v-model="selected"
                                              :headers="listenersHeaders" 
                                              :items="item_edit.collaborators" 
                                              :items-per-page="10" 
                                              :search="searchInput" 
                                              single-expand="0"
                                              :expanded.sync="expanded"
                                              item-key="name"
                                              show-expand 
                                              show-select 
                                              :group-expanded="isGroupExpanded"
                                              class="elevation-0" 
                                              >
                                            <!--group-by="is_tutor"-->
                                        <!-- <template v-slot:top>
                                            <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
                                        </template>
                                        <template v-slot:group="props">
                                            <span class="font-weight-bold">
                                             {{props.group}} 
                                             <v-data-table
                                             :headers="props.headers"
                                             :items="props.items"
                                             item-key="name"
                                             hide-default-footer
                                           >
                                            </span>
                                          </template> -->
                                        <template v-slot:item.action="{ item }">
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on }">
                                                    <v-icon v-show="!item.is_confirm" class="mr-2" v-on="on">
                                                        mdi-account-check-outline
                                                    </v-icon>
                                                </template>
                                                <span>Участие не подтверждено</span>
                                            </v-tooltip>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on }">
                                                    <v-icon color="green" v-show="item.is_confirm" class="mr-2" v-on="on">
                                                        mdi-account-check
                                                    </v-icon>
                                                </template>
                                                <span>Участие подтверждено</span>
                                            </v-tooltip>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on }">
                                                    <v-icon v-show="!item.has_cert" class="mr-2" v-on="on">
                                                        mdi-certificate-outline
                                                    </v-icon>
                                                </template>
                                                <span>Сертификат не выдан</span>
                                            </v-tooltip>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on }">
                                                    <v-icon color="green" v-show="item.has_cert" class="mr-2" v-on="on">
                                                        mdi-certificate
                                                    </v-icon>
                                                </template>
                                                <span>Сертификат выдан</span>
                                            </v-tooltip>
                                        </template>
                                        <template v-slot:item.data-table-select="{ isSelected, select }">
                                            <v-simple-checkbox :value="isSelected" @input="select($event)"></v-simple-checkbox>
                                         </template>
                                        <template v-slot:item.data-table-expand="{ item, isExpanded, expand }">
                                               <v-icon @click="actionWithMember(item, 'view', expand)" v-if="!isExpanded">mdi-chevron-down</v-icon>
                                               <v-icon @click="expand(false)" v-if="isExpanded">mdi-chevron-up</v-icon>
                                        </template>
                                        <template v-slot:expanded-item="{ listenersHeaders, item}">
                                            <td :colspan="4">
                                            <v-row>
                                                <v-col cols="4"> 
                                                    <v-text-field v-model="item.name" label="ФИО" readonly></v-text-field>
                                                 </v-col cols="4">
                                                <v-col>
                                                    <v-text-field v-model="item.gender" label="Пол" readonly></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-text-field v-model="item.age" label="Возраст" readonly></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="4">
                                                    <v-text-field v-model="item.telephone" label="Телефон" readonly></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-text-field v-model="item.status" label="Cтатус" readonly></v-text-field>
                                                </v-col>
                                                <v-col v-if="item.status === 'Обучающийся школы' || item.status === 'Обучающий СПО' || item.status === 'Обучающийся ВО'" cols="4">
                                                    <v-text-field v-model="item.organization" label="Организация" readonly></v-text-field>
                                                </v-col>
                                                <v-col v-if="item.status === 'Работаю'" cols="4">
                                                    <v-text-field v-model="item.organization" label="Место работы" readonly></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col v-if="item.status === 'Работаю'" cols="4">
                                                    <v-text-field v-model="item.position" label="Должность" readonly></v-text-field>
                                                </v-col>
                                            </v-row>
                                            </td>
                                        </template>                                           
                                    </v-data-table>
                                    <v-row>
                                        <v-col cols="6">
                                            <v-overflow-btn
                                            :disabled="!selected.length "
                                            :items="dropdown_actions"
                                            v-model="selectedAction"
                                            label="Действия с выбранными участниками"
                                            @change="selectedAction.callback()"
                                            item-value="text"
                                            return-object
                                        ></v-overflow-btn>         
                                        </v-col>
                                    </v-row>

                                </v-card-text>
                              </v-card>
                        </v-tab-item>
                    </v-tabs>

                    </v-dialog>

                    <v-dialog v-model="conflictDialog" persistent max-width="400">
                        <v-card>
                          <v-card-title class="headline">Обнаружен конфликт</v-card-title>
                          <v-card-text>{{conflictText}}</v-card-text>
                          <v-card-actions>
                            <v-btn color="primary" text @click="makeAction (action, selected, 'update');conflictDialog = false">Обновить</v-btn>
                            <v-btn color="primary" text @click="makeAction (action, selected, 'ignore');conflictDialog = false">Пропустить</v-btn>
                            <v-btn color="primary" text @click="clearSelected();conflictDialog = false">Отменить</v-btn>
                          </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="confirmDialog" persistent max-width="400">
                        <v-card>
                          <v-card-title class="headline">Подвердите действие</v-card-title>
                          <v-card-text>{{confirmText}}</v-card-text>
                          <v-card-actions>
                            <v-btn color="primary" text @click="initAction(action);confirmDialog = false">Продолжить</v-btn>
                            <v-btn color="primary" text @click="clearSelected();confirmDialog = false">Отмена</v-btn>
                          </v-card-actions>
                        </v-card>
                    </v-dialog>

                </v-toolbar>
            </v-sheet>
            <v-sheet height="600">
                <v-calendar :interval-format="intervalFormat" :event-more="true" :weekdays="[1, 2, 3, 4, 5, 6, 0]" ref="calendar" v-model="focus" color="primary" :events="events" :event-color="'green'" event-name='name' :event-margin-bottom="3" :now="today" :type="type"
                    @click:event="showEvent" @change="updateRange" @click:more="viewDay" @click:date="viewDay">
  
                    <!-- <template v-slot:day-label="props">
          <div> {{props.date}} </div>
        </template> -->
  
  
                </v-calendar>
                <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-y>
                    <v-card color="grey lighten-4" flat>
                        <v-toolbar color="primary" dark>
                            <v-btn icon @click="editItem(selectedEvent)">
                                <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                            <v-toolbar-title v-if="selectedEvent.type"> {{selectedEvent.type.name}} </v-toolbar-title>

  
  
                            <!-- <v-btn icon>
              <v-icon>mdi-heart</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn> -->
                        </v-toolbar>
                        <v-card-text v-if="selectedEvent.name">
                            <div v-html="selectedEvent.name"></div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="primary" dark @click="selectedOpen = false">
                                Закрыть
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </v-sheet>
  
            <!-- <v-dialog v-model="dayDialog" max-width="900">
  
        <v-card>
          <v-toolbar color="primary">
            <v-toolbar-title class="white--text">События</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-container>
  
  
  
  
              <v-data-table :items="dayEvents" :headers="[
                {
                  value: 'name',
                  text: 'Название',
                  sortable: false
                },
                {
                  value: 'action',
                  text: 'Редактирование',
                  sortable: false
                }
              ]">
                <template v-slot:item.action="{ item }">
                  <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                  </v-icon>
                </template>
              </v-data-table>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog> -->
  
        </v-app>
  
  
    </div>
  </div>
  
  
  <script>
    Vue.use(VueMask.VueMaskPlugin);
    Vue.use(CKEditor)
  
  
    var events = new Vue({
        el: '#events-list',
        vuetify: new Vuetify({
            lang: {
                locales: {
                    ru: ruLocale
                },
                current: 'ru'
            }
        }),
        data: {
            selectedAction: '',
            dropdown_actions: [                                             //Действия с участниками (выпадающие кнопки)
                { text: 'Выдать сертификат', callback: () => { 
                    this.events.confirmDialog = true;
                    this.events.confirmText = 'К выбранным участникам будет применено действие «Выдача сертификата»'
                    this.events.action = 'cert'
                    }
                },
                { text: 'Подтвердить участие', callback: () => { 
                    this.events.confirmDialog = true;
                    this.events.confirmText = 'К выбранным участникам будет применено действие «Подтверждение участия»'
                    this.events.action = 'conf'
                    }
                },
                { text: 'Скачать список', callback: () => { 
                    this.events.confirmDialog = true;
                    this.events.confirmText = 'К выбранным участникам будет применено действие «Скачивание списка в формате DOC»'
                    this.events.action = 'downlist'
                    }
                },
                { text: 'Скачать реестр сертификатов', callback: () => { 
                    this.events.confirmDialog = true;
                    this.events.confirmText = 'К выбранным участникам будет применено действие «Скачивание реестра сертификатов в формате DOC»'
                    this.events.action = 'downcert'
                    }
                }
            ],
            expanded: [],
            selected: [],
            isGroupExpanded: false,
            listenersHeaders: [
            { 
                text: '',
                value: 'data-table-select' 
                },
                {
                text: 'ФИО', 
                value: 'name',
                },
                {
                text: 'Роль',
                value: 'is_tutor',
                width: '150'
                },
                {
                text: 'Статус',
                value: 'action',
                sortable: false
                },
                { 
                text: '',
                value: 'data-table-expand' 
                }
            ],
            forSearch: '',
            dialog: false,
            dialogMembers: false,
            conflictDialog: false,
            conflictText: '',
            confirmDialog: false,
            confirmText: '',
            action: '',
            snack: {
                view: false,
                text: '',
                color: '',
                timeout: 6000,
            },
            valid: false,
            deleteDialog: {},
            dayEvents: [],
            dayDialog: false,
            menu: false,
            finish_menu: false,
            loading: true,
            events: [],
            tags: [],
            orgs: [],
            accept: {
                image: ".jpg,.png,.jpeg",
                file: ".doc,.docx,.pdf,.ppt,.pptx,.xls,.xlsx,.zip"
            },
            searchInput: '',
            editedIndex: -1,
            event_types: [],
            dateIso: '',
            item_edit: {
                id: '',
                name: '',
                type: {},
                image: [],
                tags: [],
                desc: '',
                images: [],
                files: [],
                start_date: '',
                start_time: '',
                finish_date: '',
                finish_time: '',
                is_open: false,
                org: {}
            },
            lists: {},
            editor: ClassicEditor,
            editorConfig: {
                language: "ru",
                removePlugins: ['ImageUpload'],
                mediaEmbed: {
                    previewsInData: true
                },
                onReady: this.onEditorReady
            },
            rules: {
                required: value => !!value || 'Необходимо заполнить',
                counter: value => value.length <= 10 || 'Не более 10 файлов',
                max250: value => value.length <= 250 || 'Не более 250 символов',
                date: value => value != 'Invalid Date' || 'Неправильный формат даты',
                maxSize1: value => !value.size || value.size < 1000000 || 'Файлы не более 1 MB!',
                maxSize10: value => {
                    if (value.length === 0) return true;
                    let size = value.reduce((acc, item) => {
                        return acc + item.size
                    }, 0)
                    if (size < 10000000) return true;
                    return 'Файлы в сумме не более 10 MB!'
                }
            },
            today: '',
            focus: '',
            type: 'month',
            typeToLabel: {
                month: 'Месяц',
                week: 'Неделя',
                day: 'День',
                '4day': '4 Days',
            },
            start: null,
            end: null,
            selectedEvent: {},
            selectedElement: null,
            selectedOpen: false,
        },
        methods: {

            initAction (action) {
                this.action = action
                if (action === 'cert') {
                    let usersWithConflict = this.selected.filter(user => user.has_cert)

                    if (usersWithConflict.length) { 
                        this.conflictDialog = true;
                        this.conflictText = 'Один или более участников уже имеют сертфикат. Выберите, что следует сделать с ними.'
                    } else {
                        this.makeAction(action, this.selected, null)
                    }
                } else if (action == 'conf') {
                    let usersWithConflict = this.selected.filter(user => user.is_confirm)
                    if (usersWithConflict.length) { 
                        this.conflictDialog = true;
                        this.conflictText = 'Один или более участников уже подтвердили участие в мероприятии. Выберите, что следует сделать с ними.'
                    } else {
                        this.makeAction(action, this.selected, null)
                    }
                } else if (action == 'downlist') {
                    let downloadBody = this.selected.map(el => {
                        el.event_result.fullName = el.name
                        for (let key in el.event_result) {
                            if(el.event_result[key] === null) {
                                el.event_result[key] = ''
                            }
                        }
                        let {fullName, telephone, organization, position} = el.event_result
                        return {fullName, telephone, organization, position}
                    })
                    let downloadHeader = ['ФИО','Телефон','Место работы','Должность']
                    this.clearSelected()
                    this.tableCreate( downloadHeader, downloadBody, 'Список участников', this.item_edit)
                } else if (action == 'downcert') {
                    let downloadBody = this.selected.map(el => {
                        el.certificate.name = el.name
                        el.certificate.role = el.is_tutor
                        for (let key in el.certificate) {
                            if(el.certificate[key] === null) {
                                el.certificate[key] = ''
                            }
                        }
                        let {name, role, number, date} = el.certificate
                        return {name, role, number, date}
                    })
                    let downloadHeader = ['ФИО', 'Роль','Номер','Дата выдачи']
                    this.clearSelected()
                    this.tableCreate( downloadHeader, downloadBody, 'Реестр сертификатов', this.item_edit)
                }
            },
            makeAction (action, users, option) {
                let ignore_msg = '';
                if (option == 'ignore') {
                    let usersWithConflict = []
                    if (action === 'cert') {
                        usersWithConflict = users.filter(user => user.has_cert)
                        users = users.filter(user => !user.has_cert)
                    } else if (action === 'conf') {
                        usersWithConflict = users.filter(user => user.is_confirm)
                        users = users.filter(user => !user.is_confirm)
                    }
                    ignore_msg = '\nПропущено '+ usersWithConflict.length+ ' записей'
                }
                Promise.all(
                    users.map((user) => {                //  собираем массив промисов (async + map)
                        this.actionWithMember(user, action)
                    })
                ).then(res => {
                    let successMessage = '';
                    if (action === 'cert') {
                        successMessage = res.length > 1 ? 'Сертификаты участников выданы. Обработано ' + res.length+ ' записи(ей).' : res.length ? 'Сертификаты участников выданы. Обработана 1 запись.' : 'Обработано 0 записей.' + ignore_msg
                    } else if (action === 'conf') {
                        successMessage = res.length > 1 ? 'Участие успешно подтверждено. Обработано ' + res.length+ ' записи(ей).' : res.length ? 'Участие успешно подтверждено. Обработана 1 запись.' : 'Обработано 0 записей.' + ignore_msg
                    }
                    this.getevents()                             //  Нужен then?
                    this.setSnackMessage("green", successMessage);
                    this.loading = false;
                    this.clearSelected()
                }).catch((err) => {
                    this.setSnackMessage("red", "Ошибка: " + err + ".");
                });
            },
            export2Word( element, filename ) {
                var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                var postHtml = "</body></html>";
                var html = preHtml+element.innerHTML+postHtml;

                var blob = new Blob(['\ufeff', html], {
                    type: 'application/msword'
                });
                
                // Specify link url
                var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
                
                // Specify file name
                filename = filename?filename+'.doc':'document.doc';
                
                // Create download link element
                var downloadLink = document.createElement("a");

                document.body.appendChild(downloadLink);
                
                if(navigator.msSaveOrOpenBlob ){
                    navigator.msSaveOrOpenBlob(blob, filename);
                }else{
                    // Create a link to the file
                    downloadLink.href = url;
                    
                    // Setting the file name
                    downloadLink.download = filename;
                    
                    //triggering the function
                    downloadLink.click();
                }
                
                document.body.removeChild(downloadLink);
            },

            tableCreate(header, body, name, event){
                var tbl  = document.createElement('table');
                var hdr = tbl.createTHead();
                var trH = hdr.insertRow();
                var bd = tbl.createTBody();

                var returnHtml = document.createElement('div');
                var title = document.createElement('h1');
                title.style.textAlign = "center";
                title.innerHTML = name
                var eventName = document.createElement('h2');
                eventName.innerHTML = 'Событие ' + '«'+event.name+'»'

                returnHtml.appendChild(title)
                returnHtml.appendChild(eventName)
                if (name === 'Список участников') {
                    var eventDates = document.createElement('p');
                    eventDates.innerHTML = event.start_date != event.finish_date ? 'Даты проведения: ' + event.start_date + ' - '+ event.finish_date: 'Дата проведения: '+event.start_date
                    returnHtml.appendChild(eventDates)
                }
                returnHtml.appendChild(tbl)

                tbl.style.border = '0.5pt solid black';
                tbl.style.borderCollapse = 'collapse';

                for (head of header) {
                var th = trH.insertCell();
                th.appendChild(document.createTextNode(head))
                th.style.border = '0.5pt solid black';
                }



                for(var i = 0; i < body.length; i++){
                    var tr = bd.insertRow();
                    for(let key in body[i]){
                    if (key === 'id') continue;
                    var td = tr.insertCell();
                    td.appendChild(document.createTextNode(body[i][key]));
                    td.style.border = '0.5pt solid black';
                    }
                }
                this.export2Word(returnHtml, name)

            },

            intervalFormat(interval) {
                return interval.time
            },
            typing: function(text) {
                this.searchInput = text;
            },
  
            formatDate(date) {
                if (!date) return null
  
                const [year, month, day] = date.split('-')
  
  
  
                return `${day}.${month}.${year}`
            },
  
            addNew() {
                this.clearEdit();
                this.dialog = true;
                let text = document.querySelector("#text");
                if (text) ClassicEditor.create(text, this.editorConfig).then(editor => {
                    this.onEditorReady(editor, this.item_edit.desc);
                });
            },
  
            offEditor() {
                if (this.editor) this.editor.destroy();
                this.editor = false;
            },
  
            onEditorReady(editor, data) {
                //console.warn('ready');
                this.editor = editor;
                editor.setData(data);
                setTimeout(() => {
                    $('.ck-editor').css('width', '100%');
                }, 100);
            },
  
            async getevents() {
                this.loading = true;
                await $.ajax({
                    url: "custom_web_template.html?object_id=6763550069808253375",
                    success: (response) => {
                        //console.warn(JSON.parse(response));
                        try {
                            res = JSON.parse(response);
                            if (res.error) {
                                this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору.");
                                return;
                            }
                            this.events = res.data.filter((event) => {
                                if (!event.type) return false;
                                return event.type.id === "6764393944549299172" || event.type.id === "6764393944549299174" || event.type.id === "6764393944549299173"
                            });
                            //console.warn(this.events)
                            this.today = res.today;
                            this.focus = res.today;
                            this.event_types = res.event_types.event_type.filter((event) => {
                                return event.id === "6764393944549299172" || event.id === "6764393944549299174" || event.id === "6764393944549299173"
                            });
                            //console.warn(this.event_types)
                            this.tags = res.lists.tags;
                            this.orgs = res.lists.orgs;
                            for (event of this.events) {
                                if (!event.finish_date) {
                                    event.finish_date = event.start_date
                                }
                                // console.warn("event ", event.start_date, '--------', event.finish_date)
                            }
  
                            // this.lists = res.lists;
                        } catch (err) {
                            this.setSnackMessage("red", "Ошибка: " + err + ". Обратитесь к администратору.");
                        }
                    },
                    error: (err) => {
                        this.setSnackMessage("red", "Ошибка загрузки данных: " + err + ". Обратитесь к администратору.");
                    },
                    complete: () => {
                        this.loading = 0;
                        this.checkChange();
                    }
                });
            },
  
            getTags(tags) {
                return tags.map(item => item.name).join(", ");
            },
            clearSelected() {
                this.selected = [];
                this.action = ''
                this.selectedAction = ''
            },
            close() {
                this.dialog = false
                this.selected = []
                this.selectedAction = ''
                this.action = ''
                this.offEditor();
                setTimeout(() => {
                    this.clearEdit();
                    this.editedIndex = -1
                }, 300)
            },
  
            postImage(id, form) {
  
                form.append('obj_id', id);
  
                $.ajax({
                    method: "POST",
                    data: form,
                    contentType: false,
                    processData: false,
                    url: "custom_web_template.html?object_id=6753213891858355811",
                    success: (response) => {
                        console.warn(response)
                        res = JSON.parse(response);
                        if (res.error) {
                            this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору.");
                        } else {
                            this.setSnackMessage("green", "Данные успешно сохранены");
                            this.close();
                        }
                    },
                    error: (err) => {
                        this.setSnackMessage("red", "Ошибка при сохранении: " + err + ". Обратитесь к администратору.");
                    },
                    complete: () => {
                        this.loading = false;
                    }
                })
  
            },
  
            save() {
                this.loading = true;
                console.warn(this.item_edit);
                let form = document.querySelector("#form");
                let formdata = new FormData(form);
                formdata.set("id", this.item_edit.id);
                formdata.set("desc", document.querySelector('.ck-editor__editable').ckeditorInstance.getData());
                formdata.set("tags", JSON.stringify(this.item_edit.tags));
                formdata.set("is_open", this.item_edit.is_open);
                if (this.item_edit.org.id != undefined){
                    formdata.set("org_id", this.item_edit.org.id);
                } else {
                    formdata.set("org_id", '');
                }
                let fd = new FormData;
                fd.append("img", formdata.get("image"));
  
                formdata.delete("type");
                formdata.delete("image");
                formdata.delete("images");
                formdata.delete("files");
  
                formdata.set("type", JSON.stringify(this.item_edit.type));
  
                for (var pair of formdata.entries()) {
                    //console.log(pair[0] + ', ' + pair[1]);
                }
  
                document.querySelectorAll("input[multiple]").forEach(item => $(item.files).each((index, file) => formdata.append(item.name + index, file)));
  
                $.ajax({
                    method: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    url: "custom_web_template.html?object_id=6763550069808253375",
                    success: (response) => {
                        res = JSON.parse(response);
                        console.warn('response ', res);
                        if (res.error) {
                            this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору.");
                            return;
                        }
                        this.getevents();
                        this.item_edit.id = res.id;
                        if (fd.get("img").size > 0) {
                            this.postImage(res.id, fd);
                        } else {
                            this.loading = false;
                            this.close();
                            this.setSnackMessage("green", "Данные успешно сохранены");
                        }
                    },
                    error: (err) => {
                        this.setSnackMessage("red", "Ошибка при сохранении: " + err + ". Обратитесь к администратору.");
                    },
                    complete: () => {
                        this.loading = false;
                    }
                });
  
            },
  
            clearEdit() {
                Object.keys(this.item_edit).forEach(key => this.item_edit[key] = typeof this.item_edit[key] == "object" ? [] : "");
            },
  
            editItem(item) {
  
                console.warn(item)
  
                this.loading = true;
                this.editedIndex = this.events.indexOf(item);
                let text = document.querySelector("#text");
                $.ajax({
                    method: "GET",
                    url: `custom_web_template.html?object_id=6763550069808253375&id=${item.id}`,
                    success: (response) => {
                        res = JSON.parse(response);
                        console.warn(res)
                        if (res.error) {
                            this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору.");
                            return;
                        }
                        this.item_edit = Object.assign(this.item_edit, res.data);
                        this.item_edit.start_date = this.formatDate(this.item_edit.start_date)
                        this.item_edit.finish_date = this.formatDate(this.item_edit.finish_date)
                        console.warn('item-edit', this.item_edit)
                        this.dialog = true;
                        if (!this.editor && text) ClassicEditor.create(text, this.editorConfig).then(editor => {
                            this.onEditorReady(editor, this.item_edit.desc);
                        });
                    },
                    error: (err) => {
                        this.setSnackMessage("red", "Ошибка: " + err + ". Обратитесь к администратору.");
                    },
                    complete: () => {
                        this.loading = false;
                    }
                });
  
            },
  
            deleteItem(item) {
                this.loading = true;
  
                if (confirm('Удалить новость?')) {
                    $.ajax({
                        method: "POST",
                        data: JSON.stringify(item),
                        url: "custom_web_template.html?object_id=6763550069808253375&delete",
                        success: (response) => {
                            res = JSON.parse(response);
                            if (res.error) {
                                this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору.");
                                return;
                            } else {
                                this.setSnackMessage("green", "Запись успешно удалена");
                            }
                            this.getevents();
                        },
                        error: (err) => {
                            this.setSnackMessage("red", "Ошибка при удалении: " + err + ". Обратитесь к администратору.");
                        },
                        complete: () => {
                            this.loading = false;
                        }
                    })
                }
            },

            async actionWithMember (collab, action, callback) {
                return $.ajax({
                    method: "POST",
                    url: `custom_web_template.html?object_id=6763550069808253375&event_result=${collab.result_id}&action=${action}`,
                    success: (response) => {
                        res = JSON.parse(response);
                        if (res.error) {
                            this.setSnackMessage("red", "Ошибка: " + res.error + ".");
                            return;
                        } else {
                            switch(action){
                                case 'cert':
                                    collab.has_cert = true;
                                    break;
                                case 'conf':
                                    collab.is_confirm = true;
                                    break;
                                case 'view':
                                    Object.assign(collab, res)
                                    callback(true)                  //Best practice
                                    break;
                                default:
                                    break;
                            }
                            
                        }
                    }
                })
            },

            test (test) {
              console.log(test)
            },
  
            setSnackMessage: function(color, text) {
                this.snack.color = color;
                this.snack.text = text;
                this.snack.view = true;
            },
            viewDay({
                date
            }) {
  
              console.warn('date ->>',date)
                // this.dayEvents = this.events.filter((event) => {
                //   return event.start.split(' ')[0] === date || event.end.split(' ')[0] === date || event.start.split(' ')[0] <= date && event.end.split(' ')[0] >= date
                // })
                // console.warn('day Events ->> ', this.dayEvents)
                // if (this.dayEvents.length > 0) {
                //   this.dayDialog = true;
                // }
                let hasEvents = this.events.some(event => {
                  if (Date.parse(event.start.split(' ')[0]) === Date.parse(date) || Date.parse(event.end.split(' ')[0]) === Date.parse(date)) return true;
                  if (Date.parse(event.start) <= Date.parse(date) && Date.parse(event.end) >= Date.parse(date)) return true;
                  return false;
                });
                console.warn(hasEvents)
                if (!hasEvents) return;
                this.focus = date
                this.type = 'day'
            },
            // getEventColor (event) {
            //   return event.color
            // },
            setToday() {
                this.focus = this.today
            },
            prev() {
                this.$refs.calendar.prev()
            },
            next() {
                this.$refs.calendar.next()
            },
            showEvent({
                nativeEvent,
                event
            }) {
                const open = () => {
                    this.selectedEvent = event
                    this.selectedElement = nativeEvent.target
                    setTimeout(() => this.selectedOpen = true, 10)
                }
  
                if (this.selectedOpen) {
                    this.selectedOpen = false
                    setTimeout(open, 10)
                } else {
                    open()
                }
  
                nativeEvent.stopPropagation()
            },
            updateRange({
                start,
                end
            }) {
  
                // console.warn(start, end)
                    // You could load events from an outside source (like database) now that we have the start and end dates on the calendar
                this.start = start
                this.end = end
            },
            // nth(d) {
            //   return d > 3 && d < 21 ?
            //     'th' :
            //     ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
            // },
            checkChange() {
                setTimeout(function() {
                    events.$refs.calendar.checkChange()
                }, 0)
            }
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Создать мероприятие' : 'Редактирование'
            },
            filteredListeners: function() {
                if (!this.selectedEvent.collaborators) return
                forSearch = str => str.replace(/ /gi, '').toLowerCase();
                return this.selectedEvent.collaborators.filter(item => forSearch(JSON.stringify(item)).indexOf(forSearch(this.searchInput)) !== -1)
            },
            title() {
                const {
                    start,
                    end
                } = this
                // console.warn(this)
                if (!start || !end) {
                    return ''
                }
  
                const startMonth = this.monthFormatter(start)
                const endMonth = this.monthFormatter(end)
                const suffixMonth = startMonth === endMonth ? '' : endMonth
  
                const startYear = start.year
                const endYear = end.year
                const suffixYear = startYear === endYear ? '' : endYear
  
                const startDay = start.day
                const endDay = end.day
  
                switch (this.type) {
                    case 'month':
                        return `${startMonth} ${startYear}`
                    case 'week':
                    case '4day':
                        return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
                    case 'day':
                        return `${startMonth} ${startDay} ${startYear}`
                }
                return ''
            },
            monthFormatter() {
                return this.$refs.calendar.getFormatter({
                    timeZone: 'UTC',
                    month: 'long',
                })
            },
        },
        mounted() {
            this.getevents();
            $("#events-list").removeClass("hidden");
        }
  
    });
  </script>
  
  <style>
	.v-dialog>.v-card>.v-card__text {
	    padding: 0 24px 20px;
	}
    .v-data-table tbody tr.v-data-table__expanded__content {
        box-shadow: unset;
    }
    .events_page {
        padding-bottom: 100px;
    }
    
    .events_page input {
        border: none !important;
        box-shadow: none !important;
    }
    
    .ck.ck-editor {
        transition: all .2s linear;
        width: 99%;
    }
    
    .hidden {
        display: none;
    }
    
    .disabled {
        pointer-events: none;
        opacity: .6;
    }
    
    .v-application--wrap {
        min-height: 100%
    }
    
    .v-sheet--tile {
        position: static
    }
    
    table th {
        white-space: nowrap;
    }

    .v-btn--icon:hover {
        background-color: transparent;
    }
    
    #loading:not(.hidden) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, .7);
        font-size: 2em;
    }
    
    #loading.animation p {
        position: relative;
    }
    
    #loading.animation p:before {
        position: absolute;
        content: "";
        left: calc(100% + 5px);
        top: 0;
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        animation: preloading 2s linear infinite;
    }
    
    .v-data-table td {
        height: auto;
        padding: 5px 0;
    }
    
    .v-data-table-header-mobile {
        display: none;
    }
    .v-select__selections button:hover {
        background-color: white !important;
    }
    .v-select__selections .theme--light.v-btn:hover:before {
        opacity: 0 !important;
    }
    
    /* .v-calendar-weekly__day div:nth-child(2) {
        overflow: visible;
    }
    
    .v-calendar-events .pl-1 {
        position: absolute;
        z-index: 1;
    }

     */
    @keyframes preloading {
        0% {
            content: ".";
        }
        50% {
            content: "..";
        }
        100% {
            content: "...";
        }
    }
    
    h2 {
        color: #1c6186;
        font-weight: bold;
        font-size: 34px;
    }
  </style>