<style>
    .footer {
        background: #596e79;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer-left,
    #footer-center {
        width: 100%;
        max-width: 1280px;
        margin: auto;
        padding: 20px;
        color: white;
    }
    #footer-left {
        padding-bottom: 0;
    }
    .footer .logo-footer {
        max-width: 260px;
        max-height: 120px;
    }
    .footer-logo-container {
        width: 100%;
    }
    @media (max-width: 900px) {
      .logo-footer:not(.mobile) {
        display: none;
      }
      .footer .menu {
        display: none;
      }
      .footer-logo-container {
        width: auto;
      }
      #footer-left {
        display: flex;
      }
    }
    @media (min-width: 900px) {
      .logo-footer.mobile {
        display: none;
      }
      .logo-footer:not(.mobile) {
        display: block;
      }
    }
    .flex-container {
        display: flex;
    }
    .footer .menu {
        width: 100%;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 20px 0;
    }
    .footer .menu-item {
        cursor: pointer;
        padding: 5px;
        margin: 10px 5px;
    }
    .footer .menu-item span {
        border-bottom: 1px solid white;
        color: white;
        font-weight: 500;
    }
    .footer .menu-item:hover span {
        border-bottom: 2px solid white;
    }
    .footer .contacts {
        width: 100%;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }
    .footer .contacts p,
    .footer .contacts a {
        color: white;
        margin-bottom: 5px;
    }
    .footer .contacts .email {
        border-bottom: 1px solid white;
    }
    .footer .contacts .tel {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    @media (min-width: 900px) {
      .footer-left {
        display: flex;
        justify-content: space-between;
        max-height: 140px;
      }
      .footer .menu {
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 20px;
      }
      .footer .menu-item {
        margin: 0;
        padding: 1px;
      }
    }
    </style>
    
    
    <div class="footer-logo-container"><a href="/view_doc.html?mode=home"><img class="logo-footer mobile" src="/images/epk/logo-sm-w.png"><img class="logo-footer" src="/images/epk/logo-footer.png"></a></div>
    <div class="menu flex-container">
        <a href="/view_doc.html?mode=progs_list" class="menu-item"><span>Программы<br>обучения</span></a>
        <a href="/view_doc.html?mode=events_list" class="menu-item"><span>Календарь</span><br><span>событий</span></a>
        <a href="/view_doc.html?mode=resources_list" class="menu-item"><span>Информационные</span><br><span>ресурсы</span></a>
        <a href="/view_doc.html?mode=profs_list" class="menu-item"><span>Профессии</span><br><span>и компетенции</span></a>
        <a href="/view_doc.html?mode=vacancies_list" class="menu-item"><span>Вакансии</span></a>
        <a href="/view_doc.html?mode=polls_list" class="menu-item"><span>Опросы</span></a>
    </div>
    <div class="contacts">
        <a class="tel" href="tel:=+74882233040">(4822) 33-04-0</a>
        <p class="adress">г. Тверь, ул. Индустриальная, 9, кабинет 3</p>
        <a class="email" href="mailto:recenter@tpk-tver.ru">recenter@tpk-tver.ru</a>
        <div class="social-icons">
            <a href="#vk"></a>
        </div>
    </div>