<div id="collaborators-list" class="hidden" data-app="true">
    <div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
      <p>Загрузка</p>
    </div>
    <h2>Список преподавателей</h2>
    <div class="collaborators_page">
  
      <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
        :multi-line="true">
        {{ snack.text }}
        <v-btn color="white" text @click="snack.view = false">
          Закрыть
        </v-btn>
      </v-snackbar>
      <v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0 ">
        <template v-slot:item.competences="{ item }">
          <v-chip v-for="comp in item.competences">{{ comp}}</v-chip>
        </template>
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput" style="padding: 0 10px 8px 0; min-width: 100px"></v-text-field>
            <v-select class="no-border-input" v-model="selectInput" :items="competences" item-text="name" item-value="name"
              filter chips label="Компетенции" multiple style="max-width: 515px;padding-top: 10px;">
  
                <template v-slot:selection="{ item, index }">
                    <span v-if="index === 0 && selectInput.length === 1">{{ item.name }}</span>
                    <span v-if="index === 1">Категории: {{selectInput.length}}</span>
                  </template>
      </v-select>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" width="900">
              <template v-slot:activator="{ on }">
                <v-btn class="mb-2" v-on="on">Добавить</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-form v-model='valid'>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.lastname" label="Фамилия" :rules="[rules.required]">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.firstname" label="Имя" :rules="[rules.required]">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.middlename" label="Отчество">
                          </v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.email" label="e-mail" :rules="[rules.required, rules.email]">
                          </v-text-field>
                        </v-col>
                        <v-col>
                          <v-menu offset-y transition="slide-y-transition">
                            <template v-slot:activator="{ on }">
                              <v-text-field class="sex" v-on="on" v-model="getSex()" label="Пол"
                                append-icon="mdi-menu-down">
                              </v-text-field>
                            </template>
                            <v-list>
                              <v-list-item @click="editedItem.sex = 'm'">Мужской</v-list-item>
                              <v-list-item @click="editedItem.sex = 'f'">Женский</v-list-item>
                            </v-list>
                          </v-menu>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-menu ref="menu" v-model="menu" :close-on-content-click="false"
                            :return-value.sync="editedItem.birth_date" transition="scale-transition" offset-y
                            max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on }">
                              <v-text-field v-model="editedItem.birth_date" label="Дата рождения" v-on="on"
                                hint="ДД.ММ.ГГГГ">
                              </v-text-field>
                            </template>
                            <v-date-picker v-model="dateIso" type="date" first-day-of-week="1" no-title scrollable>
                              <v-spacer></v-spacer>
                              <v-btn color="primary" dark @click="menu = false">Отменить</v-btn>
                              <v-btn color="primary" dark
                                @click="editedItem.birth_date = formatDate(dateIso); $refs.menu.save(editedItem.birth_date)">
                                OK</v-btn>
                            </v-date-picker>
                          </v-menu>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-autocomplete class="disabled" v-model="editedItem.role" label="Роль"
                            :rules="[rules.required]" :items="groupsList" item-text="name" item-value='id' return-object>
                          </v-autocomplete>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-bind:class="{ disabled: currentUser.isPopper }">
                          <v-autocomplete label="Организация" v-model="editedItem.org" :items="orgsList" item-text="name"
                            return-object></v-autocomplete>
                        </v-col>
                        <v-col v-if="editedItem.org.id" cols="12" sm="12" md="4">
                          <v-text-field label="Должность" v-model="editedItem.position.name" :rules="[rules.required]">
                          </v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col v-if="editedIndex == -1" cols="12" sm="4">
                          <v-text-field v-model="editedItem.login" label="Логин" :rules="[rules.required]">
                          </v-text-field>
                        </v-col>
                        <v-col v-if="editedIndex == -1" cols="12" sm="4">
                          <v-text-field v-model="editedItem.password" label="Пароль"
                            :rules="[rules.required, rules.min8]">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-checkbox v-model="editedItem.expert" label="Является экспертом"></v-checkbox>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="editedItem.expert">
                          <v-select class="no-border-input" multiple label="Компетенции" v-model="editedItem.competences"
                            :items="competences" item-text="name" return-object></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="editedItem.expert && editedItem.files.length==0">
                          <v-file-input id="attachFile" v-model="attachFile" small-chips label="Добавить удостоверение"></v-file-input>
                        </v-col>
                        <v-col cols="12" sm="6" md="4" v-if="editedItem.expert && editedItem.files.length!=0">
                          <span class="subheading">Удостоверение эксперта</span>
                          <v-chip-group>
                            <template>
                              <v-chip v-for="item in editedItem.files"><a :href=`${item.url}`
                                  target="_blank">{{ item.name}}</a></v-chip>
                            </template>
                          </v-chip-group>
                        </v-col>
                      </v-row>
                      <v-row>
                        <!-- <v-col>
                            <v-text-field v-if="editedItem.role.id == '6761406065601834023'" label="Основная Должность"
                              v-model="editedItem.mainPosition"></v-text-field>
                          </v-col> -->
                        <v-col cols="12">
                          <v-textarea v-if="editedItem.role.id == '6761406065601834023'" flat no-resize rows="2"
                            label="Достижения" v-model="editedItem.achievements"></v-textarea>
                        </v-col>
                      </v-row>
  
                    </v-container>
                  </v-form>
  
                </v-card-text>
  
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click.stop="dialog = false">Отменить</v-btn>
                  <v-btn :class="{'disabled' : !valid}" @click.stop="save">Сохранить</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
  
      <v-row v-if="collaborators.length">
        <v-col cols="12" md="3" class="ml-auto" style="max-width: 150px;">
          <button class="btn btn-excell copp__btn" @click="tableCreate(headers, collaborators, 'Преподаватели')">
            <v-icon left color="white">mdi-file-excel</v-icon> Скачать
          </button>
        </v-col>
      </v-row>
  
  
    </div>
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/eligrey/Blob.js/Blob.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>
  
  <script>
    Vue.use(VueMask.VueMaskPlugin);
    var collaborators = new Vue({
      el: '#collaborators-list',
      vuetify: new Vuetify({
        lang: {
          locales: {
            ru: ruLocale
          },
          current: 'ru'
        }
      }),
      data: {
        snack: {
          view: false,
          text: '',
          color: '',
          timeout: 6000,
        },
        dialog: false,
        valid: false,
        deleteDialog: {},
        menu: false,
        loading: 1,
        collaborators: [],
        searchInput: '',
        selectInput: [],
        competences: [],
        attachFile: [],
        headers: [{
          text: 'ФИО', value: 'fullname'
        }, {
          text: 'Дата рождения', value: 'birth_date'
        }, {
          text: 'Эксперт', value: 'isExpert'
        }, {
          text: 'Компетенции', value: 'competences'
        },{ 
      text: 'Действия', value: 'action', sortable: false 
        },
        ],
        editedIndex: -1,
        dateIso: '',
        sexTypes: ['m', 'f'],
        groupsList: [],
        orgsList: [],
        currentUser: {
          isEmployer: false,
          org: {
            id: '',
            name: ''
          }
        },
        editedItem: {
          firstname: '',
          lastname: '',
          middlename: '',
          birth_date: '',
          login: '',
          password: '',
          email: '',
          sex: '',
          expert: '',
          role: { "id": "6761406065601834023", "name": "Преподаватель" },
          mainPosition: '',
          files: [],
          achievements: '',
          position: {
            id: '',
            name: ''
          },
          org: {
            id: '',
            name: ''
          },
          competences: [],
          subdiv: {
            id: '',
            name: '',
          }
  
        },
        defaultItem: {
          firstname: '',
          lastname: '',
          middlename: '',
          birth_date: '',
          login: '',
          password: '',
          email: '',
          sex: '',
          expert: '',
          role: { "id": "6761406065601834023", "name": "Преподаватель" },
          mainPosition: '',
          files: [],
          achievements: '',
          org: {
            id: null,
            name: ''
          },
          competences: [],
          subdiv: {
            id: null,
            name: '',
          },
          position: {
            id: null,
            name: ''
          },
        },
        rules: {
          required: value => !!value || 'Необходимо заполнить',
          min8: value => value.length >= 8 || 'Не менее 8 знаков',
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Введите корректный e-mail'
          },
          max100: value => value.length <= 100 || 'Не более 100 знаков'
        }
      },
      methods: {
        setSnackMessage: function (color, text) {
          this.snack.color = color;
          this.snack.text = text;
          this.snack.view = true;
        },
        getSex: function () {
          if (this.editedItem.sex == '') return 'Не выбран'
          if (this.editedItem.sex == 'f') return 'Женский'
          if (this.editedItem.sex == 'm') return 'Мужской'
        },
        typing: function (text) {
          this.searchInput = text;
        },
        formatDate(date) {
          if (!date) return null
  
          const [year, month, day] = date.split('-')
          return `${day}.${month}.${year}`
        },
        getCollaborators() {
          this.loading = 1;
          $.ajax({
            url: "custom_web_template.html?object_id=6748398834638268535&teachers",
            success: (response) => {
              console.warn(JSON.parse(response));
              if (response.error) {
                this.setSnackMessage("#FF0000", "Ошибка при загрузке списка пользователей: " + response.error);
              }
              try {
                this.groupsList = JSON.parse(response).groupsList;
                this.orgsList = JSON.parse(response).orgsList;
                this.collaborators = JSON.parse(response).collaborators;
                this.currentUser = JSON.parse(response).currentUser;
                this.competences = JSON.parse(response).competences;
                if (this.currentUser.isPopper) {
                  this.defaultItem.org = Object.assign(this.defaultItem.org, this.currentUser.org);
                  this.editedItem.org = Object.assign(this.editedItem.org, this.defaultItem.org);
                }
                this.loading = 0;
              } catch (err) { console.error(err); this.loading = 0 }
            },
            error: (err) => { console.error(err); this.loading = 0 }
          });
        },
        close() {
          setTimeout(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
          }, 300)
        },
  
        save() {
          console.warn(this.editedItem)
          $.ajax({
            method: "POST",
            data: JSON.stringify(this.editedItem),
            contentType: false,
            processData: false,
            url: "custom_web_template.html?object_id=6748398834638268535",
            success: (response) => {
  
          if ($("#attachFile").length && $("#attachFile").prop('files')[0]) {
              let fd = new FormData;
              fd.append("file", this.attachFile);
              fd.append("user_id", this.editedItem.id);
              $.ajax({
                  method: "POST",
                  data: fd,
                  contentType: false,
                  processData: false,
                  url: "custom_web_template.html?object_id=6748398834638268535&addfile",
                  success: (response) => {
                      response = JSON.parse(response);
                      console.log(response);
                      $("#attachFile").val("");
                      if (response.error) {
                          this.setSnackMessage("#FF0000", "Ошибка при загрузке файла: " + response.error);
                      } else {
                          this.setSnackMessage("#008000", "Файл загружен");
                      }
                  }, 
                  error: (err) => { this.setSnackMessage("#FF0000", "Ошибка при загрузке файла: " + err); }
              });
          }
  
  
              console.warn('пользователь добавлен/изменен', JSON.parse(response))
              this.getCollaborators()
              if (response.error) {
                this.setSnackMessage("#FF0000", "Ошибка при создании/изменении пользователя: " + response.error);
              } else {
                this.setSnackMessage("#008000", "Сотрудник создан/изменен.");
              }
            },
            error: (err) => { this.setSnackMessage("#FF0000", "Ошибка при создании/изменении пользователя: " + err) },
  
          })
          this.dialog = false
        },
        editItem(item) {
          this.editedIndex = this.collaborators.indexOf(item);
          $.ajax({
            method: "GET",
            url: `custom_web_template.html?object_id=6748398834638268535&id=${item.id}`,
            success: (response) => {
              console.warn(JSON.parse(response))
              this.editedItem = Object.assign(this.editedItem, JSON.parse(response).collabInfo)
              this.dialog = true
              console.warn('editedItem', this.editedItem)
            },
            error: (err) => { console.warn('error', err) }
  
          })
          // this.editedItem = Object.assign({}, item)
        },
  
        deleteItem(item) {
          // const index = this.collaborators.indexOf(item)
          if (confirm('Удалить пользователя?')) {
            $.ajax({
              method: "POST",
              data: JSON.stringify(item),
              url: "custom_web_template.html?object_id=6748398834638268535&delete",
              success: (response) => {
                console.warn('пользователь удален', JSON.parse(response))
                this.getCollaborators()
              },
              error: (err) => { console.log('error', err) }
  
            })
          }
        },
        tableToExcel(table, name) {
  
  
          const blob = new Blob(['<html><head><meta charset="UTF-8"></head><body>' + table.outerHTML + '</body></html>'], { type: 'application/vnd.ms-excel' });
          const fileStream = streamSaver.createWriteStream(name + '(' + new Date().toLocaleDateString().replace(/[.]/g, "_") + ').xls', {
            size: blob.size
          });
          const readableStream = blob.stream();
          if (window.WritableStream && readableStream.pipeTo) {
            return readableStream.pipeTo(fileStream)
              .then(() => console.log('done writing'))
          }
          window.writer = fileStream.getWriter();
          const reader = readableStream.getReader();
          const pump = () => reader.read()
            .then(res => res.done
              ? writer.close()
              : writer.write(res.value).then(pump));
  
          pump();
  
        },
        tableCreate(header, body) {
          function getInfo(id) {
            return new Promise((resolve) => {
              $.ajax({
                method: "GET",
                url: `custom_web_template.html?object_id=6748398834638268535&id=${item.id}`,
                success: (response) => {
                  response = JSON.parse(response);
                  resolve(response.collabInfo)
                },
                error: (err) => { console.warn('error', err) }
  
              })
            })
          }
          let promises = [];
          for (item of body) {
            promises.push(getInfo(item.id))
          }
          var time = performance.now();
          Promise.all(promises).then((results) => {
            time = performance.now() - time;
            console.log('Время выполнения = ', time);
            console.warn('results', results)
            var tbl = document.createElement('table');
            var hdr = tbl.createTHead();
            var trH = hdr.insertRow();
            var bd = tbl.createTBody();
  
            let header = [
              { text: 'Имя', value: 'name' },
              { text: 'Дата рождения', value: 'birth_date' },
              { text: 'E-mail', value: 'email' },
              { text: 'Организация', value: 'org.name' },
              { text: 'Компетенции', value: 'competences' },
            ]
            tbl.style.width = '100px';
            tbl.style.border = '0.5pt solid black';
            for (head of header) {
              var th = trH.insertCell();
              th.appendChild(document.createTextNode(head.text))
              th.style.border = '0.5pt solid black';
            }
            for (var i = 0; i < results.length; i++) {
              var tr = bd.insertRow();
              for (head of header) {
                let val = head.value;
                let td = tr.insertCell();
  
                if (val === 'org.name') {
                  if (results[i].org) {
                    td.appendChild(document.createTextNode(results[i].org.name));
                    td.style.border = '0.5pt solid black';
                  } else {
                    td.appendChild(document.createTextNode(''));
                    td.style.border = '0.5pt solid black';
                  }
                  continue;
                }
  
                if (val === 'competences') {
                  if (results[i].competences.length) {
                    td.appendChild(document.createTextNode(
                      results[i].competences.reduce((acc, cur) => {
                        return acc += ' ' + cur.name
                      }, ''))
                    );
                    td.style.border = '0.5pt solid black';
                  } else {
                    td.appendChild(document.createTextNode(''))
                    td.style.border = '0.5pt solid black';
                  }
                  continue;
                }
  
                td.appendChild(document.createTextNode(results[i][val]));
                td.style.border = '0.5pt solid black';
              }
            }
            this.tableToExcel(tbl, 'Преподаватели')
          })
        }
      },
      computed: {
        formTitle() {
          return this.editedIndex === -1 ? 'Новый преподаватель' : 'Редактирование'
        },
        filteredList: function () {
  
          function isIntersecting(array1, array2) {
            if (!array2.length) return true;
            for (arr1obj of array1) {
                if (array2.includes(arr1obj)) return true;
            }
            return false;
          }
  
          return this.collaborators.filter(collab => {
            for (var key in collab) {
              if (String(collab[key]).toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1&& isIntersecting(collab.competences, this.selectInput)) {
                return true
              }
            }
          })
   
        }
  
      },
      mounted() {
  
        this.getCollaborators();
        $("#collaborators-list").removeClass("hidden");
      },
      watch: {
        dialog(val) {
          if (val === false) {
            this.close()
          }
        }
      }
  
    });
  
  
  </script>
  
  <style>
    .hidden {
      display: none;
    }
  
    .sex input {
      cursor: pointer !important;
    }
  
    .disabled {
      pointer-events: none;
      opacity: .6;
    }
  
    .v-application--wrap {
      min-height: 100%
    }
  
    .v-sheet--tile {
      position: static
    }
  
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
      background-color: var(--third-color);
      color: white;
    }
  
    .v-toolbar__content .v-select__slot input {
      min-width: 250px;
      max-width: 250px;
    }
  
    #collaborators-list .v-toolbar,
    #collaborators-list .v-toolbar__content {
      height: unset !important;
    }
  
    .v-toolbar__content {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }
  
    .no-border-input .v-select__slot input {
      border: none;
      box-shadow: none;
      background-color: transparent;
      width: 1px;
      height: 1px;
      padding: 0px;
    }
  
    .v-select.v-select--chips .v-select__selections {
      min-height: unset;
    }
  
    .v-toolbar .no-border-input .v-select__slot label:not(v-label--active) {
      top: 0;
    }
  
    .v-toolbar .no-border-input .v-input__control .v-text-field__details {
      display: none;
    }
  
    #loading:not(.hidden) {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, .7);
      font-size: 2em;
    }
  
    #loading.animation p {
      position: relative;
    }
  
    #loading.animation p:before {
      position: absolute;
      content: "";
      left: calc(100% + 5px);
      top: 0;
      width: 40px;
      height: 100%;
      display: flex;
      align-items: center;
      animation: preloading 2s linear infinite;
    }
  
    @keyframes preloading {
      0% {
        content: ".";
      }
  
      50% {
        content: "..";
      }
  
      100% {
        content: "...";
      }
    }
  
    h2 {
      color: #1c6186;
      font-weight: bold;
      font-size: 34px;
    }
  
    #request-page {
      padding-bottom: 20px;
    }
  </style>