<div id="collaborators-list" class="hidden" data-app="true">
  <div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
    <p>Загрузка</p>
  </div>
  <h2>Список сотрудников</h2>
  <div class="collaborators_page">

    <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
      :multi-line="true">
      {{ snack.text }}
      <v-btn color="white" text @click="snack.view = false">
        Закрыть
      </v-btn>
    </v-snackbar>
    <v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0 ">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" width="900">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Добавить</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
              <v-card-text>
                <v-form v-model='valid'>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.firstname" label="Имя" :rules="[rules.required]">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.lastname" label="Фамилия" :rules="[rules.required]">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.middlename" label="Отчество">
                        </v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.email" label="e-mail" :rules="[rules.required, rules.email]">
                        </v-text-field>
                      </v-col>
                      <v-col>
                        <v-menu offset-y transition="slide-y-transition">
                          <template v-slot:activator="{ on }">
                            <v-text-field class="sex" v-on="on" v-model="getSex()" label="Пол"
                              append-icon="mdi-menu-down">
                            </v-text-field>
                          </template>
                          <v-list>
                            <v-list-item @click="editedItem.sex = 'm'">Мужской</v-list-item>
                            <v-list-item @click="editedItem.sex = 'f'">Женский</v-list-item>
                          </v-list>
                        </v-menu>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-menu ref="menu" v-model="menu" :close-on-content-click="false"
                          :return-value.sync="editedItem.birth_date" transition="scale-transition" offset-y
                          max-width="290px" min-width="290px">
                          <template v-slot:activator="{ on }">
                            <v-text-field v-model="editedItem.birth_date" label="Дата рождения" v-on="on"
                              hint="ДД.ММ.ГГГГ">
                            </v-text-field>
                          </template>
                          <v-date-picker v-model="dateIso" type="date" first-day-of-week="1" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" dark @click="menu = false">Отменить</v-btn>
                            <v-btn color="primary" dark
                              @click="editedItem.birth_date = formatDate(dateIso); $refs.menu.save(editedItem.birth_date)">
                              OK</v-btn>
                          </v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" sm="6" md="4" v-bind:class="{ disabled: currentUser.isEmployer }">
                        <v-select v-model="editedItem.role" label="Роль" :rules="[rules.required]" :items="groupsList"
                          item-text="name" item-value='id' return-object>
                        </v-select>
                      </v-col>
                      </v-col>
                      <v-col cols="12" sm="6" md="4" v-bind:class="{ disabled: currentUser.isEmployer }">
                        <v-autocomplete label="Организация" v-model="editedItem.org" :items="orgsList" item-text="name"
                          return-object></v-autocomplete>
                      </v-col>
                      <v-col v-if="editedItem.org.id" cols="12" sm="12" md="4">
                        <v-text-field label="Должность" v-model="editedItem.position.name" :rules="[rules.required]">
                        </v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col v-if="editedIndex == -1" cols="12" sm="6">
                        <v-text-field v-model="editedItem.login" label="Логин" :rules="[rules.required]">
                        </v-text-field>
                      </v-col>
                      <v-col v-if="editedIndex == -1" cols="12" sm="6">
                        <v-text-field v-model="editedItem.password" label="Пароль"
                          :rules="[rules.required, rules.min8]">
                        </v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <!-- <v-col>
                          <v-text-field v-if="editedItem.role.id == '6761406065601834023'" label="Основная Должность"
                            v-model="editedItem.mainPosition"></v-text-field>
                        </v-col> -->
                      <v-col cols="12">
                        <v-textarea v-if="editedItem.role.id == '6761406065601834023'" flat no-resize rows="2"
                          label="Достижения" v-model="editedItem.achievements"></v-textarea>
                      </v-col>
                    </v-row>

                  </v-container>
                </v-form>

              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" dark @click.stop="dialog = false">Отменить</v-btn>
                <v-btn color="primary" dark :class="{'disabled' : !valid}" @click.stop="save">Сохранить</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>

  </div>
</div>



<script>
  Vue.use(VueMask.VueMaskPlugin);
  var collaborators = new Vue({
    el: '#collaborators-list',
    vuetify: new Vuetify({
      lang: {
        locales: {
          ru: ruLocale
        },
        current: 'ru'
      }
    }),
    data: {
      snack: {
        view: false,
        text: '',
        color: '',
        timeout: 6000,
      },
      dialog: false,
      valid: false,
      deleteDialog: {},
      menu: false,
      loading: 1,
      collaborators: [],
      searchInput: '',
      headers: [{
        text: 'ФИО', value: 'fullname'
      }, {
        text: 'Дата рождения', value: 'birth_date',
      //   customSort:
      //   function(items, isDesc) {
      //     items.sort((a, b) => {
      //         if (!isDesc) {
      //          return a.split('.').reverse().join('') > b.split('.').reverse().join('')
      //         } else {
      //          return a.split('.').reverse().join('') < b.split('.').reverse().join('')
      //         }
      //     });
      //   return items;
      //   }
      },
      { text: 'Действия', value: 'action', sortable: false },
      ],
      editedIndex: -1,
      dateIso: '',
      sexTypes: ['m', 'f'],
      groupsList: [],
      orgsList: [],
      currentUser: {
    isEmployer: false,
    org: {
          id: '',
          name: ''
    }
      },
      editedItem: {
        firstname: '',
        lastname: '',
        middlename: '',
        birth_date: '',
        login: '',
        password: '',
        email: '',
        sex: '',
        role: '',
        mainPosition: '',
        achievements: '',
        position: {
          id: '',
          name: ''
        },
        org: {
          id: '',
          name: ''
        },
        subdiv: {
          id: '',
          name: '',
        }

      },
      defaultItem: {
        firstname: '',
        lastname: '',
        middlename: '',
        birth_date: '',
        login: '',
        password: '',
        email: '',
        sex: '',
        role: '',
        mainPosition: '',
        achievements: '',
        org: {
          id: null,
          name: ''
        },
        subdiv: {
          id: null,
          name: '',
        },
        position: {
          id: null,
          name: ''
        },
      },
      rules: {
        required: value => !!value || 'Необходимо заполнить',
        min8: value => value.length >= 8 || 'Не менее 8 знаков',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Введите корректный e-mail'
        },
        max100: value => value.length <= 100 || 'Не более 100 знаков'
      }
    },
    methods: {
      setSnackMessage: function (color, text) {
        this.snack.color = color;
        this.snack.text = text;
        this.snack.view = true;
      },
      getSex: function () {
        if (this.editedItem.sex == '') return 'Не выбран'
        if (this.editedItem.sex == 'f') return 'Женский'
        if (this.editedItem.sex == 'm') return 'Мужской'
      },
      typing: function (text) {
        this.searchInput = text;
      },
      formatDate(date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}.${month}.${year}`
      },
      getCollaborators() {
        this.loading = 1;
        $.ajax({
          url: "custom_web_template.html?object_id=6748398834638268535",
          success: (response) => {
            console.warn(JSON.parse(response));
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при загрузке списка пользователей: " + response.error);
            }
            try {
              this.groupsList = JSON.parse(response).groupsList;
              this.orgsList = JSON.parse(response).orgsList;
              this.collaborators = JSON.parse(response).collaborators;
              this.currentUser = JSON.parse(response).currentUser;
              if (this.currentUser.isEmployer) {
        this.defaultItem.org = Object.assign(this.defaultItem.org, this.currentUser.org);
        this.defaultItem.role = {"id": "6761406065601834026", "name": "Обучающийся"};
        this.editedItem.org = Object.assign(this.editedItem.org, this.defaultItem.org);
        this.editedItem.role = Object.assign(this.editedItem.role, this.defaultItem.role);
              }
              this.loading = 0;
            } catch (err) { console.error(err); this.loading = 0 }
          },
          error: (err) => { console.error(err); this.loading = 0 }
        });
      },
      close() {
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save() {
        console.warn(this.editedItem)
        $.ajax({
          method: "POST",
          data: JSON.stringify(this.editedItem),
          contentType: false,
          processData: false,
          url: "custom_web_template.html?object_id=6748398834638268535",
          success: (response) => {
            console.warn('пользователь добавлен/изменен', JSON.parse(response))
            this.getCollaborators()
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при создании/изменении пользователя: " + response.error);
            } else {
              this.setSnackMessage("green", "Сотрудник создан/изменен.");
            }
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при создании/изменении пользователя: " + err) },

        })
        this.dialog = false
      },
      editItem(item) {
        this.editedIndex = this.collaborators.indexOf(item);
        $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6748398834638268535&id=${item.id}`,
          success: (response) => {
            console.warn(JSON.parse(response))
            this.editedItem = Object.assign(this.editedItem, JSON.parse(response).collabInfo);
            this.dialog = true
            console.warn('editedItem', this.editedItem)
          },
          error: (err) => { console.warn('error', err) }

        })
        // this.editedItem = Object.assign({}, item)
      },

      deleteItem(item) {
        // const index = this.collaborators.indexOf(item)
        if (confirm('Удалить пользователя?')) {
          $.ajax({
            method: "POST",
            data: JSON.stringify(item),
            url: "custom_web_template.html?object_id=6748398834638268535&delete",
            success: (response) => {
              console.warn('пользователь удален', JSON.parse(response))
              this.getCollaborators()
            },
            error: (err) => { console.log('error', err) }

          })
        }
      }
    },
    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Новый сотрудник' : 'Редактирование'
      },
      filteredList: function () {
        return this.collaborators.filter(collab => {
          for (var key in collab) {
            if (collab[key].toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1) {
              return true
            };
          }
        })
      }
    },
    mounted() {

      this.getCollaborators();
      $("#collaborators-list").removeClass("hidden");
    },
    watch: {
      dialog(val) {
        if (val === false) {
          this.close()
        }
      }
    }

  });


</script>

<style>
  .hidden {
    display: none;
  }

  .sex input {
    cursor: pointer !important;
  }

  .disabled {
    pointer-events: none;
    opacity: .6;
  }

  .v-application--wrap {
    min-height: 100%
  }

  .v-sheet--tile {
    position: static
  }

  #loading:not(.hidden) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .7);
    font-size: 2em;
  }

  #loading.animation p {
    position: relative;
  }

  #loading.animation p:before {
    position: absolute;
    content: "";
    left: calc(100% + 5px);
    top: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    animation: preloading 2s linear infinite;
  }

  @keyframes preloading {
    0% {
      content: ".";
    }

    50% {
      content: "..";
    }

    100% {
      content: "...";
    }
  }

  h2 {
    color: #1c6186;
    font-weight: bold;
    font-size: 34px;
  }

  #request-page {
    padding-bottom: 20px;
  }
</style>