<script src="scripts/jszip/zip.js"></script>
<script src="scripts/jszip/zip-ext.js"></script>
<script>
    // configure all test cases.
    zip.useWebWorkers = true
    // to test third party deflate implementations, comment out 'zip.workerScriptsPath =...' and uncomment 'zip.workerScripts = ...'
    zip.workerScriptsPath = 'scripts/jszip/'
</script>

<div id="vue-page" style="min-height:50vh;">
    <v-app>
        <div v-if="loading" class="text-center preloader">
            <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
            ></v-progress-circular>
        </div>
        <div>
            <v-form>
                <v-file-input name="images" v-model="file"
                    :show-size="true" persistent-hint
                    label="Архив .zip"
                    :accept="'.zip'" prepend-icon="mdi-image" @change="fileChange()" @click="if (file) $event.preventDefault()"></v-file-input>
            </v-form>
            <v-btn :disabled="file == null">Импортировать</v-btn>
            <v-container>
                <v-progress indeterminate color="warning" value="progress.value" v-if="progress.value" size="40" width="5"></v-progress>
                <v-row>
                    <v-col cols="12" class="file-list"></v-col>
                </v-row>
            </v-container>
        </div>
        <v-dialog v-model="dialog" max-width="480" v-if="dialog" persistent @keydown.enter="!loading ? sendXml() : ''">
            <v-card :loading="loading" :disabled="loading">
                <v-stepper v-model="step" style="box-shadow: unset;">
                  <v-stepper-items>
                    <v-stepper-content :step="1">
                        <v-card-title class="headline">В пакете присутствуют не все файлы</v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row><v-col cols="12">В пакете не найдены файлы:</v-col></v-row>
                                <v-row v-if="missingFiles"><v-col v-html="missingFiles"></v-col></v-row>
                                <v-row><v-col cols="12">Если Вы всё равно хотите продолжить - нажмите кнопку "Продолжить"</v-col></v-row>
                            </v-container>
                        </v-card-text>
                    </v-stepper-content>
                    <v-stepper-content :step="2">
                        <v-card-title class="headline">Такой курс уже существует</v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row><v-col cols="12"></v-col></v-row>
                            </v-container>
                        </v-card-text>
                    </v-stepper-content>
                  </v-stepper-items>
                </v-stepper>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary darken-1" dark @click="dialog = false" height="30">Отмена</v-btn>
                    <v-btn color="primary darken-1" dark @click="sendXml()" height="30">Продолжить</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</div>
   
<script>
    var objs_list = new Vue({
    el: '#vue-page',
    vuetify: new Vuetify({
    lang: {
        locales: {
        ru: ruLocale
        },
        current: 'ru'
    }
    }),

    data () {
        return {
            loading: false,
            dialog: false,
            step: 1,
            file: null,
            // rules: {
            //     required: value => !!value || 'Необходимо заполнить',
            // }
            options: {},
            progress: {
            },
        }
    },

    methods: {
        createTempFile(entry, callback) {
            var tmpFilename = entry.filename;
            var requestFileSystem = window.webkitRequestFileSystem || window.mozRequestFileSystem || window.requestFileSystem
            requestFileSystem(TEMPORARY, 4 * 1024 * 1024 * 1024, function(filesystem) {
                function create() {
                    filesystem.root.getFile(tmpFilename, {
                        create : true
                    }, function(zipFile) {
                        callback(zipFile);
                    });
                }

                filesystem.root.getFile(tmpFilename, null, function(entry) {
                    entry.remove(create, create);
                }, create);
            });
        },

        getEntries (file, onend) {
            zip.createReader(new zip.BlobReader(file), function(zipReader) {
                zipReader.getEntries(onend);
            }, onerror);
        },

        getEntryFile (entry, creationMethod, onend, onprogress) {
            var writer, zipFileEntry;

            function getData() {
                URL = window.webkitURL || window.mozURL || window.URL
                entry.getData(writer, function(blob) {
                    console.warn(blob)
                    var blobURL = creationMethod == "Blob" ? URL.createObjectURL(blob) : zipFileEntry.toURL();
                    onend(blobURL, blob);
                }, onprogress);
            }

            if (creationMethod == "Blob") {
                writer = new zip.BlobWriter();
                getData();
            } else {
                this.createTempFile(entry, function (fileEntry) {
                    zipFileEntry = fileEntry;
                    writer = new zip.FileWriter(zipFileEntry);
                    getData();
                });
            }
        },

        fileChange () {
            var fileList = document.querySelector('.file-list')
            if (!this.file) { fileList.innerHTML = ""; return }

            var download = (entry, li, a) => {
                this.getEntryFile(entry, 'File', (blobURL) => {
                    var clickEvent = document.createEvent("MouseEvent");
                    this.progress.value = 0
                    clickEvent.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    a.href = blobURL;
                    a.download = entry.filename;
                    a.dispatchEvent(clickEvent);
                }, (current, total) => {
                    this.progress.value = ((current || 1) / total) * 100;
                });
            }
        
            this.getEntries(this.file, (entries) => {
                fileList.innerHTML = ""
                var xml_entry = entries.find( item => item.filename.includes('manifest.xml'))
                if (!xml_entry) { alert("Не найден исполнительный файл imsmanifest.xml"); return }
                var _entries = entries.filter( item => item.filename[item.filename.length - 1] != '/' )
				_entries.forEach(function(entry) {
					var li = document.createElement("li");
					var a = document.createElement("a");
					a.textContent = entry.filename;
					a.href = "#";
					a.addEventListener("click", function(event) {
						if (!a.download) {
							event.preventDefault();
							download(entry, li, a);
							return false;
						}
					}, false);
					li.appendChild(a);
					fileList.appendChild(li);
                })
                
                this.getEntryFile(  xml_entry, 
                                    'File', 
                                    (fileUrl, file) => {
                                        this.options = {
                                            file: file,
                                            path: '&xml',
                                            loading: 'loading'
                                        }
                                        this.checkXml(file, _entries).then((res) => {
                                            console.warn(res)
                                            if (res.files.length) {
                                                this.missingFiles = res.files.join(',<br>')
                                                this.dialog = true
                                                delete(res.files)
                                                this.options.body = res
                                            } else {
                                                delete(res.files)
                                                this.options.body = res
                                                this.sendXml()
                                            }
                                        })
                                    }, 
                                    (evt) => { console.warn(evt) }
                                )
			});
        },

        send (callback) { //Функция запросов
            let options = this.options
            this[options.loading] = true;
            const serverUrl = 'custom_web_template.html?object_id=6822604977279102709' + options.path;
            return fetch(serverUrl, options.settings)
            .then(response => {
                if (response.status !== 200) return;
                return response.json();
            })
            .then(res => { callback(res); this[options.loading] = false })
            .catch(err => {
                console.error('Err:', err)
                this[options.loading] = false
                this.dialog = false
            })
        },

        checkXml (file, entries) {
            return new Promise((res, rej) => {
                var reader = new FileReader()
                reader.onload = function(evt) {
                    var parser = new DOMParser()
                    var xmlDoc = parser.parseFromString(evt.target.result, "text/xml")
                    console.warn([xmlDoc])
                    var all = Array.from(xmlDoc.all)
                    var arr = Array.from( all.filter( item => item.nodeName == 'file') ).map( item => item.getAttribute('href') )
                    var missingFiles = []
                    arr.forEach( item => {
                        if (!entries.find( entry => entry.filename == item )) missingFiles.push(item)
                    })
                    var title = all.find( item => item.nodeName == 'title' ).textContent
                    var code = all.find( item => item.nodeName == 'organization' ).getAttribute('identifier')
                    res( { files: missingFiles, title: title, code: code } )
                }
                reader.readAsText(file, "text/xml")
            })
        },

        sendXml () {
            let options = this.options
            console.warn('sendXml', options.body)
            this.loading = true
            // delete(body.files)
            options.settings = {
                method: 'POST',
                headers: {'Content-Type': 'application/json;charset=utf-8'},
                body: JSON.stringify(options.body)
            }
            this.send( (res) => {
                console.warn(res)
                this.step = 2
                this.loading = false
            })
        },

    },

    mounted () {
        window.addEventListener("load", (evt) => {
        })
    }
})
</script>

<style>
        .preloader {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 100%;
          height: 100%;
          min-height: 50vh;
          background-color: rgba(255,255,255,.4);
        }
        .v-application--wrap {
            min-height: 100%
        }
</style>