<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<div id="resources-list" class="hidden">
  <div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
    <p>Загрузка</p>
  </div>
  <h2>Помещения и технические средства</h2>
  <div v-cloak class="resourcesPage">

    <v-app>
      <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
        :multi-line="true">
        {{ snack.text }}
        <v-btn color="white" text @click="snack.view = false">
          Закрыть
        </v-btn>
      </v-snackbar>
      <v-data-table v-if="filteredList" :headers="headers" :items="filteredList" :items-per-page="10"
        class="elevation-0 ">
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" width="900">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on" @click="newItem()">Добавить</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-form v-model='valid' ref="form">
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.name" label="Название" :rules="[rules.required]">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-select v-model="editedItem.type" :items="types" label="Тип" :rules="[rules.required]">
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-select v-model="editedItem.organization" :items="organizations" item-value="id"
                            item-text="name" label="Организация" v-on:change="getExperts(editedItem.organization)"
                            :rules="[rules.org]"></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                          <v-text-field v-model="editedItem.description" label="Описание">
                          </v-text-field>
                        </v-col>

                        <!--
                                            <v-col cols="12" sm="12" md="12">
                                              <v-img max-width="100" max-height="100" v-if="editedItem.image"
                                                :src="editedItem.image" alt="Изображение">
                                              </v-img>
                                              <v-file-input prepend-icon="mdi-camera" label="Картинка" :rules="[rules.img]" accept="image/png, image/jpeg, image/bmp" id="uploadimage">
                                              </v-file-input>
                                            </v-col>
						-->

                        <!--<v-col cols="12">
                          <v-file-input name="image" prepend-icon="mdi-camera" v-model="editedItem.image"
                            accept="image/png, image/jpeg, image/bmp" label="Изображения (jpeg, jpg, png)"
                            id="uploadimage">
                          </v-file-input>
                        </v-col> -->

                        <!-- <v-col cols="12" md="4" class="d-flex justify-center align-center">
                          <v-btn v-if="editedItem.image.url" :href="editedItem.image.url" target="_blank">посмотреть
                          </v-btn>
                        </v-col> -->

                        <v-col cols="12" sm="6" md="4">
                          <v-select v-model="editedItem.competence" :items="competences" item-value="id"
                            item-text="name" label="Компетенция" return-object :rules="[rules.required]">
                          </v-select>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                          <v-checkbox v-model="editedItem.demo" label="Демонстрационный экзамен">
                          </v-checkbox>
                        </v-col>
                        <v-col v-if="editedItem.demo" cols="12" sm="6" md="4">
                          <v-text-field v-model="editedItem.workplace" height="42" :rules="[rules.number]"
                            label="Количество рабочих мест"></v-text-field>
                        </v-col>
                        <v-col v-if="editedItem.demo" cols="12" sm="6" md="4">
                          <v-select v-model="editedItem.experts" :items="experts" item-value="id" item-text="name" loader-height="2" :loading="loadExperts" color="primary"
                            label="Эксперты" multiple chips :no-data-text="noDataText"></v-select>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" dark @click.stop="dialog = false">Отменить</v-btn>
                  <v-btn color="primary" dark @click.stop="save" :class="{'disabled' : !valid}">Сохранить</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" @click="openItem(item)">
            mdi-eye
          </v-icon>
          <v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon small class="mr-2" @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>

      <v-row v-if="resources.length">
        <v-col cols="12" md="3" class="ml-auto" style="max-width: 150px;">
          <button class="btn btn-excell copp__btn" @click="tableCreate(headers, resources)">
            <v-icon left color="white">mdi-file-excel</v-icon> Скачать
          </button>
        </v-col>
      </v-row>

      <v-dialog v-model="viewDialog" width="900">
        <v-tabs centered v-model="defaultTab">
          <v-tabs-slider></v-tabs-slider>
          <v-tab>
            Описание
          </v-tab>
          <v-tab-item>
            <v-card>
              <v-card-title>
                <span> Просмотр </span>
              </v-card-title>
              <v-card-text style="pointer-events: none;">
                <v-form v-model='valid'>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.name" label="Название">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.type" label="Тип">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-select v-model="editedItem.organization" :items="organizations" item-value="id"
                          item-text="name" label="Организация"></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="12">
                        <v-text-field v-model="editedItem.description" label="Описание">
                        </v-text-field>
                      </v-col>


                      <!-- <v-col cols="12" sm="12" md="12">
                        <v-img max-width="100" max-height="100" v-if="editedItem.image" :src="editedItem.image"
                          alt="Изображение">
                        </v-img>
                      </v-col> -->

                      <v-col cols="12" sm="6" md="4">
                        <v-select v-model="editedItem.competence" :items="competences" item-value="id" item-text="name"
                          label="Компетенция" return-object>
                        </v-select>
                      </v-col>

                      <v-col v-if="editedItem.demo" cols="12" sm="6" md="2">
                        <v-text-field v-model="editedItem.workplace" label="Рабочих мест"></v-text-field>
                      </v-col>
                      <v-col v-for="expert of editedItem.experts" v-if="editedItem.demo" cols="12" sm="6" md="10">
                        <v-text-field :value="expert.name" label="Эксперты"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab @click="checkChange">
            Календарь
          </v-tab>
          <v-tab-item v-if="editedItem.events">
            <v-sheet height="64">
              <v-toolbar flat color="white">
                <v-btn outlined class="mr-4" @click="setToday">
                  Сегодня
                </v-btn>
                <v-btn fab text small @click="prev">
                  <v-icon small>mdi-chevron-left</v-icon>
                </v-btn>

                <v-toolbar-title>{{ title }}</v-toolbar-title>
                <v-btn fab text small @click="next">
                  <v-icon small>mdi-chevron-right</v-icon>
                </v-btn>
              </v-toolbar>
            </v-sheet>
            <v-sheet height="600">
              <v-calendar :event-more="false" :weekdays="[1, 2, 3, 4, 5, 6, 0]" ref="calendar" v-model="focus"
                color="primary" :events="editedItem.events" :event-color="'green'" :event-start="'start_date'"
                :event-end="'finish_date'" :event-margin-bottom="3" :now="today" type="month" @click:event="showEvent"
                @change="updateRange">
              </v-calendar>
              <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-y>
                <v-card color="grey lighten-4" min-width="350px" max-width="500px" flat>
                  <v-toolbar color="green">
                    <!-- <v-btn icon>
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn> -->
                    <v-toolbar-title class="white--text" v-html="selectedEvent.type"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <!-- <v-btn icon>
                          <v-icon>mdi-heart</v-icon>
                        </v-btn>
                        <v-btn icon>
                          <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn> -->
                  </v-toolbar>
                  <v-card-text>
                    <div v-if="selectedEvent.name">
                      <div v-html="selectedEvent.name"></div>
                    </div>
                    <div v-if="selectedEvent.knowledge_parts">
                      <v-chip class="ma-2" v-for="(part, index) in selectedEvent.knowledge_parts" :key="index">
                        {{ part.knowledge_part_name }}
                      </v-chip>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn dark color="primary" @click="selectedOpen = false">
                      Закрыть
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-menu>
            </v-sheet>
          </v-tab-item>
        </v-tabs>
      </v-dialog>



    </v-app>

  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/eligrey/Blob.js/Blob.js"></script>
<script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>


<script>
  var resources = new Vue({

    el: '#resources-list',
    vuetify: new Vuetify({
      lang: {
        locales: {
          ru: ruLocale
        },
        current: 'ru'
      }
    }),
    data: {
      snack: {
        view: false,
        text: '',
        color: '',
        timeout: 6000,
      },
      editedIndex: -1,
      valid: false,
      dialog: false,
      defaultTab: 0,
      menu: false,
      loading: 1,
      loadExperts: false,
      noDataText: 'Укажите организацию',
      viewDialog: false,
      resources: [],
      competences: [],
      searchInput: '',
      headers: [
        { text: 'Название', value: 'name' },
        { text: 'Тип', value: 'type' },
        { text: 'Организация', value: 'organization.name' },
        { text: 'Демонстрационный экзамен', value: 'demo' },
        { text: 'Компетенция', value: 'competence.name', sortable: false },
        { text: 'Действия', value: 'action', sortable: false, width: '120px' }
      ],
      rules: {
        required: value => !!value || 'Необходимо заполнить',
        number: function (value) {
          const pattern = /^\d+$/;
          return pattern.test(value) || 'Введите корректное число'
        },
        org: value => {
          //console.log(value);
          return ((value.id && value.id.length > 0) || value.length > 0) || 'Необходимо заполнить'
        }
      },
      editedItem: {
        name: '',
        type: '',
        organization: {id: "", name: ""},
        description: '',
        demo: false,
        image: [],
        workplace: '',
        experts: []
      },
      defaultItem: {
        name: '',
        type: '',
        organization: {id: "", name: ""},
        description: '',
        demo: false,
        image: [],
        workplace: '',
        experts: []
      },
      experts: [],
      organizations: [],
      types: ["Помещение", "Техническое средство"],
      today: '',
      focus: '',
      type: 'month',
      typeToLabel: {
        month: 'Месяц',
        week: 'Неделя',
        day: 'День',
        '4day': '4 Days',
      },
      start: null,
      end: null,
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      // events: [
      //   {
      //     name: 'Событие 1',
      //     details: 'Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требует определения и уточнения экономической целесообразности принимаемых решений. С другой стороны реализация намеченного плана развития в значительной степени обуславливает создание дальнейших направлений развития проекта. Дорогие друзья, постоянный количественный рост и сфера нашей активности создаёт предпосылки качественно новых шагов для соответствующих условий активизации?',
      //     start: '2018-12-29',
      //     end: '2018-12-29',
      //     color: 'blue',
      //   }     
      // ],
    },
    methods: {
      typing(text) {
        this.searchInput = text;
      },
      getResources() {
        this.loading = 1;
        $.ajax({
          url: "custom_web_template.html?object_id=6748398834638268647",
          success: (response) => {
            response = JSON.parse(response);
            console.warn(response);
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при загрузке списка ресурсов: " + response.error);
            }
            try {
              this.resources = response.resources;
              this.competences = response.competences;
              this.today = response.today;
              this.focus = response.focus;
              console.log(this.resources);
              this.loading = 0;
            } catch (err) { this.setSnackMessage("red", "Ошибка при загрузке списка ресурсов: " + err); this.loading = 0 }
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке списка ресурсов: " + err); this.loading = 0 }
        });
      },
      close() {
        console.warn('closed')
        this.dialog = false;

        this.focus = this.today;
        this.defaultTab = 0;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.$refs.form.resetValidation()
          this.noDataText = 'Укажите организацию';
          this.editedIndex = -1
        }, 300)
      },

      save() {

        console.log(this.editedItem);
        $.ajax({
          method: "POST",
          data: JSON.stringify(this.editedItem),
          contentType: false,
          processData: false,
          url: "custom_web_template.html?object_id=6748398834638268647",
          success: (response) => {
            response = JSON.parse(response);
            this.editedItem.resource_id = response.id;
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + response.error);
            } else {
              this.setSnackMessage("green", "Ресурс добавлен/изменен.");
            }
            this.getResources()
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + err); },
          complete: () => {
            let fd = new FormData;
            fd.append('obj_id', this.editedItem.resource_id)
            if ($("#uploadimage").length) {
              let $input = $("#uploadimage");
              fd.append('img', $input.prop('files')[0]);
              $.ajax({
                method: "POST",
                data: fd,
                contentType: false,
                processData: false,
                url: "custom_web_template.html?object_id=6753213891858355811",
                success: (response) => {
                  response = JSON.parse(response);
                  console.log(response);
                  if (response.error) {
                    this.setSnackMessage("red", "Ошибка при загрузке изображения: " + response.error);
                  }
                },
                error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке изображения: " + err); }
              })
            }
          }
        })
        this.close()
      },
      editItem(item) {
        this.editedIndex = this.resources.indexOf(item);
        this.experts = [];
        $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6748398834638268647&id=${item.id}`,
          success: (response) => {
            response = JSON.parse(response);
            console.log(response);
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при открытии ресурса: " + response.error);
            }
            this.competences = response.competences;
            this.editedItem = Object.assign(this.editedItem, response.resourceInfo);
            this.experts = this.editedItem.experts;
            this.organizations = response.orgs;
            if (!this.editedItem.organization) {this.editedItem.organization = {id: "", name: ""}}
            this.dialog = true
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при открытии ресурса: " + err); }

        })

      },
      newItem(item) {
        this.editedIndex = -1;
        this.experts = [];
        $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6748398834638268647&new`,
          success: (response) => {
            response = JSON.parse(response);
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при загрузке списка организаций: " + response.error);
            }
            this.organizations = response.orgs;
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке списка организаций: " + err); }

        })
        this.dialog = true
      },
      openItem(item) {
        this.editedIndex = this.resources.indexOf(item);

        this.experts = [];
        $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6748398834638268647&id=${item.id}`,
          success: (response) => {
            response = JSON.parse(response);
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при открытии ресурса: " + response.error);
            }
            this.editedItem = Object.assign(this.editedItem, response.resourceInfo);
            console.warn('editedItem', this.editedItem);
            this.competences = response.competences;
            this.experts = this.editedItem.experts;
            this.organizations = response.orgs
            if (!this.editedItem.organization) {this.editedItem.organization = {id: "", name: ""}}
            this.viewDialog = true

          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при открытии ресурса: " + err); }

        })

      },
      getExperts(org) {
        if (this.editedItem.organization.id != "") {
            let data = JSON.stringify({ id: org });
        this.loadExperts = true;
            $.ajax({
            method: "POST",
            data: data,
            url: "custom_web_template.html?object_id=6748398834638268647&experts",
            success: (response) => {
            console.warn(response);
                response = JSON.parse(response);
                if (response.error) {
                this.setSnackMessage("red", "Ошибка при загрузке списка экспертов: " + response.error);
                }
                this.experts = response.experts;
            this.noDataText = !this.experts.length ? 'В данной организации нет экспертов' : '';
            },
            error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке списка экспертов: " + err); },
            complete: () => { this.loadExperts = false; }

            })
        }
      },

      deleteItem(item) {
        const index = this.resources.indexOf(item)
        $.ajax({
          method: "POST",
          data: JSON.stringify(item),
          url: "custom_web_template.html?object_id=6748398834638268647&delete",
          success: (response) => {
            response = JSON.parse(response);
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при удалении ресурса: " + response.error);
            } else {
              this.setSnackMessage("green", "Ресурс удалён.");
            }
            this.getResources()
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при удалении ресурса: " + err); }

        })
      },
      setSnackMessage: function (color, text) {
        this.snack.color = color;
        this.snack.text = text;
        this.snack.view = true;
      },
      viewDay({ date }) {
        this.focus = date
        this.type = 'day'
      },
      // getEventColor (event) {
      //   return event.color
      // },
      setToday() {
        this.focus = this.today
      },
      prev() {
        this.$refs.calendar.prev()
      },
      next() {
        this.$refs.calendar.next()
      },
      showEvent({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
      updateRange({ start, end }) {
        // You could load events from an outside source (like database) now that we have the start and end dates on the calendar
        this.start = start
        this.end = end
      },
      nth(d) {
        return d > 3 && d < 21
          ? 'th'
          : ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'][d % 10]
      },
      checkChange() {
        setTimeout(function () { resources.$refs.calendar.checkChange() }, 0)
      },
      tableToExcel(table, name) {


        const blob = new Blob(['<html><head><meta charset="UTF-8"></head><body>' + table.outerHTML + '</body></html>'], { type: 'application/vnd.ms-excel' });
        const fileStream = streamSaver.createWriteStream(name + '(' + new Date().toLocaleDateString().replace(/[.]/g, "_") + ').xls', {
          size: blob.size
        });
        const readableStream = blob.stream();
        if (window.WritableStream && readableStream.pipeTo) {
          return readableStream.pipeTo(fileStream)
            .then(() => console.log('done writing'))
        }
        window.writer = fileStream.getWriter();
        const reader = readableStream.getReader();
        const pump = () => reader.read()
          .then(res => res.done
            ? writer.close()
            : writer.write(res.value).then(pump));

        pump();

      },
      tableCreate(header, body) {

        function getInfo(id) {
          return new Promise((resolve) => {
            $.ajax({
              method: "GET",
              url: `custom_web_template.html?object_id=6748398834638268647&id=${item.id}`,
              success: (response) => {
                response = JSON.parse(response);
                resolve(response.resourceInfo)
              },
              error: (err) => { console.warn('error', err) }

            })
          })
        }

        let promises = [];

        for (item of body) {
          promises.push(getInfo(item.id))
        }


        Promise.all(promises).then((results) => {

          var tbl = document.createElement('table');
          var hdr = tbl.createTHead();
          var trH = hdr.insertRow();
          var bd = tbl.createTBody();

          let header = [
            { text: 'Название', value: 'name' },
            { text: 'Тип', value: 'type' },
            { text: 'Организация', value: 'organization.name' },
            { text: 'Демонстрационный экзамен', value: 'demo' },
            { text: 'Компетенция', value: 'competence.name' },
            { text: 'Количество рабочих мест', value: 'workplace' },
            { text: 'Эксперты', value: 'experts' }
          ]



          tbl.style.width = '100px';
          tbl.style.border = '0.5pt solid black';


          for (head of header) {
            var th = trH.insertCell();
            th.appendChild(document.createTextNode(head.text))
            th.style.border = '0.5pt solid black';
          }



          for (var i = 0; i < results.length; i++) {
            var tr = bd.insertRow();
            for (head of header) {
              let val = head.value;
              let td = tr.insertCell();
              if (val === 'organization.name') {
                console.warn(results[i])
                if (results[i].organization) {
                  td.appendChild(document.createTextNode(results[i].organization.name));
                  td.style.border = '0.5pt solid black';
                } else {
                  td.appendChild(document.createTextNode(''));
                  td.style.border = '0.5pt solid black';
                }
                continue;
              }
              if (val === 'competence.name') {
                td.appendChild(document.createTextNode(results[i].competence.name));
                td.style.border = '0.5pt solid black';
                continue;
              }


              if (val === 'demo') {

                results[i].demo ? td.appendChild(document.createTextNode('Да')) : td.appendChild(document.createTextNode('Нет'))
                td.style.border = '0.5pt solid black';
                continue;
              }


              if (val === 'experts') {

                if (results[i].experts.length) {


                  td.appendChild(document.createTextNode(
                    results[i].experts.reduce((acc, cur) => {
                      return acc += cur.name
                    }, ''))
                  );
                  td.style.border = '0.5pt solid black';
                } else {
                  td.appendChild(document.createTextNode(''))
                  td.style.border = '0.5pt solid black';
                }
                continue;
              }
              td.appendChild(document.createTextNode(results[i][val]));
              td.style.border = '0.5pt solid black';
            }




          }

          console.warn(tbl)
          this.tableToExcel(tbl, 'Помещения и технические средства')



        })




      }
    },
    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Новый ресурс' : 'Редактирование'
      },
      filteredList: function () {
        return this.resources.filter(resource => {
          for (var key in resource) {
            if (String(resource[key]).toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1) {
              return true
            };
          }
        })
      },
      title() {
        const { start, end } = this
        console.warn(this)
        if (!start || !end) {
          return ''
        }

        const startMonth = this.monthFormatter(start)
        const endMonth = this.monthFormatter(end)
        const suffixMonth = startMonth === endMonth ? '' : endMonth

        const startYear = start.year
        const endYear = end.year
        const suffixYear = startYear === endYear ? '' : endYear

        const startDay = start.day + this.nth(start.day)
        const endDay = end.day + this.nth(end.day)

        switch (this.type) {
          case 'month':
            return `${startMonth} ${startYear}`
          case 'week':
          case '4day':
            return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`
          case 'day':
            return `${startMonth} ${startDay} ${startYear}`
        }
        return ''
      },
      monthFormatter() {
        return this.$refs.calendar.getFormatter({
          timeZone: 'UTC', month: 'long',
        })
      },
    },
    mounted() {
      this.getResources();
      $("#resources-list").removeClass("hidden");


    },
    watch: {
      dialog(val) {
        if (val === false) {
          this.close()
        }
      },
      viewDialog(val) {
        if (val === false) {
          this.close()
        }
      }
    }

  });


</script>

<style>
  .page input {
    border: none !important;
    box-shadow: none !important;
  }

  .hidden {
    display: none;
  }

  .disabled {
    pointer-events: none;
    opacity: .6;
  }

  .v-application--wrap {
    min-height: 100%
  }

  .v-sheet--tile {
    position: static
  }

  .theme--light.v-label {
    z-index: 1;
  }

  #loading:not(.hidden) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .7);
    font-size: 2em;
  }

  #loading.animation p {
    position: relative;
  }

  #loading.animation p:before {
    position: absolute;
    content: "";
    left: calc(100% + 5px);
    top: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    animation: preloading 2s linear infinite;
  }

  #resources-list .v-select__slot input {
    width: 1px;
    height: 1px;
    padding: 0;
  }

  @keyframes preloading {
    0% {
      content: ".";
    }

    50% {
      content: "..";
    }

    100% {
      content: "...";
    }
  }

  h2 {
    color: #1c6186;
    font-weight: bold;
    font-size: 34px;
  }

  #request-page {
    padding-bottom: 20px;
  }



  /* для календаря */
</style>