<div id="el_journal">
    <v-app>
        <h2 class="headline" v-if="isLector"> {{ title }} </h2>
        <h2 class="headline" v-else> {{ title2 }} </h2>

        <nav>
            <v-breadcrumbs :items="links" divider="/">
                <template v-slot:item="{item}">
                    <v-breadcrumbs-item :href="item.href || '#'" @click="{!item.href ? setPage(1, $event) : ''}"
                        v-if="!item.page" :disabled="item.disabled" color="primary">
                        {{ item.text }}
                    </v-breadcrumbs-item>
                </template>
            </v-breadcrumbs>
        </nav>

        <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
            :multi-line="true">
            <v-col>{{ snack.text }}</v-col>
            <v-btn color="white" text @click="snack.view = false">
                Закрыть
            </v-btn>
        </v-snackbar>

        <!--+++++++++++++++++++++ Выбор группы обучения +++++++++++++++++++++-->
        <div v-if="page==1">
            <v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0 ">
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
                    </v-toolbar>
                </template>
                <template v-slot:item.action="{ item }">
                    <div style="min-width: 108px;">
                        <v-tooltip bottom v-if="!isLector">
                          <template v-slot:activator="{ on }">
                            <v-icon class="ml-2" @click="getEducationInfo(item); curEventId = item.id" v-on="on">
                                mdi-presentation-play
                            </v-icon>
                          </template>
                          <span>Обучение</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon class="mx-2" @click="getListenersList(item); curEventId = item.id" v-on="on">
                                mdi-spellcheck
                            </v-icon>
                          </template>
                          <span>Журнал</span>
                        </v-tooltip>
                    </div>
                </template>
            </v-data-table>
        </div>

        <!--+++++++++++++++++++++ Журнал +++++++++++++++++++++-->
        <div v-if="page==2" class="table__marks">


            <!-- <b-table :fields="fields" responsive="sm">
          <template v-slot:thead-top="data">
            <b-tr>
              <b-th v-for="module in modules" :colspan="module.children" @click="shrink(module.id)">
                {{module.name}}
              </b-th>
            </b-tr>
            <b-tr>
              <b-th v-for="program in programs" :colspan="program.children">
                {{program.name}}
              </b-th>
            </b-tr>
            <b-tr>
              <b-th v-for="lesson in lessons">
                {{lesson.name}}
              </b-th>
            </b-tr>
          </template>
        </b-table> -->


            <!--+++++++++++++++++++++ Таблица для преподавателя +++++++++++++++++++++-->



            <v-data-table v-if="isLector" id="myTable" hide-default-header :items="listeners" :items-per-page="20"
                class="elevation-0" hide-default-footer>
                <template v-slot:top>
                    <v-toolbar flat color="white">

                    </v-toolbar>
                </template>
                <template v-slot:header="{ props: { headers } }">
                    <thead>
                        <tr>
                            <th @click="sortedName"
                                style="border-right: 3px solid #db5b70; minWidth: 150px; maxWidth: 150px; width: 150px; cursor: pointer; text-align: center; padding: 13px 0px; color: rgba(0,0,0,0.87)"
                                class="table__fixed-header"> <span>ФИО<v-icon v-bind:class="{reverse: reverse}" small class="ml-2">mdi-arrow-down</v-icon></span> </th>
                            <th
                                style="visibility: hidden; minWidth: 150px; maxWidth: 150px; width: 150px">
                                <span>ФИО</span> </th>
                            <template v-for="(module, index) in structure">
                                <th :colspan="module.elements && module.elements > module.courses.length ? module.elements : module.courses.length ? module.courses.length : 1"
                                    :rowspan="module.courses.length ? 1 : module.elements ? 2 : 3"
                                    style="white-space: nowrap; text-overflow: ellipsis; color: rgba(0,0,0,0.87); background: #007fbd; cursor: pointer"
                                    @click="shrink(module, index)">

                                    <v-tooltip bottom max-width="200px">

                                        <template v-slot:activator="{ on }">
                                            <span :ref="module.id" v-on="on">{{module.name }}</span>
                                        </template>
                                        <span>{{module.name}}</span>
                                    </v-tooltip>

                                </th>
                            </template>
                        </tr>
                        <tr>
                            <th class="table__fixed-header"
                                style="border-right: 3px solid #db5b70;"></th>
                            <th style="visibility: hidden;"></th>
                            <template v-for="module in structure">
                            <th v-for="course in module.courses" :colspan="course.elements.length ? course.elements.length : 1" 
                                :rowspan="course.elements.length ? 1 : 2" style="white-space: nowrap; text-overflow: ellipsis; background: #cbebfa; color: rgba(0,0,0,0.87)"
                                :data-id="module.id" :class="{'fixedWidthTh': course.elements.length == 0}">


                                <v-tooltip bottom max-width="200px">

                                    <template v-slot:activator="{ on }">
                                        <span v-on="on">{{course.name}}</span>
                                    </template>
                                    <span>{{course.name}}</span>
                                </v-tooltip>

                            </th>
                            </template>

                        </tr>
                        <tr>
                            <th style="border-right: 3px solid #db5b70; " class="table__fixed-header"></th>
                            <th style="visibility: hidden;"></th>
                        <template v-for="module in structure">
                        <template v-if="module.courses.length">
                            <template v-for="course in module.courses">
                            <template v-if="course.elements.length">
                                <th v-for="(element, index) in course.elements" :key="index" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: rgba(0,0,0,0.87)"
                                    :data-id="module.id" :class="{'fixedWidthTh': course.elements.length != 0}">

                                    <v-tooltip bottom max-width="200px">

                                        <template v-slot:activator="{ on }">
                                            <span v-on="on">{{element.name}}</span>
                                        </template>
                                        <span>{{element.name}}</span>
                                    </v-tooltip>

                                </th>
                            </template>
                            </template>
                        </template>
                        </template>
                        </tr>
                    </thead>
                </template>
                <template v-slot:body>
                   <tbody>
                    <tr v-for="user in sortedList">
                        <td style="minWidth: 150px; maxWidth: 150px; width: 150px; border-right: 3px solid #db5b70; height: auto; min-height: 50px;"
                            class="table__fixed-body"> {{ user.name }} </td>
                        <td style="visibility: hidden; minWidth: 150px; maxWidth: 150px; width: 150px">
                            {{ user.name }} </td>
                        <template v-for="module in user.progress">
                        <template v-if="module.courses.length">
                        <template v-for="course in module.courses">
                            <template v-if="course.elements.length">
                            <!-- Оценки по элементам дистанционного или очного курса -->
                            <template v-for="element in course.elements">
                            <td style="padding: 0; width: 100%; display: contents; text-align: center">
                                <div :data-id="module.id" style="padding: 11.5px 16px; width: 100%; display: table-cell" v-if="element.type != 'learning_task'">
                                    <!-- Оценки для элементов, оцениваемых вручную -->
                                    <v-edit-dialog @save="editMark(user.plan_id, element)" large persistent light
                                        cancel-text="Отменить" save-text="Сохранить" v-if="element.form_evaluate == 'Вручную'">
                                        <span> {{ scoreConclution(element) }} </span>
                                        <template v-slot:input>
                                            <v-text-field ref="input" :id="element.id" :value="element.score" @change="checkChange(element)"
                                                label="Оценка" single-line
                                                :rules="[rules.max5, rules.min1]">
                                            </v-text-field>
                                        </template>
                                    </v-edit-dialog>
                                    <span v-else> {{ scoreConclution(element) }} </span>
                                </div>
                                <!-- Оценка для заданий -->
                                <div v-else :data-id="module.id" style="padding: 11.5px 16px; width: 100%; cursor: pointer; display: table-cell"
                                    @click="element.attempts.length > 0 ? openDialog(element, user.plan_id) : ''">
                                    <span> {{ scoreConclution(element) }} </span>
                                    <span><v-icon v-if="element.state_id == 1" class="ml-2 icon-alert" color="#F9A825">mdi-alert</v-icon></span>
                                </div>
                            </td>
                            </template>
                            </template>
                            <!-- Оценка по очному курсу -->
                            <template v-else>
                                <td style="padding: 0; width: 100%; display: contents; text-align: center">
                                    <div :data-id="module.id" style="padding: 11.5px 16px; width: 100%; display: table-cell">
                                        <v-edit-dialog @save="editMark(user.plan_id, course)" primary large
                                            cancel-text="Отменить" save-text="Сохранить">
                                            <span> {{ scoreConclution(course) }} </span>
                                            <template v-slot:input>
                                                <v-text-field ref="input" :id="course.id" :value="course.score" @change="checkChange(course)"
                                                    label="Оценка" single-line
                                                    :rules="[rules.max5, rules.min1]">
                                                </v-text-field>
                                            </template>
                                        </v-edit-dialog>
                                    </div>
                                </td>
                            </template>
                        </template>
                        </template>
                        <template v-else>
                            <td style="padding: 0; width: 100%; display: contents; text-align: center">
                                <div :data-id="module.id" style="padding: 11.5px 16px; width: 100%; display: table-cell"><span>{{module.score || '0'}}</span></div>
                            </td>
                        </template>
                        </template>
                    </tr>
                   </tbody>
                </template>
            </v-data-table>


            <!--+++++++++++++++++++++ Таблица для ученика +++++++++++++++++++++-->



            <div class="mark-table-listener">
            <v-data-table v-if="!isLector" hide-default-footer disable-sort disable-filtering>
                <template v-slot:header>
                    <thead>
                        <tr>
                            <th style="font-size: 16px">Элементы программы</th>
                            <th style="font-size: 16px">Оценка</th>
                        </tr>
                    </thead>
                </template>
                <template v-slot:body>

                    <tbody v-bind:refresh-token="refreshToken">
                        <template v-for="user in listeners">
                        <template v-for="module in user.progress">
                            <tr @click="module.show ? module.show = false : module.show = true; refreshToken++" class="module-row" v-bind:style="{cursor: module.courses.length ? 'pointer' : ''}">
                                <td class="mark-module"><span>{{ module.name }}</span></td>
                                <td class="mark-cell">
                                    <span>{{ module.score || averageModule(module) }}
                                        <i v-if="!module.score" style="position: absolute; font-size: 12px">?</i>
                                        <div v-if="!module.score" class="mark-cell__average-popout"><span>Данное число является средним арифметическим оценок курсов внутри данного модуля</span></div>
                                    </span>
                                </td>
                            </tr>
                            <template v-if="!module.show" v-for="course in module.courses">
                                <tr @click="course.show ? course.show = false : course.show = true; refreshToken++" class="course-row" v-bind:style="{cursor: course.elements.length ? 'pointer' : ''}">
                                    <td style="padding-left: 30px !important" class="mark-course pl-2"><span>{{ course.name }}</span></td>
                                    <td class="mark-cell">
                                        <span>{{ course.score || averageCourse(course) }}
                                            <i v-if="!course.score" style="position: absolute; font-size: 12px">?</i>
                                            <div v-if="!course.score" class="mark-cell__average-popout"><span>Данное число является средним арифметическим оценок элементов внутри данного курса</span></div>
                                        </span>
                                    </td>
                                </tr>
                                <template v-if="!course.show" v-for="element in course.elements">
                                    <tr class="element-row">
                                        <td style="padding-left: 48px !important" class="mark-element pl-4"><span>{{ element.name }}</span></td>
                                        <td class="mark-cell"><span>{{ element.score || 0 }}</span></td>
                                    </tr>
                                </template>
                            </template>
                        </template>
                        </template>
                    </tbody>
                </template>

            </v-data-table>
            </div>
        </div>

        <!--+++++++++++++++++++++ Прохождение модульной программы +++++++++++++++++++++-->
        <div v-if="page==3" class="program_structure">
            <h2 class="headline"></h2>
                <v-expansion-panels>
                    <v-expansion-panel v-for="(prog, i) in program" :key="i">

                        <v-expansion-panel-header class="ma-0">
                            <v-icon :class="{'icon_teal' : prog.state_id == 2 || prog.state_id == 4, 'icon_white' : prog.state_id == 0}"
                                class="mr-4">mdi-file-tree</v-icon>
                                <span>{{ prog.name }}</span>
                        </v-expansion-panel-header>

                        <v-expansion-panel-content class="pa-0 program_elements">
                            <v-row>
                                <v-col cols="12" sm="10" class="pt-0 pl-6">

                                    <template>
                                        <v-row v-if="prog.desc">{{ prog.desc }}</v-row>
                                        <template v-for="(lec, k) in prog.children" :key="i">
                                        <v-row class="flex-nowrap py-2" :class="{'pt-0' : k == 0}">
                                            <v-icon :class="{'icon_teal' : lec.state_id == 2 || lec.state_id == 4, 'icon_white' : lec.state_id == 0}"
                                                class="mr-4">mdi-sign-text</v-icon>
                                                {{ lec.name }}
                                        </v-row>
                                        <v-row class="pa-2" v-if="lec.desc"> {{ lec.desc }} </v-row>
                                        <div class="pl-5" v-if="lec.form_education != 'Очное'">
                                            <template v-for="(el, j) in lec.children" :key="i">
                                                <v-row class="border-bottom">
                                                    <v-col cols="12" class="py-2 px-0">
                                                        <v-icon
                                                            :class="{'icon_teal' : el.state_id == 2 || el.state_id == 4, 'icon_white' : el.state_id == 0, 'icon_red' : el.state_id == 3}"
                                                            class="mr-3">{{ 
                                                                el.type == 'learning_task' ? 'mdi-book-open-page-variant' :
                                                                el.type == 'longread' ? 'mdi-view-parallel' :
                                                                el.type == 'resource' ? 'mdi-folder-download' :
                                                                el.type == 'course' ? 'mdi-presentation-play' :
                                                                el.type == 'inline' ? 'mdi-internet-explorer' : 'mdi-check'
                                                            }}</v-icon>
                                                        <span class="element-name" @click="openElement(el)">{{ el.name }}</span><span v-if="el.state_id == 3"> (Попробуйте пройти ещё раз, когда будете готовы)</span>
                                                    </v-col>
                                                    <v-col cols="12" v-if="el.desc && el.type != 'longread'" class="py-0">
                                                        <div class="pl-5 mb-2 border-left font-italic" v-html="el.desc"></div>
                                                    </v-col>
                                                </v-row>
                                            </template>
                                        </div>
                                        <div class="pl-5" v-else>

                                        </div>
                                        </template>
                                    </template>

                                </v-col>
                                <v-col cols="12" sm="2">

                                    <div class="time_description">
                                        <!-- <div class="stat-block">
                                            <p class="mb-0">
                                                <span class="time-number">{{prog.duration}}</span>
                                                <span class="time-char">ч.</span>
                                            </p>
                                            <p>Время<br>прохождения<br>модуля</p>
                                        </div> -->
                                        <div class="stat-block">
                                            <v-app id="inspire" class="module-stat">
                                                <div class="text-xs-center">
                                                    <v-progress-circular :rotate="-90" :size="70" :width="8"
                                                        :stroke-width="2" :value="getProgress(prog)" :color="'#1c6186'">
                                                        {{getProgress(prog)}}%</v-progress-circular>
                                                </div>
                                            </v-app>
                                            <p>Прогресс<br>изучения<br>модуля</p>
                                        </div>
                                    </div>
                                    
                                </v-col>
                            </v-row>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            <p class="hidden">{{program}}</p>
        </div>

        <v-dialog v-model="dialogTask" :max-width="1024" :fullscreen="document.documentElement.clientWidth > 600 ? false : true" class="ma-auto" :loading="loading">
        <v-card>
          <v-toolbar color="primary" dark>
            <v-toolbar-title v-if="isLector">Выполнение задания</v-toolbar-title>
            <v-toolbar-title v-else>Выполните задание</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="dialogTask = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
          <template>
            <v-container>
                <v-row><v-col cols="12" class="pa-0 pl-1 text--secondary">Название</v-col><v-col class="pt-0">{{ curElem.name }}</v-col></v-row>
                <v-row v-if="!isLector"><v-col cols="12" class="pa-0 pl-1 text--secondary">Описание задания</v-col><v-col class="pt-0" v-html="curElem.desc"></v-col></v-row>
                <v-row v-if="!isLector && curElem.files && curElem.files.length">
                    <v-col cols="12" class="pa-0 pl-1 text--secondary">Файлы</v-col>
                    <v-col class="pt-0"><a v-for="file in curElem.files" :download="file.name" :href="file.url"> {{ file.name }} </a></v-col>
                </v-row>
                <template v-if="isLector">
                    <template v-for="(attempt, index) in curElem.attempts">
                        <v-row v-if="index == curElem.attempts.length - 1">
                            <v-col cols="12" class="pa-0 pl-1 text--secondary">Ответ</v-col>
                            <v-col>{{attempt.answer}}</v-col>
                            <template v-if="attempt.comment">
                                <v-col cols="12" class="pa-0 pl-1 text--secondary">Комментарий</v-col>
                                <v-col>{{attempt.comment}}</v-col>
                            </template>
                            <v-col cols="12" class="pa-0 pl-1 text--secondary">Файлы</v-col>
                            <template v-for="file in attempt.files">
                                <v-col><a :download="file.name" :href="file.url"> {{ file.name }} </a></v-col>
                            </template>
                        </v-row>
                    </template>
                    <v-container class="border rounded-sm my-2">
                        <v-text-field ref="input" :id="curElem.id" :value="curElem.score" @change="checkChange(curElem)" label="Оценка" single-line :rules="[rules.max5, rules.min1]"></v-text-field>
                        <v-text-field label="Комментарий" v-model="curElem.comment"></v-text-field>
                        <v-btn color="primary" @click="editMark(curElem.plan_id, curElem)">Оценить</v-btn>
                    </v-container>
                </template>
                <template v-else-if="curElem.state_id == 0">
                <v-row class="border-top"><v-col>
                    <v-textarea v-model="curElem.answer" label="Комментарий"></v-textarea>
                </v-col></v-row>
                <v-row><v-col>
                    <v-file-input v-model="curElem.answerFile" :show-size="true" hint="Файл не более 2MB" persistent-hint
                    :rules="[rules.maxSize2]" label="Документ или изображение"
                    :accept="accept.files" prepend-icon="mdi-image"></v-file-input>
                </v-col></v-row>
                <v-row><v-col><v-btn color="primary" :loading="loading" @click="sendLearningTask()">Отправить</v-btn></v-col></v-row>  <!-- :disabled="curElem.answer == '' && curElem.answerFile == null" -->
                </template>
                <v-row v-if="curElem.state_id > 1"><v-col class="pa-0 pl-1 text--secondary">Результаты</v-col></v-row>
                <v-row v-if="curElem.attempts && curElem.attempts.length" class="pt-0">
                    <v-col>
                    <v-data-table :headers="taskHeaders" :items="curElem.attempts" class="elevation-0" disable-sort disable-filtering disable-pagination hide-default-footer>
                    </v-data-table>
                    </v-col>
                </v-row>
            </v-container>
          </template>
        </v-card>
      </v-dialog>

        <v-dialog v-model="dialogLongread" :fullscreen="document.documentElement.clientWidth > 600 ? false : true" max-width="1280px" min-height="300px" class="ma-auto" scrollable>
        <v-card>
            <v-card-title class="pa-0">
                <v-toolbar color="primary" dark dense>
                <v-toolbar-title>{{ curElem.name }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click="dialogLongread = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                </v-toolbar>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row class="border-bottom"><v-col cols="12" class="longread-content ck ck-content"><div v-html="curElem.desc"></div></v-col></v-row>
                </v-container>
            </v-card-text>
        </v-card>
      </v-dialog>
    </v-app>
</div>

<script>
    Vue.filter('truncate', filter);
</script>
<script src="/scorm_api.js"></script>
<script>
    var el_journal = new Vue({

        el: '#el_journal',
        vuetify: new Vuetify({
            lang: {
                locales: {
                    ru: ruLocale
                },
                current: 'ru'
            }
        }),
        data: {
            headers: [{
                text: 'Название программы',
                value: 'name'
            }, {
                text: 'Статус',
                value: 'status'
            }, {
                text: 'Тип',
                value: 'type'
            }, {
                text: 'Действия',
                value: 'action',
                sortable: false
            }],
            taskHeaders: [{
                text: 'Отправлено',
                value: 'start_date',
                align: 'center'
            }, {
                text: 'Проверено',
                value: 'finish_date',
                align: 'center'
            }, {
                text: 'Оценка',
                value: 'mark',
                align: 'center',
                width: 50
            }, {
                text: 'Комментарий',
                value: 'comment',
                align: 'center',
                width: '100%'
            }],
            links: [{
                text: 'Главная',
                href: '/view_doc.html?mode=home',
                disabled: false
            }, {
                text: '',
                href: '',
                disabled: true
            }],
            Jheaders: [],
            dialogTask: false,
            dialogLongread: false,
            marksArray: [],
            fields: [],
            modules: [],
            programs: [],
            curProgram: null,
            curElem: {},
            lessons: [],
            isLector: false,
            reverse: false,
            searchInput: '',
            refreshToken: 0,
            accept: {
                file: '.doc,.docx,.pdf,.ppt,.pptx,.xls,.xlsx,.zip,.jpg,.png,.jpeg,.bmp,.webp'
            },
            rules: {
                max5: value => value <= 5 || 'Максимальная оценка 5',
                min1: value => value >= 1 || 'Минимальная оценка 1',
                maxSize2: value => value != null && ( !value.size || value.size < 2048000 || 'Файл не более 2 MB!' ),
                isInt: value => Number.isInteger(value) || 'Допустимы только числа'
            },
            title: 'Электронный журнал',
            title2: 'Обучение',
            url: 'custom_web_template.html?object_id=6760201305451088546',
            page: 1,
            loading: true,
            events: [], // Список мероприятий
            listeners: [],
            event: { // Мероприятие
                compProg: [], // Модульная программа
                plans: [{ // Список планов обучения
                    info: {}, // Информация о пользователе
                    structure: [], // Структура плана
                }], // План обучения
            },
            program: null,
            curEventId: '',
            snack: {
                model: '',
                view: false,
                color: '',
                mode: 'multi-line',
                timeout: 3000,
                text: ''
            }

        },
        mounted() {
            this.init();
            $(window).on("focus", () => {
                if (this.page == 3) this.getEducationInfo(this.curProgram);
            });
        },
        methods: {

            setSnackMessage(color, text) {
                this.snack.color = color;
                this.snack.text = text;
                this.snack.view = true;
            },

            averageCourse (course) {
                let res = 0
                course.elements.forEach(element => {
                    res += Number(element.score)
                })
                return (res / course.elements.length) ? Math.floor((res / course.elements.length) * 10) / 10 : 0
            },

            averageModule (module) {
                let res = 0
                module.courses.forEach(course => {
                    if (course.score) {
                        res += Number(course.score)
                    } else {
                        let courseRes = 0
                        course.elements.forEach(element => {
                            courseRes += Number(element.score)
                        })
                        res += courseRes / course.elements.length
                    }
                })
                return (res / module.courses.length) ? Math.floor((res / module.courses.length) * 10) / 10 : 0
            },

            sortedName() {
               if (!this.reverse) {
                  this.reverse = true
               } else {
                  this.reverse = false
               }
            },

            shrink(module, index) {
                let id = module.id
                const thElement = $(`th[data-id='${id}']`)
                const tdElement = $(`div[data-id='${id}']`)
                const shrinkElement = this.$refs[id][0].parentNode

                let res = 0
                thElement.toggleClass('collapse')

                if (!shrinkElement.classList.contains('shrink')) {
                  shrinkElement.classList.toggle('shrink')
                  shrinkElement.rowSpan = module.courses.elements ? (module.courses ? '1' : '2') : '3'
                  for (let i = 0; i < tdElement.length; i++) {
                     res += Number(tdElement[i].innerText)
                     if (i === 0) {
                        tdElement[i].classList.toggle('shrink')
                        tdElement[i].currentRating = tdElement[i].innerText
                     } else {
                        tdElement[i].classList.toggle('collapse')
                     }
                  }
                  tdElement[0].averageRating = Math.floor((res / tdElement.length) * 10) / 10
                  tdElement[0].innerText = tdElement[0].averageRating
                } else {
                  shrinkElement.classList.toggle('shrink')
                  shrinkElement.rowSpan = module.courses.length ? 1 : module.elements ? 2 : 3
                  for (let i = 0; i < tdElement.length; i++) {
                     if (i === 0) {
                        tdElement[i].classList.toggle('shrink')
                     } else {
                        tdElement[i].classList.toggle('collapse')
                     }
                  }
                  tdElement[0].innerText = tdElement[0].currentRating
                }
            },

            scoreConclution(element) {
                if (element.state_id >= 2) return element.score == element.max_score ? 'зачёт' : element.score
                else return "-"
            },

            setPage(page, evt) {
                if (evt) {
                    evt.preventDefault();
                    this.removeLink();
                }
                this.page = page;
            },

            removeLink() {
                if (this.links.length > 2) {
                    this.links.pop()
                    this.links[1].disabled = true;
                }
            },

            pushLink(item) {
                this.links.push({
                    text: item.name,
                    href: '',
                    disabled: true
                });
                this.links[1].disabled = false;
            },

            init() {
                this.getEvents();
            },
            getModuleText(module, index) {
                console.warn(module, index)
                return module.collapse ? `[${index}]` : module.name
            },
            getEvents() {
                return fetch(`${this.url}`)
                    .then(response => {
                        if (response.status !== 200) return;
                        return response.json();
                    })
                    .then(res => {
                        console.warn('getEvents > res:', res);
                        this.events = res.events;
                        this.isLector = res.isLector;
                        this.links[1].text = this.isLector ? this.title : this.title2;
                        this.events.forEach(element => {
                            if (element.isFulltime) {
                                element.type = 'Очное'
                            } else {
                                element.type = 'Заочное'
                            }
                        });

                        return true;
                    })
                    .catch(err => {
                        console.warn('getEvents > err:', err);
                        this.setSnackMessage("red", "Ошибка при загрузке списка: " + err);
                        // this.loading = 0
                        return false;
                    });
            },
            getListenersList(prog) {
                return fetch(`${this.url}&event_id=${prog.id}`)
                    .then(response => {
                        if (response.status !== 200) return;
                        return response.json();
                    })
                    .then(result => {
                        console.warn('getListeners > res:', result);
                        let res = result.data

                        this.listeners = res.listeners;

                        this.structure = res.structure;
                        this.structure.forEach( (item, index) => {
                            this.structure[index].elements = 0
                            item.courses.forEach(course => {
                                this.structure[index].elements += course.elements.length
                            })
                        })

                        if (this.page != 2) {
                            this.setPage(2)
                            this.pushLink(prog)
                        }

                        this.$nextTick(() => {
                            for (module of this.modules) {
                                //console.warn($(`.${module.id}`))
                            }
                        })

                        this.setSnackMessage("green", "Список загружен.");

                        return true;
                    })
                    .catch(err => {
                        console.warn('getListeners > err:', err);
                        this.setSnackMessage("red", "Ошибка при загрузке списка: " + err);
                        return false;
                    });
            },
            getProgress(prog) {
                //console.warn(prog)
                return prog.score
            },
            checkChange(element) {
                element.temp_score = document.getElementById(`${element.id}`).value
            },

            editMark(id, item) {
                this.loading = true
                let objecttoSend = {
                    plan_id: id,
                    object_id: item.object_id,
                    score: item.temp_score,
                    mark: item.mark,
                    course_id: item.course_id,
                    comment: item.comment,
                    code: item.code,
                    type: item.type
                }
                
                $.ajax({
                    method: "POST",
                    data: JSON.stringify(objecttoSend),
                    contentType: false,
                    processData: false,
                    url: "custom_web_template.html?object_id=6760201305451088546",
                    success: (response) => {
                        response = JSON.parse(response);
                        console.warn(response)
                        if (response.error) {
                            this.setSnackMessage("red", "Ошибка при изменении оценки: " + response.error);
                        } else {
                            this.setSnackMessage("green", "Оценка изменена.");
                        }
                        this.getListenersList({id: this.curEventId})
                        this.dialogTask = false
                    },
                    error: (err) => {
                        this.setSnackMessage("red", "Ошибка при изменении оценки: " + err);
                    },
                    complete: () => { this.loading = false }
                })
            },

            sendLearningTask() {
                if (this.curElem.answer == "" && ( this.curElem.answerFile == {} || this.curElem.answerFile == null)) {
                    this.setSnackMessage("error", "Необходим комментарий или файл")
                }
                this.loading = true
                let fd = new FormData
                fd.append("task", JSON.stringify(this.curElem))
                fd.append("file", this.curElem.answerFile)
                console.warn(this.curElem)
                
                const serverUrl = 'custom_web_template.html?object_id=6765428823044459012&learning_task&event_id=' + this.curEventId
                fetch(serverUrl, {
                method: 'POST',
                body: fd
                })
                .then(response => {
                    if (response.status !== 200) return;
                    console.log('response: ', response);
                    return response.json();
                })
                .then((res) => {
                    console.warn(res)
                    if (res.error)  this.setSnackMessage("error", res.error)
                    if (res.data == "success") this.setSnackMessage("success", "Задание успешно отправлено и находится на проверке")
                    this.dialogTask = false; this.loading = false
                    this.getEducationInfo(this.curProgram)
                })
                .catch(err => {
                    console.error('Err:', err)
                    this.setSnackMessage("error", err)
                    this.dialogTask = false; this.loading = false
                });
            },

            getModuleScore(elem) {
                let all = elem.children.length;
                let completed = elem.children.filter(item => item.state_id == 2).length;
                let attempted = elem.children.filter(item => item.state_id == 1).length;
                attempted = attempted / 10;
                let score = 0;
                if (completed + attempted != 0) score = Math.floor(((completed + attempted) / all) * 100);
                //console.warn(all, completed, attempted, score)
                return score;
            },
            getEducationInfo(prog) {
                this.loading = true;
                this.curProgram = prog;
                $.ajax({
                    method: "GET",
                    url: `custom_web_template.html?object_id=6765428823044459012&event_id=${prog.id}`,
                    success: (response) => {
                        response = JSON.parse(response);
                        console.warn(response);
                        if (response.error) {
                            this.setSnackMessage("red", "Ошибка запроса программы: " + response.error);
                        } else {
                            this.program = response.data;
                            this.program.forEach(modul => {
                                if (modul.children.find(lesson => lesson.state_id > 0)) {
                                    modul.state_id = 1;
                                    modul.score = this.getModuleScore(modul);
                                }
                                if (modul.children.every(lesson => lesson.state_id > 1)) {
                                    modul.state_id = 2;
                                    modul.score = 100;
                                }
                            })
                            if (this.links.length < 3) this.pushLink(prog);
                            setTimeout(() => {
                                this.page = 3;
                            }, 0);
                        }
                    },
                    error: (err) => {
                        this.setSnackMessage("red", "Ошибка запроса программы: " + err);
                    },
                    complete: () => {
                        this.loading = false;
                    }
                })
            },
            openElement(el) {
                if (el.type == 'resource') {
                    // Для файлов добавлено скачивание по ссылке, потому что не для всех файлов хорошо работает плагин просмотра (например .doc глючит)
                    if (!el.link.includes('view_play_resource')) {
                        a = document.createElement("a")
                        a.download = el.object_name
                        a.href = el.link
                        a.click()
                    } else {
                        window.open(el.link)
                    }
                }
                if (el.type == 'inline' || el.type == 'test') window.open(el.link)
                if (el.type == 'learning_task' || el.type == 'longread') this.openDialog(el)
                if (el.type == 'learning_task') return

                console.warn('el->>', el)
                
                $.ajax({
                    method: "POST",
                    url: `custom_web_template.html?object_id=6765428823044459012&set_status`,
                    data: JSON.stringify(el),
                    success: (response) => {
                        response = JSON.parse(response);
                        console.warn(response);
                        if (response.error) {
                            this.setSnackMessage("red", "Ошибка запроса программы: " + response.error);
                        } else {
                            // this.setSnackMessage("green", "Продолжайте учиться.");

                        }
                    },
                    error: (err) => {
                        // this.setSnackMessage("red", "Ошибка запроса программы: " + err);
                    },
                    complete: () => {
                        this.getEducationInfo(this.curProgram)
                    }
                })
            },

            openDialog(el, plan) {
                this.curElem = el // Object.assign(this.curElem, el)
                if (el.type == 'learning_task') {
                    this.curElem.attempts.forEach( (item, index) => {
                        // Добавлено, потому что на сервере функция tools.object_to_text превысила глубину вложенности в 11 ступеней
                        if (typeof item != 'object') this.curElem.attempts[index] = JSON.parse(item)
                    })
                    this.curElem.plan_id = plan
                    this.curElem.answer = this.curElem.answer ? this.curElem.answer : ''
                    this.curElem.answerFile = this.curElem.answerFile != null ? this.curElem.answerFile : null
                    this.dialogTask = true
                }
                if (el.type == 'longread') {
                    this.dialogLongread = true
                    // Все ссылки в лонгриде должны открываться в новом окне
                    setTimeout( () => { $('.longread-body a').attr('target', '_blank') }, 0)
                }
            }
        },
        computed: {
            filteredList: function () {
                return this.events.filter(event => {
                    for (var key in event) {
                        if (String(event[key]).toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1) {
                            return true
                        }
                    }
                })
            },

            sortedList () {
               let sortByName = function (d1, d2) {
                  return (d1.name.toLowerCase() > d2.name.toLowerCase()) ? 1 : -1;
               }
               let sortByReverseName = function (d1, d2) {
                  return (d1.name.toLowerCase() < d2.name.toLowerCase()) ? 1 : -1;
               }

               if (!this.reverse) {
                  return this.listeners.sort(sortByName)
               } else {
                  return this.listeners.sort(sortByReverseName)
               }
            }
        }
    });
</script>


<style>
    th.collapse {
        display: none;
    }

    th.shrink {
        max-width: 150px;
        overflow: hidden;
    }
    
    div.collapse {
        width: 0 !important;
        padding: 0 !important;
        border: none !important;
    }

    div.shrink {
        width: 150px !important;
    }
    
    div.collapse span {
        display: none;
    }

    .collapseModule {
        display: none;
    }

    .table__marks thead,
    .table__marks tr:last-child {
       border-bottom: 3px solid #db5b70;
    }

    .table__marks tbody tr:nth-child(2n - 1),
    #el_journal .table__marks tbody tr:nth-child(2n - 1) .table__fixed-body {
       background: #cbebfa;
    }

    .table__marks .mark-table-listener tbody tr {
        background: transparent;
    }

    #el_journal .table__marks tbody tr:hover,
    #el_journal .table__marks tbody tr:hover .table__fixed-body,
    .mark-table-listener tbody tr:hover td {
       background: #00334e;
       color: #ffffff !important;
    }

    .mdi-arrow-down::before {
       transition: 0.3s ease;
    }

    .reverse::before {
       transform: rotate(180deg);
    }

    .v-application--wrap {
        min-height: unset;
    }

    #el_journal {
        padding-bottom: 70px;
    }

    #el_journal .v-sheet--tile {
        position: static !important
    }

    .table__marks table {
        border-collapse: collapse;
        width: unset;
    }

    #el_journal .table__fixed-header,
    #el_journal .table__fixed-body {
        position: absolute;
        width: 150px;
        left: 0;
        background: #fff;
    }

    #el_journal .table__fixed-body {
       border-bottom: 3px solid #db5b70;
    }

    #el_journal .theme--light.v-data-table thead tr:last-child .table__fixed-header {
      height: 50px;
      border-bottom: 3px solid #db5b70;
    }

    #el_journal .program_structure * {
        font-weight: 300;
    }

    .fixedWidthTh {
        min-width: 150px;
    }

    #el_journal .mark-table-listener table {
        width: 100%;
    }

    #el_journal .mark-table-listener tr th:last-child,
    #el_journal .mark-table-listener .mark-cell {
       border-left: 2px solid #db5b70;
    }

    .mark-cell__average-popout {
        display: none;
    }

    .mark-cell span:hover .mark-cell__average-popout {
        display: block;
        position: absolute;

        padding: 5px;

        width: 220px;

        right: 55px;

        background: #007fbd;

        border-radius: 8px;
        border: 2px solid #00334e;
    }

    #el_journal .mark-table-listener tr th:last-child,
    #el_journal .mark-table-listener tr td:last-child {
        width: 100px;
        text-align: center;
    }

    .v-small-dialog__actions .v-btn:hover {
        background-color: unset;
    }

    .module-row td {
        background-color: #007fbd;
    }

    .mark-module span:before {
        content: '';
    }

    .course-row td {
        background: #cbebfa;
    }

    .mark-course span:before {
        content: '   ';
    }

    .element-row td {
        background: transparent;
    }

    .mark-element span:before {
        content: '      ';
    }

    .son {
        background: rgb(197, 192, 192);
    }

    .grandSon {
        background: rgb(117, 115, 115);
    }

    .v-expansion-panel-header--active {
        /* background: #cbebfa; */
        background: #fff;
    }

    .v-expansion-panel-header:hover {
        /* background: #007fbd; */
        background: #fff;
        color: rgba(0,0,0,.87);
    }

    .v-expansion-panel-header:before {
        background: #fff;
    }
    .v-expansion-panels {
        z-index: unset;
    }
    

    .v-expansion-panel-header span {
        font-weight: bold !important;
        color: #333 !important;
    }

    .v-expansion-panel-header > :not(.v-expansion-panel-header__icon) {
        flex-grow: 0;
        color: rgb(216, 213, 213)
    }

    .icon_teal {
        color: #00C590 !important;
    }

    .icon_white {
        color: rgba(210, 210, 210, .9) !important;
    }

    .icon_red {
        color: red !important;
    }

    .program_structure .v-icon {
        color: orange;
    }

    .element-name {
        cursor: pointer;
        transition: color .2s linear;
    }

    .element-name:hover {
        color: #f90;
    }
    .v-dialog header {
        position: static;
    }

    .program_elements p {
        margin-bottom: 0;
    }

    /* С АСОУ */

    .time_description * {
        text-align: center;
    }
    .time_description p {
        font-size: 1em;
        line-height: 1.15em;
    }

    .stat-block .v-progress-circular__info {
        width: 50px;
        height: 50px;
        color: white;
        font-size: 1.15em;
        white-space: nowrap;
        background-color: #00C590;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stat-block .v-progress-circular__underlay {
        stroke: rgb(240, 240, 240);
        stroke-width: 1px;
    }

    .time-number {
        font-size: 30px;
        line-height: 80px;
        margin-top: 30px;
    }

    .time-char {
        font-size: 1.4em;
        font-weight: 400;
    }
</style>