<%
var sUser = curUserID != null;
%>


<div id="catalog" class="page-info hidden" v-cloak>
  <v-app>
  <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true" :multi-line="true">
    <v-col>{{ snack.text }}</v-col><v-btn color="white" text @click="snack.view = false">Закрыть</v-btn>
  </v-snackbar>
  <div v-if="preloader" class="preloader__wrapper">
    <v-progress-circular :indeterminate="true" :rotate="0" :size="100" :width="10" color="#00334e">
    </v-progress-circular>
  </div>
  <div v-cloak v-if="loading" class="info-resources__loading-wrapper"></div>

  <nav class="copp__orgs-nav background-for-header--top">
    <v-breadcrumbs :items="links" divider="/">
      <template v-slot:item="{item}">
        <v-breadcrumbs-item :href="item.href || '#'" @click="{!item.href ? setPage(0, $event) : ''}"
           v-if="!item.page">
          {{ item.text }}
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
  </nav>
  <h2 class="catalog__header txt-bolder">{{ pageHeader }}</h2>
  <form class="catalog__form" @submit.prevent="findThisProgram" action="#" v-if="!showMore">

    <v-row>
      <v-col cols="12" sm="12" md="4">
        <v-select class="copp__multiselect" v-model="checkedSelectors" :items="arrayOfSelectors" attach multiple solo
          label="Формат программы">
        </v-select>
      </v-col>

      <v-col cols="12" sm="12" md="4">
        <v-select class="copp__multiselect" v-model="checkedCompetencies" :items="arrayOfCompetencies" attach multiple
          solo label="Компетенции">
          <template v-slot:selection="{ item, index }">
            <span v-if="index === 0 && checkedCompetencies.length === 1" class="grey--text caption">Компетенции: {{ checkedCompetencies.length }}</span>
            <span  v-if="index === 1" class="grey--text caption">Компетенции: {{ checkedCompetencies.length }}</span>
          </template>
        </v-select>
      </v-col>


      <v-col cols="12" sm="12" md="4">
        <div class="copp__search-wrapper">
          <input v-model="inputSearchText" class="copp__search-input" type="search" placeholder="Поиск">
          <button type="submit" class="copp__btn-search">
            <svg viewBox="0 0 35 44" width="25px" height="40px" class="magnifier">
              <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#magnifier"></use>
            </svg>
          </button>
        </div>
      </v-col>
    </v-row>

  </form>
  <p class="catalog__result-text" v-if="!showMore">Найдено программ: {{ iFindThisNumberOfCard }}</p>

  <div class="container" v-if="!showMore">
    <div class="catalog__wrapper">
      <v-card v-for="(item, index) in arrayOfShowedProgram" :key="index" class="copp__content-card catalog__card card">
        <p class="card__program-format">Формат программы: {{item.event_form}}</p>
        <div class="card__container">
          <div v-if="item.image">
            <v-img :max-width="150" :max-height="150" class="card__image" :src="item.image.url" alt="program-image">
          </div>
          <div class="card__block" :class="{'pl-0': !item.image.url}">
            <p class="card__header">{{ item.name }}</p>

            <!-- <div class="card__info">{{ item.desc | truncate(100, '...')}}</div> -->
            <p class="card__info" v-html="item.desc"></p>

          </div>
        </div>
        <ul class="card__list">
          <li class="card__item">
            <svg viewBox="0 0 10 10" width="30px" height="30px">
              <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#graduation"></use>
            </svg>
            <p class="card__tag">Автор: {{ item.author }}</p>
          </li>
          <!-- <li class="card__item">
            <svg viewBox="0 0 10 10" width="30px" height="30px">
              <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#graduation-head">
              </use>
            </svg>
            <p class="card__tag">{{ item.event_form}}</p>
          </li> -->

          <li v-for="element in item.competencies" class="card__item">
            <svg viewBox="0 0 10 10" width="30px" height="30px">
              <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#comment"></use>
            </svg>
            <p class="card__tag">{{ element.name}}</p>
          </li>
        </ul>

        <div class="btn__wrapper">
          <div class="copp__btn" @click="showFullInfo(item.id)">Подробнее</div>
          <!--<div class="copp__btn btn__favorites" @click="chooseFavorite(item.id)">В избранное</div>-->
        </div>


      </v-card>
    </div>
    <v-pagination v-if="filteredList.length > 4" class="copp__pagination" v-model="page" :length="lengthPagination"
      :total-visible="5" :disabled="false"></v-pagination>

    <div class="copp__pagination background-for-header--bottom"></div>

<div>
    <p class="ma-0">Не нашли подходящей программы?</p>
    <p>Оставьте заявку, мы разработаем программу под ваши потребности.</p>
</div>
<div class="btn__wrapper">
    <a class="mr-4 mb-2" @click="[isLoggedIn ? ( groupRequest ? dialog = true : dialog1 = true) : setSnackMessage('warning', 
	'Для подачи заявки на обучение необходимо авторизоваться на портале.')]" :height="40" style="text-align: center;">
	<span style="display: inline-flex; width: auto;" class="copp__btn">Заявка на обучение</span>
    </a>
</div>

      <!--### Выбор вида заявки ###-->
      <v-dialog v-model="dialog" max-width="600px" style="background: #fff;">
	<template>
	  <v-app class="background-white">
	  <v-text class="headline px-4 pt-5 pb-2 ma-0 font-weight-bold">Заявка на обучение</v-text>
	  <v-card class="elevation-0" light height="300px">
	     <div class="d-flex justify-center align-center" style="height: 100%; background: #fff;">
		<v-btn color="primary" dark class="btn__copp mr-10" @click="dialog=false;dialog0=true;" :height="70">Новая</br>программа</v-btn>
		<v-btn color="primary" dark class="btn__copp" @click="dialog=false;dialog1=true;" :height="70">Индивидуальная</br>программа</v-btn>
	     </div>
	  </v-card>

	  </v-app>
	</template>
      </v-dialog>

      <!--### Заявка на новую программу ###-->
      <v-dialog v-model="dialog0" max-width="600px" v-if="groupRequest">
	<template>
	  <v-app>

	    <v-stepper v-model="e0" :alt-labels="true">
	      <p class="headline px-4 pt-5 pb-2 ma-0 font-weight-bold">Заявка на новую программу</p>

	      <v-stepper-header v-if="e0 != steps0" class="elevation-0">
		<template v-for="n in steps0">
		  <v-stepper-step :key="`${n}-step`" :step="n" v-if="n != steps" :complete="n < e0"><small v-if="e0 == n" align="center">{{headSteps0[n-1]}}</small></v-stepper-step>
		  <v-divider class="mt-7" v-if="n < steps0" :key="n"></v-divider>
		</template>
	      </v-stepper-header>

	      <v-stepper-items>

		<v-stepper-content :key="`${1}-content`" :step="1" class="pt-0 pb-8">
		  <v-card class="mb-5 elevation-0" height="300px">
		    <div class="d-flex align-center" style="height: 100%; background: #fff;">
          <v-container class="pa-0">
            <v-col cols="12" class="pt-0 d-flex align-center"> 
              <p class="ma-0 mr-2">Отрасль: </p>
              <v-autocomplete v-model="request0.okved" :items="selectOkved" attach solo label="" item-text="name" item-value="id" return-object :rules="[rules.required]"></v-autocomplete>
            </v-col>
            <v-col cols="12" class="pt-0 d-flex align-center"> 
              <p class="ma-0 mr-2">Компетенции: </p>
              <v-text-field class="pt-0" v-model="request0.competencies" :rules="[rules.required, rules.max1000]"></v-text-field>
            </v-col>
            <v-col cols="12" class="pt-0 d-flex align-center">
              <v-textarea v-model="request0.operations" label="Набор «производственных» операций:" :rules="[rules.required, rules.max1000]" rows="5"></v-textarea>
            </v-col>
          </v-container>
		    </div>
		  </v-card>

		  <div class="d-flex justify-space-between">
		  <a class="ml-auto" @click="nextStep0(1)" :class="{'disabled' : !request0.okved.id||!request0.competencies||!request0.operations}"><span class="copp__btn">Далее</span></a></div>

		</v-stepper-content>

		<v-stepper-content :key="`${2}-content`" :step="2" class="pt-0 pb-8">
		  <v-card class="mb-5 elevation-0" height="300px">
		    <div class="d-flex align-center" style="height: 100%; background: #fff;">
          <v-container class="pa-0">
            <v-col cols="12" class="pt-0 d-flex align-center"> 
              <p class="ma-0 mr-2">Форма обучения: </p>
              <v-select v-model="request0.education" :items="selectEducation" attach solo item-text="name" item-value="id" return-object :rules="[rules.required]"></v-select>
            </v-col>
            <v-col cols="12" class="pt-0 d-flex align-center"> 
              <p class="ma-0 mr-2">Вид программы: </p>
              <v-select v-model="request0.programType" :items="selectProgramType" attach solo item-text="name" item-value="id" return-object :rules="[rules.required]"></v-select>
            </v-col>
          </v-container>
		    </div>
		  </v-card>

		  <div class="d-flex justify-space-between"><a @click="e0 -= 1"><span class="copp__btn">Назад</span></a>
		  <a class="ml-auto" @click="nextStep0(2)" :class="{'disabled' : !request0.education.id||!request0.programType.id}"><span class="copp__btn">Далее</span></a></div>

		</v-stepper-content>

		<v-stepper-content :key="`${3}-content`" :step="3" class="pt-0">
		  <v-card class="mb-5 elevation-0" height="300px">
		    <div class="d-flex align-center" style="height: 100%; background: #fff;">
          <v-container class="pa-0">
            <v-col cols="12" class="pt-0 d-flex align-center"> 
              <p class="ma-0 mr-2">Перечислите оборудование, которое понадобится для обучения: </p>
            </v-col>
            <v-col cols="12" class="pt-0 d-flex align-center">
              <v-textarea v-model="request0.equipment" :rules="[rules.required, rules.max1000]" rows="5"></v-textarea>
            </v-col>
            <v-col cols="12" class="pt-0 d-flex">
              <v-radio-group v-model="request0.whoseEquipment">
                <v-radio color="primary" label="Оборудование предоставляет ЦОПП" value="copp"></v-radio>
                <v-radio color="primary" label="Собственное оборудование" value="self"></v-radio>
              </v-radio-group>
            </v-col>
          </v-container>
		    </div>
		  </v-card>

		  <div class="d-flex justify-space-between"><a @click="e0 -= 1"><span class="copp__btn">Назад</span></a>
		  <a class="ml-auto" @click="nextStep0(3)" :class="{'disabled' : !request0.equipment}"><span class="copp__btn">Далее</span></a></div>

		</v-stepper-content>

		<v-stepper-content class="pt-0" :key="`${4}-content`" :step="4">
		  <v-card class="elevation-0" color="grey lighten-1" height="350px">
		     <div class="d-flex flex-column" style="height: 100%; background: #fff;">
                     <v-container class="pa-0">
                        <v-col cols="12" class="pt-0 d-flex align-center"> 
			  <p class="ma-0 mr-2">Количество обучающихся:</p>
                          <v-text-field class="pt-0" v-model="request0.listeners"
                            type="number" min="1" max="1000" :rules="[rules.required, rules.max999]">
                          </v-text-field>
                        </v-col>
                        <v-col class="pt-0 d-flex align-center" cols="12">
			  <p class="ma-0 mr-2">Желаемая дата начала обучения: </p>
                          <v-menu ref="menu0" v-model="menu0" :close-on-content-click="false"
                            :return-value.sync="request.event_date" transition="scale-transition" offset-y
                            max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on }">
                              <v-text-field id="event_date" name="event_date" v-model="request0.event_date"
                                append-icon="mdi-calendar" v-on="on" hint="ДД.ММ.ГГГГ"
                                :rules="[rules.required, rules.date]">
                              </v-text-field>
                            </template>
                            <v-date-picker v-model="dateIso0" type="date" no-title scrollable>
                              <v-spacer></v-spacer>
                              <a @click="menu0 = false" style="margin-right: 10px;"><span class="copp__btn" style="width: auto;">Отменить</span></a>
                              <a @click="request0.event_date = formatDate(dateIso0); $refs.menu0.save(request0.event_date)">
                                <span class="copp__btn" style="width: auto;">OK</span></a>
                            </v-date-picker>
                          </v-menu>
                        </v-col>
                        <v-col class="pt-0 d-flex align-center" cols="12">
                          <p class="ma-0 mr-2">Желаемое место проведения: </p>
                          <v-text-field id="suggest0" v-model="request0.address" :rules="[rules.required]"></v-text-field>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-textarea id="comment" name="comment" v-model="request0.comment" label="Комментарий к заявке"
                            :rules="[rules.required, rules.max1000]" rows="5" class="pt-0">
                          </v-textarea>
                        </v-col>
                     </v-container>
		     </div>
		  </v-card>

		  <div class="d-flex justify-space-between"><a @click="e0 -= 1"><span class="copp__btn">Назад</span></a>
		    <a class="ml-auto" @click="[ isLoggedIn ? createRequest(request0) : '' ]" :class="{'disabled' : !request0.listeners||!request0.event_date||!request0.address||!request0.comment}">
        <span class="copp__btn" style="width: auto;">Отправить заявку</span></a>
      </div>
		</v-stepper-content>

		<v-stepper-content :key="`${5}-content`" :step="5">
		  <v-card class="elevation-0" color="grey lighten-1" height="300px">
		     <div class="d-flex justify-center align-center flex-column" style="height: 100%; background: #fff;">
			    <p>Уважаемый пользователь!</p>
			    <p class="my-10">Ваша заявка зарегистрирована под номером: <b class="headline font-weight-bold">{{ numRequest }}</b></p>
			    <p>Наш специалист свяжется с Вами в ближайшее время для уточнения деталей.</p>
			    <div class="d-flex justify-center"><a @click="dialog0 = false; e0 = 1" class="mt-2"><span class="copp__btn">Закрыть</span></a></div>
		     </div>
		  </v-card>
		</v-stepper-content>

	      </v-stepper-items>

	    </v-stepper>
	  </v-app>
	</template>
      </v-dialog>

      <!--### Заявка на индивидуальную программу ###-->
      <v-dialog v-model="dialog1" max-width="600px">
	<template>
	  <v-app>

	    <v-stepper v-model="e1" :alt-labels="true" v-if="">
	      <p class="headline px-4 pt-5 pb-2 ma-0 font-weight-bold">Заявка на индивидуальное обучение</p>

	      <v-stepper-header v-if="e1 != steps" class="elevation-0">
		<template v-for="n in steps">
		  <v-stepper-step :key="`${n}-step`" :step="n" v-if="n != steps" :complete="n < e1"><small v-if="e1 == n" align="center">{{headSteps[n-1]}}</small></v-stepper-step>
		  <v-divider class="mt-7" v-if="n < steps-1" :key="n"></v-divider>
		</template>
	      </v-stepper-header>

	      <v-stepper-items>

		<v-stepper-content :key="`${1}-content`" :step="1">
		  <v-card class="mb-5 elevation-0" dark height="200px">
		     <div class="d-flex justify-center align-center" style="height: 100%; background: #fff;">
			<v-btn color="primary" dark class="btn__copp mr-10" @click="selects=professions; itemText = 'профессии'; headSteps[1] = 'Выбор профессии'; nextStep(1)" :height="70">Освоить</br>профессию</v-btn>
			<v-btn color="primary" dark class="btn__copp" @click="selects=competencies; itemText = 'компетенции'; headSteps[1] = 'Выбор компетенции'; nextStep(1)" :height="70">Овладеть</br>компетенцией</v-btn>
		     </div>
		  </v-card>

		</v-stepper-content>

		<v-stepper-content :key="`${2}-content`" :step="2" class="pt-0 pb-8">
		  <v-card class="mb-5 elevation-0" color="grey lighten-1" height="300px">
		     <div class="d-flex justify-center" style="height: 100%; background: #fff;">
		       <v-autocomplete v-model="selectValue" :items="selects" attach solo label="" item-text="name" item-value="id" return-object></v-autocomplete>
		     </div>
		  </v-card>

		  <div class="d-flex justify-space-between"><a @click="e1 -= 1"><span class="copp__btn">Назад</span></a>
		  <a class="ml-auto" @click="nextStep(2)" :class="{'disabled' : !formingPrograms(selectValue).length}"><span class="copp__btn">Далее</span></a></div>
		  <!--<div><span class="ml-10">Доступно: {{formingPrograms(selectValue).length}}</span></div>-->
		</v-stepper-content>

		<v-stepper-content :key="`${3}-content`" :step="3">
		  <v-card class="mb-5 elevation-0" color="grey lighten-1" height="300px">
		     <div class="d-flex align-center flex-column" style="height: 100%; background: #fff;">
			    <v-title>Выберите программы</v-title>
			    <v-list subheader flat width="100%" height="100%" style="overflow: auto;">
			      <v-list-item-group v-model="selectPrograms" multiple>
				<v-list-item v-for="prog in formingPrograms(selectValue)">
				  <template v-slot:default="{ active, toggle }">
				    <v-list-item-action><v-checkbox v-model="active" color="primary" @click="toggle"></v-checkbox></v-list-item-action>

				    <v-list-item-content>
				      <v-list-item-title style="white-space: unset;">{{prog.name}} ({{prog.hours}} часов)</v-list-item-title>
				      <v-list-item-subtitle style="white-space: unset;">{{prog.desc | truncate(100, '...')}}</v-list-item-subtitle>
				    </v-list-item-content>
				  </template>
				</v-list-item>
			      </v-list-item-group>
			    </v-list>
		     </div>
		  </v-card>

		  <div class="d-flex justify-space-between"><a @click="e1 -= 1"><span class="copp__btn">Назад</span></a>
		  <a class="ml-auto" @click="nextStep(3)" :class="{'disabled' : !selectPrograms.length}"><span class="copp__btn">Далее</span></a></div>

		</v-stepper-content>

		<v-stepper-content :key="`${4}-content`" :step="4">
		  <v-card class="mb-5 elevation-0" color="grey lighten-1" height="300px">
		     <div class="d-flex flex-column" style="height: 100%; background: #fff; overflow: auto;">
			 <v-title>Обучение по {{itemText}} «{{selectValue.name}}».</br>Выбранные модули/программы:</v-title>
			 <v-data-table :headers="headers" :items="programsList(selectValue)" class="elevation-0" disable-sort style="width: 100%;" :hide-default-footer="[programsList(selectValue).length ? false : true]"></v-data-table>
		     </div>
		  </v-card>

		  <div class="d-flex justify-space-between"><a @click="e1 -= 1"><span class="copp__btn">Назад</span></a>
		  <a class="ml-auto" @click="[ isLoggedIn ? createRequest() : '' ]" v-if="steps == 5"><span class="copp__btn" style="width: auto;">Отправить заявку</span></a>
		  <a class="ml-auto" @click="nextStep(4)" v-else><span class="copp__btn">Далее</span></a></div>
		  <div class="ml-auto">Итого: {{programsList(selectValue).length ? programsList(selectValue).map(item => item.hours).reduce((prev, cur) => prev + cur) : ''}} часов</div>

		</v-stepper-content>

		<v-stepper-content class="pt-0" :key="`${5}-content`" :step="5" v-if="steps == 6">
		  <v-card class="elevation-0" color="grey lighten-1" height="400px">
		     <div class="d-flex flex-column" style="height: 100%; background: #fff;">
                     <v-container class="pa-0">
                      <v-col cols="12" class="pt-0 d-flex align-center"> 
                        <p class="ma-0 mr-2">Форма обучения: </p>
                        <v-select class="" v-model="request.education" :items="selectEducation" attach solo item-text="name" item-value="id" return-object :rules="[rules.required]"></v-select>
                      </v-col>
                        <v-col cols="12" class="pt-0 d-flex align-center"> 
			  <p class="ma-0 mr-2">Количество обучающихся:</p>
                          <v-text-field class="pt-0 " id="listeners" name="listeners" v-model="request.listeners"
                            type="number" min="1" :rules="[rules.required, rules.max999]">
                          </v-text-field>
                        </v-col>
                        <v-col class="pt-0 d-flex align-center" cols="12">
			  <p class="ma-0 mr-2">Желаемая дата начала обучения: </p>
                          <v-menu ref="menu" v-model="menu" :close-on-content-click="false"
                            :return-value.sync="request.event_date" transition="scale-transition" offset-y
                            max-width="290px" min-width="290px">
                            <template v-slot:activator="{ on }">
                              <v-text-field id="event_date" name="event_date" v-model="request.event_date"
                                append-icon="mdi-calendar" v-on="on" hint="ДД.ММ.ГГГГ"
                                :rules="[rules.required, rules.date]">
                              </v-text-field>
                            </template>
                            <v-date-picker v-model="dateIso" type="date" no-title scrollable>
                              <v-spacer></v-spacer>
                              <a @click="menu = false" class="mr-2"><span class="copp__btn" style="width: auto;">Отменить</span></a>
                              <a @click="request.event_date = formatDate(dateIso); $refs.menu.save(request.event_date)">
                                <span class="copp__btn" style="width: auto;">OK</span></a>
                            </v-date-picker>
                          </v-menu>
                        </v-col>
                        <v-col class="pt-0 d-flex align-center" cols="12">
                          <p class="ma-0 mr-2">Желаемое место проведения: </p>
                          <v-text-field id="suggest1" v-model="request.address" :rules="[rules.required]"></v-text-field>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-textarea id="comment" name="comment" v-model="request.comment" label="Комментарий к заявке"
                            :rules="[rules.required, rules.max1000]" rows="4" class="pt-0">
                          </v-textarea>
                        </v-col>
                     </v-container>
		     </div>
		  </v-card>

		  <div class="d-flex justify-space-between"><a @click="e1 -= 1"><span class="copp__btn">Назад</span></a>
		  <a class="ml-auto" @click="[ isLoggedIn ? createRequest(request) : '' ]" :class="{'disabled' : !request.education.id||!request.listeners||!request.event_date||!request.address||!request.comment}">
        <span class="copp__btn" style="width: auto;">Отправить заявку</span></a></div>
		</v-stepper-content>

		<v-stepper-content :key="`${[groupRequest ? 6 : 5]}-content`" :step="[groupRequest ? 6 : 5]">
		  <v-card class="elevation-0" color="grey lighten-1" height="300px">
		     <div class="d-flex justify-center align-center flex-column" style="height: 100%; background: #fff;">
			    <p>Уважаемый пользователь!</p>
			    <p class="my-10">Ваша заявка зарегистрирована под номером: <b class="headline font-weight-bold">{{ numRequest }}</b></p>
			    <p>Наш специалист свяжется с Вами в ближайшее время для уточнения деталей.</p>
			    <div class="d-flex justify-center"><a @click="dialog = false; e1 = 1" class="mt-2"><span class="copp__btn">Закрыть</span></a></div>
		     </div>
		  </v-card>
		</v-stepper-content>

	      </v-stepper-items>

	    </v-stepper>
	  </v-app>
	</template>
      </v-dialog>


  </div>

  <div class="container container-inner" v-if="showMore" id="currentObj.id">
    <div class="details-content">
      <div class="details-content__container">
        <v-img class="details-content__image" width="400" height="400" :src="currentObj.image.url"></v-img>
        <div class="details-content__block">
          <h3 class="copp__details-title">{{currentObj.name}}</h3>
          <p class="details-content__description" v-html="currentObj.desc"></p>
          <ul class="details-content__list">
            <li class="details-content__item">
              <svg viewBox="0 0 10 10" width="30px" height="30px">
                <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#graduation"></use>
              </svg>
              <p class="card__tag">Автор: {{ currentObj.author }}</p>
            </li>
            <li class="details-content__item">
              <svg viewBox="0 0 10 10" width="30px" height="30px">
                <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#graduation-head">
                </use>
              </svg>
              <p class="card__tag">Форма обучения: {{ currentObj.event_form }}</p>
            </li>
            <li v-for="elem in currentObj.competencies" class="details-content__item">
              <svg viewBox="0 0 10 10" width="30px" height="30px">
                <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#comment"></use>
              </svg>
              <p class="card__tag">{{ elem.name }}</p>
            </li>
          </ul>
          <a :href="currentObj.link" class="copp__btn inner-btn">Записаться</a>
        </div>
      </div>
      <div class="details-content__wrapper">

        <div class="details-content__info course-content">
          <h3 class="course-content__header">Содержание курса</h3>
          <ul class="course-content__list">
            <li v-for="(text, index) in currentObj.prog_structure" :key="index" class="course-content__item">Модуль
              {{ index+1 }}: {{ text.name }}</li>
          </ul>
        </div>

      </div>


    </div>
    <div class="details-content__coming-groups coming-groups">
      <h2 v-if="false" class="coming-groups__header">Конструктор курса</h2>

      <div v-if="false" @click="showConstructor = !showConstructor" class="copp__btn send-btn">Создать</div>

      <div v-if="showConstructor">
        <p>Количество часов: {{ summaryTimeOfProgram }}</p>
        <div class="catalog__wrapper">
          <v-card v-for="(item, index) in currentObj.prog_structure" :key="index" class="copp__content-card constructor__card card no-pseudo">
            <v-checkbox
              v-model="arrayOfCheckboxForConstructor"
              @change="addThisModule"
              label="Добавить этот модуль в курс"
              color="#007fbd"
              :value="item"
            ></v-checkbox>
            <div class="card__container">
              <p class="">Модуль {{ index }}: {{ item.name }}</p>
              
            </div>
            <p>Описание модуля: {{item.comment}}</p>
            <p>Продолжительность (часов): {{ item.duration }} </p>

          </v-card>
        </div>

        <div class="btn__wrapper">
          <div class="copp__btn send-btn">Отправить заявку</div>
        </div>
      </div>

    </div>
  </div>


  </v-app>
</div>


  
<script src="https://api-maps.yandex.ru/2.1/?apikey=1dc00fc8-9738-4f14-8539-212697fb1c62&lang=ru_RU"></script>
<script>


  Vue.use(VueMask.VueMaskPlugin);

  var filter = function (text, length, clamp) {
    clamp = clamp || '...';
    var node = document.createElement('div');
    node.innerHTML = text;
    var content = node.textContent;
    return content.length > length ? content.slice(0, length) + clamp : content;
  };

  Vue.filter('truncate', filter);

  var polls = new Vue({
    el: '#catalog',
    vuetify: new Vuetify({
      lang: {
        locales: {
          ru: ruLocale
        },
        current: 'ru'
      }
    }),
    data: {
    isLoggedIn: <%=sUser%>,
    arrayOfProgram: [], // Массив карточек полученных с сервера
    arrayOfModules: [], // Массив карточек полученных с сервера
    arrayOfShowedProgram: [], // Массив карточек для отрисовки по 4 штуки на странице
    formSelect: ['1', '2', '3'],
    iFindThisNumberOfCard: 0,
    page: 1, // Стартовая страница пагинации
    lengthPagination: 0, // Вычисляемая длина пагинации (в зависимости от длины массива arrayOfProgramm)
    links: [
      {
        text: 'Главная',
        href: '/view_doc.html?mode=home',
        disabled: false
      },
      {
        text: 'Каталог программ',
        href: '',
        disabled: false
      }
    ],
    snack: {
        view: false,
        text: '',
        color: '',
        timeout: 6000,
    },
    inputSearchText: '',
    preloader: true,
    loading: false,
    showMore: false,
    myfarovites: [],
    currentObj: {},
    groupRequest: false,
    numRequest: '',
    e1: 1,
    steps: 5,
    headSteps: ['','', 'Выбор модулей/программ', 'Параметры заявки'],
    e0: 1,
    steps0: 4,
    headSteps0: ['Кого готовим?','Форма и вид обучения', 'Оборудование', 'Дополнительные сведения'],
    dialog: false,
    dialog0: false,
    dialog1: false,
    selectValue: {},
    selects: [],
    selectOkved: [],
    selectProgramType: [],
    selectEducation: [],
    vid: [],
    menu0: false,
    menu: false,
    dateIso0: '',
    dateIso: '',
    request: {
      listeners: '',
      education: {},
      event_date: '',
      address: '',
      comment: '',
    },
    address: '',
    request0: {
      okved: {},
      competencies: '',
      operations: '',
      education: {},
      programType: {},
      equipment: '',
      whoseEquipment: 'copp',
      listeners: '',
      event_date: '',
      address: '',
      comment: ''
    },
    itemText: '',
    competencies: [],
    professions: [],
    selectPrograms: [],
    headers: [{
        text: 'Название', value: 'name'
      }, {
        text: 'Часов', value: 'hours'
      }],
    pageHeader: 'Каталог программ',
    arrayOfSelectors: new Set(), // Сначала set для фильтрации уникальных значений, а потом массив
    checkedSelectors: [], // Выбранные пользователем селекторы,
    checkedCompetencies: [], // Выбранные пользователем селекторы,
    arrayOfCompetencies: new Set(),

    showConstructor: false, // показать конструктор курсов
    summaryTimeOfProgram: 0, // Общая сумма часов выбранных модулей
    arrayOfCheckboxForConstructor: [], // Выбранные модули
    rules: {
	required: value => !!value || 'Необходимо заполнить',
	max100: value => value.length <= 100 || 'Не более 100 знаков',
	max999: value => value <= 1000 || 'Не более 1000 обучающихся',
	max1000: value => value.length <= 1000 || 'Не более 1000 знаков',
	date: value => value != 'Invalid Date' || 'Неправильный формат даты',
    }
  },
    methods: {
      nextStep (n) {
        if (n === this.steps) {
          this.e1 = 1
        } else {
          this.e1 = n + 1
        }
      },

      nextStep0 (n) {
        if (n === this.steps0) {
          this.e0 = 1
        } else {
          this.e0 = n + 1
        }
      },

      formatDate(date) {
        if (!date) return null;
        const [year, month, day] = date.split('-');
        return `${day}.${month}.${year}`;
      },

    formingPrograms (obj) {
	// console.warn(this.arrayOfModules.filter(item => item.knowledge_parts.some(part => part.id == obj.id)));
	return this.arrayOfProgram.filter(item => item.knowledge_parts.some(part => part.id == obj.id)).concat(this.arrayOfModules.filter(item => item.knowledge_parts.some(part => part.id == obj.id)));
    },
    programsList (obj) {
	let newObj = this.arrayOfProgram.filter(item => item.knowledge_parts.some(part => part.id == obj.id)).filter((item, index) => this.selectPrograms.includes(index))
			.concat(this.arrayOfModules.filter(item => item.knowledge_parts.some(part => part.id == obj.id)).filter((item, index) => this.selectPrograms.includes(index)));
	return newObj;
    },
    chooseFavorite(id) {
      let mvp = localStorage.getItem("my_favorite_programs");
      if (id) {
        if (!mvp) { this.myfarovites = String(id).split(","); }
        else {
          if (this.myfarovites.includes(String(id))) {
            this.myfarovites = this.myfarovites.filter(item => item != String(id));
          } else {
            this.myfarovites = (this.myfarovites.join(",") + "," + id).split(",");
          }
        }
        localStorage.setItem("my_favorite_programs", this.myfarovites.join(","));
      } else if (mvp) {
        this.myfarovites = mvp.split(",");
      }

      //console.warn(mvp, id, this.myfarovites)
    },
    setPage(page, evt) {
      if (evt) { evt.preventDefault(); this.removeLink(); }
      this.showMore = page > 0 ? true : false;
    },
    getObjects() {
      this.loading = true;
      const serverUrl = 'custom_web_template.html?object_id=6756890869092806714&test';

      fetch(serverUrl)
        .then(response => {
          if (response.status !== 200) return;
          return response.json();
        })
        .then(res => {
          console.warn(res);
          if (res.error) this.setSnackMessage("error", res.error);
          this.arrayOfProgram = res.data
          this.arrayOfProgram.forEach((element) => { // Приводим описание в нужный вид
            this.arrayOfSelectors.add(element.event_form) // записываем, по какому полю будем фильтровать
            element.competencies.forEach(item => {
              this.arrayOfCompetencies.add(item.name)
            })
          })
          this.arrayOfModules = res.modules;
          if (res.okved) this.selectOkved = res.okved;
          if (res.programTypes) this.selectProgramType = res.programTypes;
          if (res.educationForms) this.selectEducation = res.educationForms;

	  this.arrayOfSelectors = Array.from(this.arrayOfSelectors); // Меняем set на array
	  //this.arrayOfSelectors = Array.from(this.arrayOfSelectors.add("Избранное")); // Меняем set на array
          this.arrayOfCompetencies = Array.from(this.arrayOfCompetencies); // Меняем set на array
	  this.competencies = res.competencies;
	  this.professions = res.professions;
	  if (res.groupRequest) { this.groupRequest = res.groupRequest; this.steps = 6; }


          this.showMeThisFourCards(0)
          this.lengthPagination = this.getPaginationMaxNumber();
          // this.onHashChange();
          this.loading = false;
          this.preloader = false;
        })
        .catch(err => {
          this.loading = false;
          console.error('Err:', err); this.setSnackMessage("error", err);
        });
    },

    findThisProgram() { // Submit формы поиска
      // this.showMeThisFourCards(0)
      // this.lengthPagination = this.getPaginationMaxNumber()
    },
    extractTextFromHTML(summary) { // Описание приходит с сервера вместе с тегами. Эта функция их убирает
      if (!summary) { return ''; }
      if (!summary.startsWith('<') && !summary.endsWith('>')) {
        return summary;
      } else {
        return summary
          .replace(/</g, "\n<")
          .replace(/>/g, ">\n")
          .replace(/\n\n/g, "\n")
          .replace(/^\n/g, "")
          .replace(/\n$/g, "")
          .split("\n").filter(function (item) {
            return !item.startsWith('<');
          }).join('').replace(/&nbsp;?|<br\s*\/*>/ig, '');
      }
    },
    showTextLabels() {

    },
    showMeThisFourCards(index) { // Показ карточек по 4 штуки (принимает стартовый индекс массива)
      let counter = index + 4 // 4 прохода цикла
      const lengthOfGetArray = this.filteredList.length // длина массива
      this.arrayOfShowedProgram = [] // обнуляем текущий массив показанных карточек
      for (let i = index; i < counter; i++) {
        if (lengthOfGetArray > i) { // Если массив еще не закончился
          this.arrayOfShowedProgram.push(JSON.parse(JSON.stringify(this.filteredList[i]))) // Пушим элемент из массива всех карточек в массив показываемых карточек
        } else { return }
      }
    },
    getPaginationMaxNumber() { // Вычисляем пагинацию - если длина массива делется без остатка - длина пагинации = частному. Иначе длина пагинации = частное + 1
      if (this.filteredList.length % 4 === 0) {
        return parseInt(this.filteredList.length / 4)
      } else {
        return parseInt(this.filteredList.length / 4) + 1
      }
    },

    removeLink() {
      if (this.links.length > 2) {
        this.links.pop()
        this.pageHeader = "Каталог программ"
      }
    },

    showFullInfo(id) {
      this.loading = true;
      this.pageHeader = "";

      $.ajax({
        method: "GET",
        url: `custom_web_template.html?object_id=6756890869092806714&id=${id}`,
        success: (response) => {
          res = JSON.parse(response);
          if (res.error) { console.error(res.error); this.setSnackMessage("error", res.error); return }
          else {
            this.pageHeader = ''
            this.currentObj = Object.assign(this.currentObj, res.data);
            console.log(this.currentObj);
            this.showMore = true;
            this.links[1].disabled = false;
            this.links.push({
              text: this.currentObj.name,
              href: window.location.href,
              disabled: true
            })
          }
        },
        error: (err) => { console.error(err); this.setSnackMessage("error", error) },
        complete: () => { this.loading = false }
      });

    },

    createRequest(req) {
	this.loading = true;
	url = 'custom_web_template.html?object_id=6764104203040138009';
  let obj = {};
	if (!req.okved) {
    obj.programs = this.programsList(this.selectValue).filter(item => item.type == "compound_program").map( item => item.id ).join(';');
    obj.modules = this.programsList(this.selectValue).filter(item => item.type == "education_program").map( item => item.id ).join(';');
  }
  if (this.groupRequest) obj.request = req;

      $.ajax({
        method: "POST",
        url: url,
	      data: JSON.stringify(obj),
        success: (response) => {
        console.warn(response);
        let res = JSON.parse(response);
        if (res.error) { console.error(res.error); this.setSnackMessage("error", res.error); return }
        this.numRequest = res.request_number;
        if (req.okved) { this.e0 = 5 } else { this.e1 = this.groupRequest ? 6 : 5 }
        },
        error: (err) => { console.error(err); this.setSnackMessage("error", error) },
        complete: () => { this.loading = false }
      });

    },

    refresh() {
      this.showMeThisFourCards(0)
      this.lengthPagination = this.getPaginationMaxNumber()
    },

    addThisModule (e) {
      this.summaryTimeOfProgram = 0
      this.arrayOfCheckboxForConstructor.forEach(element => {
        this.summaryTimeOfProgram += element.duration
      })
    },

      setSnackMessage: function (color, text) {
        this.snack.color = color;
        this.snack.text = text;
        this.snack.view = true;
      },

		init: function (val) {
      console.warn(val)
		  let _this = this
		  var suggestView1 = new ymaps.SuggestView('suggest'+val);
		  // {
		  //   provider: {
		  //     suggest: (function (request, options) {
		  //       return ymaps.suggest(_this.city + ", " + request);
		  //     })
		  //   }
		  // }
		  suggestView1.events.add(["select"], function (event) {
			_this.request0.address = event.get('item').value
      console.warn(_this.request0.address)
		  })
		},

  },
    mounted() {
    this.getObjects();
    $("#catalog").removeClass("hidden");
    this.chooseFavorite();
  },
    watch: {
    page(val) { // переключение пагинации
      if (val === 1) {
        this.showMeThisFourCards(0)

      } else {
        this.showMeThisFourCards((val - 1) * 4)
      }
    },
    inputSearchText() {
      this.refresh()
    },
    checkedSelectors() {
      this.refresh()
    },
    checkedCompetencies() {
      this.refresh()
    },

    showMore(value) {
      if (value) {
        document.querySelector('.background-for-header--top').classList.add('cropp-background')
      } else {
        document.querySelector('.background-for-header--top').classList.remove('cropp-background')
      }
    },

    address(value) {
      this.request0.address = '';
      console.warn(value)
    },

		dialog0(value) { if (value) { window.ymaps.ready(() => {this.init(0)}) } },
		dialog1(value) { if (value) { window.ymaps.ready(() => {this.init(1)}) } }


  },
    computed: {

    filteredList() {
    self = this;
    function iChoseThisFilter(el, array2) {
    if (!array2.length) return true;
    condition = array2.includes("Избранное") ? self.myfarovites.includes(el.id) : true;
    for (elem of array2) {
        if (el.event_form === elem && condition) {
          return true
        }
        if (elem == "Избранное") {
            return self.myfarovites.includes(el.id);
        }
    }
    return false;
    }

      function iChoseThisCompetense(array1, array2) {
        if (!array2.length) return true;
        for (arr1obj of array1) {
          if (array2.includes(arr1obj.name)) return true;
        }
        return false;
      }

      let listOfFindElements = this.arrayOfProgram.filter(program => {
        if (program.name.toLowerCase().indexOf(this.inputSearchText.toLowerCase()) !== -1 && iChoseThisFilter(program, this.checkedSelectors) && iChoseThisCompetense(program.competencies, this.checkedCompetencies)) {
          return true
        }
      })
      this.iFindThisNumberOfCard = listOfFindElements.length

      return listOfFindElements
    },
  }
});
</script>

<style>

  .v-application--wrap {
	min-height: unset;
  }
  #app.background-white {
	background-color: white;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .v-stepper__step {
	padding: 12px 24px;
  }
  .v-stepper__step__step {
	font-size: 24px;
	width: 40px;
	height: 40px;
  }
   .v-stepper__step .v-stepper__step__step {
	border: 2px solid #00334e !important;
  }
  .v-stepper__step--inactive .v-stepper__step__step {
	color: #007fbd !important;
	background-color: unset !important;
  }
  .v-stepper__step .v-divider {
	border-color: #007fbd !important;
	border-width: 3px !important;
  }
  .v-stepper__content .v-text-field__details {
	top: calc(100% - 5px);
  }
  .v-stepper__content .v-autocomplete__content input {
	padding-left: 5px;
  }
  .v-stepper__content .disabled {
	pointer-events: none;
	opacity: .6;
  }
  .v-stepper__content .v-stepper__wrapper {
	overflow: visible;
  }
  .v-data-table th,
  .v-data-table td {
	border: 1px solid gray;
  }

  .v-select.v-input .v-input__control {
	min-height: unset;
  }
  .v-select input, .v-select__selections input {
	border: none;
  box-shadow: none;
  }
  .v-select input:focus, .v-select__selections input:focus {
	border: none;
  outline: none;
  }

  .set-page {
    cursor: pointer;
  }

  .txt-bold {
    font-weight: 500;
  }

  .txt-bolder {
    font-weight: 900;
  }

  .page-content {
    padding-bottom: 0;
  }

  .copp__orgs-nav li a {
    font-weight: bold;
    color: #2d2d2d;
  }

  .copp__orgs-nav li a {
    text-decoration: underline;
  }

  .copp__orgs-nav .copp__current-page a {
    color: #586e79;
  }

  .catalog__header {
    font-size: 85px;
    line-height: 95px;
    margin: 0 0 60px 0;
    color: #2D2D2D;
  }

  .catalog__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 40px 0;
  }


  .copp__btn-search {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .copp__btn-search:hover {
    background-color: #ffffff;
  }

  .catalog__result-text {
    margin: 0 0 30px 0;
    position: relative;
  }

  .catalog__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin: auto;
  }

  .container {
    padding: 20px 12px 12px 12px;
  }

  .container-inner {
    background: none;
    padding: 10px;
  }

  .details-content::after {
    content: '';
    z-index: -1;
    width: 100vw;
    height: calc(100vh + 20px);
    position: absolute;
    bottom: -185px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff

  }

  .copp__content-card.catalog__card {
    align-self: flex-start;
    width: calc(50% - 30px);
    min-height: 350px;
    max-height: 500px;
    max-width: 600px;
    margin: 0 30px 30px 0;
    padding: 20px 20px 40px 20px;
  }

  .coming-groups .copp__content-card.catalog__card {
    width: 100%;
  }


  .copp__content-card.constructor__card {
    align-self: flex-start;
    min-height: 350px;
    max-height: 500px;
    max-width: 600px;
    margin: 0 30px 30px 0;
    padding: 20px 20px 40px 20px;
  }

  .background-for-header--program {
    position: relative;
  }

  .background-for-header--program::before {
    content: '';
    z-index: -2;
    width: 100vw;
    height: 5000px;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }

  .btn__wrapper {
    display: flex;
    width: 100;
    justify-content: flex-start;
  }

  .btn__favorites {
    margin: 0 0 0 10px;
  }

  .background-for-header--top::after {
    bottom: -345px;
  }

  .copp__btn.inner-btn {
    background-color: var(--fourth-color);
    color: #fff;
  }

  .copp__btn.inner-btn:hover {
    outline: 4px solid var(--fourth-color);
    outline-offset: -4px;
    background: #fff;
    color: var(--fourth-color);
  }

  .coming-groups__header {
    font-size: 50px;
    line-height: 60px;
  }

  .advantages {
    margin-right: 185px;
  }

  .advantages__header,
  .course-content__header,
  .training__header {
    font-size: 30px;
    line-height: 36px;
  }

  .details-content__info {
    width: 400px;
  }

  .coming-groups__header.background-for-header--top::after {

    bottom: -625px;
    height: 735px;
    background: url('../images/epk/bg-section3_38.png')  70vw 0 / 715px repeat;
    background-color: var(--third-color);
  }

  .coming-groups__list li:first-child {
    margin-right: 35px;
  }  

  .copp__btn.send-btn {
    width: 200px;
    margin: 0 auto;
  }

  .no-pseudo {
    clip-path: none;
    -webkit-clip-path: none;
  }

  .no-pseudo:after {
    display: none;
  }

  .cropp-background::after {
    bottom: -20px;
  }
  

  @media (max-width: 480px) {
    .catalog__wrapper {
      flex-flow: column nowrap;
    }

    .copp__content-card.catalog__card {
      width: 100%;
    }

    .catalog__form {
      flex-flow: column nowrap;
    }

    .catalog__form>div {
      width: 100%;
    }
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    .copp__content-card.catalog__card {
      align-self: auto;
      width: 100%;
    }

    .catalog__wrapper {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
  }

  .card__program-format {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    color: rgba(45, 45, 45, 0.8);
  }

  .card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  @media (max-width: 1024px) {
    .card__container {
      flex-direction: column;
      align-items: center;
    }

    .copp__content-card.catalog__card {
      max-height: 620px;
    }

    .page-info .container {
      padding-top: 25px;
    }

    .coming-groups__list li:first-child {
      margin: 0;
    }

    .coming-groups__list {
      flex-direction: column;
    }

    .coming-groups__list .copp__content-card {
      margin: 0 auto 20px auto;
    }

    .details-content__container {
      flex-direction: column;
    }

    .details-content__image {
      margin: 0 auto;
    }

    .coming-groups__header.background-for-header--top::after {
      bottom: -945px;
      height: 1037px;
    }

  }

  @media (min-width: 960px) {
    .container {
      max-width: 1185px;
    }
    .page-info .container {
      padding-top: 25px;
    }
  }

  .card__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 0 20px;
  }

  .card__header {
    display: block;
    margin: 10px 0 15px 0;
    width: 100%;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: rgba(112, 112, 112, 0.5);
    max-height: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card__info { /* Стили для текста описания программы */
    width: 90%;
    overflow: hidden;
    position: relative; 
    line-height: 20px;
    max-height: 60px; 
    text-align: justify;  
    margin-right: -1em;
    padding-right: 1em;
  }

  .card__info::before {/* Стили для текста описания программы */
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .card__info::after { /* Стили для текста описания программы */
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }

  .card__image {
    display: block;
  }

  .card__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: 0 0 20px 0;
    max-height: 150px;
    overflow: hidden;
  }

  .card__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 25px 10px 0;
    width: 100%;
  }

  .card__tag {
    color: rgba(45, 45, 45, 0.8)
  }

  .card__item svg {
    display: block;
    fill: var(--third-color);
    margin: 0 10px 0 0;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .copp__btn {
    width: 150px;
    color: #ffffff;
  }

  .copp__btn:hover {
    color: #5a6e79;
  }

  .copp__pagination {
    width: 410px;
    margin: 0 0 30px 0;
  }

  .copp__details-title {
    color: #2d2d2d;
    font-size: 50px;
    line-height: 60px;
  }

  .details-content__container {
    display: flex;
    justify-content: space-between;
  }

  .details-content__image {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .details-content__block {
    flex-grow: 1;
    padding: 30px 0 0 30px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .details-content {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 0 50px 0;
  }

  .copp__details-title {
    display: block;
    width: 100%;
  }

  .details-content__description {
    display: block;
    width: 100%;
  }

  .details-content__list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
  }

  .details-content__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 0;
  }

  .details-content__item svg {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 10px 0 0;
    fill: #007fbd;
  }

  .details-content__button {
    display: block;
    background-color: var(--fourth-color);
    border-radius: 0;
  }

  .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    padding: 0 10px 0 10px;
  }

  .details-content__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 80px 0 0 0;
  }

  .details-content__info ul {
    list-style: none;
    margin: 0 50px 50px 0;
    padding: 0;
    width: 400px;
  }

  .details-content__info li {
    position: relative;
    padding: 0 0 0 20px;

    font-weight: bold;
  }

  .details-content__info li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: var(--third-color);
    ;
  }

  .date-day-number,
  .card__price {
    font-weight: 900;
    font-size: 45px;
    color: #007fbd;
  }

  .coming-groups__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
  }

  .card__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .card__price {
    position: relative;
    margin: 0 0 0 20px;
  }

  .card__price::after {
    content: "₽";
    position: absolute;
    top: 0;
    right: -36px;
    color: #656565;
    font-family: monospace;
    font-size: 50px;
    line-height: 52px;
    font-weight: 100;
  }

  .details-content__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #ffffff;
  }

  .details-content__button:visited {
    color: #ffffff;
  }

  .background-for-header--bottom::before {
    width: 120vw;
    left: 150%;
  }

  .disabled-btn {
    opacity: 0.5
  }

  .disabled-btn:hover {
    outline: none;
    outline-offset: none;
    background: var(--fourth-color);
    color: white
  }

  @media (max-width: 768px) {
    .catalog__header {
      font-size: 44px !important;
      line-height: 44px;
    }

    .catalog__form {
      display: flex;
      flex-direction: column;
    }

    .background-for-header--bottom::before {
      width: 1000px;
      left: 50%
    }

    .details-content__container {
      flex-direction: column;
    }

    .copp__details-title {
      font-size: 26px !important;
      line-height: 32px;
    }

    .details-content__image {
      margin: 0 auto;
    }

    .advantages__header,
    .course-content__header,
    .training__header {
      font-size: 24px !important;
    }

    .coming-groups__list {
      flex-direction: column;
      margin: 0 auto;
    }

    .advantages,
    .course-content,
    .training {
      padding: 0 0 0 30px;
    }

    .copp__pagination {
      width: 390px;
    }

    .page-info .container {
      padding-top: 90px;
    }

      .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
        height: 50px;
      }

      .copp__search-wrapper input[type="search"] {
        height: 50px;
      }

      .catalog__header {
        margin: 0 0 20px 0;
      }

      .catalog__form {
        margin: 0 0 20px 0
      }

    }

    @media (max-width: 600px) {
      .details-content__image {
        width: 200px !important;
        height: 200px !important;
      }

      .coming-groups__list li {
        width: 100%;
      }

      .coming-groups__item .flex-container {
        flex-wrap: nowrap;
      }

      .coming-groups__item {
        margin: 0 auto;
      }

      .card__wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
      }

      .card__price {
        margin: 0 0 10px 0;
      }

      .date-day-number,
      .card__price {
        font-size: 28px;
      }

      .card__price::after {
        right: -21px;
        font-size: 28px;
        line-height: 35px;
      } 

      .btn__wrapper {
        flex-direction: column;
      }

      .btn__favorites {
        margin: 10px 0 10px 0;
      }

      .details-content__container {
        flex-direction: column;
      }

      .details-content__block {
        padding-left: 0;
      }

      .advantages,
      .course-content,
      .training {
        padding: 0;
      }

      .copp__details-title {
        font-size: 22px !important;
      }

      .details-content__image {
        margin: 0 auto;
      }

      .advantages__header,
      .course-content__header,
      .training__header {
        font-size: 22px !important;
      }

      .coming-groups__list {
        flex-direction: column;
        margin: 0 auto;
      }


      .details-content__info ul {
        width: 100%;
      }

      .card__item {
        margin: 0 25px 5px 0;
      }

      .details-content {
        padding: 20px 0 20px 0
      }

  }

  .catalog__form .copp__multiselect .v-list-item__title {
    white-space: normal;
  }
</style>