<div id="vue-page" class="hidden" style="min-height:50vh">
    <v-app>
        <div v-if="loader" class="text-center preloader">
            <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
            ></v-progress-circular>
        </div>

        <!-- Страница, где показан список тестов -->
        <!--  1. Неплохо бы добавить кнопку в таблицу "Запустить", чтобы попробовать его пройти, как в админке
              2. Надо разобраться с тем, какие тесты можно редактировать, а какие нельзя, нужна ли кнопка копировать тест для создания нового теста на основе старого -->

        <div v-else-if="page == 1" class="mb-5">
            <h2>Список тестов</h2>
            <v-data-table :headers="headers" :items="tests" :hide-default-footer="tests.length <= 15" :items-per-page="15" class="elevation-0 test-table" :search="search"
              :footer-props="{ itemsPerPageText: 'строк на странице' }">
              <template v-slot:top>
                <v-toolbar flat color="white">
                  <v-text-field class="col-md-3" label="Поиск" hide-details v-model="search"></v-text-field>
                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialog" width="900" @click:outside="[event ? close() : '']" @keydown="[event.keyCode == 27 ? close() : '']">
                    <template v-slot:activator="{ on }">
                      <v-btn color="primary" dark class="mb-2 px-3 py-2" @click="saveTest()" :loading="loading">Добавить</v-btn>
                    </template>
                    <v-card>
                      <v-toolbar flat dark color="primary">
                      <v-toolbar-title>Создание теста</v-toolbar-title>
                      <v-spacer></v-spacer>
                      <v-btn fab small color="primary" dark @click="dialog = false">
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      </v-toolbar>
                      <v-card-text>
                        <v-container v-if="editedItem != null">
                          <v-row><v-col><v-text-field v-model="editedItem.title" label="Название" :rules="[rules.required]" ></v-text-field></v-col></v-row>
                          <v-row><v-col>
                            <v-autocomplete :items="lists.orgs" item-text="name" item-value="id" label="Организация разработчик" v-model="editedItem.dev_org"
                              :rules="[rules.required]">
                            </v-autocomplete>
                          </v-col></v-row>
                          <v-row><v-col>
                            <v-autocomplete :items="lists.collaborators" item-text="fullname" item-value="id"  label="Модератор" v-model="editedItem.test_moderator"
                              :rules="[rules.required]" return-object>
                            </v-autocomplete>
                          </v-col></v-row>
                          <v-row>
                            <v-col class="d-flex justify-end">
                              <v-btn color="primary" dark class="mb-2 px-3 py-2" @click="saveTest(editedItem)" 
                                :disabled="!editedItem.dev_org || !editedItem.title || !editedItem.test_moderator">Создать</v-btn>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:item.status="{ item }">
                {{ lists.test_statuses.find( el => el.status == item.status ).title }}
              </template>
              <template v-slot:item.action="{ item }">
                <!-- <v-icon :disabled="loading" small class="mr-2" @click="editTest(item)">
                  mdi-eye
                </v-icon> -->
                <v-icon :disabled="loading" small class="mr-2" @click="editTest(item)">
                  mdi-pencil
                </v-icon>
              </template>
            </v-data-table>
        </div>

        <!-- Страница редактирования теста -->

        <div v-else-if="page == 2" class="mb-5">
        
          <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
            :multi-line="true">
            {{ snack.text }}
            <v-btn color="white" text @click="snack.view = false">Закрыть</v-btn>
            <v-btn color="white" text v-if="snack.confirm && edit" @click="newEditor(); snack.view = false">{{ snack.textConfirm }}</v-btn>
          </v-snackbar>
            <v-row>
              <v-col cols="12" class="d-flex">
                <v-btn color="primary" @click="if (window.confirm('Данные могут быть потеряны, хотите уйти со страницы?')) { page = 1; getTest() }" class="px-3 py-2" :loading="loading">Вернуться</v-btn>
                <v-btn color="primary" @click="saveTest(editedItem)" class="ml-2 px-3 py-2" :loading="loading" :disabled="saveDisabled()">Сохранить</v-btn>
                <v-btn color="primary" @click="console.warn(JSON.stringify(editedItem))" class="ml-5 px-3 py-2" style="opacity: 0;">test</v-btn>
                <v-btn color="primary" @click="window.open(editedItem.publish_url, '_blank')" class="ml-auto px-3 py-2" :loading="loading" :disabled="!saveDisabled() || !editedItem.publish_url">Тест-драйв</v-btn>
              </v-col>
            </v-row>
            <h2>{{editedItem.title}}</h2>
            <v-form ref="form" id="form" method="post" enctype="multipart/form-data">
              <v-tabs v-model="activeTab" grow="true" dark background-color="primary">
        
                <v-tab>
                  Общая информация
                </v-tab>
                <v-tab :disabled="!editedItem.sections.length">
                  Вопросы
                </v-tab>
        
                <!-- **********************************  вкладка: Общая информация  ********************************** -->
        
                <v-tab-item>
                  <v-card>
                    <v-card-text>
                      <v-container>
                        <v-row class="d-flex justify-end">
                          <v-col class="d-flex flex-wrap align-baseline justify-end pt-0 pb-0" cols="12" sm="6" md="4">
          
                            <p class="mb-0">
                              Удалить вопрос -
                              <v-icon small>mdi-delete</v-icon>
                            </p>
          
                            <p class="mb-0">
                              Изменить порядок (выше) -
                              <v-icon small>mdi-arrow-up</v-icon>
                            </p>
          
                            <p class="mb-0">
                              Изменить порядок (ниже) -
                              <v-icon small>mdi-arrow-down</v-icon>
                            </p>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="w-auto" cols="12" sm="6" md="6">
                            <v-text-field id="title" name="title" v-model="editedItem.title"
                              label="Введите название" :rules="[rules.required]"></v-text-field>
                          </v-col>
                          <v-col cols="12" class="pb-0">Вопросы в тесте:</v-col>

                          <template v-for="section in editedItem.sections">
                            <v-col cols="12" class="pb-0 d-flex">
                              <span class="mr-2 pb-1 d-flex align-end">Раздел:</span>
                              <v-text-field id="section_title" name="section_title" v-model="section.title"
                                label="Название раздела" :rules="[rules.required]"></v-text-field>
                            </v-col>
        
                            <!--  Таблица вопросов по разделу теста  -->

                            <v-col cols="12" class="pt-0 mb-4">
                              <template v-if="section.items.length">
                                <v-data-table :headers="headersQuestions" :items="getSectionItems(section.items)" hide-default-footer="true" class="elevation-0"
                                disable-sort="true" disable-pagination="true" no-data-text="Пока нет ни одной записи">
                                  <template v-slot:item.index="{ item }">
                                    {{ +section.items.findIndex( q => q.id == item.id ) + 1 }}
                                  </template>
                                  <template v-slot:item.type_id="{ item }">
                                    {{ lists.question_types.find( el => el.type == item.type_id ).title }}
                                  </template>
                                  <template v-slot:item.action="{ item }">
                                    <v-icon small v-show="section.items[0].id != item.id" @click="changeIndex(section.items, item, '-')">mdi-arrow-up</v-icon>
                                    <v-icon small v-show="section.items[section.items.length - 1].id != item.id" @click="changeIndex(section.items, item, '+')">mdi-arrow-down</v-icon>
                                    <v-icon small @click="removeElement(section.items, item)">mdi-delete</v-icon>
                                  </template>
                                </v-data-table>
                              </template>
                            </v-col>

                            <v-col>
                              <v-btn color="primary" @click="activeTab = 1" class="ml-2 px-3 py-2">Добавить вопросы</v-btn>
                            </v-col>
                          </template>
                          
                        </v-row>
                        <v-row>
                          <v-col class="d-flex justify-end">
                            <!-- Кнопка скрывается, т.к. пока работаем с 1 разделом -->
                            <v-btn color="primary" @click="dialogSection = true" class="ml-2 px-3 py-2" :loading="loading" v-if="!editedItem.sections.length">Добавить раздел</v-btn>
                            <v-btn color="primary" @click="saveTest(editedItem)" class="ml-2 px-3 py-2" :loading="loading" :disabled="saveDisabled()">Сохранить</v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <!-- Окно создания раздела -->

                    <v-dialog v-model="dialogSection" width="600" persistent>
                      <v-card>
                        <v-card-title>Добавить раздел</v-card-title>
                        <v-card-text>
                          <v-container>
                            <v-row>
                              <v-col cols="12">
                                <v-text-field v-model="defaultSection.title" label="Название" :rules="[rules.required]" ></v-text-field>
                              </v-col>
                              <v-col cols="12">
                                <v-btn color="primary" @click="addSection()" class="ml-2 px-3 py-2" :disabled="!defaultSection.title">Добавить</v-btn>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>
                      </v-card>
                    </v-dialog>
                  </v-card>
                </v-tab-item>
        
                <!-- **********************************  вкладка: Вопросы  ********************************** -->
        
                <v-tab-item>
                  <v-card>
        
                    <!--  Таблица редактирования вопросов  -->
        
                    <v-data-table :headers="headersQuestions" :items="getQuestions()" :hide-default-footer="getQuestions().length <= 15" :items-per-page="15"
                    show-select no-data-text="Пока нет ни одной записи" ref="questions" :search="searchQuestion" class="elevation-0 question-table">
                      <template v-slot:top>
                        <v-toolbar flat color="white" class="pt-3">
                          <v-btn height="40" color="primary" class="px-2" :loading="loading" @click.stop="addQuestions()">Добавить вопросы</v-btn>
                          <v-text-field class="col-md-3 px-3 py-0 ml-auto" label="Поиск" hide-details v-model="searchQuestion"></v-text-field>
                          <v-btn height="40" class="align-self-end px-2" color="primary" :loading="loading" @click="createQuestion()">Создать вопрос</v-btn>
                        </v-toolbar>
                      </template>
                      <template v-slot:item.type_id="{ item }">
                        {{ lists.question_types.find( el => el.type == item.type_id ).title }}
                      </template>
                      <template v-slot:item.action="{ item }">
                        <v-icon small @click="copyQuestion(item)" :disabled="loading">mdi-content-copy</v-icon>
                      </template>
                    </v-data-table>

                    <!-- Окно создания вопроса -->

                    <v-dialog v-model="dialogCreate" width="900" persistent>
                      <v-form ref="questionForm">
                        <v-card>
                          <v-card-title>Создать вопрос</v-card-title>
                          <v-card-text class="pb-0">
                            <v-row>
                              <v-col cols="12" sm="6" md="4">
                                <v-select v-model="editedQuestion.type_id" :items="lists.question_types"
                                  placeholder="Тип вопроса" messages="Выберите, какой тип вопроса вы хотели бы добавить"
                                  :rules="[rules.required]" item-text="title" item-value="type" @input="setTypeQuestion($event)">
                                </v-select>
                              </v-col>
                              <v-col cols="12" sm="6" md="8">
                                <v-text-field v-show="editedQuestion.type_id" id="question-title" name="question-title"
                                  v-model="editedQuestion.title" label="Вопрос" hint="Введите вопрос" :rules="[rules.required]">
                                </v-text-field>
                              </v-col>
                            </v-row>
        
                            <!--  Тип: Единственный выбор или Множественный выбор или Выпадающий лист  -->
                            <template v-if="editedQuestion.type_id">
                              <v-row class="d-flex flex-nowrap align-baseline justify-start" :class="{'mt-3': !index}"
                                v-for="(answer, index) in editedQuestion.answers">
                                <v-col cols="12" class="d-flex pb-0">
                                  <template v-if="editedQuestion.type_id == 'multiple_response'">
                                    <v-checkbox color="primary" v-model="answer.is_correct_answer"></v-checkbox>
                                  </template>
                                  <template v-else-if="'multiple_choice'.includes(editedQuestion.type_id)">
                                    <v-radio-group v-model="answer.is_correct_answer">
                                      <v-radio color="primary" value="true" @change="setTrueAnswer(index)"></v-radio>
                                    </v-radio-group>
                                  </template>
                                  <template v-if="editedQuestion.type_id == 'order'">
                                    <span class="d-flex align-end pb-1 mr-2">{{ answer.id }}.</span>
                                  </template>
                                  <v-text-field v-model="answer.text" :rules="[rules.required]" 
                                    :label="'gap_fill,numerical_fill_in_blank'.includes(editedQuestion.type_id) ? 'Пояснение' : 'Ответ'"></v-text-field>
                                  <template v-if="editedQuestion.type_id == 'match_item'">
                                    <v-text-field class="ml-2" v-model="answer.values[0].text" label="Соответствие" :rules="[rules.required]"></v-text-field>
                                  </template>
                                  <template v-if="'gap_fill,numerical_fill_in_blank'.includes(editedQuestion.type_id)">
                                    <v-text-field class="ml-2" v-model="answer.conditions[0].value" label="Равно" :rules="[rules.required]"></v-text-field>
                                  </template>
                                  <v-icon small @click.stop="removeElement(editedQuestion.answers, answer); newIds(editedQuestion.answers)" class="ml-2">mdi-delete</v-icon>
                                </v-col>
                              </v-row>
                            </template>
                            <v-row>
                              <v-col class="mt-2">
                                <v-btn height="40" class="px-2" :class="{'mt-3': !editedQuestion.answers.length}" color="primary" 
                                dark @click.stop="addAnswer()">
                                  Добавить вариант
                                </v-btn>
                              </v-col>
                            </v-row>
                          </v-card-text>
        
                          <v-card-actions class="d-flex flex-wrap align-baseline justify-space-between">
                            <v-spacer></v-spacer>
                            <v-btn height="40" class="px-2" color="primary" dark @click="closeDialog()">Отменить</v-btn>
                            <v-btn height="40" class="px-2" color="primary"
                              @click.stop="addNewQuestion()" :disabled="!validateQuestion()">Создать вопрос</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-form>
                    </v-dialog>

                    </v-card>
                </v-tab-item>
              </v-tabs>
            </v-form>
        </div>
    </v-app>
</div>
        
<script>
  var objs_list = new Vue({
    el: '#vue-page',
    vuetify: new Vuetify({
      lang: {
        locales: {
          ru: ruLocale
        },
        current: 'ru'
      }
    }),
  
    data () {
      return {
        loader: true,
        loading: false,
        edit: false,
        headers: [{
            text: 'Заголовок', value: 'title', width: '100%'
        }, {
            text: 'Дата создания', value: 'create_date', align: 'center', width: 100, sort: this.sortingDates
        },{
            text: 'Модератор', value: 'test_moderator', align: 'center', width: 150
        },{
            text: 'Статус', value: 'status', align: 'center'
        },{ 
            text: 'Действия', value: 'action', sortable: false 
        }],
        headersQuestions: [{
            text: '№', value: 'index', align: 'center', sortable: false
        }, {
            text: 'Тип', value: 'type_id', width: 100, align: 'center'
        }, {
            text: 'Текст', value: 'title', width: '100%', sortable: false
        },{
            text: 'Действия', value: 'action', align: 'right', sortable: false
        }],
        tests: [],
        lists: {},
        page: 1,
        search: '',
        searchQuestion: '',
        dialog: false,
        dialogCreate: false,
        dialogSection: false,
        activeTab: 0,
        snack: {
            view: false,
            text: '',
            color: '',
            timeout: 6000,
            confirm: false,
            textConfirm: ''
        },
        editedItem: {},
        editedQuestion: {
          id: "_",
          type_id: null,
          answers: []
        },
        defaultSection: {
          title: '',
          items: []
        },
        rules: {
            required: value => !!value || 'Необходимо заполнить'
        }
      }
    },
  
    computed: {
      bodyScroll () { // убираем в элементе body возможность прокрутки при открытии диалогов
        if (this.dialog || this.dialogCreate)
          document.getElementById('wt-body').style.overflow = 'hidden'
        else
          document.getElementById('wt-body').style.overflow = 'visible'
      },
    },
  
    methods: {
    
      sortingDates(a, b) { // Сравнение дат
        newDate = (date) => +new Date([date.split('.')[1], date.split('.')[0], date.split('.')[2]].join('.'))
        if (newDate(a) > newDate(b)) return 1
        if (newDate(a) < newDate(b)) return -1
        return 0
      },
  
      setSnackMessage (color, text, timeout, confirm, textConfirm) { // вывод всплывающего сообщения
        this.snack.color = color;
        this.snack.text = text;
        this.snack.timeout = timeout != undefined ? timeout : 6000;
        this.snack.confirm = confirm;
        this.snack.textConfirm = textConfirm;
        this.snack.view = true;
      },
  
      getLists () { // Запрос - получение списков (организации, персоны, и т.д.)
        const addPath = '&lists';
        return this.queryFn(addPath, undefined, res => {
          console.warn('res--this.lists----',res);
          if (res.error) this.setSnackMessage("error", res.error);
          this.lists = res.data;
        }, 'loading')
      },
  
      queryFn (addPath, settings, callback, loading) { // Функция запросов
        this[loading] = true;
        const serverUrl = 'custom_web_template.html?object_id=6825871296149137985' + addPath;
        return fetch(serverUrl, settings)
          .then(response => {
            if (response.status !== 200) return;
            return response.json();
          })
          .then(res => { callback(res); this[loading] = false })
          .catch(err => {
            console.error('Err:', err); this.setSnackMessage("error", err);
            this[loading] = false;
          })
      },

      saveDisabled () {
        return JSON.stringify(this.originalItem) == JSON.stringify(this.editedItem)
      },

      saveTest (test) { // Запрос - сохранение теста
      if (!test) { this.dialog = true; this.editedItem.id = "_" } else {
        const addPath = '&save'
        const settings = {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json;charset=utf-8'
          },
          body: JSON.stringify(test)
        }

        return this.queryFn( addPath, settings, res => {
          console.warn('res--saveTest->post-----', res)

          if (res.error) this.setSnackMessage("error", res.error)
          if (res.data && res.data.id) this.getTest(res.data.id)
          else this.setSnackMessage("error", "Упс. Не удалось открыть, попробуйте позже или обратитесь к администратору")

          this.dialog = false
        }, 'loading')
      }
      },

      getTest (id) { // Запрос - получение записей/структуры
        const addPath = id ? ('&id=' + id) : '&tests'

        return this.queryFn( addPath, undefined, res => {

        console.log('get-prog->res: ', res);
        if (res.error) this.setSnackMessage("error", res.error)

        if (res.hasOwnProperty("lists")) {
          this.lists = Object.assign(this.lists, res.lists);
          console.log('this.lists: ', this.lists);
        }

        if (Array.isArray(res.data)) this.tests = res.data
        else if (res.data.id) {
          this.editedItem = res.data
          this.page = 2
          this.originalItem = JSON.parse(JSON.stringify(res.data))
        }
        
        }, this.edit ? 'loading' : 'loader')
      },

      editTest (item) {
        this.getTest(item.id)
      },

      addSection () {
        this.editedItem.sections.push(Object.assign({}, this.defaultSection))
        this.dialogSection = false
        this.defaultSection.title = ""
      },

      getSectionItems (items) {
        return JSON.parse(JSON.stringify(items)).map( item => Object.assign(item, this.lists.items.find( el => el.id == item.id )))
      },

      getCorrectAnswers (answers, type) {
        arr = answers.filter( item => item.is_correct_answer).map( item => item.id)
        return arr
      },

      removeElement (arr, el) {
        arr.splice(arr.findIndex( item => item.id == el.id ), 1)
      },

      newIds (arr) {
        arr.forEach( (item, index) => item.id = index + 1)
      },

      changeIndex (arr, el, offset) {
        let index = arr.findIndex( item => item.id == el.id )
        let indexOffset = offset == "+" ? index + 1 : index - 1
        console.warn(el, index, indexOffset)
        arr.splice(index, 1)
        arr.splice(indexOffset, 0, el)
      },

      copyQuestion (question) {
        const addPath = '&question=' + question.id

        return this.queryFn( addPath, undefined, res => {
            console.warn('res--question->get-----', res)

            if (res.error) this.setSnackMessage("error", res.error)
            if (res.data) {
              this.createQuestion(res.data)
            }
        }, 'loading')
      },

      createQuestion (question = {}) {
        this.dialogCreate = true
        Object.assign(this.editedQuestion, question)
        this.editedQuestion.id = "_"
        this.editedQuestion.dev_org = this.editedItem.dev_org
      },

      getQuestions () {
        if (!this.editedItem.sections.length) return this.lists.items
        return this.lists.items.filter( item => !this.editedItem.sections[0].items.map( q => q.id ).join(",").includes(item.id) ) || []
      },

      validateQuestion () {
        return true
      },

      addNewQuestion () {
        const addPath = '&question'
        const settings = {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json;charset=utf-8'
          },
          body: JSON.stringify(this.editedQuestion)
        }
        console.log(this.editedQuestion)
        return this.queryFn( addPath, settings, res => {

        console.log('post-quest->res: ', res)
        if (res.error) this.setSnackMessage("error", res.error)

        if (res.data.id) {
          question = this.lists.items.find( item => item.id == res.data.id)
          if (question) question = res.data
          else this.lists.items.push(res.data)
          this.dialogCreate = false
        }
        
        }, this.edit ? 'loading' : 'loader')
      },

      setTypeQuestion (type) {
        this.editedQuestion.answers = []
        this.addAnswer()
      },

      addQuestions () { // Функция добавляет выбранные вопросы в редактируемый тест
        let selection = Object.keys(this.$refs.questions.selection) // вытягиваем выбранные id вопросов
        let questions = this.lists.items.filter( item => selection.join(",").includes(item.id) ) // ищем эти вопросы в общем массиве
        if (!questions.length) return // выходим, если ничего не выбрано
        this.editedItem.sections[0].items = this.editedItem.sections[0].items.concat(questions) // добавляем вопросы
        this.$refs.questions.toggleSelectAll() // обнуляем выбранные элементы в таблице
        this.activeTab = 0 // переходим на вкладку общей информации
      },

      addAnswer () {
        this.newIds(this.editedQuestion.answers)
        let answer = { id: this.editedQuestion.answers.length + 1, text: "", is_correct_answer: false }
        if ("gap_fill,numerical_fill_in_blank".includes(this.editedQuestion.type_id)) answer.conditions = [{text: ""}]
        if (this.editedQuestion.type_id == "match_item") answer.values = [{text: ""}]
        this.editedQuestion.answers.push(answer)
      },

      setTrueAnswer (index) {
        this.editedQuestion.answers.forEach( (item, i) => {
          if (i == index) item.is_correct_answer = true
          else item.is_correct_answer = false
        })
      },

      closeDialog () {
        this.editedQuestion.answers = []
        this.editedQuestion.type_id = null
        this.editedQuestion.id = "_"
        this.editedQuestion.title = ""
        this.dialogCreate = false
        this.$refs.questionForm.resetValidation()
      }
    },
  
    mounted () {
        this.$el.classList.remove('hidden')
        this.getTest()
    },
  
    watch: {
      bodyScroll () { // убираем в элементе body возможность прокрутки при открытии диалогов
        if (this.dialog || this.dialogCreate)
            document.getElementById('wt-body').style.overflow='hidden'
        else 
            document.getElementById('wt-body').style.overflow='visible'
      }
    }
  })
</script>
      
<style>
  .preloader {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      min-height: 50vh;
      background-color: rgba(255,255,255,.4);
  }
  .copp__header-title {
      color: #2d2d2d;
      font-weight: bold;
      margin: 0 0 60px 0;
      font-size: 85px;
      line-height: 95px;
  }
  body header {
    position: static;
  }
  
  .hidden {
      display: none;
  }

  .v-application--wrap {
      min-height: 100%
  }

  h2 {
      color: #1c6186;
      font-weight: bold;
      font-size: 34px;
  }

  .test-table .v-data-table-header th {
    position: relative
  }
  .test-table .v-data-table-header__icon {
    position: absolute;
    top: calc(50% - 10px);
    right: -5px;
  }

  .question-table tr th:nth-child(2),
  .question-table tr td:nth-child(2) {
    display: none;
  }

  .v-dialog>.v-card>.v-card__title {
      word-break: break-word;
  }

  .v-input input {
    border: none !important;
    box-shadow: none !important;
    padding-left: 5px;
    font-size: 18px;
  }
  .v-input .v-text-field__details {
    top: 40px;
  }
</style>