<link href="/styles/materialdesignicons.min.css" rel="stylesheet">
<link href="/styles/vuetify.min.css" rel="stylesheet">

<%
portal = '69'; // 16 - тулун, 34 - волгоград, 69 - тверь

colors = {
	'16': [], 
	'34': ['#f6f6f5', '#cbebfa', '#007fbd', '#00334e', '#00334e'], 
	'69': ['#c7b198', '#dfd3c3', '#2d2d2d', '#596e79', '#596e79']
	};

%>

<style>
	:root {
		--first-color: <%=colors[portal][0]%>;
		--second-color: <%=colors[portal][1]%>;
		--third-color: <%=colors[portal][2]%>;
		--fourth-color: <%=colors[portal][3]%>;
        --fifth-color: <%=colors[portal][4]%>;
	}

	@font-face {
	font-family: 'ProximaNova';
	src:url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}
	@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	}
	@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff');
	font-weight: bolder;
	font-style: normal;
	}
	* {
	    font-family: 'ProximaNova' !important;
	    font-weight: 100;
	    font-size: 16px;
	}
	#app .fa, .fa {
	    font-family: 'Font Awesome 5 Free' !important;
	}

/* cloak */

  [v-cloak] {
    display: none;
  }

/*  */

  .hidden {
	display: none;
  }

  .XAML-template-doc,
  .cssXPSPXMLScreen {
	padding: 20px 5px;
	background-color: rgba(255,255,255,.9);
  }

  #wt-container > .navigation {
	display: none;
  }

  h1, h2, h3, h4, h5, h6, h7 {
	font-weight: 700;
  }
  @media (max-width: 768px) {
  #content h1 {
	font-size: 450%;
  }
  #content h2 {
	font-size: 400%;
  }
  #content h3 {
	font-size: 375%;
  }
  #content h4 {
	font-size: 350%;
  }
  #content h5 {
	font-size: 325%;
  }
  #content h6 {
	font-size: 300%;
  }
  #content h7 {
	font-size: 250%;
  }
  }

  .theme--light.v-application {
	background: none;
  }

  .page {
	min-height: 100vh;
	padding: .01em;
  }

  .page-content {
	padding-top: 100px;
  }

  @media (max-width: 768px) {
  .page-content {
	padding-top: 30px;
  }
  }

  #wt-zone-footer {
	display: none;
  }


  /* СТРАНИЦА my_cabinet - Дашборд */



  .mode-my_cabinet * {
	font-weight: 700;
  }
  .mode-my_cabinet .page {
	background: none;
	background-color: #fff;
  }
  .mode-my_cabinet .navigation {
	background: url("../images/epk/clip_<%=portal%>.png") -200px 0px / 1400px repeat-y;
	background-color: var(--second-color);
  }
  .mode-my_cabinet .navigation .v-list-group__items {
	width: 100%;
  }
  .mode-my_cabinet .navigation .v-list-group--sub-group > div {
	padding-left: 16px;
  }
  .mode-my_cabinet .navigation .v-list-group .v-list-group__items {
	padding-left: 10px;
  }
  .mode-my_cabinet {
  }


  /* СТРАНИЦЫ ..._list - Информация для неавторизованных */

.mode-my_cabinet .v-breadcrumbs li:first-child,
.mode-my_cabinet .v-breadcrumbs li.v-breadcrumbs__divider:nth-child(2) {
  display: none;
}
.catalog__result-text {
  position: relative;
}
.catalog__result-text:before {
  content: '';
  z-index: -1;
  width: 100vw;
  height: calc(100vh + 20px);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../images/epk/clip_<%=portal%>.png") 80vh 25vh / 1400px no-repeat;
  background-color: var(--second-color);
}

  /* Мультиселект */

  /*  
      <v-select
        class="copp__multiselect"
        :items="elements"
        attach
        multiple
        solo
        label="Текст для Select'a"
      ></v-select>
  */

  .copp__multiselect input[type="text"] {
    background: none;
    border: none;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    color: rgba(0,0,0,.54);
  }
  .copp__multiselect .v-input {
    border-radius: 0;
    height: 40px;
  }
  .copp__multiselect .v-text-field.v-text-field--solo .v-input__control {
    min-height: 40px;
  }
  .copp__multiselect .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: none !important;
  }
  .copp__multiselect .v-text-field__details {
    display: none;
  }
  .copp__multiselect .v-icon, 
  .copp__multiselect .v-list-item--active .v-icon {
    color: var(--fourth-color);
  }
  .copp__multiselect .v-list {
    padding: 0;
  }
  .copp__multiselect .v-menu__content,
  .copp__multiselect .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 0;
  }
  .copp__multiselect .v-list-item--link:before {
    background: white;
  }
  .copp__multiselect .v-list-item--active:before,
  .copp__multiselect .v-list-item:hover:before, 
  .copp__multiselect .v-list-item:focus:before {
    background: var(--second-color);
    opacity: .5;
  }
  .copp__multiselect .v-list-item .v-list-item__title { z-index: 5; }
  .copp__multiselect .mdi-menu-down::before {
    content: '';
    width: 15px;
    height: 15px;
    border-top: 4px solid var(--fourth-color);
    border-left: 4px solid var(--fourth-color);
    transform: rotate(-135deg) translate(15%, 10%);
  }
  .copp__multiselect .v-list-item__content {
    padding: 12px 10px 12px 10px;
  }
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: none;
    border-radius: 0;
    height: 75px;
    padding: 15px;
  }


    /* Строка поиска с значком "Лупа" */

  /*  

    <div class="copp__search-wrapper">
      <svg viewBox="0 0 35 44" width="25px" height="40px" class="magnifier"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#magnifier"></use></svg>
      <input class="copp__search-input" type="search" placeholder="Текст">
    </div>

  */

  .copp__search-wrapper {
    position: relative;
    display: flex;
    background: white;
  }
  .copp__search-wrapper input[type="search"] {
    background: white;
    padding: 15px 50px 15px 15px ;
    width: 100%;
    height: 75px;
     border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
  }
  .copp__search-wrapper{ position: relative; }
  .copp__search-wrapper .magnifier { 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
    pointer-events: none;
  }


  /* Пагинация */

  /*  

      <v-pagination 
      class="copp__pagination"
      v-model="page"
      class="my-4"
      :length="4"
    ></v-pagination>

  */

  .v-pagination {
    justify-content: flex-start;
  }
  .copp__pagination.theme--light.v-pagination .v-pagination__navigation {
    padding: 10px;
    width: auto;
    height: auto;
  }
  .copp__pagination.theme--light.v-pagination .v-pagination__item {
    background-color: var(--second-color);
    border-radius: 0;
    padding: 17px 25px 35px 25px;
  }
  .copp__pagination.theme--light.v-pagination .v-pagination__item--active {
    background-color: var(--fourth-color);
  }


  /* Карточка (с загнутым уголком) */

  /*

    <v-card class="copp__content-card"></v-card> 

  */

  .copp__content-card {
    width: 350px;
    border-radius: 0 !important;
    position: relative;
    clip-path: polygon(100% 0, 100% calc(100% - 92px), calc(100% - 92px) 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 92px), calc(100% - 92px) 100%, 0 100%, 0 0);
    margin: 0;
    padding: 30px;
  }
  .copp__content-card:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: var(--fourth-color);
    right: 0;
    bottom: 0;
    border-top: 92px solid var(--fourth-color);
    border-right: 92px solid transparent;
  }
  .copp__content-card:before {
    content: '';
    background: url(../images/epk/020-arrow_<%=portal%>.svg) no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .copp__content-card.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border: 8px solid var(--fourth-color);
  }

  @media (max-width: 768px) {
    .copp__content-card {
      clip-path: polygon(100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 0);
      -webkit-clip-path: polygon(100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 0);
    }

    .copp__content-card:after {
      border-top: 50px solid var(--fourth-color);
      border-right: 50px solid transparent;
    }
  }


  /* Дата и время */

  .copp__card-date > p {
    color: var(--fourth-color);
  }


  /* Иконки */

  .copp__card-item svg {
    fill: var(--fourth-color);
  }


  /* Кнопка (серая)  */

  /*

    <div class="copp__btn">Подробнее</div>

  */

  .btn,
  .btn.details {
    background-color: var(--fourth-color);
  }
  .btn:hover,
  .btn.details:hover {
    outline: 4px solid var(--fourth-color);
    color: var(--fourth-color);
  }
  .copp__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 0 15px;
    border-radius: 0;
    background-color: var(--fourth-color);
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: all .1s linear;
  }
  .copp__btn:hover {
    outline: 4px solid var(--fourth-color);
    outline-offset: -4px;
    background: white;
    color: var(--fourth-color);
  }
   .copp__btn:visited {
     color: #ffffff;
   }


     /* Кнопка (серая)  */

  /*

    <div v-if="preloader" class="preloader__wrapper">
      <v-progress-circular
      :indeterminate="true"
      :rotate="0"
      :size="100"
      :width="10"
      color="var(--fourth-color)"
      ></v-progress-circular>
    </div>

  */

  .preloader__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 0;
    z-index: 100;
    background-color: var(--second-color);
  }
   .v-progress-circular.v-progress-circular--indeterminate {
    display: block;
    margin: 100px auto 0 auto;
   }


     /* Кнопки (vuetify)  */

  #wt-container .v-application .primary {
    background-color: var(--fourth-color) !important;
    border-color: var(--fourth-color) !important;
  }
  /*input[type=button]:hover, input[type=submit]:hover, button:hover, a.button:hover {
	
  }*/

	.background-for-header--top {
		position: relative;
	}

	.background-for-header--top::after {
    content: '';
    z-index: -1;
    width: 100vw;
    height: calc(100vh + 20px);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/epk/clip_<%=portal%>.png) 80vh 25vh / 1400px no-repeat;
    background-color: var(--second-color);
	}

  .background-for-header--bottom {
	position: relative;
  }

  .background-for-header--bottom::before {
	content: '';
	z-index: -2;
	width: 100vw;
	height: 5000px;
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
  }


  /* Аватарки, текст на карточке  */

 
  .v-card col p {
	color: var(--fourth-color);
  }


  /* текст на инпутах  */
  #app .primary--text {
	color: var(--fourth-color) !important;
	caret-color: var(--fourth-color) !important;
  }


</style>