<div v-cloak id="vue-page">
    <v-app>
      <div class="copp__events-header">
        <nav class="copp__events-nav">
          <v-breadcrumbs :items="links" divider="/">
            <template v-slot:item="{item}">
              <v-breadcrumbs-item :href="item.href || '#'" @click="{!item.href ? setPage(0, $event) : ''}" :disabled="item.disabled">
                {{ item.text }}
              </v-breadcrumbs-item>
            </template>
          </v-breadcrumbs>
        </nav>
        <h1 v-if="!showDetails" class="copp__header-title">Календарь событий</h1>
        <v-row v-if="!showDetails" class="search">
          <v-col cols="12" md="4">
            <div class="copp__date-wrapper">
              <v-menu v-model="pickers" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" min-width="320px"
                offset-y max-width="580px">
                <template v-slot:activator="{ on }">
                  <input class="copp__search-input" type="search" v-model="dateRange" placeholder="Дата" v-on="on"
                    @input="clearInput($event)">
                </template>
  
                <v-row class="datePickers">
                  <v-date-picker :show-current="false" no-title v-model="dateFrom"></v-date-picker>
                  <v-date-picker :show-current="false" no-title v-model="dateTo"></v-date-picker>
                </v-row>
              </v-menu>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <v-select class="copp__multiselect" v-model="selectedCategories" :items="types" chips attach multiple solo
              label="Категории"></v-select>
          </v-col>
          <v-col cols="12" md="4">
            <div class="copp__search-wrapper">
              <svg viewBox="0 0 35 44" width="25px" height="40px" class="magnifier">
                <use mlns:xlink="http://www.w3.event/1999/xlink" xlink:href="images/epk/svg-sprite.svg#magnifier"></use>
              </svg>
              <input class="copp__search-input" type="search" v-model="searchInput" placeholder="Поиск">
            </div>
          </v-col>
        </v-row>
  
        <p class="background-for-header--top" v-if="!showDetails">Найдено событий: {{ filteredList.length }}</p>
      </div>
  
      <div id="objs_list">
        <v-container class="list" v-if="!showDetails">
          <div v-masonry transition-duration=".3s" fit-width="true" class="masonry-container">
            <v-card v-masonry-tile v-for="event in showed_objs" :key="event.id" class="copp__content-card ma-3 pa-1">
              <span v-if="event.type" class="grey--text">{{event.type}}</span>
              <div v-if="event.image.id" class="copp__content-logo">
                <v-img contain height="150" :src="event.image.url"></v-img>
              </div>
              <v-card-title>
                <p>
                  {{ event.name }}
                </p>
              </v-card-title>
              <v-card-text>
                <div v-if="event.desc" class="copp__card-description ma-1">
                  <div>{{ event.desc | truncate(100, '...')}}</div>
                </div>
                <div class="d-flex flex-wrap">
                  <div class="copp__card-item ma-1 d-flex align-center" v-if="event.place">
                    <svg class="magnifier" viewBox="0 0 10 10">
                      <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#placeholder">
                      </use>
                    </svg>
                    <p class="mb-0">{{ event.place }}</p>
                  </div>
                  <div class="copp__card-item ma-1 d-flex align-center" v-if="event.duration">
                    <svg viewBox="0 0 10 10">
                      <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#clock"></use>
                    </svg>
                    <p class="mb-0">{{ event.duration }} часа</p>
                  </div>
                  <div class="copp__card-item ma-1 d-flex align-center" v-if="event.web">
                    <svg viewBox="0 0 10 10">
                      <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#global"></use>
                    </svg>
                    <p class="mb-0">{{ event.web }}</p>
                  </div>
                </div>
                <div v-if="event.start_date" class="copp__card-date my-3">
                  <p class="copp__card-time">{{ event.start_date.time }}</p>
                  <p>{{ event.start_date.day + ' ' + event.start_date.strMonth }}</p>
                </div>
              </v-card-text>
  
              <v-card-actions>
                <div class="btn details" @click="showEvent(event.id)">
                  Подробнее
                </div>
              </v-card-actions>
            </v-card>
          </div>
        </v-container>
        <v-container id="details" v-if="showDetails">
          <v-row>
            <v-col cols="12" md="8" class="details_container">
              <div class="details__card">
                <h2>
                  {{ current_event.name }}
                </h2>
                <v-row class="px-5" align="start">
                  <v-col v-if="current_event.start_date" class="copp__card-date mx-1">
                    <p class="copp__card-time">{{ current_event.start_date.time }}</p>
                    <p>{{ current_event.start_date.day + ' ' + current_event.start_date.strMonth }}</p>
                  </v-col>
                  <v-col class="copp__card-item mx-1 d-flex align-center" v-if="current_event.place">
                    <svg class="magnifier" viewBox="0 0 10 10">
                      <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#placeholder">
                      </use>
                    </svg>
                    <p class="mb-0">{{ current_event.place }}</p>
                  </v-col>
                  <v-col class="copp__card-item mx-1 d-flex align-center" v-if="current_event.duration">
                    <svg viewBox="0 0 10 10">
                      <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#clock"></use>
                    </svg>
                    <p class="mb-0">{{ current_event.duration }} часа </p>
                  </v-col>
                  <v-col class="copp__card-item mx-1 d-flex align-center" v-if="current_event.web">
                    <svg viewBox="0 0 10 10">
                      <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#global"></use>
                    </svg>
                    <p class="mb-0">{{ current_event.web }}</p>
                  </v-col>
                </v-row>
                <div class="details__logo mb-5">
                  <v-img contain v-if="current_event.image.id" width="100%" :src="current_event.image.url">
                  </v-img>
                </div>
                <div class="px-5" v-if="current_event.desc">
                  {{ current_event.desc }}
                </div>
                <a class="card-title org_action px-5" :href="'/view_doc.html?mode=orgs_list&object_id='+current_event.org.id"
                  v-if="current_event.org">Проводится в организации «{{ current_event.org.name }}»</a>
              </div>
            </v-col>
  
            <v-col cols="12" md="4" class="mt-5">
              <h2>
                Ближайшие события
              </h2>
              <v-card v-masonry-tile v-for="event in nearCards" :key="event.id" class="copp__content-card ma-3 pa-1">
                <div v-if="event.image.id" class="copp__content-logo">
                  <v-img contain height="150" :src="event.image.url"></v-img>
                </div>
  
                <v-card-title>
                  <p>
                    {{ event.name }}
                  </p>
                </v-card-title>
                <v-card-text>
                  <div v-if="event.desc" class="copp__card-description">
                    <div>{{ event.desc | truncate(50, '...')}}</div>
                  </div>
                  <v-row>
                    <v-col class="copp__card-item ma-1 d-flex align-center" v-if="event.postal_address">
                      <svg class="magnifier" viewBox="0 0 10 10">
                        <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#placeholder">
                        </use>
                      </svg>
                      <p class="mb-0">{{ event.postal_address }}</p>
                    </v-col>
                    <v-col class="copp__card-item ma-1 d-flex align-center" v-if="event.duration">
                      <svg viewBox="0 0 10 10">
                        <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#clock"></use>
                      </svg>
                      <p class="mb-0">{{ event.duration }} часа </p>
                    </v-col>
                    <v-col class="copp__card-item ma-1 d-flex align-center" v-if="event.web">
                      <svg viewBox="0 0 10 10">
                        <use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#global">
                        </use>
                      </svg>
                      <p class="mb-0">{{ event.web }}</p>
                    </v-col>
                  </v-row>
                  <div v-if="event.start_date" class="copp__card-date ma-1">
                    <p class="copp__card-time ma-1">{{ event.start_date.time }}</p>
                    <p>{{ event.start_date.day + ' ' + event.start_date.strMonth }}</p>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
        <v-pagination v-if="!showDetails" class="copp__pagination background-for-header--bottom" v-model="page" :length="lengthPagination"
          :total-visible="5" :disabled="false">
        </v-pagination>
      </div>
  
    </v-app>
  </div>
  
  
  <script>
    var VueMasonryPlugin = window["vue-masonry-plugin"].VueMasonryPlugin
    Vue.use(VueMasonryPlugin)
  
    var filter = function (text, length, clamp) {
      clamp = clamp || '...';
      var node = document.createElement('div');
      node.innerHTML = text;
      var content = node.textContent;
      return content.length > length ? content.slice(0, length) + clamp : content;
    };
  
    Vue.filter('truncate', filter);
  
  
  </script>
  
  
  
  
  <script>
  
    var objs_list = new Vue({
      el: '#vue-page',
      vuetify: new Vuetify({
        lang: {
          locales: {
            ru: ruLocale
          },
          current: 'ru'
        }
      }),
      data: {
        menu: false,
        pickers: false,
        dateFrom: '',
        dateTo: '',
        dateRange: '',
        searchInput: '',
        links: [
          {
            text: 'Главная',
            disabled: false,
            href: '/view_doc.html?mode=home'
          },
          {
            text: 'Календарь событий',
            disabled: false,
            href: ''
          }
        ],
        objs_list: [],
        showed_objs: [],
        current_event: {},
        nearCards: [],
        types: [],
        selectedCategories: [],
        showDetails: false,
        page: 1, // Стартовая страница пагинации
        lengthPagination: 0 // Вычисляемая длина пагинации (в зависимости от длины массива arrayOfProgramm)
  
      },
      methods: {
        setPage(page, evt) {
      if (evt) { evt.preventDefault(); this.removeLink(); }
      this.showDetails = page > 0 ? true : false;
          },
        clearInput(event) {
          console.warn(event.target.value)
          if (event.target.value == '') {
  
            this.dateFrom = '';
            this.dateTo = '';
            console.warn(this.dateTo)
          }
        },
        selectDate(that) {
  
          this.dateRange = this.dateFrom;
          if (this.dateTo) {
            this.dateRange += ' - ' + this.dateTo
          }
        },
        removeLink() {
          if (this.links.length > 2) {
            this.links.pop()
          }
        },
        setHash(event) {
          console.warn(event)
          if (!event.id) return;
          let newHash = "id=" + event.id;
          window.location.hash = newHash;
  
        },
        extractTextFromHTML(summary) { // Описание приходит с сервера вместе с тегами. Эта функция их убирает
          if (!summary) { return ''; }
          if (!summary.startsWith('<') && !summary.endsWith('>')) {
            return summary;
          } else {
            return summary
              .replace(/^\n/g, " ")
              .replace(/\n$/g, " ")
              .replace(/</g, "\n<")
              .replace(/>/g, ">\n")
              .replace(/\n\n/g, "\n")
              .split("\n").filter(function (item) {
                return !item.startsWith('<');
              }).join('').replace(/&nbsp;?|<br\s*\/*>/ig, '');
          }
        },
        getEvents() {
          const serverUrl = 'custom_web_template.html?object_id=6756890869092806722';
          fetch(serverUrl)
            .then(response => {
              if (response.status !== 200) return;
              return response.json();
            })
            .then(res => {
              console.warn('Res:', res);
              this.objs_list = res.data;
              for (obj of this.objs_list) {
                obj.start_date.hour != null ? obj.start_date.time = ('0' + obj.start_date.hour).slice(-2) + ':' + ('0' + obj.start_date.minute).slice(-2) : obj.start_date.time = ''
                if (obj.start_date.stringDate) {
                  obj.start_date.strMonth = obj.start_date.stringDate.split(' ')[1]
                }
                obj.start_date.ordinaryDate ? obj.start_date.ordinaryDate = obj.start_date.ordinaryDate.split('.').reverse().join('-') : ''
                obj.type ? this.types.push(obj.type) : ''
                obj.desc ? obj.desc = this.extractTextFromHTML(obj.desc) : ''
              }
  
              this.nearCards = this.getNearCards()
              this.showMeThisFourCards(0)
              this.lengthPagination = this.getPaginationMaxNumber()
              // if (window.location.hash != "") {
              //   console.warn(window.location.hash, String(window.location.hash.replace(/[^\d.]/g, '')))
              //   this.showEvent(String(window.location.hash.replace(/[^\d.]/g, '')));
              // }
            })
            .catch(err => {
              console.warn('Err:', err);
            });
        },
        showEvent(id) {
          if (String(id).length != 19) {
            this.showDetails = false
            return
          };
  
          this.current_event = this.objs_list.find(item => item.id == id);
  
          console.warn(this.current_event, id)
          if (!this.current_event) return;
          this.links.push({
            text: this.current_event.name,
            disabled: true,
            href: window.location.href
          })
          this.showDetails = true;
	  this.setPage(1); 
  
        },
        showMeThisFourCards(index) { // Показ карточек по 4 штуки (принимает стартовый индекс массива)
          let counter = index + 6 // 4 прохода цикла
          const lengthOfGetArray = this.filteredList.length // длина массива
          this.showed_objs = [] // обнуляем текущий массив показанных карточек
          for (let i = index; i < counter; i++) {
            if (lengthOfGetArray > i) { // Если массив еще не закончился
              this.showed_objs.push(this.filteredList[i]) // Пушим элемент из массива всех карточек в массив показываемых карточек
            } else {
              setTimeout(() => {
                this.$redrawVueMasonry()
              }, 0)
              return
            }
          }
        },
        getPaginationMaxNumber() { // Вычисляем пагинацию - если длина массива делется без остатка - длина пагинации = частному. Иначе длина пагинации = частное + 1
          if (this.filteredList.length % 6 === 0) {
            return parseInt(this.filteredList.length / 6)
          } else {
            return parseInt(this.filteredList.length / 6) + 1
          }
        },
        getNearCards(date) {
          let today = new Date()
          // date = Date.parse(date)
          // console.warn(this.objs_list)
          return this.objs_list.sort(function (a, b) {
            var distancea = Math.abs(today - Date.parse(a.start_date.ordinaryDate));
            var distanceb = Math.abs(today - Date.parse(b.start_date.ordinaryDate));
            // console.warn(distancea - distanceb)
  
            return distancea - distanceb; // sort a before b when the distance is smaller
          }).slice(0, 2);
        }
      },
      mounted() {
        this.getEvents();
        // $(window).on("hashchange", () => {
        //   this.showEvent(String(window.location.hash.replace(/[^\d.]/g, '')));
        // });
        if (typeof this.$redrawVueMasonry === 'function') {
          this.$redrawVueMasonry()
        }
      },
      watch: {
        page(val) {
  
          if (val === 1) {
            this.showMeThisFourCards(0)
  
  
          } else {
            this.showMeThisFourCards((val - 1) * 6)
  
  
          }
        },
        searchInput(val) {
          this.showMeThisFourCards(0)
          this.lengthPagination = this.getPaginationMaxNumber()
        },
        selectedCategories(val) {
          this.showMeThisFourCards(0)
          this.lengthPagination = this.getPaginationMaxNumber()
        },
        dateTo(val) {
          this.showMeThisFourCards(0)
          this.selectDate()
          this.lengthPagination = this.getPaginationMaxNumber()
        },
        dateFrom(val) {
          this.showMeThisFourCards(0)
          this.selectDate()
          this.lengthPagination = this.getPaginationMaxNumber()
        }
      },
      computed: {
        filteredList: function () {
          let new_list = this.objs_list.filter(obj => {
            if (obj.name.toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1 && isIntersecting(obj.type, this.selectedCategories) && isBetweenDates(Date.parse(obj.start_date.ordinaryDate), Date.parse(this.dateFrom), Date.parse(this.dateTo))) {
              return true
            }
          })
  
          function isIntersecting(array1, array2) {
            if (!array2.length) return true;
            if (Array.isArray(array1)) {
              for (arr1obj of array1) {
                if (array2.includes(arr1obj)) return true;
              }
            }
            if (array2.includes(array1)) return true;
            return false;
          }
  
  
          function isBetweenDates(date, dateFrom, dateTo) {
  
            if (!dateFrom && !dateTo) return true
            if (dateFrom && dateTo) {
              if (date <= dateTo && date >= dateFrom) {
                return true
              } else {
                return false
              }
            }
            if (dateFrom) {
              if (date >= dateFrom) return true;
              return false
            }
            if (dateTo) {
              if (date <= dateTo) return true;
              return false
            }
          }
  
  
          return new_list
        }
      }
    })
  
  
  </script>
  
  
  <style>
  
    /* Список карточек  */

  
    .copp__content-card {
      width: 300px;
      box-sizing: border-box;
      float: left;
    }
  
    .v-card .copp__content-logo {
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }
  
    .list .v-card__title p {
      padding: 0;
      text-decoration: underline;
      font-weight: 900;
      font-size: 20px;
      display: block;
      width: 100%;
      text-decoration: underline;
      text-decoration-color: rgba(112, 112, 112, 0.5);
      max-height: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: break-word;
    }
  
    #details .v-card__title p {
      font-size: 30px;
      word-break: break-word;
    }
  
  
    .copp__search-wrapper {
      background: inherit;
      flex: 1;
    }
  
    .copp__date-wrapper {
      background: inherit;
      flex: 1;
    }
  
    .copp__date-wrapper input {
      background: white;
      padding: 15px 50px 15px 15px;
      width: 100%;
      height: 75px;
    }
  
  
    /* Детали карточки */
  
    #details p {
      margin-bottom: 0 !important;
    }
  
    .details__card {
      display: block;
    }
  
    .details__card .copp__card-date {
      flex-grow: 0;
    }
  
    .org_action {
      cursor: pointer;
    }
  
    .copp__card-item svg {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }

    .copp__card-time {
      color: #c7b198;
      font-weight: bold;
      font-size: 50px;
      line-height: 0.7em;
    }

    .datePickers {
      margin: 0 !important;
    }
  
    .datePickers .v-picker {
      border-radius: unset;
      box-shadow: none;
      width: 50%;
    }
  
    .datePickers .v-picker__body {
      width: 100% !important;
    }
  
  </style>