<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<div v-cloak id="vue-page" class="hidden">
  <div v-if="preloader" class="preloader__wrapper">
      <v-progress-circular
      :indeterminate="true"
      :rotate="0"
      :size="100"
      :width="10"
      color="#00334e"
      ></v-progress-circular>
  </div>
  <v-app v-cloak v-if="loading" class="info-resources__loading-wrapper">
	<v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
		:multi-line="true">
		{{ snack.text }}
		<v-btn color="white" text @click="snack.view = false">
		  Закрыть
		</v-btn>
	</v-snackbar>
	<div class="copp__news-header">
		<nav class="copp__news-nav" :class="{'background-for-header--top': showMore}">
			<v-breadcrumbs :items="links" divider="/">
				<template v-slot:item="{item}">
        <v-breadcrumbs-item :href="item.href || '#'" @click="{!item.href ? setPage(0, $event) : ''}"
           v-if="!item.page">
          {{ item.text }}
        </v-breadcrumbs-item>
				</template>
			</v-breadcrumbs>
		</nav>
		<div class="flex-item search" v-if="!showMore">
		<h1 class="copp__header-title">Новости</h1>
			<v-row class="input-row">
				<v-col cols="12">
					<div class="copp__search-wrapper ma-0 mx-3 mx-lg-0">
						<svg viewBox="0 0 35 44" width="25px" height="40px" class="magnifier"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#magnifier"></use></svg>
						<input v-model="inputSearchText" class="copp__search-input" type="search" placeholder="Поиск">
					</div>
				</v-col>
			</v-row>
			<p class="searchItems background-for-header--top mx-3 mx-lg-0">Найдено новостей: {{ filteredList.length }}</p>
		</div>
	</div>
	<div id="objs_list" class="my-5" style="width: 100%;">
		<v-container class="items-container px-0 mx-lg-0 mx-auto" v-if="!showMore" v-masonry item-selector=".v-card" fit-width="true"
			transition-duration="0.3s" stagger="0.03s" column-width=".item-sizer" gutter=".gutter-item" percent-position="true">
			<div class="item-sizer" style="width: 4%;"></div>
			<div class="gutter-item" style="width: 5%;"></div>
			<v-card v-masonry-tile class="copp__content-card mb-4" v-for="obj in arrayOfShowedProgram" :key="obj.id" hover @click="open(obj.id)">
				<p class="py-1 ma-0">Новость</p>
				<v-img class="copp__img-card" v-if="obj.image.length" height="100" :src="obj.image"></v-img>
				<v-card-text>
					<v-card-title>{{ obj.name }}</v-card-title>
					<p v-if="obj.comment">{{ obj.comment }}</p>
				</v-card-text>
				<v-card-actions class="pb-0">
					<div class="copp_card-item" v-if="obj.tags.length">
						<svg viewBox="0 0 35 44" width="25px" height="40px" class="comment"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#comment"></use></svg>
						<p>{{ tagsToString (obj, false) }}</p>
					</div>
					<v-list-item three-line class="pb-0 pa-0 ma-0 d-flex flex-column align-start">
					    <h2 class="day ma-0 mt-4">{{obj.create.day}}</h2>
					    <p class="ma-0">{{obj.create.month_name}}</p>
					    <p class="ma-0">{{obj.create.year}}</p>
					</v-list-item>
				</v-card-actions>
			</v-card>
			<v-pagination v-if="lengthPagination > 1" class="copp__pagination background-for-header--bottom" v-model="page" :length="lengthPagination" :total-visible="5" :disabled="false"></v-pagination>
		</v-container>
		<v-container class="details-container" v-if="showMore">
			<div class="copp_details-content pr-lg-2 px-sx-2">
				<h2 class="copp_details-title">{{ currentObj.name }}</h2>
				<div class="copp_details-item-container">
					<v-list-item two-line class="pb-0 pa-0 ma-0 d-flex flex-column align-start" style="max-width: 100px;">
					    <h2 class="day ma-0">{{currentObj.create.day}}</h2>
					    <p class="ma-0">{{currentObj.create.month_name}}</p>
					</v-list-item>
					<div class="copp_details-item" v-if="currentObj.tags.length">
						<svg viewBox="0 0 35 44" width="25px" height="40px" class="comment"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#comment"></use></svg>
						<p>{{ tagsToString (currentObj, true) }}</p>
					</div>
				</div>
				<v-img class="copp__img-details my-2" v-if="!Array.isArray(currentObj.image)":src="currentObj.image.url" max-height="300"></v-img>
				<div class="copp_details-description pl-2" v-if="currentObj.text_area" v-html="currentObj.text_area"></div>

				<div class="d-flex carousel-preview" v-if="currentObj.images.length">
				      <v-col	v-for="(image, index) in currentObj.images" :key="index" class="img d-flex child-flex" cols="2">
					<v-card flat tile class="d-flex" @click="carousel = index;dialog = true">
					  <v-img :src="image.url" aspect-ratio="1" class="grey lighten-2">
					    <template v-slot:placeholder>
					      <v-row class="fill-height ma-0" align="center" justify="center">
						<v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
					      </v-row>
					    </template>
					  </v-img>
					</v-card>
				      </v-col>
				</div>

				<v-row v-if="currentObj.files.length">
				      <v-col cols="12" sm="6" md="4" v-for="file in currentObj.files">
					<v-card class="copp_file-card" @click="window.open(file.url,'_blank')">
					  <v-container fluid>
						<p class="ma-0">
						   <svg viewBox="0 0 35 44" width="25px" height="40px" class="file"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#file"></use></svg>
						   {{ file.name }}
						</p>
					  </v-container>
					</v-card>
				      </v-col>
				</v-row>

				<v-dialog v-model="dialog" min-width="300" max-width="900" class="copp__carousel-dialog">
					<div>
						<v-carousel v-model="carousel" :show-arrows="true" :hide-delimiters="true" :cycle="false" :max-height="600">
							<v-carousel-item v-for="(image, index) in currentObj.images" :key="image" :src="image.url" contain>
							</v-carousel-item>
						</v-carousel>
					</div>
				</v-dialog>

			</div>
			<div class="adw-container">
				<h3>Последние новости</h3>
				<v-card class="copp__content-card mb-4 mr-4" v-for="adw in arrayForAdw" :key="adw.id" hover @click="open(adw.id)">
					<v-img class="copp__img-card" v-if="adw.image.length" height="100" :src="adw.image"></v-img>
					<v-card-text>
						<v-card-title>{{ adw.name }}</v-card-title>
						<p v-if="adw.comment">{{ adw.comment }}</p>
					</v-card-text>
					<v-card-actions>
						<div class="copp_card-item" v-if="adw.tags.length">
							<svg viewBox="0 0 35 44" width="25px" height="40px" class="comment"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#comment"></use></svg>
							<p>{{ tagsToString (adw, false) }}</p>
						</div>
						<v-list-item three-line class="pb-0 pa-0 ma-0 d-flex flex-column align-start">
						    <h2 class="day ma-0 mt-4">{{adw.create.day}}</h2>
						    <p class="ma-0">{{adw.create.month_name}}</p>
						    <p class="ma-0">{{adw.create.year}}</p>
						</v-list-item>
					</v-card-actions>
				</v-card>
			</div>
		</v-container>
	</div>
</v-app>
</div>

<script>
var VueMasonryPlugin = window["vue-masonry-plugin"].VueMasonryPlugin;
Vue.use(VueMasonryPlugin);

var news = new Vue({
	el: '#vue-page',
	vuetify: new Vuetify({
		lang: {
			locales: {
				ru: ruLocale
			},
			current: 'ru'
		}
	}),
	data: {
		page: 1,
		links: [
			{ text: 'Главная', href: '/view_doc.html?mode=home' },
			{ text: 'Новости', href: '' }
		],
		snack: {
			view: false,
			text: '',
			color: '',
			timeout: 6000,
		},
		objects: [],
		arrayOfShowedProgram: [], // Массив карточек для отрисовки по 4 штуки на странице
		lengthPagination: 0, // Вычисляемая длина пагинации (в зависимости от длины массива arrayOfProgramm)
		//categories: [],
		//selectedCategories: [],
		showMore: false,
		currentObj: {},
		inputSearchText: "",
		dialog: false,
		carousel: 0,
		preloader: true,
		loading: false,
		arrayForAdw: [],
	},
	methods: {

        setPage(page, evt) {
      if (evt) { evt.preventDefault(); this.removeLink(); }

			if (page > 0) {
				this.showMore = true
			} else {
				this.showMore = false
				// history.pushState(null, null, `http://copp34.nd.ru/view_doc.html?mode=progs_list`);
				history.back()
				setTimeout(() => {
					window.scrollTo(0,0)
				}, 0)
				
			}
      // this.showMore = page > 0 ? true : false;
    },

		getObjects() {
			this.preloader = true;
			$.ajax({
				url: "custom_web_template.html?object_id=6753213891858355881",
				success: (response) => {
					//console.warn(response);
					try {
						let res = JSON.parse(response);
						this.objects = Object.assign(this.objects, res.data);
						this.objects.sort(function(a,b){return new Date(b.create.ISOdate) > new Date(a.create.ISOdate) ? 1 : -1});
						this.arrayForAdw = this.objects.slice(0, 2);
						this.showMeThisFourCards(0);
						this.lengthPagination = this.getPaginationMaxNumber();
						console.log(this.objects)
						this.preloader = false;
						this.loading = true;
						let sp = new URLSearchParams(window.location.href);
						let id = sp.get("object");
						if (id) { if (this.objects.filter(item => item.id == id).length != 0) { this.open(id) } }
					} catch (err) { console.error(err); this.preloader = false; }
				},
				error: (err) => { console.error(err); this.preloader = false; }
			});

		},
		removeLink() {
		      if (this.links.length > 2) {
			this.links.pop();
		      }
		},
		setLink(item) {
			let obj = {};
			obj.text = item.name;
			obj.disabled = true;
			this.links.push(obj);
		},
		showMeThisFourCards (index) {
			let counter = index + 12;
			const lengthOfGetArray = this.filteredList.length;
			this.arrayOfShowedProgram = [];
			for (let i = index; i < counter; i++) {
				if (lengthOfGetArray > i ) {
					this.arrayOfShowedProgram.push(JSON.parse(JSON.stringify(this.filteredList[i])));
				} else { return }
			}
      console.log(this.arrayOfShowedProgram)
		},
		getPaginationMaxNumber () { // Вычисляем пагинацию - если длина массива делится без остатка - длина пагинации = частному. Иначе длина пагинации = частное + 1
			if (this.filteredList.length % 12 === 0) {
				return parseInt(this.filteredList.length / 12)
			} else {
				return parseInt(this.filteredList.length / 12) + 1
			}
		},
		open (id) {
			this.removeLink();
			$(document).scrollTop(0);
			this.preloader = true;
			this.currentObj = {};
			$.ajax({
				method: "GET",
				url: `custom_web_template.html?object_id=6753213891858355881&id=${String(id)}`,
				success: (response) => {
					res = JSON.parse(response);
					if (res.error) { this.preloader = false; this.setSnackMessage("#FF0000", "Данная новость не найдена. "); console.error(res.error); return;  }
					else {
						this.currentObj = Object.assign(this.currentObj, res.data);
						console.log(this.currentObj);
            this.setLink(this.currentObj);
            let currentUrl = new URLSearchParams(window.location.href)
						if (currentUrl.get('object') === null) {
							history.pushState(null, null, `${window.location.href}&object=${id}`);
						} 
            window.scrollTo(0,0)
            
						this.showMore = true;
						this.preloader = false;
					}
				},
				error: (err) => { console.error(err); this.setSnackMessage("#FF0000", "Ошибка при открытии новости. " + err); this.preloader = false;},
				complete: () => {
				}
			});
		},
		back (evt) {
			if (evt) { evt.preventDefault(); this.removeLink(); }
			this.showMore = false;
		},
		
		tagsToString (object, fullList) {
		        if(!object) return '';
			var namesArray = [];
			namesArray = object.tags.map(function(tag) {return tag.name});
			if (fullList) {
				names = namesArray.join(", ");
			} else {
				names = (namesArray.length > 3 ? namesArray.slice(0,3).join(", ")+',...' : namesArray.join(", "))
			}
			return names;
		},
		setSnackMessage: function (color, text) {
			this.snack.color = color;
			this.snack.text = text;
			this.snack.view = true;
		}
	},
	mounted() {
		this.getObjects();
    $("#vue-page").removeClass("hidden");
    
    window.addEventListener('popstate', () => {
			let currentUrl = new URLSearchParams(window.location.href)
			if (currentUrl.get('object') !== null) {
				let id = currentUrl.get("object");
				console.log(id)
				if (this.objects.filter(item => item.id === id).length != 0) { this.open(id) }

			} else {
					this.showMore = false
					this.removeLink()
				}
		})

    // document.querySelector('.header').classList.add('fixed__header')

	},
	watch: {
		page (val) {
			if (val === 1) {
				this.showMeThisFourCards(0)
			} else {
				this.showMeThisFourCards((val - 1) * 12)
			}
		},
		inputSearchText () {
			this.showMeThisFourCards(0);
			this.lengthPagination = this.getPaginationMaxNumber();
		}
	},
	computed: {

		filteredList () {
			this.objects = this.objects.filter(obj => (new Date(obj.create.ISOdate) <= new Date()));
			if (!this.inputSearchText) return this.objects;
			return this.objects.filter(resource => {
				for (var key in resource) {
					if (String(resource[key]).toLowerCase().indexOf(this.inputSearchText.toLowerCase()) !== -1) {
					return true
					};
				}
			})

		}
	}
})


</script>
<style scoped>
 /* Стили для "режим для слабовидящих" */
  .font-150 * {
    font-size: 22px;
    line-height: 26px;
  }
  .font-200 * {
    font-size: 30px;
    line-height: 34px;
  }
  .font-150 .card__info,
  .font-200 .card__info {
    width: 72%;
    max-height: 65px;
    line-height: 22px;
  }

  .font-150 .card__header {
    font-size: 32px;
    max-height: 78px;
  }

  .font-200 .card__header {
    width: 72%;
    font-size: 38px;
  }

  .font-150 .v-card__title {
    font-size: 22px;
    line-height: 34px;
  }

  .font-200 .v-card__title {
    font-size: 30px;
    line-height: 34px;
  }

  .font-150 .copp__pagination.theme--light.v-pagination .v-pagination__item {
    padding: 17px 25px 40px 25px;
  }


  .font-200 .copp__pagination.theme--light.v-pagination .v-pagination__item {
    padding: 17px 25px 50px 25px;
  }

  .font-150 .footer .menu-item span,
  .font-150 .footer .contacts .tel {
    font-size: 22px;
    line-height: 26px;
  }

  .font-200 .footer .menu-item span,
  .font-200 .footer .contacts .tel {
    font-size: 30px;
    line-height: 34px;
  }

  .font-200 #footer-content .footer-left {
    margin-bottom: 30px;
  }

  .font-200 .copp__card-description div {
      max-height: 96px;
      overflow: hidden;
  }

   .font-150 .copp_card-item {
      width: 245px;
  }

  .font-200 .copp_card-item {
      width: 316px;
  }

  .font-150 .copp__btn {
      width: 185px;
  }

  .font-200 .copp__btn {
    width: 225px;
  }

  .filter-black .preloader__wrapper {
    background-color: #000000;
  }

  .filter-black *,
  .filter-black p,
  .filter-black span,
  .filter-black h1,
  .filter-black h2,
  .filter-black h3,
  .filter-black .v-breadcrumbs li:last-child a,
  .filter-black .v-breadcrumbs.theme--light a,
  .filter-black .card__date span,
  .filter-black .details__card .details__card-title,
  .filter-black .copp__vacancies-nav .v-breadcrumbs__divider,
	.filter-black .v-card__title,
	.filter-black .copp_card-item p,
	.filter-black .copp_details-item p,
  .filter-black .date-day-number,
  .filter-black .card__info,
  .filter-black .day,
  .filter-black .v-card__text p {
    color: #ffffff;
  }

  .filter-black .v-system-bar p, 
  .filter-black .v-system-bar label,
  .filter-black .v-list-item__title,
  .filter-black .copp__search-wrapper *,
  .filter-black .btn.details,
  .filter-black .v-chip__content  {
    color: #000000;
  }

  .filter-black .background-for-header--top::after,
  .filter-black .page,
  .filter-black .background-for-header--bottom::before,
  .filter-black .footer,
  .filter-black .minLogo::after,
  .filter-black .minLogo::before,
  .filter-black .details-content,
  .filter-black #objs_list   {
    background-color: #000000;
  }

  .filter-black .copp__pagination.theme--light.v-pagination .v-pagination__item,
  .filter-black .details-content__info li::before {
    background-color: #ffffff;
  }

  .filter-black .header .logo {
    filter: grayscale(1) brightness(3);
  }

  .filter-black .btn,
  .filter-black .copp__btn,
  .filter-black .copp__btn.inner-btn,
  .filter-black .btn.details {
    background-color: #ffffff;
    color: #000000;
  }

  .filter-black .btn svg {
      fill: #000000;
  }

  .filter-black .btn:hover,
  .filter-black .copp__btn:hover,
  .filter-black .copp__btn.inner-btn:hover,
  .filter-black .btn.details:hover  {
    background-color: #000000;
    outline: 4px solid #ffffff;
    color: #ffffff !important;
  }

  .filter-black .btn:hover svg,
  .filter-black .card__list svg,
  .filter-black .details-content__item svg,
  .filter-black .copp__card-item svg,
	.filter-black .copp_card-item svg,
	.filter-black .copp_details-item-container .copp_details-item svg{
      fill: #ffffff;
  }

  .filter-black .datePickers * {
    color: #000000;
  }

  .filter-black .copp__content-card:after {
    background-color: #ffffff;
    border-top: 92px solid #ffffff;
  }

  .filter-black .copp__content-card:before {
    filter: invert(1) brightness(1.5);
  }

  .filter-black .copp__multiselect .mdi-menu-down::before {
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
  }


  .filter-black #wt-container .v-pagination__item.v-pagination__item--active.primary {
    background-color: #000000 !important;
    border: 3px solid #ffffff !important;
  }

  .filter-black .card__info::after {
    background-color: transparent;
  }

  .filter-black .copp__content-card.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border: 8px solid #ffffff;
    background: #000000;
  }
  
  .filter-black .mdi-checkbox-blank-outline::before,
  .filter-black .mdi-checkbox-marked::before {
    color: #000000;
  }

  .filter-black .user-name {
    color: #000000;
  }

  .filter-black .resources-full {
    border: 5px solid #ffffff;
    background-color: #000000;
  }

  .filter-black .v-image__image.v-image__image--contain {
    background-color: #ffffff;
  }

  .filter-white .preloader__wrapper {
    background-color: #ffffff;
  }

  .filter-white *,
  .filter-white p,
  .filter-white span,
  .filter-white h2,
  .filter-white h3,
  .filter-white .v-breadcrumbs li:last-child a,
  .filter-white .v-breadcrumbs.theme--light a,
  .filter-white .copp__search-wrapper input[type="search"],
  .filter-white .day {
    color: #000000;
  }


  .filter-white .v-list-item__title,
  .filter-white .copp__search-wrapper * {
    color: #ffffff;
  }

  .filter-white .background-for-header--top::after,
  .filter-white .page,
  .filter-white .background-for-header--bottom::before,
  /* .filter-white .footer, */
  .filter-white .minLogo::after,
  .filter-white .minLogo::before,
  .filter-white .details-content   {
    background-color: #ffffff;
  }

  .filter-white .copp__pagination.theme--light.v-pagination .v-pagination__item,
  .filter-white .details-content__info li::before,
  .filter-white .footer {
    background-color: #000000;
  }

  .filter-white .header .logo {
    filter: grayscale(1) brightness(0);
  }

  .filter-white .btn,
  .filter-white .copp__btn,
  .filter-white .copp__btn.inner-btn,
  .filter-white .btn.details {
    background-color: #000000 !important;
    color: #ffffff !important;
  }

  .filter-white .btn svg {
      fill: #ffffff;
  }

  .filter-white .btn:hover,
  .filter-white .copp__btn:hover,
  .filter-white .copp__btn.inner-btn:hover,
  .filter-white .btn.details:hover  {
    background-color: #ffffff !important;
    outline: 4px solid #000000 !important;
    color: #000000 !important;
  }

  .filter-white .btn:hover svg,
  .filter-white .card__list svg,
  .filter-white .details-content__item svg,
  .filter-white .copp__card-item svg,
	.filter-white .copp_card-item svg,
	.filter-white .copp_details-item-container .copp_details-item svg{
    fill: #000000;
  }

  .filter-white .copp__content-card:after {
    background-color: #000000;
    border-top: 92px solid #000000;
  }

  .filter-white .copp__content-card:before {
    filter: invert(1) brightness(0);
  }

  .filter-white .copp__multiselect .mdi-menu-down::before {
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
  }


  .filter-white #wt-container .v-pagination__item.v-pagination__item--active.primary {
    background-color: #ffffff !important;
    border: 3px solid #000000 !important;
    color: black;
  }

  .filter-white .theme--light.v-pagination .v-pagination__item{
    color: #ffffff;
  }

  .filter-white .card__info::after {
    background-color: transparent;
  }

  .filter-white .copp__content-card.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border: 8px solid #000000;
    background: #ffffff;
  }

  .filter-white .v-list-item__content *{
    color: #000000;
  }

  .filter-white .row.input-row {
    background-color: #000000;
  }

  .filter-white .mdi-checkbox-blank-outline::before,
  .filter-white .mdi-checkbox-marked::before {
    color: #000000;
  }


  .filter-white .resources-full {
    border: 5px solid #000000;
  }

  .filter-white  .copp__search-wrapper svg {
    fill: #ffffff;
  }

	.filter-white .search {
		padding-left: 5px;
		padding-right: 5px; 
    padding-bottom: 3px;
	}


/* ==================================================================================================================== */

	.v-window__container {
		position: relative;
	}
	.v-window__next {
		right: 0 !important;
	}
	.hidden {
		display: none;
	}
	.page-content {
		padding: 0 0 8px 0;
	}
	.items-container {
		width: 100%;
		max-width: unset;
	}
	@media (max-width: 768px) {
	  .items-container {
		width: calc(100% - 20px);
	  }
	}
	.flex-container {
		display: flex;
		flex-wrap: wrap;
	}
	.container.flex-container {
		justify-content: center;
	}
	.copp__news-header {
		padding: 15px 0;
		margin-top: 85px;
	}
	.copp__news-nav ul {
		list-style: none;
		padding-left: 0;
	}
	.copp__news-nav li {
		display: inline;
	}
	.copp__header-title {
		color: #2d2d2d;
		font-weight: bold;
		margin: 0 0 40px 0;
		font-size: 85px;
		line-height: 95px;
	}

  .search .input-row{
    margin-bottom: 40px;
  }

	.copp__search-wrapper {
		background: inherit;
		margin: 0 20px;
	}
	.searchItems {
		margin: 10px 30px;
	}
	.input-row {
		justify-content: center;
	}
	.copp__content-card {
		width: 30%;
		min-width: 290px;
		max-width: 375px;
		padding: 5px 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

  .fixed__header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    margin-top: 0;
  }

  .fixed__header .logo {
    min-width: 64px;
    width: 64px;
    height: 72px;
    background: url(../images/epk/logo_34.png) no-repeat;
    background-size: auto;
    align-self: flex-end;
    transition: all .3s;
  }

  .fixed__header::before {
    content: '';
    background: var(--third-color);
    opacity: 0.8;
    position: absolute;
    top: 0px;
    left: -50%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .fixed__header::after {
    content: '';
    background: var(--third-color);
    opacity: 0.8;
    position: absolute;
    top: 0px;
    right: -50%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

	@media (min-width: 481px) and (max-width: 768px) {
	  .copp__content-card {
		max-width: unset;
	  }
	}
	@media (max-width: 480px) {
	  .copp__content-card {
		/* width: 100%; */
		max-width: unset;
	  }
	}
	.v-card__title {
		color: #2d2d2d;
		padding: 0 0 10px;
		font-size: 30px;
		line-height: 36px;
		word-break: break-word;
		text-decoration: underline;
		text-decoration-color: #909090;
		max-height: 72px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.v-card__text{
		padding-left: 0;
	}
	.v-card__text p, .copp_card-item p {
		color: #2d2d2d;
		opacity: 0.8;
	}
	.v-card__text p {
		max-height: 115px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
    text-align: justify;
	}
	.copp_card-item {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-self: baseline;
	}
	.copp_card-item > p, .copp_details-item > p {
		margin: 0;
	}
	.copp_card-item svg, .copp_details-item svg{
		fill: #007fbd;
		width: 40px;
		height: 40px;
		margin-right: 5px; 
		display: block;
		flex-shrink: 0;
	}
	.v-card__actions {
		margin-top: auto;
		flex-direction: column;
	}
	.details-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		
	}
	.copp_details-content {
		display: flex;
		flex-direction: column;
		max-width: 800px;
	}
	.copp_details-title {
		color: #2d2d2d;
		font-size: 36px;
		font-weight: bolder;
		line-height: 36px;
	}
	.copp_details-item-container {
		display: flex;
		flex-wrap: wrap;
	}
	.copp_details-item {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.copp_details-description, .copp_details-item p {
		color: #2d2d2d;
		opacity: 0.8;
	}
	.copp_details-description {
		margin-bottom: 20px;
	}
	.carousel-preview .img {
		max-width: 100px;
	}
	.copp_file-card p svg {
		float: left;
		margin-right: 10px;
	}
	.adw-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	@media(min-width: 1264px) {
	  .adw-container {
		width: 340px;
		flex-direction: column;
	  }
	}

	.adw-container > h3 {
		width: 100%;
		margin: 10px 15px 10px;
		font-size: 24px;
		text-decoration: underline;
		text-decoration-color: #909090;
	}
	.copp__img-details .v-responsive__content {
		width: unset !important;
	}

	/*Потому что Иван хочет круглые кнопочки в карусели -_-*/
	.v-window__next, .v-window__prev {
		height: 36px;
		width: 36px;
	}
	.v-btn--icon.v-size--default {
		margin: 0;
	}

  .copp__content-card .v-card__actions {
    align-items: flex-start;
  }

  .copp__content-card .copp__btn {
    margin-top: 20px;
  }
	@media screen and (min-width: 1200px) {
		.copp_details-content {
			min-width: 500px;
		}
	}

  @media(max-width: 768px) {

    .copp__news-header {
      margin-top: 15px;
    }
    .details-container {
      width: 650px;
    }

    .adw-container {
      width: 100%;
      flex-direction: column;
    }
  }

  @media(max-width: 650px) {
    .details-container {
      width: 100%;
    }

    .copp_details-description p,
    .copp_details-description td {
      font-size: 12px;
    }
  }

  @media (max-width: 320px) {
    .copp_details-description p,
    .copp_details-description td{
      font-size: 10px;
    }
  }
</style>




<!-- -------------------------------------------------------------------------------------------------------- -->
