
<div id="info-resources">
  <div v-if="preloader" class="preloader__wrapper">
      <v-progress-circular
      :indeterminate="true"
      :rotate="0"
      :size="100"
      :width="10"
      color="#596E79"
      ></v-progress-circular>
  </div>
  <div v-cloak v-if="!loading" class="info-resources__loading-wrapper">
  <h2>Управление главной страницей</h2>



  <v-tabs vertical>
    <v-tab>
      Рейтинг профессий
    </v-tab>

    <v-tab>
      Контакты
    </v-tab>

    <v-tab-item>  <!-- 4 страница Рейтинг востребованных профессий -->
        <v-card flat>
          <v-card-text>
              <h3 class="manage__header">Рейтинг востребованных профессий</h3>
              <v-row style="align-items: baseline;">
                <v-col cols="12" sm="2" md="2">
                  <p>1 место:</p>
                  <p class="manage__current-prof">Текущее значение:</p>
                </v-col>

                <v-col cols="12" sm="3" md="3">
                  <v-text-field v-model="ratingOfProfessions[0].profession" label="Профессия"></v-text-field>
                  <p>Бухгалтер</p>
                </v-col>

                <v-col cols="12" sm="7" md="7">
                  <v-text-field v-model="ratingOfProfessions[0].description" label="Описание профессии"></v-text-field>
                  <p>Краткое описание профессии. Топ рейтинга востребованных профессии 2019г.</p>
                </v-col>
              </v-row>

              <v-row style="align-items: baseline;">
                <v-col cols="12" sm="2" md="2">
                  <p>2 место:</p>
                  <p class="manage__current-prof">Текущее значение:</p>
                </v-col>
                
                <v-col cols="12" sm="3" md="3">
                  <v-text-field v-model="ratingOfProfessions[1].profession" label="Профессия"></v-text-field>
                  <p>Специалист банковского дела</p>
                </v-col>

                <v-col cols="12" sm="7" md="7">
                  <v-text-field v-model="ratingOfProfessions[1].description" label="Описание профессии"></v-text-field>
                  <p>Краткое описание профессии.</p>
                </v-col>
              </v-row>

              <v-row style="align-items: baseline;">
                <v-col cols="12" sm="2" md="2">
                  <p>3 место:</p>
                  <p class="manage__current-prof">Текущее значение:</p>
                </v-col>
                
                <v-col cols="12" sm="3" md="3">
                  <v-text-field v-model="ratingOfProfessions[2].profession" label="Профессия"></v-text-field>
                  <p>Шеф-повар</p>
                </v-col>

                <v-col cols="12" sm="7" md="7">
                  <v-text-field v-model="ratingOfProfessions[2].description" label="Описание профессии"></v-text-field>
                  <p>Краткое описание профессии.</p>
                </v-col>
              </v-row>

              <v-row style="align-items: baseline;">
                <v-col cols="12" sm="12" md="12">
                  <v-btn @click="saveNewRating" class="manage__button">Сохранить изменения</v-btn>
                </v-col>
              </v-row>

          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item> <!-- 7 страница Расписание работы ЦОПП -->
        <v-card flat>
          <v-card-text>
            <h3 class="manage__header">Расписание работы ЦОПП</h3>

            <v-row style="align-items: baseline;">
              <v-col cols="12" sm="3" md="2">
                <p>Номер телефона:</p>
                <p class="manage__current-prof">Текущее значение:</p>
              </v-col>

              <v-col cols="12" sm="3" md="4">
                <v-text-field v-model="contacts.telephone" label="Введите номер телефона"></v-text-field>
                <p>+7(8442)73-50-85</p>
              </v-col>

              <v-col cols="12" sm="3" md="2">
                <p>E-mail:</p>
                <p class="manage__current-prof">Текущее значение:</p>
              </v-col>

              <v-col cols="12" sm="3" md="4">
                <v-text-field v-model="contacts.email" label="Введите e-mail"></v-text-field>
                <p>info@copp.ru</p>
              </v-col>
            </v-row>

            <v-row style="align-items: baseline;">
              <v-col cols="12" sm="3" md="2">
                <p>Адрес отдела:</p>
                <p class="manage__current-prof">Текущее значение:</p>
              </v-col>

              <v-col cols="12" sm="3" md="4">
                <v-text-field v-model="contacts.address" label="Введите адрес"></v-text-field>
                <p>г. Волгоград, пр-т Металлургов, 17</p>
              </v-col>
            </v-row>

            <v-row style="align-items: baseline;">
              <v-col cols="12" sm="12" md="12">
                <v-btn @click="saveNewContacts" class="manage__button">Сохранить изменения</v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>


  </div>
</div>



<script>
  Vue.use(VueMask.VueMaskPlugin);

  new Vue({
    el: '#info-resources',
    vuetify: new Vuetify({
      lang: {
        locales: {
          ru: ruLocale
        },
        current: 'ru'
      }
    }),
    data: {
      preloader : true,
      loading: true,

      ratingOfProfessions : [
        {
          position: 1,
          profession: '',
          description:  ''
        },
        {
          position: 2,
          profession: '',
          description:  ''
        },
        {
          position: 3,
          profession: '',
          description:  ''
        },
      ],

      contacts: {
        telephone: '',
        email:'',
        address: ''
      }
    },
    methods: {
      saveNewRating () {
        console.log(this.ratingOfProfessions)
      },
      saveNewContacts() {
        console.log(this.contacts)
      }
    },
    mounted() {
	setTimeout( () => { this.preloader = false; this.loading = false; }, 1000);
    }
  });


</script>

<style>
  .manage__header {
    color: #000000;
  }

  .manage__current-prof {
    margin: 14px 0 0 0;
  }

  .manage__button {
    width: auto;
    margin: 0 auto;
    padding: 0 20px !important;
    height: 52px !important;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fourth-color) !important;
    cursor: pointer;
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    transition: all .1s linear;
  }
</style>