<div id="competences-list" class="hidden">
    <div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
      <p>Загрузка</p>
    </div>
    <h2>Список компетенций</h2>
    <div v-cloak class="competences_page">
      <v-app>
        <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
          :multi-line="true">
          {{ snack.text }}
          <v-btn color="white" text @click="snack.view = false">
            Закрыть
          </v-btn>
        </v-snackbar>
        <v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0 ">
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" width="900">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" v-on="on">Добавить</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model='valid'>
                      <v-container>
                        <v-row>
                          <v-col cols="12">
                            <v-text-field v-model="editedItem.name" label="Название" :rules="[rules.required]">
                            </v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12">
                            <v-file-input name="image" prepend-icon="mdi-camera" v-model="editedItem.image"
                              accept="{{accept.image}}" label="Изображение (jpeg, jpg, png)" id="uploadimage">
                            </v-file-input>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-text-field v-model="editedItem.comment" label="краткое описание"></v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-textarea v-model="editedItem.text_area" label="подробное описание"></v-textarea>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
  
                  </v-card-text>
  
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark @click.stop="close">Отменить</v-btn>
                    <v-btn color="primary" dark :class="{'disabled' : !valid}" @click.stop="save">Сохранить</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(item)">
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-app>
    </div>
  </div>
  
  
  
  <script>
    var competences = new Vue({
      el: '#competences-list',
      vuetify: new Vuetify({
        lang: {
          locales: {
            ru: ruLocale
          },
          current: 'ru'
        }
      }),
      data: {
        snack: {
          view: false,
          text: '',
          color: '',
          timeout: 6000,
        },
        dialog: false,
        valid: false,
        deleteDialog: {},
        menu: false,
        loading: 1,
        competences: [],
        knowledgeLevels: [],
        competences: [],
        searchInput: '',
        headers: [
          {
            text: 'Название', value: 'name'
          },
          {
            text: 'Дата создания', value: 'create_date'
          },
          {
            text: 'Имя создателя', value: 'user_creator'
          },
          {
            text: 'Действия', value: 'action', sortable: false
          }
        ],
        editedIndex: -1,
        dateIso: '',
        editedItem: {
          id: '',
          name: '',
          text_area: '',
          comment: '',
          image: []
        },
        defaultItem: {
          id: '',
          name: '',
          text_area: '',
          comment: '',
          image: []
        },
        rules: {
          required: value => !!value || 'Необходимо заполнить',
          counter: value => value.length >= 8 || 'Не менее 8 знаков',
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Введите корректный e-mail'
          }
        }
      },
      methods: {
        typing: function (text) {
          this.searchInput = text;
        },
        setSnackMessage: function (color, text) {
          console.log(this.snack)
          this.snack.color = color;
          this.snack.text = text;
          this.snack.view = true;
        },
        formatDate(date) {
          if (!date) return null
          const [year, month, day] = date.split('-')
          return `${day}.${month}.${year}`
        },
        getCompetences() {
          this.loading = 1;
          $.ajax({
            url: "custom_web_template.html?object_id=6755889390303450269",
            success: (response) => {
              console.warn(JSON.parse(response));
              try {
                this.competences = JSON.parse(response).data;
                this.loading = 0;
              } catch (err) { this.setSnackMessage("red", "Ошибка при загрузке списка компетенций: " + err); this.loading = 0 }
            },
            error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке списка компетенций: " + err); this.loading = 0 }
          });
        },
        close() {
          this.dialog = false
          setTimeout(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
          }, 300)
        },
  
        save() {
          console.warn(this.editedItem)
          $.ajax({
            method: "POST",
            data: JSON.stringify(this.editedItem),
            contentType: false,
            processData: false,
            url: "custom_web_template.html?object_id=6755889390303450269",
            success: (response) => {
              response = JSON.parse(response);
              if (response.error) {
                this.setSnackMessage("red", "Ошибка при добавлении/изменении компетенции: " + response.error);
              } else {
                this.setSnackMessage("green", "Ресурс добавлен/изменен.");
              }
              this.editedItem.id = response.id
              this.getCompetences()
            },
            error: (err) => { this.setSnackMessage("red", "Ошибка при добавлении/изменении компетенции: " + err); },
            complete: () => {
              let fd = new FormData;
              fd.append('obj_id', this.editedItem.id)
              if ($("#uploadimage").length && $("#uploadimage").prop('files')[0]) {
                let $input = $("#uploadimage");
                fd.append('img', $input.prop('files')[0]);
                $.ajax({
                  method: "POST",
                  data: fd,
                  contentType: false,
                  processData: false,
                  url: "custom_web_template.html?object_id=6753213891858355811",
                  success: (response) => {
                    response = JSON.parse(response);
                    if (response.error) {
                      this.setSnackMessage("red", "Ошибка при добавлении/изменении компетенции: " + response.error);
                    } else {
                      this.setSnackMessage("green", "Ресурс добавлен/изменен.");
                    }
                  },
                  error: (err) => { this.setSnackMessage("red", "Ошибка при добавлении/изменении компетенции: " + err); },
                })
              }
            }
          })
          this.close()
        },
        editItem(item) {
          this.editedIndex = this.competences.indexOf(item);
          $.ajax({
            method: "GET",
            url: `custom_web_template.html?object_id=6755889390303450269&id=${item.id}`,
            success: (response) => {
              response = JSON.parse(response);
              if (response.error) {
                this.setSnackMessage("red", "Ошибка при открытии компетенции: " + response.error);
              }
              this.editedItem = Object.assign(this.editedItem, response.objInfo)
              this.dialog = true
            },
            error: (err) => { this.setSnackMessage("red", "Ошибка при открытии компетенции: " + err); }
  
          })
          // this.editedItem = Object.assign({}, item)
        },
  
        deleteItem(item) {
          // const index = this.competences.indexOf(item)
          if (confirm('Удалить запись?')) {
            $.ajax({
              method: "POST",
              data: JSON.stringify(item),
              url: "custom_web_template.html?object_id=6755889390303450269&delete",
              success: (response) => {
                response = JSON.parse(response);
                if (response.error) {
                  this.setSnackMessage("red", "Ошибка при удалении компетенции: " + response.error);
                } else {
                  this.setSnackMessage("green", "Компетенция удалена");
                }
                this.getCompetences()
              },
              error: (err) => { this.setSnackMessage("red", "Ошибка при удалении компетенции: " + err); }
  
            })
          }
        }
      },
      computed: {
        formTitle() {
          return this.editedIndex === -1 ? 'Новая компетенция' : 'Редактирование'
        },
        filteredList: function () {
          return this.competences.filter(collab => {
            for (var key in collab) {
              if (collab[key].toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1) {
                return true
              };
            }
          })
        }
      },
      mounted() {
  
        this.getCompetences();
        $("#competences-list").removeClass("hidden");
      },
      watch: {
        dialog(val) {
          if (val === false) {
            this.close()
          }
        }
      }
  
    });
  
  
  </script>
  
  <style>
    .competences_page input {
      border: none !important;
      box-shadow: none !important;
    }
  
    .hidden {
      display: none;
    }
  
    .sex input {
      cursor: pointer !important;
    }
  
    .disabled {
      pointer-events: none;
      opacity: .6;
    }
  
    .v-application--wrap {
      min-height: 100%
    }
  
    .v-sheet--tile {
      position: static
    }
  
    #loading:not(.hidden) {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, .7);
      font-size: 2em;
    }
  
    #loading.animation p {
      position: relative;
    }
  
    #loading.animation p:before {
      position: absolute;
      content: "";
      left: calc(100% + 5px);
      top: 0;
      width: 40px;
      height: 100%;
      display: flex;
      align-items: center;
      animation: preloading 2s linear infinite;
    }
  
    @keyframes preloading {
      0% {
        content: ".";
      }
  
      50% {
        content: "..";
      }
  
      100% {
        content: "...";
      }
    }
  
    h2 {
      color: #1c6186;
      font-weight: bold;
      font-size: 34px;
    }
  
    #request-page {
      padding-bottom: 20px;
    }
  </style>