<%
//  проверяем роль человека
var curRole = XQuery("for $elem in group_collaborators where $elem/code='copp' and $elem/collaborator_id="+XQueryLiteral(curUserID)+" return $elem/group_id");
if (ArrayCount(curRole) > 1) { curRole = curRole.join(','); } else { curRole = String(curRole[0]); }
curRole = StrContains(curRole, "6748398834638268528") ? "copp" : StrContains(curRole, "6761406065601834022") ? "employer" : undefined;
var create = curRole == "employer" ? true : false;
var edit = curRole ? true : false;
%>

<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
<div v-cloak id="objects-list" class="hidden">
  <div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
    <p>Загрузка</p>
  </div>
  <h2>Вакансии</h2>
  <div class="vacancies-page">

    <v-app>
      <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
        :multi-line="true">
        {{ snack.text }}
        <v-btn color="white" text @click="snack.view = false">
          Закрыть
        </v-btn>
      </v-snackbar>
      <v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0 ">
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" width="900" @click:outside="[event ? offEditor() : '']"
              @keydown="[event.keyCode == 27 ? offEditor() : '']">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on" @click="addNew()" v-if="rights.create">Добавить</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-form v-model='valid' v-cloak>
                    <v-container>
                      <v-row>
                        <v-col cols="12" md="12">
                          <v-text-field v-model="editedItem.name" label="Название" :rules="[rules.required]">
                          </v-text-field>
                        </v-col>
                        <v-col cols="12" md="12">
                          <v-text-field v-model="editedItem.small_desc" label="Краткое описание"
                            :rules="[rules.required]">
                          </v-text-field>
                        </v-col>

                        <v-col cols="12" md="12">
                          <ckeditor id="text" name="text_area" :editor="editor" v-model="editedItem.description"
                            :rules="[rules.required]" :config="editorConfig" @ready="onEditorReady"
                            @blur="onEditorRules" @focus="onEditorFocus" tag-name="textarea"></ckeditor>
                        </v-col>

                        <v-col cols="12">
                          <v-file-input name="image" prepend-icon="mdi-camera" v-model="editedItem.image" :rules="[rules.maxSize1]"
                            accept="image/png, image/jpeg, image/bmp" label="Изображения (jpeg, jpg, png)"
                            id="uploadimage">
                          </v-file-input>
                        </v-col>


                        <v-col cols="12" sm="6" md="12">
                          <v-select v-model="editedItem.competence" :items="competences" item-text="name"
                            label="Требуемые компетенции" return-object multiple chips :rules="[rules.comp]"></v-select>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" dark @click.stop="offEditor()">Отменить</v-btn>
                  <v-btn color="primary" dark @click.stop="save" :class="{'disabled' : !valid}">Сохранить</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.action="{ item }" class="mw-100">
	  <v-icon small class="mr-2" @click="openItem(item)">
	    mdi-eye
	  </v-icon>
          <v-icon small class="mr-2" @click="editItem(item)" v-if="rights.edit">
            mdi-pencil
          </v-icon>
          <v-icon small @click="deleteItem(item)" v-if="rights.edit">
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>

    <v-dialog v-model="viewDialog" width="900">

        <v-tabs centered>
          <v-tabs-slider></v-tabs-slider>
          <v-tab>
            Описание
          </v-tab>
          <v-tab-item>

	      <v-card>
		<v-card-title>
		  <span class="headline">Просмотр</span>
		</v-card-title>
		<v-card-text style="pointer-events: none;">
		  <v-form v-cloak>
		    <v-container>
		      <v-row>
			<v-col cols="12" sm="6" md="12">
			  <v-text-field v-model="editedItem.name" label="Название"></v-text-field>
			</v-col>
			<v-col cols="12" sm="6" md="12">
			  <v-text-field v-model="editedItem.small_desc" label="Краткое описание"></v-text-field>
			</v-col>
			<v-col cols="12" sm="12" md="12">
			  <v-text v-html="editedItem.description" rows="6" label="Описание"></v-text>
			</v-col>
			<v-col cols="12">
			  <v-img :src="editedItem.image.url" class="white--text align-end" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"  height="100px">
			</v-col>
			<v-col>
			  <v-select v-model="editedItem.competence" :items="competences" item-text="name"
			    label="Требуемые компетенции" return-object multiple chips></v-select>
			</v-col>
		      </v-row>
		    </v-container>
		  </v-form>
		</v-card-text>
	      </v-card>

          </v-tab-item>

          <v-tab v-if="rights.create"><!-- v-if="rights.create"-->
            Кандидаты
          </v-tab>
          <v-tab-item>

		<!--<v-container>

			<v-data-table :headers="candidateHeaders" :items="editedItem.candidates" :items-per-page="10" class="elevation-1">
				<template v-slot:item.userclassifier="{ item }">
					<v-chip color="primary" dark v-for="classifier in item.userclassifier">{{ classifier.name}}</v-chip>
				</template>
			</v-data-table>

		</v-container>-->

		<v-container class="flex-container" v-if="!showInfo">
			<v-card class="copp__content-card" v-for="candidate in editedItem.candidates" :key="candidate.id">
				<v-img class="copp__img-card" v-if="candidate.pict_url.length" height="150" :src="candidate.pict_url"></v-img>
				<v-card-text>
					<p>{{ candidate.fullname }}</p>
				</v-card-text>
					<v-card-actions>
						<div class="copp__btn" @click="showInfo=true;viewedCandidate = candidate">Подробнее</div>
					</v-card-actions>
			</v-card>
		</v-container>
		<v-container v-if="showInfo">
			<div class="copp__btn" @click="showInfo=false;viewedCandidate = {}" style="width: 300px; margin: 0 auto;">Вернуться к списку</div>
			<v-row>
				<v-col cols="12" md="4">
					<v-row style="display:block">
						<v-img class="copp__img-card" v-if="viewedCandidate.pict_url.length" height="150" :src="viewedCandidate.pict_url"></v-img>
					</v-row>
				</v-col>
				<v-col cols="12" md="8">
					<v-row>
						<v-col cols="6">
							ФИО:
						</v-col>
						<v-col cols="6">
							{{ viewedCandidate.fullname }}
						</v-col>
					</v-row>
					<v-row>
						<v-col cols="6">
							Дата рождения:
						</v-col>
						<v-col cols="6">
							{{ new Date(viewedCandidate.birthdate).toLocaleDateString("ru-RU") }}
						</v-col>
					</v-row>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="12" md="4" style="text-align: center;">
					Компетенции:
				</v-col>
				<v-col cols="12" md="8">
					<div><v-chip color="primary" dark v-for="classifier in viewedCandidate.userclassifier">{{ classifier.name}}</v-chip></div>
				</v-col>
			</v-row>
			<v-row v-if="viewedCandidate.files.length">
				<v-col cols="12" style="text-align: center;">
					Паспорта eSim:
				</v-col>
			</v-row>
			<div class="card_flex-container">
				<v-card class="copp__content-card copp__files-card" v-for="file in viewedCandidate.files" :key="file.id" @click="window.open(`${file.url}`,'_blank')">
					<div style="cursor: pointer">
						<v-card-text>
							<v-card-title>{{ file.competence}}</v-card-title>
							<p>{{ file.org}}</p>
							<p>Дата выдачи: {{ file.date }}</p>
							<p>Номер: {{file.number}}</p>
						</v-card-text>
					</div>
				</v-card>
			</div>
		</v-container>

          </v-tab-item>
        </v-tabs>

    </v-dialog>

    </v-app>

  </div>
</div>

<script>
  Vue.use(CKEditor)
  var objects = new Vue({

    el: '#objects-list',
    vuetify: new Vuetify({
      lang: {
        locales: {
          ru: ruLocale
        },
        current: 'ru'
      }
    }),
    data: {
      snack: {
        view: false,
        text: '',
        color: '',
        timeout: 6000,
      },
      editedIndex: -1,
      editor: ClassicEditor,
      editorConfig: {
        toolbar: ['bold', 'italic', '|', 'link']
      },
      valid: false,
      dialog: false,
      viewDialog: false,
      menu: false,
      showInfo: false,
      loading: 1,
      objects: [],
      searchInput: '',
      rights: {create: <%=create%>, edit: <%=edit%> },
      headers: [
        { text: 'Название', value: 'name' },
        { text: 'Организация', value: 'organization' },
        { text: 'Требуемые компетенции', value: 'competenceNames' },
        { text: 'Дата добавления', value: 'date' },
        { text: 'Действия', value: 'action', sortable: false }
      ],
      //candidateHeaders: [
        //{ text: 'ФИО', value: 'fullname' },
        //{ text: 'Дата рождения', value: 'birthdate', sortable: false},
        //{ text: 'Компетенции', value: 'userclassifier', sortable: false},
        //{ text: 'Почта', value: 'email', sortable: false },
        //{ text: 'Описание', value: 'about', sortable: false }
      //],
      rules: {
        required: value => !!value || 'Необходимо заполнить',
        comp: value => {
          return ((value.id && value.id.length > 0) || value.length > 0) || 'Необходимо заполнить'
        },
	maxSize1: value => !value.size || value.size < 1000000 || 'Файлы не более 1 MB!',
      },
      editedItem: {
        name: '',
        small_desc: '',
        description: '',
        competence: [],
        image: [],
        candidates: []
      },
      defaultItem: {
        name: '',
        small_desc: '',
        description: '',
        competence: [],
        image: [],
      },
      viewedCandidate: {},
      competences: []
    },
    methods: {
      typing(text) {
        this.searchInput = text;
      },

      addNew() {
        // this.clearEdit();
        this.dialog = true;
        let text = document.querySelector("#text");
        if (!this.editor && text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.editor = editor; editor.setData(this.editedItem.description) });
      },

      offEditor() {
        console.warn('destroying')
        this.editor.destroy();
        this.editor = false;
        this.close();
      },

      onEditorReady(editor) {
        this.editor = editor;
      },

      onEditorFocus(event) {
      },

      onEditorRules(event) {
      },

      getObjects() {
        this.loading = 1;
        $.ajax({
          url: "custom_web_template.html?object_id=6754343643828992921",
          success: (response) => {
            response = JSON.parse(response);
		console.warn(response)
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при загрузке списка вакансий: " + response.error);
            }
            try {
              this.objects = response.data.objs;
              this.competences = response.data.competences;
              this.loading = 0;
            } catch (err) { this.setSnackMessage("red", "Ошибка при загрузке списка вакансий: " + err); this.loading = 0 }
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке списка вакансий: " + err); this.loading = 0 }
        });
      },
      close() {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save() {

        $.ajax({
          method: "POST",
          data: JSON.stringify(this.editedItem),
          contentType: false,
          processData: false,
          url: "custom_web_template.html?object_id=6754343643828992921",
          success: (response) => {
            response = JSON.parse(response);
            this.editedItem.id = response.id;
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при добавлении/изменении вакансии: " + response.error);
            } else {
              this.setSnackMessage("green", "Вакансия добавлена/изменена.");
            }
            this.getObjects()
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при добавлении/изменении вакансии: " + err); },
          complete: () => {
            let fd = new FormData;
            console.log(this.editedItem.id);
            fd.append('obj_id', this.editedItem.id)
            if ($("#uploadimage").length) {
              let $input = $("#uploadimage");
              fd.append('img', $input.prop('files')[0]);
              $.ajax({
                method: "POST",
                data: fd,
                contentType: false,
                processData: false,
                url: "custom_web_template.html?object_id=6753213891858355811",
                success: (response) => {
                  response = JSON.parse(response);
                  console.log(response);
                  if (response.error) {
                    this.setSnackMessage("red", "Ошибка при загрузке изображения: " + response.error);
                  }
                },
                error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке изображения: " + err); }
              })
            }
          }
        })
        this.close()
      },

      editItem(item) {
        this.editedIndex = this.objects.indexOf(item);
        let text = document.querySelector("#text");
        $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6754343643828992921&id=${item.id}`,
          success: (response) => {
            response = JSON.parse(response);
            console.log(response);
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при открытии вакансии: " + response.error);
            }
            this.editedItem = Object.assign(this.editedItem, response.objInfo);
            if (!this.editor && text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.editor = editor; editor.setData(this.editedItem.description) })
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при открытии вакансии: " + err) }
        })
        this.dialog = true

      },

      openItem(item) {
        this.editedIndex = this.objects.indexOf(item);
        let text = document.querySelector("#text");
        $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6754343643828992921&id=${item.id}`,
          success: (response) => {
            response = JSON.parse(response);
            //console.log(response);
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при открытии вакансии: " + response.error);
            }
            if (response.objInfo.candidates.length) {
		for (i = 0; i< response.objInfo.candidates.length; i++) {
			if (response.objInfo.candidates[i].files.length) {
				for (j = 0; j < response.objInfo.candidates[i].files.length; j++) {
					response.objInfo.candidates[i].files[j] = Object.assign(response.objInfo.candidates[i].files[j], JSON.parse(response.objInfo.candidates[i].files[j].comment));	
				}
			}
		}
            }
            console.log(response);
            this.editedItem = Object.assign(this.editedItem, response.objInfo);
            if (!this.editor && text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.editor = editor; editor.setData(this.editedItem.description) })
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при открытии вакансии: " + err) }
        })
        this.viewDialog = true

      },

      deleteItem(item) {
        console.log(item);
        const index = this.objects.indexOf(item)
        if (confirm('Удалить запись?')) {
        $.ajax({
          method: "POST",
          data: JSON.stringify(item),
          url: "custom_web_template.html?object_id=6754343643828992921&delete",
          success: (response) => {
            response = JSON.parse(response);
            if (response.error) {
              this.setSnackMessage("red", "Ошибка при удалении вакансии: " + response.error);
            } else {
              this.setSnackMessage("green", "Вакансия удалена.");
            }
            this.getObjects()
          },
          error: (err) => { this.setSnackMessage("red", "Ошибка при удалении вакансии: " + err); }
        })
	}
      },
      setSnackMessage: function (color, text) {
        this.snack.color = color;
        this.snack.text = text;
        this.snack.view = true;
      }
    },
    computed: {
      formTitle() {
        return this.editedIndex === -1 ? 'Новая вакансия' : 'Редактирование'
      },
      filteredList: function () {
        return this.objects.filter(resource => {
          for (var key in resource) {
            if (resource[key].toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1) {
              return true
            };
          }
        })
      }
    },
    mounted() {
      this.getObjects();
      $("#objects-list").removeClass("hidden");
    }

  });


</script>

<style>
  .flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around
  }
  .page input {
    border: none !important;
    box-shadow: none !important;
  }

  .hidden {
    display: none;
  }

  tr td:last-child {
    min-width: 110px;
  }

  .disabled {
    pointer-events: none;
    opacity: .6;
  }

  .v-application--wrap {
    min-height: 100%
  }

  .v-sheet--tile {
    position: static
  }

  .theme--light.v-label {
    z-index: 1;
  }
  .copp__content-card {
    display: flex;
    width: 300px;
    flex-direction: column;
  }
  .copp__img-card {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .copp__files-card {
	width: 280px;
	padding: 15px;
	margin-bottom: 10px;
	clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
  }
  .copp__files-card:after {
	border-top: 60px solid var(--third-color);
	border-right: 60px solid transparent;
  }
   .copp__files-card .v-card__text,  .copp__files-card .v-card__title {
	word-break: break-word;
	padding: 0px;
  }
   .copp__files-card .v-card__title {
	font-size: 18px;
	line-height: 24px;
	margin: 10px 0;
	max-height: 48px;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  .card_flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }

  #loading:not(.hidden) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .7);
    font-size: 2em;
  }

  #loading.animation p {
    position: relative;
  }

  #loading.animation p:before {
    position: absolute;
    content: "";
    left: calc(100% + 5px);
    top: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    animation: preloading 2s linear infinite;
  }

  @keyframes preloading {
    0% {
      content: ".";
    }

    50% {
      content: "..";
    }

    100% {
      content: "...";
    }
  }

  h2 {
    color: #1c6186;
    font-weight: bold;
    font-size: 34px;
  }

  #request-page {
    padding-bottom: 20px;
  }
</style>