<div id="polls-list" class="hidden">
  <div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
    <p>Загрузка</p>
  </div>
  <h2>Опросы</h2>
  <div v-cloak class="polls_page"> <!-- Показываем после загрузки -->
    <v-app>
      <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true" :multi-line="true">
      {{ snack.text }}
        <v-btn color="white" text @click="snack.view = false">
        Закрыть
        </v-btn>
      </v-snackbar>
      <v-data-table :headers="headers" :items="polls" :items-per-page="10" :search="searchInput" class="elevation-0 ">
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-text-field class="col-md-3 pl-0" label="Поиск" hide-details v-model="searchInput"></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" width="900">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on" @click="showMyForm" v-if="canEdit">Добавить</v-btn>
              </template>

<!-- **********************************  Вкладки модального окна  ********************************** -->
              <v-form ref="form" v-model='validPollForm' id="form" method="post" enctype="multipart/form-data">
              <v-tabs v-model="activeTab" grow="true" dark>
                
                <v-tab>
                  Шаг 1 (Описание)
                </v-tab>
                <v-tab>
                  Шаг 2 (Вопросы)
                </v-tab>
                
<!-- **********************************  Содержимое 1 вкладки  ********************************** -->

                <v-tab-item>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>

<!-- **********************************  Input названия опроса  ********************************** -->

                          <v-row>
                            <v-col class="w-auto" cols="12" sm="6" md="4">
                              <v-text-field
                                id="name-of-poll"
                                name="name-of-poll"
                                v-model="poll.name" 
                                label="Введите название опроса"
                                :rules="[rules.required]"
                              ></v-text-field>
                            </v-col>

<!-- **********************************  Input даты, с выпадающим окном  ********************************** -->

                            <v-col cols="12" sm="6" md="4">
                              <v-menu
                                ref="menu"
                                v-model="menuDate"
                                :close-on-content-click="false"
                                :return-value.sync="dates"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                              >
                                <template v-slot:activator="{ on }">
                                  <v-text-field
                                    v-model="dateRangeText"
                                    label="Дата"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-on="on"
                                    messages="Выберите дату начала и окончания опроса"
                                    :rules="[rules.required]"
                                  ></v-text-field>
                                </template>
                                <v-date-picker v-model="dates" first-day-of-week="1" range no-title  scrollable>
                                  <v-spacer></v-spacer>
                                  <v-btn text color="primary" @click="menuDate = false">Отмена</v-btn>
                                  <v-btn text color="primary" @click="$refs.menu.save(dates)">OK</v-btn>
                                </v-date-picker>
                              </v-menu>
                            </v-col>

<!-- **********************************  Select ролей (пользователи, которым доступен опрос)  ********************************** -->

                            <v-col cols="12" sm="6" md="4">
                              <v-select @change="changeUsers($event)"
                                v-model="poll.usersOfPoll"
                                :items="usersCategory"
                                placeholder="Пользователи"
                                messages="Выберите, кому будет доступен опрос"
                                :rules="[rules.required]"
                              >
                              </v-select>
                            </v-col>
                          </v-row>

                          <v-row>
                            <v-col cols="12" sm="6" md="4">
                              <v-select @change=""
                              v-model="poll.multiPages"
                              :items="multiPagesOptions"
                              placeholder="Мультистраничность"
                              messages="Выберите отображение вопросов в опросе"
                            >
                            </v-select>
                            </v-col>
                          </v-row>
                        </v-container>

                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" dark @click.stop="close">Отменить</v-btn>
                      <v-btn color="primary" dark @click="showNextTab">Далее</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-tab-item>

<!-- **********************************  Содержимое 2 вкладки  ********************************** -->

                <v-tab-item>
                  <v-card>
                    <v-card-text class="pb-0">
                      <v-row v-if="arrayOfValuesForTable.length !== 0" class="d-flex justify-end">
                        <v-col class="d-flex flex-wrap align-baseline justify-end pt-0 pb-0"  cols="12" sm="6" md="4">

                          <p class="mb-0">
                            Редактировать вопрос - 
                            <v-icon  small>mdi-pencil</v-icon>
                          </p>

                          <p class="mb-0">
                            Удалить вопрос - 
                            <v-icon  small>mdi-delete</v-icon>
                          </p>

                          <p class="mb-0">
                            Изменить порядок (выше) - 
                            <v-icon  small >mdi-arrow-up</v-icon>
                          </p>

                          <p class="mb-0">
                            Изменить порядок (ниже) - 
                            <v-icon  small>mdi-arrow-down</v-icon>
                          </p>
                        </v-col>
                      </v-row>
                    </v-card-text>

                    <v-card-actions class="d-flex flex-wrap align-baseline justify-space-between">
                      <v-btn  color="primary" @click.stop="dialog2 = true">Добавить вопрос</v-btn>
                      <v-btn class="ml-auto" color="primary" dark @click.stop="close">Отменить</v-btn>
                      <v-btn class="align-self-end" color="primary" :disabled="!validPollForm" @click.stop="saveMyPoll">Сохранить Опрос</v-btn>
                    </v-card-actions>
                    
<!-- **********************************  Таблица для вывода всех вопросов к опросу  ********************************** -->

                    <v-simple-table :height="290">
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">Номер вопроса</th>
                            <th class="text-left">Тип вопроса</th>
                            <th class="text-left">Текст вопроса</th>
                            <th class="text-left">Количество вариантов ответов</th>
                            <th class="text-left">Действия</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(elem, index) in arrayOfValuesForTable" :key="elem.id">
                            <td>{{ index + 1 }}</td>
                            <td>{{ elem.type }}</td>
                            <td>{{ elem.title }}</td>
                            <td>{{ elem.entries.length }}</td>
                            <td>
                              <v-icon small class="mr-2" @click="editQuestion(elem)">mdi-pencil</v-icon>
                              <v-icon small @click="deleteQuestion(elem)">mdi-delete</v-icon>
                              <br>
                              <v-icon v-if="index !== 0" small @click="upThisQuestion(elem)" class="mr-2">mdi-arrow-up</v-icon>
                              <v-icon v-if="index !== arrayOfValuesForTable.length - 1" small @click="downThisQuestion(elem)">mdi-arrow-down</v-icon>
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                </v-tab-item>
              </v-tabs>
              </v-form>
            </v-dialog>

            <v-dialog v-model="dialog2" width="900">
              <v-form ref="questionForm" v-model="validQuestionForm" >
                  <v-card>
                    <v-card-text class="pb-0">
                      <v-row>
                        <v-col cols="12" sm="6" md="4">

<!-- **********************************  Select типа вопроса  ********************************** -->

                          <v-select @input="showThisTypeOfNewQuestions"
                            v-model="question.type"
                            :items="typeOfQuestions"
                            placeholder="Тип вопроса"
                            messages="Выберите, какой тип вопроса вы хотели бы добавить"
                            class="testTest"
                            :rules="[rules.required]"
                          >
                          </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="8">
                          <v-text-field
                            v-show="showTitleOfQuestion"
                            id="question-title"
                            name="question-title"
                            v-model="question.title"
                            label="Вопрос"
                            hint="Введите вопрос"
                            :rules="[rules.required]"
                          ></v-text-field>
                        </v-col>
                      </v-row>

<!-- **********************************  Тип: Единственный выбор или Множественный выбор или Выпадающий лист  ********************************** -->

                      <v-row v-if="showSelectTypeOfQuestions" >
                          <v-col>
                              <v-btn color="primary" dark @click.stop="addQuestionEntry">Добавить</v-btn>
                          </v-col>
                      </v-row>
                      <v-row v-if="showSelectTypeOfQuestions" class="d-flex flex-nowrap align-baseline justify-start" v-for="(n,index) in question.entries" :key="index">
                          <v-col class="cols-10">
                              <v-text-field
                              v-model="n.value"
                              label="Ответ"
                              :hint="'Вариант ' + (index + 1)"
                              :rules="[rules.required]"
                              ></v-text-field>
                          </v-col>
                          <v-col class="cols-2">
                              <v-icon small @click.stop="deleteQuestionEntry(index)">mdi-delete</v-icon>
                          </v-col>

                        </v-row>

                    </v-card-text>

<!-- *********************************************************************************************** -->

                    <v-card-actions class="d-flex flex-wrap align-baseline justify-space-between">
                      <v-spacer></v-spacer>
                      <v-btn color="primary" dark @click.stop="closeQuestionDialog">Отменить</v-btn>
                      <v-btn v-if="showUpdateButton" color="primary" @click.stop="saveMyEditedQuestion">Обновить вопрос</v-btn>
                      <v-btn v-if="!showUpdateButton" color="primary" :disabled="!validQuestionForm" @click.stop="addNewQuestion">Сохранить Вопрос</v-btn>
                      <!-- <v-btn color="primary" @click.stop="dialog2 = true">Диалог 2</v-btn> -->
                    </v-card-actions>

<!-- **********************************  Таблица для вывода всех вопросов к опросу  ********************************** -->

                  </v-card>
              </v-form>
            </v-dialog>
          </v-toolbar>
        </template>

<!-- ********************************** Кнопки редактирования и удаление опросов  ********************************** -->
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" small @click="showFullInfo(item)">
            mdi-chart-bar
          </v-icon>
          <v-icon small class="mr-2" @click="editPoll(item)" v-if="canEdit">
            mdi-pencil
          </v-icon>
          <v-icon small class="mr-2" @click="deletePoll(item)" v-if="canEdit">
            mdi-delete
          </v-icon>
          <v-icon small  class="mr-2" small @click="download(item)">
            mdi-file-download
          </v-icon>
        </template>
      </v-data-table>




          <v-dialog v-model="dialogShowStatistic" width="450">
            <v-card>
              <v-card-title style="background-color: #007fbd; color: #ffffff;">
                Опрос "{{nameOfPollForStatistic}}"</br> Дата проведения:</br> {{startDateForStatistic}} - {{endDateForStatistic}}
              </v-card-title>
              <v-col>
                <v-card-text v-for="(element, i) in arrayForStatistic" :key="i" >
                  <h3 style="text-align: center;">Вопрос № {{i + 1}}</h3>
                  <p>{{element.question}}</p>
                  <p>Тип вопроса: {{element.type}}</p>



                  <v-simple-table>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left">Вариант ответа</th>
                          <th class="text-left">Выбрали этот ответ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, i) in element.answers" :key="i">
                          <td>{{ item.answer }}</td>
                          <td>{{ item.counter }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>


<!-- 

                  <v-list>
                    <v-list-item v-for="(item, i) in element.answers" :key="i"
                    >
                      <v-list-item-content>
                        <v-list-item-title v-text="item.answer"></v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-content>
                          <v-list-item-title v-text="item.counter"></v-list-item-title>
                        </v-list-item-content>
              
                    </v-list-item>
                  </v-list> -->

                </v-card-text>
              </v-col>
              <v-card-actions>
                  <v-btn color="primary" dark class="mb-2" @click.stop="dialogShowStatistic = false">Закрыть</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

    </v-app>
  </div>
</div>

<script>
  Vue.use(VueMask.VueMaskPlugin);
  var polls = new Vue({
    el: '#polls-list',
    vuetify: new Vuetify({
      lang: {
        locales: {
          ru: ruLocale
        },
        current: 'ru'
      }
    }),
    data: {
      showSelectTypeOfQuestions: false, // Переменная, отвечающие за показ полей выбора кол-ва вариантов ответа
      numberOfAnswers: new Array(36).fill(0).map((elem, index)=>index+2), // Количество вариантов ответов
      numberOfCurrentShowAnswers: 0, // Текущее количество показанных полей ввода под ответы
      showTitleOfQuestion: false, // Показать поле ввода вопроса,
      activeTab: 0, // Открытая вкладка в модальном окне (шаг1)

      poll: { // Структура опроса
        name: '', // Имя опроса
        start_date: '', // Дата начала опроса
        end_datae: '', // Дата окончания опроса
        usersOfPoll: '', // Категория пользователей, для кого доступен опрос
        status: '', // Текущий статус опроса (проводится или завершен)
        questions: [], // Массив вопросов опроса
        multiPages: '' // Все опросы на 1 странице или каждый вопрос на разных.
      },
      question: { // Структура вопроса
          id: 0,
          title: '', // Имя вопроса
          type: '', // Тип вопроса
          entries: [] // Массив ответов на 1 вопрос
        },
      entry: { // Структура ответа
        id: '', // id ответа
        value: '', // Текст ответа
      },

      nameOfPollForStatistic: '',
      startDateForStatistic: '',
      endDateForStatistic: '',


      arrayForStatistic: [],


      arrayOfValuesForTable: [], // данные для таблицы вопросов

      isFormInEditMode: false, // Режим редактирования формы 

      selectedIdOfItemForEdit: 0, // Вытаскиваем id выбранного вопроса

      showUpdateButton: false,
      dialogShowStatistic: false,

      tempArrayQuestions: [],
      tempArrayShit: [],
      multiPagesOptions:[{
        text: 'Вопросы на одной станице',
        value: false
      },
      {
        text: 'Вопросы на разных страницах',
        value: true
      }],

      
      dialog: false,
      dialog2: false,
      validPollForm: false,
      validQuestionForm: false,
      menu: false,
      menuDate: false,

      dates: [],
      loading: 1,
      polls: [],
      searchInput: '',
      canEdit: true,

      snack: {
        view: false,
        text: '',
        color: '',
        timeout: 6000,
      },

      typeOfQuestions: [{  // Тип вопроса
        text: 'Единственный выбор',
        value: 'choice'
      },
      {
        text: 'Множественный выбор',
        value: 'select'
      },
      {
        text: 'Выпадающий список',
        value: 'combo'
      },
      {
        text: 'Cтрока',
        value: 'string'
      },
      {
        text: 'Текстовое поле',
        value: 'text'
      },
      {
        text: 'Число',
        value: 'number'
      }],

      usersCategory: [{ // Список - Кому доступен опрос
        text: 'Все', 
        value: 'all'
      },
      {
        text: 'Зарегистрированные пользователи', 
        value: 'registered'
      }],

      headers: [{ // Заголовки главной таблицы
        text: 'Название', 
        value: 'name',
      },
      {
        text: 'Добавивший пользователь',
        value: 'creator',
        width: '150'
      },
      {
        text: 'Старт опроса',
        value: 'start_date'
      },
            {
        text: 'Окончание опроса',
        value: 'end_date'
      },
      {
        text: 'Участники',
        value: 'participants_num',
      },
      {
        text: 'Статус опроса',
        value: 'status'
      },
      {
        text: 'Действия',
        value: 'action',
        sortable: false
      }],

      headersOfQuestions: [{
        text: 'Номер вопроса',
        value: 'id'
      },
      {
        text: 'Тип вопроса',
        value: 'type'
      },
      {
        text: 'Текст вопроса',
        value: 'title'
      },
      {
        text: 'Количество вариантов ответов',
        value: 'entries.length'
      },
      {
        text: 'Действия',
        value: 'action', sortable: false
      }],

      rules: {
        required: value => !!value || 'Поле является обязательным',
        max250: value => value.length <= 250 || 'Не более 250 символов'
      }
    },
    methods: {
      changeUsers(role) {
        this.poll.usersOfPoll = role
      },
      addQuestionEntry () {   //Добавить новый вариант ответа
          if (this.question.entries.length < 100) { 
          this.entry.id = this.question.entries.length + 1
          this.question.entries.push(JSON.parse(JSON.stringify(this.entry)))
          // console.log(this.question.entries)
          }
      },
      deleteQuestionEntry (entryIndex) {  //Удалить вариант ответа по индексу
          if (this.question.entries.length > 2) {
              this.question.entries.splice(entryIndex,1)
              this.question.entries.forEach((el,index) => { el.id = index + 1})
              //console.log(this.question.entries)
          }
      },
      showThisNumberOfAnswers () { // Показывает варианты ответов в зависимости от выбранного количества в select'e
        this.question.entries = [] // Сброс массива ответов
        for ( i = 0; i < this.numberOfCurrentShowAnswers; i++) { // В зависимости от кол-ва вариантов ответа записываем в массив ответов такое же количество пустых объектов (с итерируемым id)
          this.entry.id = i
          this.question.entries.push(JSON.parse(JSON.stringify(this.entry)))
        }
      },
      showNextTab () {
        this.activeTab = 1;
      },
      showThisTypeOfNewQuestions () { // Отображает поля в соответствии с типом выбранного вопроса
        this.showTitleOfQuestion = true

        for (key in this.showTypeOfQuestions) { // Закрытие всех лишних полей
          this.showTypeOfQuestions[key] = false
        }

        if (this.question.type === 'choice' || this.question.type === 'select' || this.question.type === 'combo') { // Показываем нужны поля в зависимости от типа вопроса
          this.showSelectTypeOfQuestions = true

          if (!this.question.entries.length) {
              this.addQuestionEntry()
                this.addQuestionEntry()
          }

        }
        else { // При показе вопросов типа "строка", "текстовое поле", "число" -> делаем сброс массива ответов + убираем поля и чистим значения
          this.showSelectTypeOfQuestions = false
          this.numberOfCurrentShowAnswers = 0
          this.resetCreateQuestion ()
        }
      },

      resetCreateQuestion () { // Сброс создания вопроса
        this.entry.id = '', // сброс id вопроса
        this.entry.value = '' // сброс value вопроса
        this.showThisNumberOfAnswers() // Скрываем поля с вариантами ответов
      },

      addNewQuestion() {
        this.question.id = this.poll.questions.length // id вопроса равен длинне массива вопросов

        if (this.question.type === 'number' || this.question.type === 'string' || this.question.type=== 'text') { // Если вопрос этих типов -> id = 0, значение ответа(value) = null
          this.entry.id = 0
          this.entry.value = null
          this.question.entries.push(JSON.parse(JSON.stringify(this.entry))) // Пушим в вопрос все варианты ответов
        }

        this.poll.questions.push(JSON.parse(JSON.stringify(this.question))) // Пушим собранный вопрос в опрос
        this.arrayOfValuesForTable.push(this.reverseMyObject((JSON.parse(JSON.stringify(this.question))), true)) // Функция записывает в массив изменненый объект для отрисовки в таблице
        this.question.title= '' // Сброс заголовка
        this.resetCreateQuestion () // Сброс создания вопроса
        this.dialog2 = false
        this.question.entries = []
        this.numberOfCurrentShowAnswers = 0
        this.$refs.questionForm.resetValidation()
        this.setSnackMessage('green', 'Вопрос успешно добавлен!');
      },

      saveMyPoll () { // Сохранение опрос
        this.poll.start_date = this.dates[0]
        this.poll.end_date = this.dates[1]
        this.pushEditedTableArrayToQuestionsArray ()
    console.log('this.poll',this.poll)
        $.ajax({
          method: "POST",
          data: JSON.stringify(this.poll),
          contentType: false,
          processData: false,
          url: "custom_web_template.html?object_id=6753954396609189744",
          success: (response) => {
            // console.warn('Опрос добавлен/изменен', response);
            this.close ()
            // this.$refs.questionForm.resetValidation()
            this.clearMyForm ()
            this.$refs.form.resetValidation()
            this.getPolls ()
            this.setSnackMessage('green', 'Опрос успешно сохранен!');
          },
          error: (err) => { 
          this.setSnackMessage("red", "Ошибка при добавлении/изменении вакансии: " + err);
            // console.log('error', err) 
          }
        });
      },

      getPolls() { // Получить массив опросов с сервера
        this.loading = 1;
        $.ajax({
          url: "custom_web_template.html?object_id=6753954396609189744",
          success: (response) => {
            try {
              this.polls = JSON.parse(response).data;
              this.canEdit = JSON.parse(response).canEdit;
            } catch (err) { 
              this.setSnackMessage("red", "Ошибка получения данных " + err);
              // console.error(err) 
              }
          },
          error: (err) => { 
            this.setSnackMessage("red", "Ошибка получения данных " + err);
          },
          complete: () => { this.loading = 0 }
        });
      },

      close () { // Закрытие диалогового окна
        this.dialog = false
        setTimeout(() => {
          this.clearMyForm()
          this.$refs.form.resetValidation()
          this.isFormInEditMode = false
        }, 300)
      },

      closeQuestionDialog() {
        this.dialog2 = false
      },

      showMyForm () { // Открытие окна
        this.dialog = true
      },

      async download(item) {
        let dataFromServer = await 
        $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6753954396609189744&id=${item.id}`,
          success: (response) => {
            return
          },
          error: (err) => { 
            this.setSnackMessage("red", "При скачивании статистики произошла ошибка. Попробуйте еще раз. Ошибка:" + err);
              }
        })

        const currentStatistic = JSON.parse(dataFromServer).data
        currentStatistic.pollsRes.forEach((element) => {
          element.type = this.getCorrectNameOfTypeQuestions(element.type)
        })
        console.log(currentStatistic)
        var newDiv = document.createElement("div");

        newDiv.innerHTML = `
        <style>
        @page portrait_A4_page  {
          size:595.3pt 841.9pt;
          margin:72.0pt 72.0pt 72.0pt 72.0pt;
          mso-header-margin:35.4pt;
          mso-footer-margin:35.4pt;
          mso-paper-source:0;
        }   
          h1 {font-family: "Calibri", Georgia, Serif; font-size: 16pt;}
          p {font-family: "Calibri", Georgia, Serif; font-size: 14pt;}


          table, tr, td, th {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 5px;
          text-align: left;
        }

        .test {
          border: none;
        }


        .header-main {
          font-size: 30pt;
          margin: 15pt 15pt 15pt 15pt;
        }

        .header_copp {
          font-size: 10pt;
          line-height: 12pt;
          text-align: right;
          margin: 0;
        }

        </style>

        <table class="test" width="100%">
          <tr class="test">
          <td class="test"><img src="http://copp34.nd.ru/images/epk/logo_34.png" height="75" width="175"></td>
          <td class="test">
            <p class="header_copp">"Центр опережающей профессиональной подготовки"</p>
            <p class="header_copp">г. Волгоград, пр-т Металлургов, 17</p>
            <p class="header_copp">info@copp.ru</p>
            <p class="header_copp">+7(8442)73-50-85</p>
            
          </td>
          </tr>
        </table>
        <hr>
        <center class="header-main">${currentStatistic.name}</center>
        <center>
        <table>
            <tr>
              <th>Дата начала опроса</th>
              <th>Дата окончания опроса</th>
              <th>Статус опроса</th>
            </tr>
            <tr>
            <td>${currentStatistic.start_date}</td>
            <td>${currentStatistic.end_date}</td>
            <td>${currentStatistic.status}</td>
            </tr>
        </table>
        </center>
        
        `

        currentStatistic.pollsRes.forEach(element => {
          var innerDiv = document.createElement("div");

          innerDiv.innerHTML = `
          <strong><p>Текст вопроса: </strong>${element.question}</p>
          <strong><p>Тип вопроса: </strong>${element.type}</p>
          `

          let table = document.createElement("table");
          let tr = document.createElement("tr");

          table.innerHTML = `
            <table">
              <tr>
                <th>№</th>
                <th>Вариант ответа</th>
                <th>Выбрали этот ответ</th>
              </tr>
            </table>
          `
          element.answers.forEach((item,index)=> {
            if (item.counter === null) {
              item.counter= ''
            }
            let tr = document.createElement("tr");
            tr.innerHTML = `
            <tr>
              <td>${index + 1}</td>
              <td>${item.answer}</td>
              <td>${item.counter}</td>
            </tr>
            `
            table.querySelector('tbody').appendChild(tr)
            innerDiv.appendChild(table)
          })

          newDiv.appendChild(innerDiv)

        })
        
        const date = new Date()
        this.Export2Doc(newDiv, `Статистика от:${date.toLocaleDateString('ru-RU', {day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit'})}`)
      },
      
    Export2Doc(element, filename = ''){
      var preHtml = `<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'>
      <head>
      <meta charset='utf-8'>
      <title>Statistic</title>
      <xml>
      <w:worddocument xmlns:w="#unknown">
        <w:view>Print</w:view>
        <w:zoom>90</w:zoom>
        <w:donotoptimizeforbrowser />
      </w:worddocument>
    </xml>
      </head>
      <body>
      <div class="portrait_A4_page">`;
      var postHtml = "</div></body></html>";
      var html = preHtml+element.innerHTML+postHtml;



      var blob = new Blob(['\ufeff', html], {
          type: 'application/msword'
      });

      console.log(blob)
      
      // Specify link url
      var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
      
      // Specify file name
      filename = filename?filename+'.doc':'document.doc';
      
      // Create download link element
      var downloadLink = document.createElement("a");

      document.body.appendChild(downloadLink);
      
      if(navigator.msSaveOrOpenBlob ){
          navigator.msSaveOrOpenBlob(blob, filename);
      }else{
          // Create a link to the file
          downloadLink.href = url;
          
          // Setting the file name
          downloadLink.download = filename;
          
          //triggering the function
          downloadLink.click();
      }
    
      document.body.removeChild(downloadLink);
    },




      editPoll(item) { // Редактирование опроса
        $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6753954396609189744&id=${item.id}`,
          success: (response) => {
            this.clearMyForm()
            // this.$refs.form.resetValidation()
            this.poll = JSON.parse(response).data
            this.dates = [this.poll.start_date,this.poll.end_date]
            this.poll.questions.forEach((question) => {
              this.arrayOfValuesForTable.push(this.reverseMyObject((JSON.parse(JSON.stringify(question))), true))
            })
            console.log(this.poll)
            // this.multiPages = item.multiPages
            this.isFormInEditMode = true
            this.showUpdateButton = false
            this.dialog = true
            // this.InsertValuesOfThisQuestionIntoInputs (this.poll.questions[0]) 
            
          },
          error: (err) => { 
            this.setSnackMessage("red", "При редактировании опроса произошла ошибка. Попробуйте еще раз. Ошибка:" + err);
            // console.warn('error', err)
              }
        })
      },

      editQuestion (iTakeThisQuestionToChangeIt) { // при редактировании вопроса его значение вставляются в input'ы и показываеться кнопка обновить вопрос
        this.showUpdateButton = true
        this.InsertValuesOfThisQuestionIntoInputs (this.reverseMyObject((JSON.parse(JSON.stringify(iTakeThisQuestionToChangeIt))), false))
        this.selectedIdOfItemForEdit = iTakeThisQuestionToChangeIt.id
        this.dialog2 = true
      },

      saveMyEditedQuestion () { // Сохранение отредактированного вопроса
        this.poll.questions[this.selectedIdOfItemForEdit] = JSON.parse(JSON.stringify(this.question)) // Пушим собранный вопрос в опрос
        this.arrayOfValuesForTable = []
        this.poll.questions.forEach((question) => {
        this.arrayOfValuesForTable.push(this.reverseMyObject((JSON.parse(JSON.stringify(question))), true))
        })
        this.showUpdateButton = false
        this.question.title= '' // Сброс заголовка
        this.resetCreateQuestion () // Сброс создания вопроса
        this.dialog2 = false
        // this.$refs.questionForm.resetValidation()
        this.setSnackMessage('green', 'Вопрос успешно обновлён!');
      },

      InsertValuesOfThisQuestionIntoInputs (questionForEdit) { // Вставка значений полученного вопроса в input'ы
        this.question.id = questionForEdit.id
        this.question.type = questionForEdit.type
        this.showThisTypeOfNewQuestions ()
        this.numberOfCurrentShowAnswers = questionForEdit.entries.length
        this.showThisNumberOfAnswers()
        this.question.title = questionForEdit.title
        this.question.entries = questionForEdit.entries
      },

      reverseMyObject(object, state) { // В таблице вопросов данные должны быть в человекочитаемом виде - эта функция их преобразует и возвращает объект для этой таблицы (работает в обе стороны)
        if (state) { // Если нужно переделать объект для таблицы, то...
          this.typeOfQuestions.forEach((element) => {
            if (element.value === object.type) {
              object.type = element.text
            }
          })
        } else {
            this.typeOfQuestions.forEach((element) => {
              if (element.text === object.type) {
                object.type = element.value
              }
            })
          }
          return object
      },

      deletePoll(item) { // Удаление опроса
        if (confirm('Вы действительно хотите удалить опрос?')) {
          $.ajax({
            method: "POST",
            data: JSON.stringify(item),
            url: "custom_web_template.html?object_id=6753954396609189744&delete",
            success: (response) => {
              // console.warn('Опрос удален', JSON.parse(response))
              this.getPolls();
              this.setSnackMessage('green', 'Опрос успешно удалён!');
            },
            error: (err) => { 
              this.setSnackMessage("red", "Ошибка при удалении опроса: " + err);
              // console.log('error', err) 
            }

          })
        }
      },

      deleteQuestion(item) { // При удалении вопроса пересобираем массив вопросов
        this.dialog2 = true
        const index = this.arrayOfValuesForTable.indexOf(item)
        confirm('Вы действительно хотите удалить вопрос?') && this.arrayOfValuesForTable.splice(index, 1)

        this.pushEditedTableArrayToQuestionsArray()
        this.dialog2 = false
        this.setSnackMessage('green', 'Вопрос успешно удалён!');
      },

      pushEditedTableArrayToQuestionsArray () { // перезаписываем значения id в правильно порядке (сверху вниз) и пушим преобразованные объекты в массив для дальнейшей отправки на сервер
        let counter = 0
        this.poll.questions = []
        this.arrayOfValuesForTable.forEach((element) => {
          element.id = counter
          counter += 1
          this.poll.questions.push(this.reverseMyObject((JSON.parse(JSON.stringify(element))), false))
        })
      },

      clearMyForm() { // сброс полей формы + переменных отвечающих за select и тд.
        this.showSelectTypeOfQuestions = false
        this.numberOfCurrentShowAnswers = 0
        this.showTitleOfQuestion = false
        this.activeTab = 0 
        this.poll.name = ''
        this.poll.start_date = ''
        this.poll.end_date = ''
        this.poll.usersOfPoll = ''
        this.poll.questions = []
        this.poll.multiPages = ''
        this.question.id = 0
        this.question.title = ''
        this.question.type =  '',
        this.question.entries =  [] 
        this.entry.id = '',
        this.entry.value = ''
        this.arrayOfValuesForTable = []
        this.dates = [],
        this.multiPages = ''
      },

      upThisQuestion (elem) { // Поменять местами вопросы (с верхним)
        if (elem.id === 0) {
          return
        } 
        this.correctArr(elem.id, elem.id - 1)
        this.pushEditedTableArrayToQuestionsArray()
      },

      downThisQuestion (elem) { // Поменять местами вопросы (с нижним)
        if (elem.id === this.arrayOfValuesForTable.length - 1) {
          return
        } 
        this.correctArr(elem.id, elem.id + 1)
        this.pushEditedTableArrayToQuestionsArray()
      },

      correctArr(firstElementId, secondElementId) { // Метод для перестановки 2 элементов в массиве по id
        this.arrayOfValuesForTable[firstElementId] = this.arrayOfValuesForTable.splice(secondElementId,1, this.arrayOfValuesForTable[firstElementId])[0]
      },

      setSnackMessage: function (color, text) { // ПопАп уведомлений
        this.snack.color = color;
        this.snack.text = text;
        this.snack.view = true;
      },

      getCorrectArray() {
        this.tempArrayQuestions.forEach((element, index) => {
          element.entries.forEach(item => {
            for (key in this.tempArrayShit[index]) {
              if(item.value === key) item.stat = this.tempArrayShit[index][key];
            }
          })
        })
      },

      showFullInfo (item) {

          $.ajax({
          method: "GET",
          url: `custom_web_template.html?object_id=6753954396609189744&id=${item.id}`,
          success: (response) => {
            response = JSON.parse(response);
        if (response.error) {
            this.setSnackMessage("red", "Ошибка при открытии опроса.");
            console.error(response.error)
        } else {
            iGetThisPoll = response.data

            console.log(iGetThisPoll)

            this.nameOfPollForStatistic =  iGetThisPoll.name
            this.startDateForStatistic = iGetThisPoll.start_date
            this.endDateForStatistic = iGetThisPoll.end_date

            // this.tempArrayQuestions = iGetThisPoll.questions
            // this.tempArrayShit = iGetThisPoll.shit

            // this.getCorrectArray()


            // const dataOfElement = JSON.parse(response)
            this.arrayForStatistic = iGetThisPoll.pollsRes

        this.arrayForStatistic.forEach((element) => {
          element.type = this.getCorrectNameOfTypeQuestions(element.type)
        })

        // this.arrayForStatistic.forEach((element) => {
        //   switch (element.type) {
        //     case 'number':
        //       element.type = 'Число'
        //       break;
        //     case 'choice':
        //       element.type = 'Единственный выбор'
        //       break;
        //     case 'select':
        //       element.type = 'Множественный выбор'
        //       break;
        //     case 'combo':
        //       element.type = 'Выпадающий список'
        //       break;
        //     case 'string':
        //       element.type = 'Строка'
        //       break;
        //     case 'text':
        //       element.type = 'Текстовое поле'
        //       break;
          
        //     default:
        //       break;
        //   }
        // })

            this.dialogShowStatistic = true
        }
          },
          error: (err) => { 
            this.setSnackMessage("red", "Ошибка:" + err);
              }
        })

      },
      getCorrectNameOfTypeQuestions(string) {
      switch (string) {
            case 'number':
              return 'Число'
              break;
            case 'choice':
            return 'Единственный выбор'
              break;
            case 'select':
            return 'Множественный выбор'
              break;
            case 'combo':
            return'Выпадающий список'
              break;
            case 'string':
            return 'Строка'
              break;
            case 'text':
            return 'Текстовое поле'
              break;
          
            default:
              break;
          }
      }
    },

    computed: {
      formTitle() { // Меняем заголовок в зависимости от переменной (режим редактирования)
        return this.isFormInEditMode === false ? 'Создать опрос' : 'Редактирование'
      },

      dateRangeText () { // Показ даты в input'е
        return this.dates.join(' - ')
      }
    },

    mounted() {
      this.getPolls();
      $("#polls-list").removeClass("hidden");
    },

    watch: {
      dialog (val) {
        if (val === false && this.isFormInEditMode === true) {
          this.clearMyForm()
          this.$refs.form.resetValidation()
        }
        if (val === false) {
          this.activeTab = 0
          this.isFormInEditMode = false
        }
      },
      dialog2 (val) {

        if (val === false && this.isFormInEditMode === true) {
        this.showUpdateButton = false
        this.question.title= '' // Сброс заголовка
        this.resetCreateQuestion () // Сброс создания вопроса
        this.question.entries = []
        this.numberOfCurrentShowAnswers = 0
        }

      },
      dates () {
        if (this.dates.length === 2) {
          if (this.dates[0] > this.dates[1]) {
            this.dates[1] = this.dates.splice(0,1, this.dates[1])[0]
          }
        }
      }
    }
  });

</script>

<style>
  .polls_page input {
    border: none !important;
    box-shadow: none !important;
  }

  .hidden {
    display: none;
  }

  .sex input {
    cursor: pointer !important;
  }

  .disabled {
    pointer-events: none;
    opacity: .6;
  }

  .v-application--wrap {
    min-height: 100%
  }

  .v-sheet--tile {
    position: static
  }

  #loading:not(.hidden) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .7);
    font-size: 2em;
  }

  #loading.animation p {
    position: relative;
  }

  #loading.animation p:before {
    position: absolute;
    content: "";
    left: calc(100% + 5px);
    top: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    animation: preloading 2s linear infinite;
  }

  @keyframes preloading {
    0% {
      content: ".";
    }

    50% {
      content: "..";
    }

    100% {
      content: "...";
    }
  }

  h2 {
    color: #1c6186;
    font-weight: bold;
    font-size: 34px;
  }

  #request-page {
    padding-bottom: 20px;
  }
  .v-dialog>.v-card>.v-card__title {
    word-break: break-word;
  }

  .v-text-field__details {
    top: 35px;
  }
</style>