<div id="news-list" class="hidden">
    <div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
      <p>Загрузка</p>
    </div>
    <h2>Список новостей</h2>
    <div v-cloak class="news_page">
  
      <v-app>
      <v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true" :multi-line="true">
          <v-col>{{ snack.text }}</v-col>
          <v-btn color="white" text @click="snack.view = false">
              Закрыть
          </v-btn>
      </v-snackbar>
        <v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0"
          :footer-props="{ itemsPerPageText: 'строк на странице' }">
          <template v-slot:top>
            <v-toolbar flat color="white">
              <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" width="900" @click:outside="[event ? close() : '']" @keydown="[event.keyCode == 27 ? close() : '']">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" @click="addNew()">Добавить</v-btn>
                </template>
                <v-card :loading="loading">
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                    <!--<v-icon class="ml-auto">mdi-monitor</v-icon>--> <!-- TODO: Превью новости -->
                  </v-card-title>
                  <v-card-text>
                    <v-form v-model='valid' id="form" method="post" enctype="multipart/form-data">
                      <v-container>
                        <v-row>
                          <v-col class="w-auto" cols="12" sm="12" md="7">
                            <v-text-field id="title" name="name" v-model="item_edit.name" label="Заголовок"
                              :rules="[rules.required, rules.max250]">
                            </v-text-field>
                          </v-col>
                          <v-col class="ml-auto" cols="12" sm="6" md="3">
                            <v-menu ref="menu" v-model="menu" :close-on-content-click="false"
                              :return-value.sync="item_edit.create_date" transition="scale-transition" offset-y
                              max-width="290px" min-width="290px">
                              <template v-slot:activator="{ on }">
                                <v-text-field id="public_date" name="create_date" v-model="item_edit.create_date"
                                  prepend-icon="mdi-calendar" label="Опубликовать" v-on="on" hint="ДД.ММ.ГГГГ" :rules="[rules.date]">
                                </v-text-field>
                              </template>
                              <v-date-picker v-model="dateIso" type="date" no-title scrollable first-day-of-week="1">
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="menu = false">Отменить</v-btn>
                                <v-btn text color="primary"
                                  @click="item_edit.create_date = formatDate(dateIso); $refs.menu.save(item_edit.create_date)">
                                  OK</v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="12" sm="6" md="2">
                            <v-text-field id="public_time" name="create_time" v-model="item_edit.create_time" label="Время"
                              type="time" prepend-icon="mdi-clock">
                            </v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-file-input id="img" name="image" v-model="item_edit.image" label="Превью (jpeg, jpg, png)"
                              prepend-icon="mdi-camera" accept="{{accept.image}}"></v-file-input>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col>
                            <v-text-field id="comment" name="comment" v-model="item_edit.comment" label="Текст превью">
                            </v-text-field>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12">
                            <ckeditor id="text" name="text_area" :editor="editor" v-model="item_edit.text_area" @ready="onEditorReady($event, item_edit.text_area)" :config="editorConfig"></ckeditor>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12">
                            <v-select id="tags" name="tags" v-model="item_edit.tags" :items="lists.tags" item-value="id"
                              item-text="name" label="Теги" hint="Выберите теги" multiple chips light persistent-hint return-object>
                            </v-select>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12">
                            <v-file-input id="imgs" name="images" v-model="item_edit.images" :show-size="true"
                              :rules="[rules.counter]" chips label="Изображения (jpeg, jpg, png)"
                              accept="{{accept.image}}" multiple prepend-icon="mdi-image-multiple"></v-file-input>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col cols="12">
                            <v-file-input id="fls" name="files" v-model="item_edit.files" :show-size="true"
                              :rules="[rules.counter]" chips label="Файлы" accept="{{accept.file}}" multiple>
                            </v-file-input>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
  
                  </v-card-text>
  
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" dark @click.stop="close()">Отменить</v-btn>
                    <v-btn color="primary" dark :class="{'disabled' : !valid}" @click.stop="save">Сохранить</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.tags="{ item }">
            <v-chip class="ma-1" :color="'blue'" dark v-for="tag in item.tags">{{ tag.name }}</v-chip>
          </template>
          <template v-slot:item.creator="{ item }">
            <p>{{ item.creator.fullname || item.creator.login }}</p>
          </template>
          <template v-slot:item.action="{ item }">
            <v-icon small class="mr-2" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteItem(item)">
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-app>
  
  
    </div>
  </div>
  
  
  <script>
    Vue.use(VueMask.VueMaskPlugin);
    Vue.use(CKEditor)
  
  
    var news = new Vue({
      el: '#news-list',
      vuetify: new Vuetify({
        lang: {
          locales: {
            ru: ruLocale
          },
          current: 'ru'
        }
      }),
      data: {
        dialog: false,
        snack: {
      view: false,
      text: '',
      color: '',
      timeout: 6000,
        },
        valid: false,
        deleteDialog: {},
        menu: false,
        loading: true,
        news: [],
        accept: {
          image: ".jpg,.png,.jpeg",
          file: ".doc,.docx,.pdf,.ppt,.pptx,.xls,.xlsx,.zip"
        },
        searchInput: '',
        headers: [{
          text: 'Заголовок', value: 'name'
        }, {
          text: 'Теги', value: 'tags'
        }, {
          text: 'Создал', value: 'creator'
        }, {
          text: 'Дата публикации', value: 'create_date'
        },
        { text: 'Действия', value: 'action', sortable: false },
        ],
        editedIndex: -1,
        dateIso: '',
        item_edit: {
          id: '',
          name: '',
          image: [],
          text_area: '',
          images: [],
          files: [],
          tags: [],
          create_date: '',
          create_time: ''
        },
        lists: {},
        editor: ClassicEditor,
        editorConfig: {
      language: "ru",
          removePlugins: [ 'ImageUpload' ],
      onReady: this.onEditorReady
        },
        rules: {
          required: value => !!value || 'Необходимо заполнить',
          counter: value => value.length <= 10 || 'Не более 10 файлов',
          max250: value => value.length <= 250 || 'Не более 250 символов',
      date: value => value != 'Invalid Date' || 'Неправильный формат даты'
        }
      },
      methods: {
  
        typing: function (text) {
          this.searchInput = text;
        },
  
        formatDate(date) {
          if (!date) return null
  
          const [year, month, day] = date.split('-')
          return `${day}.${month}.${year}`
        },
  
        addNew() {
      this.clearEdit();
      this.dialog = true;
      let text = document.querySelector("#text");
      if (text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.onEditorReady(editor, this.item_edit.text_area); });
        },
  
        offEditor() {
      if (this.editor) this.editor.destroy();
      this.editor = false;
        },
  
        onEditorReady(editor, data) {
          //console.warn('ready');
      this.editor = editor;
      editor.setData(data);
		  editor.model.document.on('change:data', () => data = editor.getData())
      setTimeout(() => { $('.ck-editor').css('width', '100%'); }, 100);
    },
  
        getNews() {
          this.loading = true;
          $.ajax({
            url: "custom_web_template.html?object_id=6753213891858355881",
            success: (response) => {
              console.warn(response);
              try {
          res = JSON.parse(response);
          if (res.error) { this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору."); return; }
          this.news = res.data;
          this.lists = res.lists;
              } catch (err) { this.setSnackMessage("red", "Ошибка: " + err + ". Обратитесь к администратору."); }
            },
            error: (err) => { this.setSnackMessage("red", "Ошибка загрузки данных: " + err + ". Обратитесь к администратору."); },
            complete: () => { this.loading = 0; }
          });
        },
  
        getTags(tags) {
          return tags.map(item => item.name).join(", ");
        },
  
        close() {
          this.dialog = false;
      this.offEditor();
          setTimeout(() => {
            this.clearEdit();
            this.editedIndex = -1
          }, 300)
        },
  
        postImage(id, form) {
  
          form.append('obj_id', id);
  
          $.ajax({
            method: "POST",
            data: form,
            contentType: false,
            processData: false,
            url: "custom_web_template.html?object_id=6753213891858355811",
            success: (response) => {
          console.warn(response)
          res = JSON.parse(response);
          if (res.error) {
             this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору.");
          } else { this.setSnackMessage("green", "Данные успешно сохранены"); this.close(); }
            },
            error: (err) => { this.setSnackMessage("red", "Ошибка при сохранении: " + err + ". Обратитесь к администратору."); },
        complete: () => { this.loading = false; }
          })
  
        },
  
        save() {
      this.loading = true;
          console.warn(this.item_edit.tags);
          let form = document.querySelector("#form");
          let formdata = new FormData(form);
      formdata.set("id", this.item_edit.id);
      formdata.set("text_area", document.querySelector( '.ck-editor__editable' ).ckeditorInstance.getData());
          formdata.set("tags", JSON.stringify(this.item_edit.tags));
          let fd = new FormData;
          fd.append("img", formdata.get("image"));
  
          formdata.delete("image");
          formdata.delete("images");
          formdata.delete("files");
  
          document.querySelectorAll("input[multiple]").forEach(item => $(item.files).each((index, file) => formdata.append(item.name + index, file)));
  
          $.ajax({
            method: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            url: "custom_web_template.html?object_id=6753213891858355881",
            success: (response) => {
          res = JSON.parse(response);
          console.warn('response ',res);
          if (res.error) { this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору."); return; }
          this.getNews();
          this.item_edit.id = res.id;
          if (fd.get("img").size > 0) { 
              this.postImage(res.id, fd);
          } else { this.loading = false; this.close(); this.setSnackMessage("green", "Данные успешно сохранены"); }
            },
            error: (err) => { this.setSnackMessage("red", "Ошибка при сохранении: " + err + ". Обратитесь к администратору."); },
        complete: () => { this.loading = false; }
          });
  
        },
  
        clearEdit() {
          Object.keys(this.item_edit).forEach(key => this.item_edit[key] = typeof this.item_edit[key] == "object" ? [] : "");
        },
  
        editItem(item) {
      this.loading = true;
          this.editedIndex = this.news.indexOf(item);
      let text = document.querySelector("#text");
          $.ajax({
            method: "GET",
            url: `custom_web_template.html?object_id=6753213891858355881&id=${item.id}`,
            success: (response) => {
          res = JSON.parse(response);
          if (res.error) { this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору."); return; }
              this.item_edit = Object.assign(this.item_edit, res.data);
              this.dialog = true;
          if (!this.editor && text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.onEditorReady(editor, this.item_edit.text_area); });
            },
            error: (err) => { this.setSnackMessage("red", "Ошибка: " + err + ". Обратитесь к администратору."); },
        complete: () => { this.loading = false;  }
          });
  
        },
  
        deleteItem(item) {
      this.loading = true;
  
          if (confirm('Удалить новость?')) {
            $.ajax({
              method: "POST",
              data: JSON.stringify(item),
              url: "custom_web_template.html?object_id=6753213891858355881&delete",
              success: (response) => {
          res = JSON.parse(response);
          if (res.error) { 
             this.setSnackMessage("red", "Ошибка: " + res.error + ". Обратитесь к администратору."); return;
          } else { this.setSnackMessage("green", "Запись успешно удалена"); }
          this.getNews();
              },
              error: (err) => { this.setSnackMessage("red", "Ошибка при удалении: " + err + ". Обратитесь к администратору."); },
          complete: () => { this.loading = false; }
            })
          }
        },
  
        setSnackMessage: function (color, text) {
      this.snack.color = color;
      this.snack.text = text;
      this.snack.view = true;
        }
      },
      computed: {
        formTitle() {
          return this.editedIndex === -1 ? 'Создать новость' : 'Редактирование'
        },
        filteredList: function () {
      forSearch = str => str.replace(/ /gi, '').toLowerCase();
          return this.news.filter( item => forSearch(JSON.stringify(item)).indexOf(forSearch(this.searchInput)) !== -1 )
        }
      },
      mounted() {
  
        this.getNews();
        $("#news-list").removeClass("hidden");
      }
  
    });
  
  
  </script>
  
  <style>
    .news_page {
      padding-bottom: 100px;
    }
    .news_page input {
      border: none !important;
      box-shadow: none !important;
    }
    .ck.ck-editor {
      transition: all .2s linear;
      width: 99%;
    }
  
    .hidden {
      display: none;
    }
  
    .disabled {
      pointer-events: none;
      opacity: .6;
    }
  
    .v-application--wrap {
      min-height: 100%
    }
  
    .v-sheet--tile {
      position: static
    }
    table th {
      white-space: nowrap;
    }
  
    #loading:not(.hidden) {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, .7);
      font-size: 2em;
    }
  
    #loading.animation p {
      position: relative;
    }
  
    #loading.animation p:before {
      position: absolute;
      content: "";
      left: calc(100% + 5px);
      top: 0;
      width: 40px;
      height: 100%;
      display: flex;
      align-items: center;
      animation: preloading 2s linear infinite;
    }
  
    @keyframes preloading {
      0% {
        content: ".";
      }
  
      50% {
        content: "..";
      }
  
      100% {
        content: "...";
      }
    }
  
    h2 {
      color: #1c6186;
      font-weight: bold;
      font-size: 34px;
    }
  </style>