<%
//тут и в vue.data
portal = '38'; // 16 - тулун, 34 - волгоград, 69 - тверь

colors = {
	'16': '', 
	'34': '#CBEBFA',
	'38': '#85c446', 
	'69': '#DFD3C3'
	};

%>
<div id="vue-page-cabinet">
	<v-app>
		<v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true" :multi-line="true">
			{{ snack.text }}
			<v-btn color="white" text @click="snack.view = false">
				Закрыть
			</v-btn>
		</v-snackbar>

		<div class="copp__page-header">
			<!--<nav class="copp__page-nav">
				<v-breadcrumbs :items="links" divider="/">
					<template v-slot:item="{item}">
						<v-breadcrumbs-item :href="item.href" :disabled="item.disabled">
						{{ item.text }}
						</v-breadcrumbs-item>
					</template>
				</v-breadcrumbs>
			</nav>-->
			<div class="flex-item">
				<div v-bind:class="{ copp__btn: pages == 1 }" @click="pages = 1">
					<svg viewBox="0 0 35 44" width="25px" height="40px" class="info"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#info"></use></svg>
					Информация
				</div>
				<div v-bind:class="{ copp__btn: pages == 2 }" @click="pages = 2">
					<svg viewBox="0 0 35 44" width="25px" height="40px" class="apartments"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#apartments"></use></svg>
					Данные организации
				</div>
				<div v-bind:class="{ copp__btn: pages == 3 }" @click="pages = 3">
					<svg viewBox="0 0 35 44" width="25px" height="40px" class="correct"><use mlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/epk/svg-sprite.svg#correct"></use></svg>
					Документы
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="copp__img-container">
				<v-row>
					<v-col cols="12">
						<v-img class="copp__img-card" height="250" :src="info.image.url||userNoImage[portal]"></v-img>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="8">
						<v-dialog v-model="dialog" width="500" v-if="pages == 2">
							<template v-slot:activator="{ on }">
								<div class="copp__btn" v-on="on" v-if="hasOrg">Изменить фото</div>
							</template>
							<v-card>
								<v-card-title primary-title>Фото</v-card-title>
								<div class="card-content">
									<v-file-input prepend-icon="mdi-camera" name="image" v-model="info.image" accept="{{accept.image}}" label="Выберите фото" id="uploadimage"></v-file-input>
									<v-card-actions>
										<v-btn class="copp__btn" text @click="setNewImage()">Загрузить</v-btn>
										<v-spacer></v-spacer>
										<v-btn class="copp__btn" text @click="dialog = false">Отмена</v-btn>
									</v-card-actions>
								</div>
							</v-card>
						</v-dialog>
					</v-col>
				</v-row>
			</div>
			<v-container class="main-container" v-show="pages==1">
				<h1 class="copp__header-title">Общая информация</h1>
				<v-row>
					<v-col cols="12" class="disabled">
						<div class="copp__search-wrapper profile_textarea">
							<v-textarea no-resize rows="2" name="name" v-model="info.name" class="copp__search-input" type="text" label="Полное название" color="#2d2d2d"></v-textarea>
						</div>
					</v-col>
				</v-row>	
				<v-row>
					<v-col cols="12" class="disabled">
						<v-textarea outlined auto-grow name="about" label="Описание" v-model='info.desc' color="#2d2d2d"></v-textarea>
					</v-col>
				</v-row>
			</v-container>
			<v-container class="main-container" v-show="pages==2">

				<h1 class="copp__header-title">Данные организации</h1>
				<v-row>
					<v-col cols="12" v-bind:class="{ disabled: !edit }">
						<div class="copp__search-wrapper profile_textarea">
							<v-textarea no-resize rows="2" name="name" v-model="info.name" class="copp__search-input" type="text" label="Полное название" color="#2d2d2d"  :rules="[rules.required]"></v-textarea>
						</div>
					</v-col>
				</v-row>	
				<v-row>
					<v-col cols="12" v-bind:class="{ disabled: !edit }">
						<div class="copp__search-wrapper profile_textarea">
							<v-textarea no-resize rows="2" name="name" v-model="info.disp_name" class="copp__search-input" type="text" label="Сокращённое название" color="#2d2d2d"  :rules="[rules.required]"></v-textarea>
						</div>
					</v-col>
				</v-row>	
				<v-row>
					<v-col cols="12" md="6" v-bind:class="{ disabled: !edit }">
						<div class="copp__search-wrapper profile_textarea">
							<v-textarea no-resize rows="2" v-model="info.code" class="copp__search-input" type="text" label="ИНН" :rules="[rules.required, rules.numbers, rules.min10]"></v-textarea></v-textarea>
						</div>
					</v-col>
					<v-col cols="12" md="6" v-bind:class="{ disabled: !edit }">
						<div class="copp__search-wrapper profile_textarea">
							<v-textarea no-resize rows="2" v-model="info.web" class="copp__search-input" type="text" label="Сайт" :rules="[rules.required, rules.website]"></v-textarea>
						</div>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12" v-bind:class="{ disabled: !edit }">
						<div class="copp__search-wrapper profile_textarea">
							<v-textarea no-resize rows="2" v-model="info.legal_address" class="copp__search-input" type="text" label="Юридический адрес" :rules="[rules.required]"></v-textarea>
						</div>
					</v-col>
				</v-row>	
				<v-row>
					<v-col cols="12" v-bind:class="{ disabled: !edit }">
						<div class="copp__search-wrapper profile_textarea">
							<v-textarea no-resize rows="2" v-model="info.postal_address" class="copp__search-input" type="text" label="Фактический адрес" :rules="[rules.required]"></v-textarea>
						</div>
					</v-col>
				</v-row>	
				<v-row>
					<v-col cols="12" v-bind:class="{ disabled: !edit }">
						<v-textarea outlined no-resize rows="10" name="about" label="Описание" v-model='info.desc' color="#2d2d2d"></v-textarea>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12" v-if="!edit">
						<div class="copp__btn" @click="edit = true" v-if="hasOrg">Редактировать все</div>
					</v-col>
					<v-col cols="12" md="6" v-if="edit">
						<div class="copp__btn" @click="info=Object.assign(info, defaultObject);edit = false;menu = false">Отмена</div>
					</v-col>
					<v-col cols="12" md="6" v-if="edit">
						<div class="copp__btn" @click="changeInfo();edit=false">Сохранить</div>
					</v-col>
				</v-row>

			</v-container>
			<v-container class="main-container" v-show="pages==3">
				<h1 class="copp__header-title">Документы</h1>
				<div class="card_flex-container">

					<v-simple-table v-if="info.files.length">
						<template v-slot:default>
							<thead>
								<tr>
									<th class="text-left">Наименование</th>
									<th class="text-left">Дата загрузки</th>
									<th class="text-left">Скачать</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="file in info.files" :key="file.id">
									<td>{{ file.name }}</td>
									<td>{{ file.create_date }}</td>
									<td><div class="copp__btn" @click="window.open(`${file.url}`,'_blank')">Скачать</div></td>
								</tr>
							</tbody>
						</template>
					</v-simple-table>

					<p v-if="!info.files.length">У Вас пока нет ни одного документа.</p>
					<v-col cols="12">
						<div class="copp__btn" @click="dialogFile=true" v-if="hasOrg">Загрузить</div>
					</v-col>
					
					<v-dialog class="addDocumentDialog" v-model="dialogFile" max-width="600px">
						<v-card>
							<v-card-title>
								<span class="headline">Добавить документ</span>
							</v-card-title>
							<v-card-text>
								<v-container>
                                <v-form ref="formFile" v-model="valid">
									<v-row>
										<v-col cols="12">
											<v-text-field v-model="fileName" label="Наименование" :rules="[rules.required]"></v-text-field>
										</v-col>
									</v-row>
									<v-row>
										<v-col cols="12">
											<v-file-input id="file" name="file" v-model="attachFile" label="Загрузить файл" accept="{{accept.file}}" :rules="[rules.emptyfile]"></v-file-input>
										</v-col>
									</v-row>
                                    <v-form>
								</v-container>
							</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn class="copp__btn" text @click.stop="dialogFile = false">Закрыть</v-btn>
								<v-btn class="copp__btn" text @click.stop="valid ? uploadFile(): validate()">Сохранить</v-btn>
							</v-card-actions>
						</v-card>
				      </v-dialog>

				</div>
			</v-container>
		</div>
	</v-app>
</div>

<script>
var cabinet = new Vue({
	el: '#vue-page-cabinet',
	vuetify: new Vuetify({
		lang: {
			locales: {
				ru: ruLocale
			},
			current: 'ru'
		}
	}),
	data: {
		portal: '38', // 16 - тулун, 34 - волгоград, 69 - тверь
		colors: {
		    '16': '', 
		    '34': '#CBEBFA', 
		    '38': '#85c446', 
		    '69': '#DFD3C3'
		},
		userNoImage: {
		    '16': '', 
		    '34': 'images/epk/nophoto-blue.png', 
		    '69': 'images/epk/nophoto.png',
		    '38': 'images/epk/nophoto-38.png'
		},
		snack: {
			view: false,
			text: '',
			color: '',
			timeout: 6000,
		},
		links: [
			{text: 'Главная',
			href: '/view_doc.html?mode=home',
			disabled: false},
			{text: 'Профиль организации',
			href: '/view_doc.html?mode=org_profile',
			disabled: true}
		],
		pages: 1,
		info: {
			id: null,
			name: "",
			disp_name: "",
			email: "",
			image: {
				id: "",
				name: "",
				url: ""
			},
			desc: "",
			code: "",
			web: "",
			legal_address: "",
			postal_address: "",
			files: []
		},
		attachFile: null,
		defaultObject: {},
		accept: {
			image: ".jpg,.png,.jpeg",
			file: "application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
		},
		dialog: false,
		dialogFile: false,
		edit: false,
		hasOrg: true,
        fileName: "",
        valid: false,
        rules: {
            required: value => !!value || 'Необходимо заполнить',
            emptyfile: value =>  value !== null || 'Выберите файл',
            min10: value => value.length >= 10 || 'Не менее 10 цифр',
            website: value => {
            const pattern = /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)/
            return pattern.test(value) || 'Введите корректный сайт'
            },
            numbers: value => {
            const pattern = /^[0-9]*$/
            return pattern.test(value) || 'Допустимы только цифры'
            }
        }
	},
	methods: {
            validate () {
		      if (this.$refs.formFile.validate()) {
			    this.snackbar = true
		      }
		    },
		getInfo() {
			const serverUrl = 'custom_web_template.html?object_id=6773026194131154298';

			return fetch(serverUrl)
			.then(response => {
				if (response.status !== 200) return;
					return response.json();
				})
			.then(res => {
				console.warn(res);
				if (res.error) {
					this.hasOrg = false;
					this.setSnackMessage("red", "Ошибка: " + res.error);
				} else {
					this.info = Object.assign(this.info, res.orgInfo);
					this.defaultObject = Object.assign(this.defaultObject, this.info);
				}
			})
			.catch(err => {
				console.warn('Err:', err);
			});
		},
		changeInfo() {
		          console.warn(this.info)
			  $.ajax({
			    method: "POST",
			    data: JSON.stringify(this.info),
			    contentType: false,
			    processData: false,
			    url: "custom_web_template.html?object_id=6773026194131154298",
			    success: (response) => {
			      response = JSON.parse(response);
			      if (response.error) {
					this.setSnackMessage("red", "Ошибка при изменении данных: " + response.error);
			      } else { 
					this.setSnackMessage("#008000", "Данные изменены.");
			      }
			    },
			    error: (err) => { this.setSnackMessage("red", "Ошибка при изменении данных: " + err)}
		  
			  })
		},

		setSnackMessage: function (color, text) {
			this.snack.color = color;
			this.snack.text = text;
			this.snack.view = true;
		},
		setNewImage() {
			let fd = new FormData;
			fd.append('obj_id', this.info.id)

			if ($("#uploadimage").length && $("#uploadimage").prop('files')[0]) {
				let $input = $("#uploadimage");
				fd.append('img', $input.prop('files')[0]);
				$.ajax({
					method: "POST",
					data: fd,
					contentType: false,
					processData: false,
					url: "custom_web_template.html?object_id=6753213891858355811",
					success: (response) => {
						response = JSON.parse(response);
						console.log(response);
						if (response.error) {
							this.setSnackMessage("red", "Ошибка при загрузке изображения: " + response.error);
						} else {
							this.setSnackMessage("#008000", "Изображение изменено");
						}
					}, 
					error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке изображения: " + err); }
				});
			}
			this.dialog = false;
		},
		
		uploadFile() {
			let fd = new FormData;
			if ($("#file").length && $("#file").prop('files')[0]) {
				fd.append("file", this.attachFile);
				fd.append("file_name", this.fileName);
				$.ajax({
					method: "POST",
					data: fd,
					contentType: false,
					processData: false,
					url: "custom_web_template.html?object_id=6766609707179988740&addfile",
					success: (response) => {
						response = JSON.parse(response);
						console.log(response);
						if (response.error) {
							this.setSnackMessage("red", "Ошибка при загрузке файла: " + response.error);
						} else {
							this.setSnackMessage("#008000", "Файл загружен");
                            this.getInfo().then(this.$forceUpdate());
						}
					}, 
					error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке файла: " + err); }
				});
			}
            this.attachFile = null;
			this.fileName = "";
			this.$refs.formFile.resetValidation()
			this.dialogFile = false;
		}

	},
	mounted() {
		this.getInfo();
	},
	watch: {
	},
	computed: {
	}
})


</script>
<style>
	:root {
		--portal-color: <%=colors[portal]%>;
	}
	#vue-page-cabinet .main-content {
		max-width: unset;
		width: 100%;
		margin-top: 0;
	}
	#vue-page-cabinet .copp__img-container {
		margin: auto;
	}
	.page-content {
		padding: 0 0 8px 0;
	}
	.flex-container {
		display: flex;
		flex-wrap: wrap;
	}
	.flex-item {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.disabled {
		pointer-events: none;
	}
	#app {
		background: unset;
		color: inherit;
	}
	input {
		color: #2d2d2d;
	}
	input[type=text], input[type=password] {
		border: none;
		border-radius: unset;
		box-shadow: unset;
		background: var(--portal-color);
	}
	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
		border: 4px solid #2d2d2d;
		border-radius: unset;
	}
	.copp__multiselect input[type=text]:focus {
		border: none;
	}
	.copp__page-header {
		padding: 15px 0;
		margin-top: 60px;
	}
	.copp__page-nav ul{
		list-style: none;
	}
	.copp__page-nav li{
		display: inline;
	}
	.copp__page-nav li a:not(.v-breadcrumbs__item--disabled) {
		font-weight: bold;
		color: #2d2d2d;
		text-decoration: underline;
	}
	.copp__header-title {
		color: #2d2d2d;
		font-weight: bold;
		margin: 30px 0 40px;
		font-size: 30px;
		line-height: 36px;
	}
	.copp__search-wrapper input {
		background: var(--portal-color) !important;
		padding: 15px 50px 15px 15px;
		width: 100%;
		height: 75px;
	}
	textarea {
		box-shadow: unset;
		border-radius: unset;
		
	}
	textarea:focus {
		border: none;
	}
	.v-input__slot {
		padding-left: 10px;
	}
	.profile_textarea {
		background: var(--portal-color);
	}
	.theme--light.v-data-table {
		width: 100%;
	}
	.v-text-field--outlined, .v-text-field--solo {
		border-radius: unset;
		
	}
	.theme--light.v-text-field--outlined fieldset {
		border: 4px solid var(--portal-color);
	}
	.copp__multiselect .v-list-item__content {
		color: #2d2d2d;
	}
	 .card_flex-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 5px;
	}
	.v-card__text, .v-card__title {
		word-break: break-word;
		padding: 0px;
	}
	.v-card__title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;
	}
	.copp__content-card {
		width: 280px;
		padding: 15px;
		margin-bottom: 10px;
		clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
	}
	.copp__multiselect .v-input__slot {
		background: var(--portal-color) !important;
		border-radius: unset;
	}
	.theme--light.v-label {
		color: #2d2d2d;
	}
	.main-container {
		display: flex;
		max-width: 600px !important;
		flex-direction: column;
	}
	.card-content {
		padding: 0 20px;
	}
	.copp__img-container {
		width: 300px;
	}
	.copp__img-card {
		object-fit: cover;
		width: 250px;
		height: 250px;
	}
	.flex-item div:not(.copp__btn) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: auto;
		height: 40px;
		padding: 0 15px;
		border-radius: 0;
		cursor: pointer;
		color: #2d2d2d;
		font-size: 17px;
		font-weight: 500;
		transition: all .1s linear;
	}
	.flex-item svg{
		fill: #2d2d2d;
		width: 25px;
		height: 40px;
		margin: 0 5px 0 0; 
		display: block;
		flex-shrink: 0;
	}
	.flex-item .copp__btn:not(:hover) svg{
		fill: #ffffff;
	}
	.v-card__text p span {
		margin-left: 50px;
	}
	.theme--light.v-text-field>.v-input__control>.v-input__slot:before {
		border: none;
	}
	.copp__content-card:after {
		border-top: 60px solid var(--third-color);
		border-right: 60px solid transparent;
	}
    .addDocumentDialog .v-input {
		border: 2px solid var(--portal-color);
		border-radius: 5px;
	}
	.v-application .info {
		background-color: unset !important;
		border-color: unset !important;
	}

	@media screen and (min-width: 1200px) {
		.main-content {
			position: relative;
		}
		.copp__img-container {
			/*position: absolute;
			top: -100px;
			left: 30px;*/
		}
		.v-application ul {
			margin-bottom: 30px;
		}
	}
	@media screen and (max-width: 1200px) {
		.copp__img-container {
			margin: 0 auto;
		}
	}
</style>