<script>
var ua = window.navigator.userAgent;
var msie = ua.indexOf("MSIE");
if (msie > 0 || !!navigator.userAgent.match(/Trident\/7\./)) { alert("К сожалению, Internet Explorer"+" не поддерживается. Воспользуйтесь другим современным браузером."); }
</script>

<script src="/scripts/polyfill.min.js"></script>
<script src="/scripts/vue.js"></script>
<script src="/scripts/vuetify.js"></script>
<script src="/scripts/v-mask/v-mask.min.js"></script>
<script src="/scripts/vue-text-truncate.js"></script>
<script src="/scripts/masonry/masonry.pkgd.min.js"></script>
<script src="/scripts/masonry/vue-masonry-plugin-window.js"></script>
<script src="/scripts/ckeditor5-build-classic/ckeditor.js"></script>
<script src="/scripts/ckeditor5-vue/ckeditor-vue.min.js"></script>
<script src="/scripts/ckeditor5-build-classic/translations/ru.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1dc00fc8-9738-4f14-8539-212697fb1c62" type="text/javascript"></script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(58461994, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/58461994" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script>

var filter = function(text, length, clamp){
    clamp = clamp || '...';
    var node = document.createElement('div');
    node.innerHTML = text;
    var content = node.textContent;
    return content.length > length ? content.slice(0, length) + clamp : content;
};


<!--------------------------------------------------------------------------------Русская локализация Vuetify----------------------------------------------------------------------->


  const ruLocale = {
    close: 'Закрыть',
    dataIterator: {
      noResultsText: 'Не найдено подходящих записей',
      loadingText: 'Запись загружается...',
    },
    dataTable: {
      itemsPerPageText: 'Строк на странице:',
      ariaLabel: {
        sortDescending: ': Упорядочено по нисходящей. Активируйте, чтобы убрать сортировку.',
        sortAscending: ': Упорядочено во восходящей. Активируйте для упорядочивания по ниcходящей.',
        sortNone: ': Не упорядочено. Активируйте для упорядочивания по восходящей.',
      },
      sortBy: 'Сортировать по',
    },
    dataFooter: {
      itemsPerPageText: 'Записей на странице:',
      itemsPerPageAll: 'Все',
      nextPage: 'Следующая страница',
      prevPage: 'Предыдущая страница',
      firstPage: 'Первая страница',
      lastPage: 'Последняя страница',
      pageText: '{0}-{1} из {2}',
    },
    datePicker: {
      itemsSelected: '{0} выбран',
    },
    noDataText: 'Отсутствуют данные',
    carousel: {
      prev: 'Предыдущий визуальный',
      next: 'Следующий визуальный',
      ariaLabel: {
        delimiter: 'Carousel slide {0} of {1}',
      },
    },
    calendar: {
      moreEvents: 'Еще {0}',
    },
    fileInput: {
      counter: 'Файлов: {0}',
      counterSize: 'Файлов: {0} (всего {1})',
    },
    timePicker: {
      am: 'AM',
      pm: 'PM',
    },
  }
</script>
