<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<style>
	img {margin: 5px auto;
	}
	p {
		padding: 0;
		margin: 10px 0;
	}
	.lk_button {
		-moz-user-select: -moz-none;
		user-select: none;
		padding: 8px 5px;
		min-width: 10%;
		max-width: 30%;
		background-color: #3A8FDF;
		color: white;
		font-size: 16px;
	}
	.lk_button.edu {
		-moz-user-select: -moz-none;
		user-select: none;
		margin: 5px auto;
		padding: 0 5px 0 5px;
		height: 25px;
		text-decoration: none;
		border: none;
	}
</style>

<%
Server.Execute( 'user_init.html' );
_sid = tools.get_sum_sid( curUserID );
photoError = "";
_photo_note = "";
_photo_too_big = "";
_interests_note = "";
_interests = "";
_about_me = "";
_photo_url = "";
_avatar_filename = "";
_address = "";
_birth_date = "";
curUserObj = OpenDoc( UrlFromDocID( curUserID ) );
curUser = curUserObj.TopElem;
needSave = false;



//Фотография
if ( Request.Form.HasProperty( 'filename' ) && Request.Form.GetProperty( 'filename' ) != "") 
{
	_data_ref = Request.Form.GetProperty( 'filename' );
	bytes = StrLen( _data_ref );
	if (bytes >= 500240) 
        	{
		photoError = tools.get_web_str("upi_avatar_too_big");
                }
        	else 
        	{
  	       	fileName = String(_data_ref.FileName);
	       	dots = fileName.split(".")
		fileType = dots[dots.length-1];
	        	if (fileType!='jpg' && fileType!='jpeg' && fileType!='gif' && fileType!='png') 
                	{
  	                	photoError = tools.get_web_str("upi_avatar_wrong_type");
  	        	} 
                	else 
                	{
			localFile = curUserID+'.'+fileType;
			xLocalFile = 'x-local://wt/web/avatars/'+localFile;
			PutUrlData( xLocalFile, _data_ref ); 
			fileSize = UrlFileSize( xLocalFile );
                		curUser.personal_config.avatar_filename = localFile;
                		_avatar_filename = (curUser.personal_config.avatar_filename.HasValue) ? curUser.personal_config.avatar_filename : '';
                		needSave = true;
                	}
	}
}

//Удаление фотографии
if ( Request.QueryString.HasProperty( 'remove_photo' ) ) 
{
	localFile = curUser.personal_config.avatar_filename;
	xLocalFile = 'x-local://wt/web/'+localFile;
	DeleteUrl(xLocalFile);
        	curUser.personal_config.avatar_filename = "";
        	needSave = true;
}
if ( needSave )
{
	curUserObj.Save();
}
%>
<script type="text/JavaScript">
function TestFileType( fileName, fileTypes ) 
{
	if (!fileName) return;
	dots = fileName.split(".")
	fileType = "." + dots[dots.length-1];
	return (fileTypes.join(".").indexOf(fileType) != -1) ? true : false;
}
</script>

<!-- Форма, которая отображается на форуме -->
<div style="height: 250px; width: 300px; border: 1px solid lightblue; margin: auto; padding: 5px;">
<FORM NAME="form1" action="<%= tools_web.get_query_string( true, "remove_photo"); %>" METHOD="post"" enctype="multipart/form-data">
		<div style="display: flex;">
		<% if (curUser.personal_config.avatar_filename) {%><img height="100" src="/avatars/<%=curUser.id%>.jpg"/>
		<%} else {%><img height="100" src="/pics/nophoto222.png"/>
		<%}%>
		</div>
        <INPUT TYPE="HIDDEN" NAME="user_id" VALUE="<%=curUserID%>"/>
        <INPUT TYPE="HIDDEN" NAME="sid" VALUE="<%=_sid%>"/>
	<% if (photoError != "") { %>
		<FONT COLOR="RED"><%= photoError %></FONT>
	<%} %>	
	<INPUT TYPE="file" NAME="filename" STYLE="width:300px;" VALUE="">
	<p></p>
	<p><%=tools.get_web_str("upi_avatar_notes")%></p>
	<div style="display: flex;"><button class="lk_button edu upload_save" onclick="this.form.submit();">Сохранить</button></div>
	<p></p>
	<% if (_photo_url != '') { %>
		<!--<a class="lk_button edu" href="<%= Request.Url %>&remove_photo=1"><%=tools.get_web_str('c_delete')%></a>-->
	<%} %>
</FORM>

	
</body>
</html>