<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body>
<style>
	img {margin: 5px auto;
	}
	p {
		padding: 0;
		margin: 10px 0;
	}
	
	.lk_button {
		-moz-user-select: -moz-none;
		user-select: none;
		padding: 8px 5px;
		min-width: 10%;
		max-width: 30%;
		background-color: #3A8FDF;
		color: white;
		font-size: 16px;
	}
	.lk_button.edu {
		-moz-user-select: -moz-none;
		user-select: none;
		margin: 5px auto;
		padding: 0 5px 0 5px;
		height: 25px;
		text-decoration: none;
		border: none;
	}
</style>

<%
Server.Execute( 'user_init.html' );
_sid = tools.get_sum_sid( curUserID );
photoError = "";
_photo_note = "";
_photo_too_big = "";
_interests_note = "";
_interests = "";
_about_me = "";
_address = "";
_birth_date = "";
curUserObj = OpenDoc( UrlFromDocID( curUserID ) );
curUser = curUserObj.TopElem;
needSave = false;
_file_upload = curUser.custom_elems.ObtainChildByKey("confirm_file").value;
if (_file_upload != "") {_file_upload = true;}
_confirm = curUser.custom_elems.ObtainChildByKey("confirm_edu").value;
if (_confirm == true) {_confirm = true;}
_photo_url = "";


//Документ об образовании
if ( Request.Form.HasProperty( 'filename' ) && Request.Form.GetProperty( 'filename' ) != "") 
{
	_data_ref = Request.Form.GetProperty( 'filename' );
	bytes = StrLen( _data_ref );
	if (bytes >= 1000240) 
        	{
		photoError = "tools.get_web_str("upi_avatar_too_big")";
                }
        	else 
        	{
  	       	fileName = String(_data_ref.FileName);
	       	dots = fileName.split(".")
		fileType = dots[dots.length-1];
	        	if (fileType!='pdf') 
                	{
  	                	photoError = tools.get_web_str("upi_avatar_wrong_type");
  	        	} 
                	else 
                	{
			localFile = curUser.fullname+'.'+fileType;
			xLocalFile = 'x-local://wt/web/photos/NAME/'+localFile;
			PutUrlData( xLocalFile, _data_ref ); 
			fileSize = UrlFileSize( xLocalFile );
			localFile = curUserID+'.'+fileType;
			xLocalFile = 'x-local://wt/web/photos/ID/'+localFile;
			PutUrlData( xLocalFile, _data_ref ); 
			fileSize = UrlFileSize( xLocalFile );
                		//curUser.pict_url = "/photos/ID/" + localFile;
                		curUser.custom_elems.ObtainChildByKey("confirm_file").value = "/photos/ID/" + localFile;

		curUserObj.TopElem.custom_elems.ObtainChildByKey("confirm_file").value = false;
		_confirm = false;
		curUser.pict_url = "/pics/education_diplom.png";
                		needSave = true;
                	}
	}
}

//Удаление файлов
if ( Request.QueryString.HasProperty( 'remove_photo' ) ) 
{
	localFile = curUser.pict_url;
	xLocalFile = 'x-local://wt/web/photos/ID/'+localFile;
	DeleteUrl(xLocalFile);
	localFile = curUser.fullname+'.'+fileType;
	xLocalFile = 'x-local://wt/web/photos/NAME/'+localFile;
	DeleteUrl(xLocalFile);
        	curUser.pict_url = "";
        	_confirm = false;
        	needSave = true;
}
if ( needSave )
{
	curUserObj.Save();
}

%>

<script type="text/JavaScript">
function TestFileType( fileName, fileTypes ) 
{
	if (!fileName) return;
	dots = fileName.split(".")
	fileType = "." + dots[dots.length-1];
	return (fileTypes.join(".").indexOf(fileType) != -1) ? true : false;
}
</script>

<!-- Форма, которая отображается на форуме -->
<div style="height: 250px; width: 300px; border: 1px solid lightblue; margin: auto; padding: 5px;">
<FORM NAME="form1" action="<%= tools_web.get_query_string( true, "remove_photo"); %>" METHOD="post"" enctype="multipart/form-data">
		<div style="display: flex;">
<%
		if (_confirm == "true") {
%>
		<img height="100" src="/pics/education_diplom_yes-256.png"/>
	<%} else if (_file_upload == true) {%>
		<img height="100" src="/pics/education_diplom.png"/>
	<%} else {%>
		<img height="100" src="/pics/education_diplom_no-256.png"/>
	<%} %>
		</div>
        <INPUT TYPE="HIDDEN" NAME="user_id" VALUE="<%=curUserID%>"/>
        <INPUT TYPE="HIDDEN" NAME="sid" VALUE="<%=_sid%>"/>
	<% if (photoError != "") { %>
		<FONT COLOR="RED"><%= photoError %></FONT>
	<%} %>	
	<INPUT TYPE="file" NAME="filename" STYLE="width:300px;" VALUE="">
	<p></p>
	<p>Принимаются файлы размером до 10Мб и с расширениями pdf.</p>
	<div style="display: flex;"><button class="lk_button edu" onclick="this.form.submit();">Сохранить</button></div>
	<p></p>
	<% if (_photo_url != '') { %>
		<!--<a class="lk_button edu" href="<%= Request.Url %>&remove_photo=1"><%=tools.get_web_str('c_delete')%></a>-->
	<%} %>
	<p id="success" style="visibility:hidden"></p>
	<p id="error" style="visibility:hidden"></p>
</FORM>

<script>
$( "#success" ).load( "/photos/ID/<%=curUserID%>.pdf", function( response, status, xhr ) {
  if ( status == "error" ) {
    var msg = "Sorry but there was an error: ";
    $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
    $( "#error" ).addClass( "youClass" );
  }
});
</script>	
</body>
</html>