<h1>Speech synthesiser</h1>

<p>Enter some text in the input below and press return  or the "play" button to hear it. change voices using the dropdown menu.</p>

<label name="yes">ДА</label>
<input type="radio" class="radio" for="yes" name="voice" value="yes" onclick="onEvent()" checked>
<label name="no">НЕТ</label>
<input type="radio" class="radio" for="no" name="voice" value="no" onclick="offEvent()">

<script>
var synth = window.speechSynthesis
var voice = synth.getVoices().find(item => item.name.includes('Google русский'))
var voiceTalk = (evt) => {
    console.warn([evt.target])
    if(evt.target.localName == 'p') {
        speak(evt.target.innerText)
    }
}

function speak (text) {
    if (typeof text != 'string' || synth.speaking) return

    var utterThis = new SpeechSynthesisUtterance(text)
    utterThis.voice = voice
    utterThis.pitch = 1
    utterThis.rate = 1

    synth.speak(utterThis)
}

onEvent = () => $(document).on("click", voiceTalk)
offEvent = () => $(document).off("click", voiceTalk)

</script>