<div id="infoDocs-list" class="hidden">
	<div id="loading" :class="[loading ? '' : 'hidden', 'animation']">
	  <p>Загрузка</p>
	</div>
  
	<h2>Справочные ресурсы</h2>
	<div class="infoDocs_page" v-if="infoDocs.length">
	  <v-app>
		<v-snackbar v-model="snack.view" :color="snack.color" :timeout="snack.timeout" :top="true" :right="true"
		  :multi-line="true">
		  {{ snack.text }}
		  <v-btn color="white" text @click="snack.view = false">
			Закрыть
		  </v-btn>
		</v-snackbar>
		<v-data-table :headers="headers" :items="filteredList" :items-per-page="10" class="elevation-0 ">
		  <template v-slot:top>
			<v-toolbar flat color="white">
			  <v-text-field class="col-md-3" label="Поиск" hide-details v-model="searchInput"></v-text-field>
			  <v-spacer></v-spacer>
			  <v-dialog v-model="dialog" width="900">
				<template v-slot:activator="{ on }">
				  <v-btn color="primary" dark class="mb-2" v-on="on">Добавить</v-btn>
				</template>
				<v-card>
				  <v-card-title>
					<span class="headline">{{ formTitle }}</span>
				  </v-card-title>
				  <v-card-text>
					<v-form id="form" method="post" v-model='valid' enctype="multipart/form-data">
					  <v-container>
						<v-row v-if="editedItem.id">
						  <v-col cols="12">
							<v-file-input name="image" prepend-icon="mdi-camera" v-model="editedItem.image" :rules="[rules.maxSize1]" hint="Файл не более 1MB" persistent-hint
							  accept="{{accept.image}}" label="Изображения (jpeg, jpg, png)" id="uploadimage">
							</v-file-input>
						  </v-col>
  <!-- 
						  <v-col cols="12" md="4" class="d-flex justify-center align-center">
							<v-btn v-if="editedItem.image.url" :href="editedItem.image.url" target="_blank">посмотреть
							</v-btn>
						  </v-col> -->
  
						</v-row>
						<v-row>
						  <v-col cols="12" sm="12" md="12">
							<v-text-field v-model="editedItem.name" name="name" label="Название"
							  :rules="[rules.required]">
							</v-text-field>
						  </v-col>
						</v-row>
						<v-row>
						  <v-col cols="12" sm="12" md="12">
							<!-- <v-textarea v-model="editedItem.text_area" name="text_area" :rules="[rules.required]"
							  label="Описание">
							</v-textarea> -->
							<ckeditor id="text" name="text_area" :editor="editor" v-model="editedItem.text_area"
							  :config="editorConfig" tag-name="textarea" @ready="onEditorReady" @blur="onEditorRules"
							  @focus="onEditorFocus"></ckeditor>
						  </v-col>
						</v-row>
						<v-row>
						  <v-col cols="12">
							<v-file-input id="fls" name="files" v-model="editedItem.files" :show-size="true" hint="Файлы в сумме не более 10MB" persistent-hint
							  :rules="[rules.counter]" chips label="Файлы" accept="{{accept.file+','+accept.image}}"
							  multiple>
							</v-file-input>
						  </v-col>
						</v-row>
						<v-row>
			  <v-col cols="12">
				  <v-combobox id="tags" name="tags" v-model="editedItem.tags" :items="tags" label="Теги" hint="Выберите теги" multiple
					  persistent-hint clearable></v-combobox>
			  </v-col>
				 </v-row>
					  </v-container>
					</v-form>
  
				  </v-card-text>
  
				  <v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark @click.stop="dialog = false; offEditor()">Отменить</v-btn>
					<v-btn color="primary" dark :class="{'disabled' : !valid}" @click.stop="save">Сохранить</v-btn>
				  </v-card-actions>
				</v-card>
			  </v-dialog>
			</v-toolbar>
		  </template>
		  <template v-slot:item.action="{ item }">
			<v-icon small class="mr-2" @click="editItem(item)">
			  mdi-pencil
			</v-icon>
			<v-icon small @click="deleteItem(item)">
			  mdi-delete
			</v-icon>
		  </template>
		</v-data-table>
	  </v-app>
	</div>
  </div>
  
  
  <script>
	Vue.use(CKEditor)
	var infoDocs = new Vue({
	  el: '#infoDocs-list',
	  vuetify: new Vuetify({
		lang: {
		  locales: {
			ru: ruLocale
		  },
		  current: 'ru'
		}
	  }),
	  data: {
		snack: {
		  view: false,
		  text: '',
		  color: '',
		  timeout: 6000,
		},
		valid: false,
		hasImage: false,
		loading: 1,
		infoDocs: [],
  tags: [],
		dialog: false,
		editor: ClassicEditor,
		editorConfig: {
		  toolbar: ['bold', 'italic', '|', 'link']
		},
		editedIndex: -1,
		accept: {
		  image: ".jpg,.png,.jpeg",
		  file: ".doc,.docx,.pdf,.ppt,.pptx,.xls,.xlsx,.zip"
		},
		headers: [{
		  text: 'Название ресурса', value: 'name'
		}, {
		  text: 'Дата создания', value: 'create_date'
		},
		{
		  text: 'Имя создателя', value: 'user_creator'
		},
		{
		  text: 'Дата изменения', value: 'modification_date'
		},
		{
		  text: 'Имя изменившего', value: 'user_modifier'
		},
		{ text: 'Действия', value: 'action', sortable: false },
		],
		searchInput: '',
		editedItem: {
		  id: '',
		  name: '',
		  image: [],
		  text_area: '',
		  files: [],
  tags: [],
		},
		defaultItem: {
		  id: '',
		  name: '',
		  image: [],
		  text_area: '',
		  files: [],
  tags: [],
		},
		rules: {
		  required: value => !!value || 'Необходимо заполнить',
		  counter: value => value.length <= 10 || 'Не более 10 файлов',
		  email: value => {
			const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
			return pattern.test(value) || 'Введите корректный e-mail'
		  },
	  maxSize1: value => !value.size || value.size < 1000000 || 'Файлы не более 1 MB!',
		}
	  },
  
	  methods: {
		close() {
		  // if (document.querySelector( '.ck-editor__editable' ).ckeditorInstance) document.querySelector( '.ck-editor__editable' ).ckeditorInstance.destroy();
		  setTimeout(() => {
			this.editedItem = Object.assign({}, this.defaultItem)
			this.editedIndex = -1
		  }, 300)
		},
  
		postImage(id, form) {
  
		  form.append('obj_id', id);
  
		  $.ajax({
			method: "POST",
			data: form,
			contentType: false,
			processData: false,
			url: "custom_web_template.html?object_id=6753213891858355811",
			success: (response) => {
			  console.warn(JSON.parse(response))
			  response = JSON.parse(response);
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + response.error);
			  } else {
				this.setSnackMessage("green", "Ресурс добавлен/изменен.");
			  }
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + err); },
		  })
  
		},
  
		save() {
		  document.querySelector('#text').value = document.querySelector('.ck-editor__editable').ckeditorInstance.getData()
		  let fd = new FormData;
		  let form = document.querySelector("#form");
		  let formdata = new FormData(form);
		  formdata.delete("files");
  formdata.delete("tags");
		  document.querySelectorAll("input[multiple]").forEach(item => $(item.files).each((index, file) => formdata.append(item.name + index, file)));
		  formdata.append('id', this.editedItem.id)
  formdata.append('tags', JSON.stringify(this.editedItem.tags))
		  console.warn('Отправка ----', this.editedItem)
		  for (var pair of formdata.entries()) {
			console.log(pair[0] + ', ' + pair[1]);
		  }
		  fd.append("img", formdata.get("image"));
		  $.ajax({
			method: "POST",
			data: formdata,
			contentType: false,
			processData: false,
			url: "custom_web_template.html?object_id=6763925084392853790",
			success: (response) => {
			  response = JSON.parse(response);
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + response.error);
			  } else {
				this.setSnackMessage("green", "Ресурс добавлен/изменен.");
			  }
			  this.getInfoDocs()
			  if (fd.get("img").size > 0) this.postImage(response.id, fd);
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при добавлении/изменении ресурса: " + err); },
  
		  })
  
		  this.dialog = false
		},
		setSnackMessage: function (color, text) {
		  console.log(this.snack)
		  this.snack.color = color;
		  this.snack.text = text;
		  this.snack.view = true;
		},
		getInfoDocs() {
		  this.loading = 1;
		  $.ajax({
			url: "custom_web_template.html?object_id=6763925084392853790",
			success: (response) => {
  response = JSON.parse(response);
			  console.warn(response);
			  try {
				this.infoDocs = response.infoDocs;
				this.loading = 0;
			this.tags = response.allTags
			  } catch (err) { this.setSnackMessage("red", "Ошибка при загрузке списка ресурсов: " + err); this.loading = 0 }
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при загрузке списка ресурсов: " + err); this.loading = 0 }
		  });
		},
		editItem(item) {
		  this.editedIndex = this.infoDocs.indexOf(item);
		  $.ajax({
			method: "GET",
			url: `custom_web_template.html?object_id=6763925084392853790&id=${item.id}`,
			success: (response) => {
			  response = JSON.parse(response);
			  if (response.error) {
				this.setSnackMessage("red", "Ошибка при открытии ресурса: " + response.error);
			  }
			  this.editedItem = Object.assign(this.editedItem, response.infoDocInfo)
			  this.dialog = true
			},
			error: (err) => { this.setSnackMessage("red", "Ошибка при открытии ресурса: " + err); }
		  })
  
		},
		deleteItem(item) {
		  // const index = this.collaborators.indexOf(item)
		  if (confirm('Удалить организацию?')) {
			$.ajax({
			  method: "POST",
			  data: JSON.stringify(item),
			  url: "custom_web_template.html?object_id=6763925084392853790&delete",
			  success: (response) => {
				response = JSON.parse(response);
				if (response.error) {
				  this.setSnackMessage("red", "Ошибка при удалении ресурса: " + response.error);
				} else {
				  this.setSnackMessage("green", "Справочный ресурс удален");
				}
				this.getInfoDocs()
			  },
			  error: (err) => { console.log('error', err) }
  
			})
		  }
		},
		offEditor() {
		  console.warn("offEditor", this.editor);
		  this.editor.destroy();
		  this.editor = false;
		  this.close();
		},
  
		onEditorReady(editor) {
		  console.warn(editor);
		  this.editor = editor;
		  editor.model.document.on('change:data', () => data = editor.getData());
		},
  
		onEditorFocus(event) {
		  console.warn(event)
		},
  
		onEditorRules(event) {
		  console.warn(event)
  
		},
	  },
  
	  mounted() {
		this.getInfoDocs();
		$("#infoDocs-list").removeClass("hidden");
	  },
	  computed: {
		formTitle() {
		  return this.editedIndex === -1 ? 'Новый справочный ресурс' : 'Редактирование'
		},
		filteredList: function () {
		  return this.infoDocs.filter(doc => {
			for (var key in doc) {
			  if (doc[key].toLowerCase().indexOf(this.searchInput.toLowerCase()) !== -1) {
				return true
			  };
			}
		  })
		}
	  },
	  watch: {
		dialog(val) {
		  if (val === false) {
			this.close()
			this.offEditor()
		  }
		  if (val === true) {
			let text = document.querySelector("#text");
			if (!this.editor && text) ClassicEditor.create(text, this.editorConfig).then(editor => { this.editor = editor; editor.setData(this.editedItem.text_area) });
		  }
		}
	  }
  
	});
  
  </script>
  
  
  
  <style>
	.infoDocs_page input {
	  border: none !important;
	  box-shadow: none !important;
	}
  
	.infoDocs_page textarea {
	  border: none !important;
	  box-shadow: none !important;
	}
  
	.hidden {
	  display: none;
	}
  
	.disabled {
	  pointer-events: none;
	  opacity: .6;
	}
  
	.v-application--wrap header {
	  position: static
	}
  
	.v-application--wrap {
	  min-height: 100%
	}
  
	#loading:not(.hidden) {
	  width: 100%;
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1;
	  background-color: rgba(255, 255, 255, .7);
	  font-size: 2em;
	}
  
	#loading.animation p {
	  position: relative;
	}
  
	#loading.animation p:before {
	  position: absolute;
	  content: "";
	  left: calc(100% + 5px);
	  top: 0;
	  width: 40px;
	  height: 100%;
	  display: flex;
	  align-items: center;
	  animation: preloading 2s linear infinite;
	}
  
	@keyframes preloading {
	  0% {
		content: ".";
	  }
  
	  50% {
		content: "..";
	  }
  
	  100% {
		content: "...";
	  }
	}
  
	h2 {
	  color: #1c6186;
	  font-weight: bold;
	  font-size: 34px;
	}
  
  
	#request-page {
	  padding-bottom: 20px;
	}
  </style>